.css_escombo_label {text-align:left;vertical-align:middle;justify-content:left;font-weight:bold;}
.css_escombo_grid_line {vertical-align: top;text-align: right;}
.css_idpro_label {text-align:left;vertical-align:middle;justify-content:left;font-weight:bold;}
.css_idpro_grid_line {vertical-align: middle;text-align: right;}
.css_idcombo_label {text-align:left;vertical-align:middle;justify-content:left;font-weight:bold;}
.css_idcombo_grid_line {vertical-align: top;text-align: right;}
.css_cantidad_label {text-align:left;vertical-align:middle;justify-content:left;font-weight:bold;}
.css_cantidad_grid_line {vertical-align: middle;text-align: right;}
.css_cantidad_sub_tot {text-align: right;}
.css_cantidad_tot_ger {text-align: right;}
.css_valorparcial_label {text-align:left;vertical-align:middle;justify-content:left;font-weight:bold;}
.css_valorparcial_grid_line {vertical-align: middle;text-align: right;}
.css_valorparcial_sub_tot {text-align: right;}
.css_valorparcial_tot_ger {text-align: right;}
.css_costo_label {text-align:left;vertical-align:middle;justify-content:left;font-weight:bold;}
.css_costo_grid_line {vertical-align: middle;text-align: right;}
.css_idbod_label {text-align:left;vertical-align:middle;justify-content:left;font-weight:bold;}
.css_idbod_grid_line {vertical-align: middle;text-align: right;}
.css_tipo_label {text-align:left;vertical-align:middle;justify-content:left;font-weight:bold;}
.css_tipo_grid_line {vertical-align: middle;text-align: right;}
.css_detalle_label {text-align:left;vertical-align:middle;justify-content:left;font-weight:bold;}
.css_detalle_grid_line {vertical-align: top;text-align: right;}
.css_inicio_label {text-align:center;vertical-align:middle;justify-content:center;font-weight:bold;}
.css_inicio_grid_line {vertical-align: top;text-align: center;}
.css_fecha_label {text-align:center;vertical-align:middle;justify-content:center;font-weight:bold;}
.css_fecha_grid_line {vertical-align: middle;text-align: center;}
.css_idmov_label {text-align:right;vertical-align:middle;justify-content:right;font-weight:bold;}
.css_idmov_grid_line {vertical-align: top;text-align: right;}
.css_nufacvta_label {text-align:right;vertical-align:middle;justify-content:right;font-weight:bold;}
.css_nufacvta_grid_line {vertical-align: top;text-align: right;}
.css_colores_label {text-align:right;vertical-align:middle;justify-content:right;font-weight:bold;}
.css_colores_grid_line {vertical-align: top;text-align: right;}
.css_tallas_label {text-align:right;vertical-align:middle;justify-content:right;font-weight:bold;}
.css_tallas_grid_line {vertical-align: top;text-align: right;}
.css_sabor_label {text-align:right;vertical-align:middle;justify-content:right;font-weight:bold;}
.css_sabor_grid_line {vertical-align: middle;text-align: right;}
.css_grupo_label {text-align:left;vertical-align:middle;justify-content:left;font-weight:bold;}
.css_grupo_grid_line {vertical-align: top;text-align: right;}
.css_idped_label {text-align:left;vertical-align:middle;justify-content:left;font-weight:bold;}
.css_idped_grid_line {vertical-align: top;text-align: right;}
.css_fechavenc_label {text-align:center;vertical-align:middle;justify-content:center;font-weight:bold;}
.css_fechavenc_grid_line {vertical-align: top;text-align: center;}
.css_lote2_label {text-align:left;vertical-align:middle;justify-content:left;font-weight:bold;}
.css_lote2_grid_line {vertical-align: top;text-align: right;}
.css_tarifa_label {text-align:left;vertical-align:middle;justify-content:left;font-weight:bold;}
.css_tarifa_grid_line {vertical-align: middle;text-align: right;}
.css_base_label {text-align:left;vertical-align:middle;justify-content:left;font-weight:bold;}
.css_base_grid_line {vertical-align: middle;text-align: right;}
.css_utilidad_label {text-align:left;vertical-align:middle;justify-content:left;font-weight:bold;}
.css_utilidad_grid_line {vertical-align: middle;text-align: right;}
.css_documento_label {text-align:;vertical-align:middle;justify-content:;font-weight:bold;}
.css_documento_grid_line {text-align: right;}
