.css_tipodoc_label {text-align:center;vertical-align:middle;justify-content:center;font-weight:bold;}
.css_tipodoc_grid_line {vertical-align: middle;text-align: center;}
.css_prefijo_label {text-align:center;vertical-align:middle;justify-content:center;font-weight:bold;}
.css_prefijo_grid_line {vertical-align: middle;text-align: center;}
.css_numero_label {text-align:center;vertical-align:middle;justify-content:center;font-weight:bold;}
.css_numero_grid_line {vertical-align: middle;text-align: right;}
.css_notas_label {text-align:center;vertical-align:middle;justify-content:center;font-weight:bold;}
.css_notas_grid_line {vertical-align: middle;text-align: left;}
.css_fecha_label {text-align:center;vertical-align:middle;justify-content:center;font-weight:bold;}
.css_fecha_grid_line {vertical-align: middle;text-align: center;}
.css_asentada_label {text-align:center;vertical-align:middle;justify-content:center;font-weight:bold;}
.css_asentada_grid_line {vertical-align: middle;text-align: center;}
.css_total_debito_label {text-align:center;vertical-align:middle;justify-content:center;font-weight:bold;}
.css_total_debito_grid_line {vertical-align: middle;text-align: right;}
.css_total_credito_label {text-align:center;vertical-align:middle;justify-content:center;font-weight:bold;}
.css_total_credito_grid_line {vertical-align: middle;text-align: right;}
.css_periodo_label {text-align:center;vertical-align:middle;justify-content:center;font-weight:bold;}
.css_periodo_grid_line {vertical-align: middle;text-align: center;}
.css_usuario_label {text-align:left;vertical-align:middle;justify-content:left;font-weight:bold;}
.css_usuario_grid_line {vertical-align: middle;text-align: left;}
.css_id_label {text-align:right;vertical-align:middle;justify-content:right;font-weight:bold;}
.css_id_grid_line {vertical-align: top;text-align: right;}
.css_tercero_label {text-align:center;vertical-align:middle;justify-content:center;font-weight:bold;}
.css_tercero_grid_line {vertical-align: middle;text-align: left;}
.css_creado_label {text-align:center;vertical-align:middle;justify-content:center;font-weight:bold;}
.css_creado_grid_line {vertical-align: top;text-align: center;}
.css_actualizado_label {text-align:center;vertical-align:middle;justify-content:center;font-weight:bold;}
.css_actualizado_grid_line {vertical-align: top;text-align: center;}
.css_importado_label {text-align:left;vertical-align:middle;justify-content:left;font-weight:bold;}
.css_importado_grid_line {vertical-align: top;text-align: left;}
