.css_idempresa_label {text-align:right;}
.css_idempresa_line {text-align:left;}
.css_idempresa_obj {text-align:left;}
.css_nombre_label { }
.css_nombre_line { }
.css_nombre_obj { }
.css_nombre_empresa_label { }
.css_nombre_empresa_line { }
.css_nombre_empresa_obj { }
.css_observaciones_label { }
.css_observaciones_line { }
.css_observaciones_obj { }
.css_creada_label { }
.css_creada_line { }
.css_creada_obj { }
.css_copiada_como_label { }
.css_copiada_como_line { }
.css_copiada_como_obj { }
.css_sinmovimiento_label { }
.css_sinmovimiento_line { }
.css_sinmovimiento_obj { }
.css_tipo_negocio_label { }
.css_tipo_negocio_line { }
.css_tipo_negocio_obj { }
.css_predeterminada_label { }
.css_predeterminada_line { }
.css_predeterminada_obj { }
.css_password_label { }
.css_password_line { }
.css_password_obj { }
.css_nit_label { }
.css_nit_line { }
.css_nit_obj { }
.css_correo_label { }
.css_correo_line { }
.css_correo_obj { }
.css_comentario_label { }
.css_comentario_line { }
.css_comentario_obj { }
.css_celular_label { }
.css_celular_line { }
.css_celular_obj { }
.css_codempresa_label { }
.css_codempresa_line { }
.css_codempresa_obj { }
.css_nomina_label { }
.css_nomina_line { }
.css_nomina_obj { }
.css_nombre_empresa_nomina_label { }
.css_nombre_empresa_nomina_line { }
.css_nombre_empresa_nomina_obj { }
.css_entorno_label { }
.css_entorno_line { }
.css_entorno_obj { }
