.css_id_label {text-align:right;vertical-align:middle;justify-content:right;font-weight:bold;}
.css_id_grid_line {vertical-align: top;text-align: right;}
.css_cod_group_label {text-align:right;vertical-align:middle;justify-content:right;font-weight:bold;}
.css_cod_group_grid_line {vertical-align: top;text-align: right;}
.css_text_message_label {text-align:left;vertical-align:middle;justify-content:left;font-weight:bold;}
.css_text_message_grid_line {vertical-align: top;text-align: right;}
.css_start_date_label {text-align:center;vertical-align:middle;justify-content:center;font-weight:bold;}
.css_start_date_grid_line {vertical-align: top;text-align: center;}
.css_end_date_label {text-align:center;vertical-align:middle;justify-content:center;font-weight:bold;}
.css_end_date_grid_line {vertical-align: top;text-align: center;}
