.scAppDivMoldura { background-color: #fefabb; background-image: none; opacity: 1; filter: alpha(opacity=100); border-collapse: collapse; border-color: #FCEEB6; border-style: solid; border-width: 1px; padding: 6px; margin: 8px; -moz-border-radius: 6px; -webkit-border-radius: 6px; border-radius: 6px }
#NM_Grid_Search .scAppDivMoldura { padding: 13px 20px !important }
.scAppDivHeader { background-image: none; opacity: 1; filter: alpha(opacity=100) }
.scAppDivHeaderText { font-family: Arial, sans-serif; font-size: 13px; color: #000; font-weight: bold; text-decoration: none }
#NM_Grid_Search .scAppDivHeaderText { vertical-align: top }
.GroupByOptions > div label span { color: #000 }
.SummaryBox > td .scAppDivHeader:before { background-image: url(../../img/scriptcase__NM__btn__NM__scriptcase8_DarkBlue__NM__tree_mais.png) }
.SummaryBox > td .scAppDivHeader.open:before { background-image: url(../../img/scriptcase__NM__btn__NM__scriptcase8_DarkBlue__NM__tree_menos.png) }
#sc_id_free_groupby > td { padding-top: 10px }
.scAppDivContent { background-image: none; opacity: 1; filter: alpha(opacity=100); border-collapse: collapse; padding: 10px; font-size: 13px }
.scAppDivContentText { font-family: Arial, sans-serif; font-size: 13px; color: #000; font-style: css_appdiv_header_text_style; text-decoration: none; vertical-align: middle }
.scAppDivToolbar { font-family: Arial, sans-serif; font-size: 13px; color: #000; font-style: normal; text-decoration: none; vertical-align: middle; background-image: none; opacity: 1; filter: alpha(opacity=100); padding: 2px }
.scAppDivToolbarInput { background-color: #FFFFEC; background-image: none; opacity: 1; filter: alpha(opacity=100); border-color: #fbf6a3; border-style: solid; border-width: 1px; color: #000; font-family: Arial, sans-serif; font-size: 13px; padding: 2px; text-decoration: none; vertical-align: middle; -moz-border-radius: 3px; -webkit-border-radius: 3px; border-radius: 3px; box-sizing: border-box; height: 34px; line-height: 34px }
.scAppDivtoolbarinputfocus:focus { background-color: #FFFFEC; background-image: none; opacity: 1; filter: alpha(opacity=100); border-color: #fbf6a3; color: #000 }
.scAppDivToolbarInput label { background-color: #FFFFEC; background-image: none; opacity: 1; filter: alpha(opacity=100); border-color: #fbf6a3; color: #000 }
.scAppDivSelectFields { background-color: #ffffff; background-image: none; border-color: #9F9F9F; border-style: dashed; border-width: 1px; border-collapse: collapse; padding: 2px; margin: 0; -moz-border-radius: 6px; -webkit-border-radius: 6px; border-radius: 6px }
.scAppDivSelectFieldsEnabled { background-color: #FFFDD4; background-image: none; opacity: 1; filter: alpha(opacity=100); border-color: #CDC71F; border-style: solid; border-width: 1px; color: #000; font-family: Arial, sans-serif; font-size: 13px; padding: 6px; margin: 4px; text-decoration: none; vertical-align: middle; -moz-border-radius: 3px; -webkit-border-radius: 3px; border-radius: 3px }
.scAppDivSelectFieldsDisabled { background-color: #E8E4E4; background-image: none; opacity: 1; filter: alpha(opacity=100); border-color: #9B9B9E; border-style: solid; border-width: 1px; color: #AAB1BD; font-family: Arial, sans-serif; font-size: 13px; padding: 6px; margin: 4px; text-decoration: none; vertical-align: middle; -moz-border-radius: 3px; -webkit-border-radius: 3px; border-radius: 3px }
.scAppDivSelectBoxEnabled { background-color: #E9D9A7; background-image: none; opacity: 1; filter: alpha(opacity=100); border-color: #D5BB34; border-style: solid; border-width: 1px; color: #000; font-family: Arial, sans-serif; font-size: 11px; padding: 4px; text-decoration: none; vertical-align: middle; -moz-border-radius: 3px; -webkit-border-radius: 3px; border-radius: 3px }
.scAppDivSelectBoxDisabled { background-color: #EEEDE3; background-image: none; opacity: 1; filter: alpha(opacity=100); border-color: #8b8a7F; border-style: solid; border-width: 1px; color: #B4B4B4; font-family: Arial, sans-serif; font-size: 11px; padding: 4px; text-decoration: none; vertical-align: middle; -moz-border-radius: 3px; -webkit-border-radius: 3px; border-radius: 3px }
.scAppDivSelectFieldsPlaceholder { background-color: #fdfbe6; background-image: none; opacity: 1; filter: alpha(opacity=100); border-color: #fdee00; border-style: dashed; border-width: 1px; padding: 6px; margin: 4px; -moz-border-radius: 6px; -webkit-border-radius: 6px; border-radius: 6px }
.scAppDivTabLine { background-image: none; opacity: 1; filter: alpha(opacity=100); border-color: #c3c3c3; border-style: solid; border-width: 0 0 1px 0; width: 100%; margin: 0; padding: 20px 0 5px 0; list-style-type: none }
.scExportEmailTable { background-image: none; opacity: 1; filter: alpha(opacity=100); border-style: none; border-collapse: collapse; padding: 10px }
.scExportEmailDiv { background-image: none; opacity: 1; filter: alpha(opacity=100); border-style: none; border-collapse: collapse; padding: 10px 20px }
.scExportEmailLabel { text-decoration: none }
.scExportEmailLabelSent { text-decoration: none }
.scExportEmailInput { background-image: none; opacity: 1; filter: alpha(opacity=100); border-color: #ccc; border-style: solid; border-width: 1px; padding: 6px 10px; margin: 4px; text-decoration: none; -moz-border-radius: 3px; -webkit-border-radius: 3px; border-radius: 3px; width: calc(100% - 22px) }
.scGridFilterTag { background-image: none; opacity: 1; filter: alpha(opacity=100); border-color: #E0E6ED; border-style: solid; border-width: 0 0 1px 0; border-collapse: collapse; padding: 7px 7px 5px 7px; display: flex }
#NM_Grid_Search .scGridFilterTag { padding: 6px 20px !important }
#NM_Grid_Search #id_Fgrid_search { margin: 0 }
.scGridFilterTagIconExp { padding: 0; margin: 0; vertical-align: top }
.scGridFilterTagIconCol { padding: 0; margin: 8px 0 0 0 }
.scGridFilterTagIcon { background-image: none; opacity: 1; filter: alpha(opacity=100); padding: 0; margin: 2px 0; box-sizing: border-box; display: flex }
.scGridFilterTagIcon svg { width: 22px; height: 22px; fill: #009EEB }
.scGridFilterTagList { background-image: none; opacity: 1; filter: alpha(opacity=100); border-collapse: collapse; padding: 0 10px; flex: 1; box-sizing: border-box }
.scGridFilterTagListItem { background-color: #009EEB; background-image: none; opacity: 1; filter: alpha(opacity=100); padding: 5px 5px 5px 12px; margin: 0 0 2px 0; -moz-border-radius: 25px; -webkit-border-radius: 25px; border-radius: 25px; display: inline-block }
.scGridFilterTagListItemLabel { color: white; font-family: Arial, sans-serif; font-size: 12px; text-decoration: none }
.scGridFilterTagListItemClose { background-color: white; background-image: none; opacity: 1; filter: alpha(opacity=100); margin: 0 0 0 10px; display: inline-block; border-radius: 50%; -moz-border-radius: 50%; -webkit-border-radius: 50%; width: 17px; height: 17px; float: right; cursor: pointer }
.scGridFilterTagListItemClose:after { color: #009EEB; font-size: 17px; font-weight: bold; text-decoration: none; content: '\00d7'; width: 100%; display: block; line-height: 18px }
.scGridFilterTagListItemClose:hover { background-image: none; opacity: 1; filter: alpha(opacity=100) }
.scGridFilterTagClose { background-color: #C0CCDA; background-image: none; opacity: 0.35; filter: alpha(opacity=35); padding: 0; margin: 0 0 0 10px; box-sizing: border-box; display: inline-block; border-radius: 50%; -moz-border-radius: 50%; -webkit-border-radius: 50%; width: 28px; height: 28px; float: right; cursor: pointer }
.scGridFilterTagClose:after { color: #1F2D3D; font-size: 27px; text-decoration: none; content: '\00d7'; width: 100%; display: block; line-height: 28px }
.scGridFilterTagClose:hover { background-image: none; opacity: 0.6; filter: alpha(opacity=60) }
.scGridFilterTagListFilter { background-color: #fff; background-image: none; background-position: absolute; opacity: 1; filter: alpha(opacity=100); border-color: #E0E6ED; border-style: solid; border-width: 1px; border-collapse: collapse; padding: 0; margin: 8px 0 0 0; box-shadow: 0 2px 4px #c3c3c3; border-radius: 8px; -moz-border-radius: 8px; -webkit-border-radius: 8px; position: absolute; z-index: 1 }
.scGridFilterTagListFilterLabel { background-color: #009EEB; background-image: none; opacity: 1; filter: alpha(opacity=100); padding: 16px 8px 16px 16px; -moz-border-radius: 8px 8px 2px 2px; -webkit-border-radius: 8px 8px 2px 2px; border-radius: 8px 8px 2px 2px; color: white; text-decoration: none }
.scGridFilterTagListFilterLabelClose { background-color: white; background-image: none; opacity: 1; filter: alpha(opacity=100); margin: 0 0 0 10px; display: inline-block; border-radius: 50%; -moz-border-radius: 50%; -webkit-border-radius: 50%; width: 17px; height: 17px; float: right; cursor: pointer }
.scGridFilterTagListFilterLabelClose:after { color: #009EEB; font-size: 17px; font-weight: bold; text-decoration: none; content: '\00d7'; width: 100%; display: block; line-height: 18px }
.scGridFilterTagListFilterLabelClose:hover { background-image: none; opacity: 1; filter: alpha(opacity=100) }
.scGridFilterTagListFilterInputs { background-image: none; opacity: 1; filter: alpha(opacity=100); padding: 16px; text-decoration: none }
.scGridFilterTagListFilterBar { background-image: none; opacity: 1; filter: alpha(opacity=100); border-collapse: collapse; padding: 16px; text-align: right }
.scGridFilterTagAdd { background-image: none; opacity: 1; filter: alpha(opacity=100); margin: 10px 0 0 10px; color: #b0b0b0; text-decoration: none; cursor: pointer; display: inline-block; position: relative; top: 1px }
.scGridFilterTagAddDisabled { background-image: none; opacity: 1; filter: alpha(opacity=100); color: #d2d2d2; text-decoration: none; cursor: default }
#id_Fgrid_search .scGridFilterTagAddDisabled:hover { background-color: transparent }
#id_Fgrid_search .scGridFilterTagAdd > div { left: 0px; top: 29px; -moz-border-radius: 3px; -webkit-border-radius: 3px; border-radius: 3px; verflow: hidden }
#id_Fgrid_search .scGridFilterTagAdd > div table { border-collapse: collapse }
#id_Fgrid_search .scGridFilterTagAdd:after { content: '\00d7'; color: #b0b0b0; font-size: 17px; font-weight: bold; display: inline-block; position: absolute; left: 8px; top: 3px; transform: rotate(45deg) }
#id_Fgrid_search .scGridFilterTagAddDisabled:after { color: #d2d2d2 }
#id_grid_search_add_tag { color: black }
.scGridFilterTagSave { background-image: none; border-width: 0; padding: 0; margin: 6px 0 0 0; box-sizing: border-box; float: right }

.exportConfig {
    top: 0;
}

.exportConfig #tabs {
    padding-top: 35px;
}

.exportConfig .scAppDivTabLine {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    padding: 10px 10px 0;
    z-index: 10;
    white-space: nowrap;
}

.exportConfig .scGridFieldOddFont {
    padding: 7px 10px;
    font-size: 12px;
    vertical-align: top;
    border-bottom: 1px dashed rgba(0,0,0,0.05);
}

.exportConfig .scGridFieldOddFont + .scGridFieldOddFont {
    width: 260px;
}

.exportConfig .scGridFieldOddFont input,
.exportConfig .scGridFieldOddFont select {
    border-radius: 3px;
    font-size: 12px;
    padding: 1px 3px;
    border: 1px solid #bac4d0;
}

.exportConfig .scGridTabela + .scGridTabela {
    margin-top: 15px;
}

.exportConfig .input-group {
    display: flex;
    flex-direction: row;
    padding: 1px 0 0;
}

.exportConfig .input-group label {
    display: flex;
}

.exportConfig .input-group label input {
    position: relative;
    top: -3px;
    left: -4px;
    margin-right: -2px;
}

.exportConfig .input-group-vertical {
    flex-direction: column;
}

.exportConfig .input-group-horizontal label + label {
    margin-left: 10px;
}

.exportConfig .input-group-vertical label + label {
    margin-top: 5px;
}

.exportConfig .buttons {
    text-align: right;
    margin-top: 20px;
}

.exportConfig .buttons .scButton_default {
    text-decoration: none;
    box-shadow: none;
    padding: 4px 12px!important;
    line-height: 1;
    font-size: 14px;
}

.exportConfig .buttons .scButton_default:first-child {
    background: #5381C6;
    color: white;
    border-color: #5381C6;
}
                
.scGridQuickSearchDivMoldura .select2-container { width: 100% !important }
.scGridQuickSearchDivMoldura { background-color: #FFFFFF; background-image: none; opacity: 1; filter: alpha(opacity=100); border-color: #E0E6ED; border-style: none; border-width: 1px; border-collapse: collapse; padding: 10px; margin: 0 0 0 -10px; -moz-box-shadow: 0 6px 12px rgba(0, 0, 0, 0.175); -webkit-box-shadow: 0 6px 12px rgba(0, 0, 0, 0.175); box-shadow: 0 6px 12px rgba(0, 0, 0, 0.175); width: 250px; z-index: 1 }
.scGridQuickSearchDivLabel { background-color: #FFFFFF; background-image: none; opacity: 1; filter: alpha(opacity=100); border-color: #E0E6ED; border-style: none; border-width: 1px; color: #6c757d; font-family: Leelawadee, Ebrima, 'Bahnschrift Light', Gadugi, 'Nirmala UI', 'Segoe UI', Verdana; font-size: 13px; font-weight: bold; padding: 0; text-decoration: none; vertical-align: middle; margin: 8px 0 0 0 }
.scGridQuickSearchDivResult { background-color: #ffffff !important; background-image: none !important; opacity: 1 !important; filter: alpha(opacity=100) !important; padding: 6px 4px !important; vertical-align: middle !important; height: auto !important; outline: none !important }
.scGridQuickSearchDivResult .select2-selection__rendered, .scGridQuickSearchDivResult .select2-search__field { color: #6c757d !important; font-family: Leelawadee, Ebrima, 'Bahnschrift Light', Gadugi, 'Nirmala UI', 'Segoe UI', Verdana !important; font-size: 13px !important; font-weight: bold !important; text-decoration: none !important; width: 100% !important }
.scGridQuickSearchDivResult .select2-search { width: 100% !important }
.scGridQuickSearchDivResult .select2-selection__arrow b { border-top-color: #6c757d !important }
.scGridQuickSearchDivResult[aria-expanded="true"] .select2-selection__arrow b { border-bottom-color: #6c757d !important }
.scGridQuickSearchDivResult .select2-selection__choice { background-image: none !important; opacity: 1 !important; filter: alpha(opacity=100) !important; vertical-align: middle !important; font-family: Leelawadee, Ebrima, 'Bahnschrift Light', Gadugi, 'Nirmala UI', 'Segoe UI', Verdana !important; text-decoration: none !important }
.scGridQuickSearchDivMoldura .select2-container--default .select2-selection--single .select2-selection__rendered,
                 .scGridQuickSearchDivMoldura > div { line-height: initial !important }
.scGridQuickSearchDivDropdown { background-image: none; opacity: 1; filter: alpha(opacity=100); border-collapse: collapse }
.scGridQuickSearchDivDropdown .select2-results__option { background-image: none !important; opacity: 1 !important; filter: alpha(opacity=100) !important; font-family: Leelawadee, Ebrima, 'Bahnschrift Light', Gadugi, 'Nirmala UI', 'Segoe UI', Verdana !important; text-decoration: none !important; vertical-align: middle !important }
.scGridQuickSearchDivDropdown .select2-results__option--highlighted { background-image: none !important; opacity: 1 !important; filter: alpha(opacity=100) !important; font-family: Leelawadee, Ebrima, 'Bahnschrift Light', Gadugi, 'Nirmala UI', 'Segoe UI', Verdana !important; text-decoration: none !important; vertical-align: middle !important }
.scGridQuickSearchDivDropdown .select2-results__option[aria-selected="true"] { background-image: none !important; opacity: 1 !important; filter: alpha(opacity=100) !important; font-family: Leelawadee, Ebrima, 'Bahnschrift Light', Gadugi, 'Nirmala UI', 'Segoe UI', Verdana !important; font-weight: bold !important; text-decoration: none !important; vertical-align: middle !important }
.scGridQuickSearchDivToolbar { background-image: none; opacity: 1; filter: alpha(opacity=100); font-family: Leelawadee, Ebrima, 'Bahnschrift Light', Gadugi, 'Nirmala UI', 'Segoe UI', Verdana; text-decoration: none; padding: 8px 0 }
.css_toolbar_obj_qs_search_img { vertical-align: middle; cursor: pointer }
.css_toolbar_obj_qs_container { display: inline-block; vertical-align: top; cursor: pointer }
.css_toolbar_obj_qs_container_height { display: inline-block; vertical-align: middle; height: 100% }
