.css_codigo_ciiu_label {text-align:right;vertical-align:middle;justify-content:right;font-weight:bold;}
.css_codigo_ciiu_grid_line {vertical-align: middle;text-align: center;}
.css_descripcion_label {text-align:left;vertical-align:middle;justify-content:left;font-weight:bold;}
.css_descripcion_grid_line {vertical-align: middle;text-align: left;}
.css_id_ciiu_label {text-align:right;vertical-align:middle;justify-content:right;font-weight:bold;}
.css_id_ciiu_grid_line {vertical-align: top;text-align: right;}
