.css_idpro_label {text-align:left;vertical-align:middle;justify-content:left;font-weight:bold;}
.css_idpro_grid_line {vertical-align: top;text-align: left;}
.css_cantidad_label {text-align:right;vertical-align:middle;justify-content:right;font-weight:bold;}
.css_cantidad_grid_line {vertical-align: top;text-align: right;}
.css_valorpar_label {text-align:right;vertical-align:middle;justify-content:right;font-weight:bold;}
.css_valorpar_grid_line {vertical-align: top;text-align: right;}
.css_valorpar_tot_ger {text-align: right;}
.css_iddet_label {text-align:right;vertical-align:middle;justify-content:right;font-weight:bold;}
.css_iddet_grid_line {vertical-align: top;text-align: right;}
.css_numfac_label {text-align:right;vertical-align:middle;justify-content:right;font-weight:bold;}
.css_numfac_grid_line {vertical-align: top;text-align: right;}
.css_remision_label {text-align:right;vertical-align:middle;justify-content:right;font-weight:bold;}
.css_remision_grid_line {vertical-align: top;text-align: right;}
.css_unidadmayor_label {text-align:left;vertical-align:middle;justify-content:left;font-weight:bold;}
.css_unidadmayor_grid_line {vertical-align: top;text-align: left;}
.css_factor_label {text-align:right;vertical-align:middle;justify-content:right;font-weight:bold;}
.css_factor_grid_line {vertical-align: top;text-align: right;}
