.css_idprod_label { }
.css_idprod_line {text-align:left;}
.css_idprod_obj {text-align:left;}
.css_codigobar_label { }
.css_codigobar_line { }
.css_codigobar_obj { }
.css_codigoprod_label { }
.css_codigoprod_line { }
.css_codigoprod_obj { }
.css_nompro_label { }
.css_nompro_line { }
.css_nompro_obj { }
.css_unidmaymen_label { }
.css_unidmaymen_line { }
.css_unidmaymen_obj { }
.css_unimay_label { }
.css_unimay_line { }
.css_unimay_obj {text-align:center;}
.css_unimen_label { }
.css_unimen_line { }
.css_unimen_obj {text-align:center;}
.css_costomen_label { }
.css_costomen_line { }
.css_costomen_obj {text-align:right;}
.css_recmayamen_label { }
.css_recmayamen_line { }
.css_recmayamen_obj {text-align:right;}
.css_preciomen_label { }
.css_preciomen_line { }
.css_preciomen_obj {font-weight:bold;text-align:right;}
.css_preciomen2_label { }
.css_preciomen2_line {text-align:left;}
.css_preciomen2_obj {text-align:right;}
.css_preciomen3_label { }
.css_preciomen3_line {text-align:left;}
.css_preciomen3_obj {text-align:right;}
.css_precio2_label { }
.css_precio2_line {text-align:left;}
.css_precio2_obj {text-align:right;}
.css_preciomay_label { }
.css_preciomay_line { }
.css_preciomay_obj {text-align:right;}
.css_preciofull_label { }
.css_preciofull_line {text-align:left;}
.css_preciofull_obj {text-align:right;}
.css_stockmen_label { }
.css_stockmen_line {font-size:16px;font-weight:bold;}
.css_stockmen_obj {font-size:16px;font-weight:bold;text-align:center;}
.css_idgrup_label { }
.css_idgrup_line {text-align:left;}
.css_idgrup_obj {text-align:left;}
.css_idpro1_label { }
.css_idpro1_line {text-align:left;}
.css_idpro1_obj {text-align:left;}
.css_idpro2_label { }
.css_idpro2_line {text-align:left;}
.css_idpro2_obj {text-align:left;}
.css_idiva_label { }
.css_idiva_line {text-align:left;}
.css_idiva_obj {text-align:left;}
.css_otro_label { }
.css_otro_line {text-align:left;}
.css_otro_obj {text-align:left;}
.css_otro2_label { }
.css_otro2_line { }
.css_otro2_obj {font-weight:bold;text-align:center;vertical-align:middle;}
.css_colores_label { }
.css_colores_line { }
.css_colores_obj { }
.css_tallas_label { }
.css_tallas_line { }
.css_tallas_obj { }
.css_sabores_label { }
.css_sabores_line { }
.css_sabores_obj { }
.css_precio_editable_label { }
.css_precio_editable_line { }
.css_precio_editable_obj { }
.css_cod_cuenta_label { }
.css_cod_cuenta_line { }
.css_cod_cuenta_obj { }
.css_fecha_vencimiento_label { }
.css_fecha_vencimiento_line { }
.css_fecha_vencimiento_obj { }
.css_lote_label { }
.css_lote_line { }
.css_lote_obj { }
.css_serial_codbarras_label { }
.css_serial_codbarras_line { }
.css_serial_codbarras_obj { }
.css_maneja_tcs_lfs_label { }
.css_maneja_tcs_lfs_line { }
.css_maneja_tcs_lfs_obj { }
.css_control_costo_label { }
.css_control_costo_line { }
.css_control_costo_obj { }
.css_por_preciominimo_label {text-align:left;}
.css_por_preciominimo_line {text-align:left;}
.css_por_preciominimo_obj {text-align:right;}
.css_id_marca_label { }
.css_id_marca_line {text-align:left;}
.css_id_marca_obj {text-align:left;}
.css_id_linea_label { }
.css_id_linea_line {text-align:left;}
.css_id_linea_obj {text-align:left;}
.css_codigobar2_label { }
.css_codigobar2_line { }
.css_codigobar2_obj { }
.css_codigobar3_label { }
.css_codigobar3_line { }
.css_codigobar3_obj { }
.css_existencia_label { }
.css_existencia_line {font-size:16px;font-weight:bold;}
.css_existencia_obj {font-size:16px;font-weight:bold;text-align:center;}
.css_multiple_escala_label { }
.css_multiple_escala_line { }
.css_multiple_escala_obj { }
.css_en_base_a_label { }
.css_en_base_a_line { }
.css_en_base_a_obj { }
.css_activo_label { }
.css_activo_line { }
.css_activo_obj { }
.css_tipo_producto_label { }
.css_tipo_producto_line { }
.css_tipo_producto_obj { }
.css_costo_prom_label { }
.css_costo_prom_line {text-align:left;}
.css_costo_prom_obj {text-align:left;}
.css_imagen_label { }
.css_imagen_line {width:200px;}
.css_imagen_obj {width:200px;}
.css_ubicacion_label { }
.css_ubicacion_line { }
.css_ubicacion_obj { }
.css_para_registro_fe_label { }
.css_para_registro_fe_line { }
.css_para_registro_fe_obj { }
.css_id_pucaux_inventario_label { }
.css_id_pucaux_inventario_line {text-align:left;}
.css_id_pucaux_inventario_obj {text-align:left;width:200px;}
.css_id_pucaux_ncc_label { }
.css_id_pucaux_ncc_line {text-align:left;}
.css_id_pucaux_ncc_obj {text-align:left;width:200px;}
.css_id_pucaux_ndc_label { }
.css_id_pucaux_ndc_line {text-align:left;}
.css_id_pucaux_ndc_obj {text-align:left;width:200px;}
.css_id_pucaux_ingresos_label { }
.css_id_pucaux_ingresos_line {text-align:left;}
.css_id_pucaux_ingresos_obj {text-align:left;width:200px;}
.css_id_pucaux_nc_label { }
.css_id_pucaux_nc_line {text-align:left;}
.css_id_pucaux_nc_obj {text-align:left;width:200px;}
.css_id_pucaux_nd_label { }
.css_id_pucaux_nd_line {text-align:left;}
.css_id_pucaux_nd_obj {text-align:left;width:200px;}
.css_id_pucaux_costoventas_label { }
.css_id_pucaux_costoventas_line {text-align:left;}
.css_id_pucaux_costoventas_obj {text-align:left;width:200px;}
.css_sugerido_mayor_label {color:#000099;font-weight:bold;text-align:left;}
.css_sugerido_mayor_line {font-weight:bold;text-align:center;}
.css_sugerido_mayor_obj {font-size:16px;font-weight:bold;border-color:#FFFFFF;}
.css_sugerido_menor_label {color:#000099;font-weight:bold;}
.css_sugerido_menor_line {font-weight:bold;text-align:center;}
.css_sugerido_menor_obj {font-size:16px;font-weight:bold;border-color:#FFFFFF;text-align:left;}
.css_confcolor_label { }
.css_confcolor_line {vertical-align:middle;}
.css_confcolor_obj { }
.css_conftalla_label { }
.css_conftalla_line {vertical-align:middle;}
.css_conftalla_obj { }
.css_relleno_label { }
.css_relleno_line { }
.css_relleno_obj { }
.css_sabor_label { }
.css_sabor_line {vertical-align:middle;}
.css_sabor_obj { }
.css_u_menor_label { }
.css_u_menor_line {font-weight:bold;}
.css_u_menor_obj {font-weight:bold;text-align:center;}
.css_unidad__label { }
.css_unidad__line { }
.css_unidad__obj {text-align:center;width:70px;}
.css_unidad_ma_label { }
.css_unidad_ma_line { }
.css_unidad_ma_obj {text-align:center;width:70px;}
