.scAppDivMoldura { background-image: none; opacity: 1; filter: alpha(opacity=100); border-collapse: collapse; padding: 3px }
#NM_Grid_Search .scAppDivMoldura { padding: 13px 20px !important }
.scAppDivHeader { background-color: #FFFAC2; background-image: none; opacity: 1; filter: alpha(opacity=100); border-collapse: collapse; border-color: #cccccc; border-style: solid; border-width: 1px; padding: 5px }
.scAppDivHeaderText { font-family: Arial, sans-serif; font-size: 12px; color: #000; font-weight: bold; text-decoration: none }
#NM_Grid_Search .scAppDivHeaderText { vertical-align: top }
.SummaryBox > td #sc_id_summary_fields { border-color: #FFFAC2 }
.SummaryBox > td { border-color: #FFFAC2 }
.SummaryBox > td .scAppDivHeader { background-color: #FFFAC2 }
.GroupByOptions > div label span { color: #000 }
.SummaryBox > td .scAppDivHeader:before { background-image: url(../../img/scriptcase__NM__blue_treeview_mais.gif) }
.SummaryBox > td .scAppDivHeader.open:before { background-image: url(../../img/scriptcase__NM__blue_treeview_menos.gif) }
#sc_id_free_groupby > td { padding-top: 10px }
.scAppDivContent { background-image: none; opacity: 1; filter: alpha(opacity=100); padding: 3px; font-size: 12px }
.scAppDivContentText { font-family: Arial, sans-serif; font-size: 12px; color: #000; font-style: css_appdiv_header_text_style; text-decoration: none }
.scAppDivToolbar { font-family: Arial; font-size: 11px; color: #2E28E1; font-style: normal; text-decoration: none; background-color: #bdddf4; background-image: url(../../img/scriptcase__NM__plaindegrade.gif); opacity: 1; filter: alpha(opacity=100); padding: 5px }
.scAppDivToolbarInput { background-image: none; opacity: 1; filter: alpha(opacity=100); border-color: #3e9bd6; border-style: solid; border-width: 1px; color: #2E28E1; font-family: Arial; font-size: 11px; text-decoration: none; box-sizing: border-box }
.scAppDivtoolbarinputfocus:focus { background-image: none; opacity: 1; filter: alpha(opacity=100); border-color: #3e9bd6; color: #2E28E1 }
.scAppDivToolbarInput label { background-image: none; opacity: 1; filter: alpha(opacity=100); border-color: #3e9bd6; color: #2E28E1 }
.scAppDivSelectFields { background-image: none; border-color: #000; border-style: dashed; border-width: 1px; padding: 1px 2px }
.scAppDivSelectFieldsEnabled { background-color: #4CAEE2; background-image: none; opacity: 1; filter: alpha(opacity=100); border-color: #cccccc; border-style: solid; border-width: 1px; color: #FFFFFF; font-family: Arial, sans-serif; font-size: 12px; padding: 2px 4px !important; margin: 2px !important; text-decoration: none }
.scAppDivSelectFieldsDisabled { background-color: #E8E4E4; background-image: none; opacity: 1; filter: alpha(opacity=100); border-color: #B4B4B4; border-style: solid; border-width: 1px; color: #CBCBCB; font-family: Arial, sans-serif; font-size: 12px; padding: 2px 4px !important; margin: 2px !important; text-decoration: none }
.scAppDivSelectBoxEnabled { background-color: #E9D9A7; background-image: none; opacity: 1; filter: alpha(opacity=100); border-color: #D5BB34; border-style: solid; border-width: 1px; color: #000; font-family: Arial, sans-serif; font-size: 10px; padding: 4px; text-decoration: none; -moz-border-radius: 6px; -webkit-border-radius: 6px; border-radius: 6px }
.scAppDivSelectBoxDisabled { background-color: #EEEDE3; background-image: none; opacity: 1; filter: alpha(opacity=100); border-color: #8b8a7F; border-style: solid; border-width: 1px; color: #B4B4B4; font-family: Arial, sans-serif; font-size: 10px; padding: 4px; text-decoration: none; -moz-border-radius: 6px; -webkit-border-radius: 6px; border-radius: 6px }
.scAppDivSelectFieldsPlaceholder { background-color: #fdfbe6; background-image: none; opacity: 1; filter: alpha(opacity=100); border-color: #fdee00; border-style: dashed; border-width: 1px; padding: 6px; margin: 4px; -moz-border-radius: 6px; -webkit-border-radius: 6px; border-radius: 6px }
.scAppDivTabLine { background-image: none; opacity: 1; filter: alpha(opacity=100); width: 100%; margin: 0; padding: 3px 0 0; list-style-type: none }
.scExportEmailTable { background-image: none; opacity: 1; filter: alpha(opacity=100); border-style: none; border-collapse: collapse; padding: 10px }
.scExportEmailDiv { background-image: none; opacity: 1; filter: alpha(opacity=100); border-style: none; border-collapse: collapse; padding: 10px 20px }
.scExportEmailLabel { text-decoration: none }
.scExportEmailLabelSent { text-decoration: none }
.scExportEmailInput { background-image: none; opacity: 1; filter: alpha(opacity=100); border-color: #ccc; border-style: solid; border-width: 1px; padding: 6px 10px; margin: 4px; text-decoration: none; -moz-border-radius: 3px; -webkit-border-radius: 3px; border-radius: 3px; width: calc(100% - 22px) }
.scGridFilterTag { background-image: none; opacity: 1; filter: alpha(opacity=100); border-color: #cccccc; border-style: solid; border-width: 0 0 1px 0; border-collapse: collapse; padding: 6px 20px !important; margin: 0; display: flex }
#NM_Grid_Search .scGridFilterTag { padding: 6px 20px !important }
#NM_Grid_Search #id_Fgrid_search { margin: 0 }
.scGridFilterTagIconExp { padding: 0; margin: 0; vertical-align: top }
.scGridFilterTagIconCol { padding: 0; margin: 8px 0 0 0 }
.scGridFilterTagIcon { background-image: none; opacity: 1; filter: alpha(opacity=100); padding: 0; margin: 4px 0; box-sizing: border-box; display: flex }
.scGridFilterTagIcon svg { width: 22px; height: 22px; fill: #000 }
.scGridFilterTagList { background-image: none; opacity: 1; filter: alpha(opacity=100); border-collapse: collapse; padding: 0 10px; flex: 1; box-sizing: border-box }
.scGridFilterTagListItem { background-color: #4CAEE2; background-image: none; opacity: 1; filter: alpha(opacity=100); border-color: #cccccc; border-style: solid; border-width: 1px; padding: 5px 5px 3px 12px; margin: 3px 0 2px 0; -moz-border-radius: 12px; -webkit-border-radius: 12px; border-radius: 12px; display: inline-block }
.scGridFilterTagListItemLabel { color: #FFFFFF; font-family: Arial, sans-serif; font-size: 12px; text-decoration: none }
.scGridFilterTagListItemClose { background-color: #FFFCD9; background-image: none; opacity: 1; filter: alpha(opacity=100); margin: -1px 0 1px 10px; display: inline-block; border-radius: 50%; -moz-border-radius: 50%; -webkit-border-radius: 50%; width: 17px; height: 17px; float: right; cursor: pointer }
.scGridFilterTagListItemClose:after { color: #000; font-size: 17px; font-weight: bold; text-decoration: none; content: '\00d7'; width: 100%; display: block; line-height: 18px }
.scGridFilterTagListItemClose:hover { background-image: none; opacity: 1; filter: alpha(opacity=100) }
.scGridFilterTagClose { background-image: none; opacity: 0.35; filter: alpha(opacity=35); padding: 0; margin: 4px 0 0 10px; box-sizing: border-box; display: inline-block; border-radius: 50%; -moz-border-radius: 50%; -webkit-border-radius: 50%; width: 28px; height: 28px; float: right; cursor: pointer }
.scGridFilterTagClose:after { color: #000; font-size: 27px; text-decoration: none; content: '\00d7'; width: 100%; display: block; line-height: 28px }
.scGridFilterTagClose:hover { background-image: none; opacity: 0.6; filter: alpha(opacity=60) }
.scGridFilterTagListFilter { background-color: #fff; background-image: none; background-position: absolute; opacity: 1; filter: alpha(opacity=100); border-color: #E0E6ED; border-style: solid; border-width: 1px; border-collapse: collapse; padding: 0; margin: 10px 0 0 0; box-shadow: 0 2px 4px #c3c3c3; border-radius: 0px; -moz-border-radius: 0; -webkit-border-radius: 0; position: absolute; z-index: 1 }
.scGridFilterTagListFilterLabel { background-color: #4CAEE2; background-image: none; opacity: 1; filter: alpha(opacity=100); padding: 2px; -moz-border-radius: 0; -webkit-border-radius: 0; border-radius: 0; color: #FFFFFF; font-size: 12px; text-decoration: none }
.scGridFilterTagListFilterLabelClose { background-color: #FFFCD9; background-image: none; opacity: 1; filter: alpha(opacity=100); margin: 0 0 0 10px; display: inline-block; border-radius: 50%; -moz-border-radius: 50%; -webkit-border-radius: 50%; width: 17px; height: 17px; float: right; cursor: pointer }
.scGridFilterTagListFilterLabelClose:after { color: #000; font-size: 17px; font-weight: bold; text-decoration: none; content: '\00d7'; width: 100%; display: block; line-height: 18px }
.scGridFilterTagListFilterLabelClose:hover { background-image: none; opacity: 1; filter: alpha(opacity=100) }
.scGridFilterTagListFilterInputs { background-color: #FFFFFF; background-image: none; opacity: 1; filter: alpha(opacity=100); padding: 2px; text-decoration: none }
.scGridFilterTagListFilterBar { background-color: #bdddf4; background-image: url(../../img/scriptcase__NM__plaindegrade.gif); opacity: 1; filter: alpha(opacity=100); border-collapse: collapse; padding: 2px; text-align: right }
.scGridFilterTagAdd { background-image: none; opacity: 1; filter: alpha(opacity=100); border-color: #cccccc; border-style: solid; border-width: 1px; padding: 5px 10px 5px 22px; margin: 0 3px; -moz-border-radius: 25px; -webkit-border-radius: 25px; border-radius: 25px; color: #000; font-size: 13px; text-decoration: none; cursor: pointer; display: inline-block; position: relative; top: 1px }
.scGridFilterTagAddDisabled { background-image: none; opacity: 1; filter: alpha(opacity=100); color: #d2d2d2; text-decoration: none; cursor: default }
#id_Fgrid_search .scGridFilterTagAddDisabled:hover { background-color: transparent }
#id_Fgrid_search .scGridFilterTagAdd > div { left: 0px; top: 29px; -moz-border-radius: 3px; -webkit-border-radius: 3px; border-radius: 3px; verflow: hidden }
#id_Fgrid_search .scGridFilterTagAdd > div table { border-collapse: collapse }
#id_Fgrid_search .scGridFilterTagAdd:after { content: '\00d7'; color: #000; font-size: 17px; font-weight: bold; display: inline-block; position: absolute; left: 8px; top: 3px; transform: rotate(45deg) }
#id_Fgrid_search .scGridFilterTagAddDisabled:after { color: #d2d2d2 }
#id_grid_search_add_tag { color: black }
.scGridFilterTagAdd .scBtnGrpText { font-size: 13px }
.scGridFilterTagSave { background-image: none; opacity: 1; filter: alpha(opacity=100); border-width: 0; padding: 0; margin: 6px 0 0 0; box-sizing: border-box; float: right }

.exportConfig {
    top: 0;
}

.exportConfig #tabs {
    padding-top: 35px;
}

.exportConfig .scAppDivTabLine {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    padding: 10px 10px 0;
    z-index: 10;
    white-space: nowrap;
}

.exportConfig .scGridFieldOddFont {
    padding: 7px 10px;
    font-size: 12px;
    vertical-align: top;
    border-bottom: 1px dashed rgba(0,0,0,0.05);
}

.exportConfig .scGridFieldOddFont + .scGridFieldOddFont {
    width: 260px;
}

.exportConfig .scGridFieldOddFont input,
.exportConfig .scGridFieldOddFont select {
    border-radius: 3px;
    font-size: 12px;
    padding: 1px 3px;
    border: 1px solid #bac4d0;
}

.exportConfig .scGridTabela + .scGridTabela {
    margin-top: 15px;
}

.exportConfig .input-group {
    display: flex;
    flex-direction: row;
    padding: 1px 0 0;
}

.exportConfig .input-group label {
    display: flex;
}

.exportConfig .input-group label input {
    position: relative;
    top: -3px;
    left: -4px;
    margin-right: -2px;
}

.exportConfig .input-group-vertical {
    flex-direction: column;
}

.exportConfig .input-group-horizontal label + label {
    margin-left: 10px;
}

.exportConfig .input-group-vertical label + label {
    margin-top: 5px;
}

.exportConfig .buttons {
    text-align: right;
    margin-top: 20px;
}

.exportConfig .buttons .scButton_default {
    text-decoration: none;
    box-shadow: none;
    padding: 4px 12px!important;
    line-height: 1;
    font-size: 14px;
}

.exportConfig .buttons .scButton_default:first-child {
    background: #5381C6;
    color: white;
    border-color: #5381C6;
}
                
.scGridQuickSearchDivMoldura .select2-container { width: 100% !important }
.scGridQuickSearchDivMoldura { background-image: none; opacity: 1; filter: alpha(opacity=100); padding: 10px; margin: 0 0 0 -10px; -moz-box-shadow: 0 6px 12px rgba(0, 0, 0, 0.175); -webkit-box-shadow: 0 6px 12px rgba(0, 0, 0, 0.175); box-shadow: 0 6px 12px rgba(0, 0, 0, 0.175); width: 250px; z-index: 1 }
.scGridQuickSearchDivLabel { background-image: none; opacity: 1; filter: alpha(opacity=100); border-style: none; color: #FFFFFF; font-family: Arial, sans-serif; font-size: 12px; font-weight: bold; padding: 0; text-decoration: none; margin: 8px 0 0 0 }
.scGridQuickSearchDivResult { background-color: #FFFFFF !important; background-image: none !important; opacity: 1 !important; filter: alpha(opacity=100) !important; border-width: 1px !important; padding: 5px !important; height: auto !important; outline: none !important }
.scGridQuickSearchDivResult .select2-selection__rendered, .scGridQuickSearchDivResult .select2-search__field { color: #333333 !important; font-family: Arial, sans-serif !important; font-size: 12px !important; text-decoration: none !important; width: 100% !important }
.scGridQuickSearchDivResult .select2-search { width: 100% !important }
.scGridQuickSearchDivResult .select2-selection__arrow b { border-top-color: #333333 !important }
.scGridQuickSearchDivResult[aria-expanded="true"] .select2-selection__arrow b { border-bottom-color: #333333 !important }
.scGridQuickSearchDivResult .select2-selection__choice { background-image: none !important; opacity: 1 !important; filter: alpha(opacity=100) !important }
.scGridQuickSearchDivMoldura .select2-container--default .select2-selection--single .select2-selection__rendered,
                 .scGridQuickSearchDivMoldura > div { line-height: initial !important }
.scGridQuickSearchDivDropdown { background-image: none; opacity: 1; filter: alpha(opacity=100); border-color: #333333 }
.scGridQuickSearchDivDropdown .select2-results__option { background-image: none !important; opacity: 1 !important; filter: alpha(opacity=100) !important; color: #333333 !important; font-family: Arial, sans-serif !important }
.scGridQuickSearchDivDropdown .select2-results__option--highlighted { background-color: #5897fb !important; background-image: none !important; opacity: 1 !important; filter: alpha(opacity=100) !important; color: #ffffff !important; font-family: Arial, sans-serif !important }
.scGridQuickSearchDivDropdown .select2-results__option[aria-selected="true"] { background-color: #ddd !important; background-image: none !important; opacity: 1 !important; filter: alpha(opacity=100) !important; color: #888686 !important; font-family: Arial, sans-serif !important }
.scGridQuickSearchDivToolbar { background-image: none; opacity: 1; filter: alpha(opacity=100); font-family: Arial, sans-serif; padding: 8px 0; text-align: right }
.css_toolbar_obj_qs_search_img { vertical-align: middle; cursor: pointer }
.css_toolbar_obj_qs_container { display: inline-block; vertical-align: top; cursor: pointer }
.css_toolbar_obj_qs_container_height { display: inline-block; vertical-align: middle; height: 100% }
