.css_idfp_label {text-align:left;vertical-align:middle;justify-content:left;font-weight:bold;}
.css_idfp_grid_line {vertical-align: middle;text-align: right;}
.css_monto_label {text-align:right;vertical-align:middle;justify-content:right;font-weight:bold;}
.css_monto_grid_line {vertical-align: top;text-align: right;}
.css_banco_label {text-align:left;vertical-align:middle;justify-content:left;font-weight:bold;}
.css_banco_grid_line {vertical-align: top;text-align: right;}
.css_numcheque_label {text-align:left;vertical-align:middle;justify-content:left;font-weight:bold;}
.css_numcheque_grid_line {vertical-align: middle;text-align: right;}
.css_iddetall_label {text-align:right;vertical-align:middle;justify-content:right;font-weight:bold;}
.css_iddetall_grid_line {vertical-align: top;text-align: right;}
.css_idfact_label {text-align:right;vertical-align:middle;justify-content:right;font-weight:bold;}
.css_idfact_grid_line {vertical-align: top;text-align: right;}
.css_idrc_label {text-align:right;vertical-align:middle;justify-content:right;font-weight:bold;}
.css_idrc_grid_line {vertical-align: top;text-align: right;}
