.css_nro_label {text-align:left;vertical-align:middle;justify-content:left;font-weight:bold;}
.css_nro_grid_line {vertical-align: top;text-align: left;}
.css_fecha_label {text-align:left;vertical-align:middle;justify-content:left;font-weight:bold;}
.css_fecha_grid_line {vertical-align: top;text-align: center;}
.css_tercero_label {text-align:left;vertical-align:middle;justify-content:left;font-weight:bold;}
.css_tercero_grid_line {vertical-align: top;text-align: left;}
.css_tipo_label {text-align:left;vertical-align:middle;justify-content:left;font-weight:bold;}
.css_tipo_grid_line {vertical-align: top;text-align: left;}
.css_numero_documento_label {text-align:left;vertical-align:middle;justify-content:left;font-weight:bold;}
.css_numero_documento_grid_line {vertical-align: top;text-align: left;}
.css_valor_total_label {text-align:left;vertical-align:middle;justify-content:left;font-weight:bold;}
.css_valor_total_grid_line {vertical-align: top;text-align: right;}
.css_saldo3_label {text-align:left;vertical-align:middle;justify-content:left;font-weight:bold;}
.css_saldo3_grid_line {vertical-align: top;text-align: right;}
.css_observaciones_label {text-align:left;vertical-align:middle;justify-content:left;font-weight:bold;}
.css_observaciones_grid_line {vertical-align: top;text-align: left;}
.css_idtercero_cuenta_label {text-align:right;vertical-align:middle;justify-content:right;font-weight:bold;}
.css_idtercero_cuenta_grid_line {vertical-align: top;text-align: right;}
.css_prefijo_label {text-align:left;vertical-align:middle;justify-content:left;font-weight:bold;}
.css_prefijo_grid_line {vertical-align: top;text-align: left;}
.css_numero_label {text-align:left;vertical-align:middle;justify-content:left;font-weight:bold;}
.css_numero_grid_line {vertical-align: top;text-align: right;}
.css_ie_label {text-align:left;vertical-align:middle;justify-content:left;font-weight:bold;}
.css_ie_grid_line {vertical-align: top;text-align: left;}
