.css_grupo_label {text-align:left;vertical-align:middle;justify-content:left;font-weight:bold;}
.css_grupo_grid_line {vertical-align: top;text-align: left;}
.css_idbodega_label {text-align:left;vertical-align:middle;justify-content:left;font-weight:bold;}
.css_idbodega_grid_line {vertical-align: top;text-align: left;}
.css_idproducto_label {text-align:left;vertical-align:middle;justify-content:left;font-weight:bold;}
.css_idproducto_grid_line {vertical-align: top;text-align: left;}
.css_fecha_vencimiento_label {text-align:left;vertical-align:middle;justify-content:left;font-weight:bold;}
.css_fecha_vencimiento_grid_line {vertical-align: top;text-align: center;}
.css_dias_vencimiento_label {text-align:left;vertical-align:middle;justify-content:left;font-weight:bold;}
.css_dias_vencimiento_grid_line {vertical-align: top;text-align: right;}
.css_fecha_fab_label {text-align:left;vertical-align:middle;justify-content:left;font-weight:bold;}
.css_fecha_fab_grid_line {vertical-align: top;text-align: center;}
.css_lote_label {text-align:left;vertical-align:middle;justify-content:left;font-weight:bold;}
.css_lote_grid_line {vertical-align: top;text-align: left;}
.css_serial_codbarra_label {text-align:left;vertical-align:middle;justify-content:left;font-weight:bold;}
.css_serial_codbarra_grid_line {vertical-align: top;text-align: left;}
.css_existencia_label {text-align:right;vertical-align:middle;justify-content:right;font-weight:bold;}
.css_existencia_grid_line {vertical-align: top;text-align: right;}
.css_existencia_tot_ger {text-align: right;}
.css_idvenclote_label {text-align:right;vertical-align:middle;justify-content:right;font-weight:bold;}
.css_idvenclote_grid_line {vertical-align: top;text-align: right;}
