.css_iddet_label {text-align:right;vertical-align:middle;justify-content:right;font-weight:bold;}
.css_iddet_grid_line {vertical-align: middle;text-align: center;}
.css_idpro_label {text-align:center;vertical-align:middle;justify-content:center;font-weight:bold;}
.css_idpro_grid_line {vertical-align: middle;text-align: right;}
.css_vencimiento_label {text-align:center;vertical-align:middle;justify-content:center;font-weight:bold;}
.css_vencimiento_grid_line {vertical-align: middle;text-align: center;}
.css_lote_label {text-align:left;vertical-align:middle;justify-content:left;font-weight:bold;}
.css_lote_grid_line {vertical-align: middle;text-align: center;}
.css_cantidad_label {text-align:center;vertical-align:middle;justify-content:center;font-weight:bold;}
.css_cantidad_grid_line {vertical-align: middle;text-align: right;}
.css_valorunit_label {text-align:center;vertical-align:middle;justify-content:center;font-weight:bold;}
.css_valorunit_grid_line {vertical-align: middle;text-align: right;}
.css_porc_desc_label {text-align:right;vertical-align:middle;justify-content:right;font-weight:bold;}
.css_porc_desc_grid_line {vertical-align: top;text-align: right;}
.css_descuento_label {text-align:right;vertical-align:middle;justify-content:right;font-weight:bold;}
.css_descuento_grid_line {vertical-align: middle;text-align: right;}
.css_valorpar_label {text-align:center;vertical-align:middle;justify-content:center;font-weight:bold;}
.css_valorpar_grid_line {vertical-align: middle;text-align: right;}
.css_valorpar_tot_ger {text-align: right;}
.css_iva_label {text-align:center;vertical-align:middle;justify-content:center;font-weight:bold;}
.css_iva_grid_line {vertical-align: middle;text-align: right;}
.css_iva_tot_ger {text-align: right;}
.css_total_label {text-align:center;vertical-align:middle;justify-content:center;font-weight:bold;}
.css_total_grid_line {font-weight:bold;vertical-align: middle;text-align: right;}
.css_total_tot_ger {text-align: right;}
.css_idfaccom_label {text-align:right;vertical-align:middle;justify-content:right;font-weight:bold;}
.css_idfaccom_grid_line {vertical-align: top;text-align: right;}
.css_idbod_label {text-align:right;vertical-align:middle;justify-content:right;font-weight:bold;}
.css_idbod_grid_line {vertical-align: top;text-align: right;}
.css_tasaiva_label {text-align:right;vertical-align:middle;justify-content:right;font-weight:bold;}
.css_tasaiva_grid_line {vertical-align: top;text-align: right;}
.css_tasadesc_label {text-align:right;vertical-align:middle;justify-content:right;font-weight:bold;}
.css_tasadesc_grid_line {vertical-align: top;text-align: right;}
.css_devuelto_label {text-align:right;vertical-align:middle;justify-content:right;font-weight:bold;}
.css_devuelto_grid_line {vertical-align: top;text-align: right;}
.css_colores_label {text-align:right;vertical-align:middle;justify-content:right;font-weight:bold;}
.css_colores_grid_line {vertical-align: top;text-align: right;}
.css_tallas_label {text-align:right;vertical-align:middle;justify-content:right;font-weight:bold;}
.css_tallas_grid_line {vertical-align: top;text-align: right;}
.css_sabor_label {text-align:right;vertical-align:middle;justify-content:right;font-weight:bold;}
.css_sabor_grid_line {vertical-align: top;text-align: right;}
