.css_idfacven_label { }
.css_idfacven_line {text-align:left;}
.css_idfacven_obj {text-align:left;}
.css_numfacven_label { }
.css_numfacven_line {width:70px;}
.css_numfacven_obj {text-align:center;}
.css_nremision_label { }
.css_nremision_line {font-size:12px;font-weight:bold;text-align:left;}
.css_nremision_obj {font-size:12px;font-weight:bold;text-align:left;}
.css_credito_label { }
.css_credito_line {text-align:left;}
.css_credito_obj {text-align:left;}
.css_fechaven_label { }
.css_fechaven_line { }
.css_fechaven_obj {text-align:center;width:80px;}
.css_fechavenc_label { }
.css_fechavenc_line {width:80px;}
.css_fechavenc_obj {text-align:center;width:80px;}
.css_idcli_label { }
.css_idcli_line { }
.css_idcli_obj {text-align:left;width:400px;}
.css_subtotal_label {color:#FFFFFF;}
.css_subtotal_line {color:#FFFFFF;background-color:#34495E;font-weight:bold;text-align:center;vertical-align:middle;}
.css_subtotal_obj {color:#FFFFFF;text-align:center;width:120px;}
.css_valoriva_label {color:#FFFFFF;text-align:center;vertical-align:middle;}
.css_valoriva_line {color:#FFFFFF;background-color:#34495E;text-align:center;}
.css_valoriva_obj {color:#FFFFFF;text-align:center;width:120px;}
.css_total_label {color:#FFFFFF;font-weight:bold;text-align:center;vertical-align:middle;}
.css_total_line {font-size:18px;color:#FFFFFF;background-color:#34495E;font-weight:bold;text-align:center;vertical-align:middle;}
.css_total_obj {font-size:18px;color:#FFFFFF;font-weight:bold;text-align:center;width:120px;}
.css_pagada_label { }
.css_pagada_line { }
.css_pagada_obj {text-align:center;}
.css_asentada_label {font-size:14px;color:#000000;background-color:#6699FF;font-weight:bold;}
.css_asentada_line { }
.css_asentada_obj {background-color:#FF9900;text-align:left;}
.css_observaciones_label { }
.css_observaciones_line { }
.css_observaciones_obj {text-align:left;width:400px;}
.css_saldo_label {color:#FFFFFF;text-align:center;vertical-align:middle;}
.css_saldo_line {color:#FFFFFF;background-color:#34495E;}
.css_saldo_obj {color:#FFFFFF;font-weight:bold;text-align:center;width:120px;}
.css_adicional_label {color:#FFFFFF;text-align:center;vertical-align:middle;width:120px;}
.css_adicional_line {font-size:18px;color:#FFFFFF;background-color:#34495E;font-weight:bold;text-align:center;vertical-align:middle;}
.css_adicional_obj {font-size:18px;color:#FFFFFF;font-weight:bold;text-align:center;width:120px;}
.css_vendedor_label { }
.css_vendedor_line {text-align:left;}
.css_vendedor_obj {text-align:left;width:400px;}
.css_pedido_label { }
.css_pedido_line {text-align:left;}
.css_pedido_obj {text-align:left;}
.css_resolucion_label { }
.css_resolucion_line {text-align:left;}
.css_resolucion_obj {text-align:left;}
.css_dircliente_label { }
.css_dircliente_line {text-align:left;}
.css_dircliente_obj {text-align:left;width:420px;}
.css_imconsumo_label {text-align:center;}
.css_imconsumo_line {text-align:left;}
.css_imconsumo_obj {text-align:left;}
.css_retefuente_label { }
.css_retefuente_line {text-align:left;}
.css_retefuente_obj {text-align:center;}
.css_reteiva_label { }
.css_reteiva_line {text-align:left;}
.css_reteiva_obj {text-align:center;}
.css_reteica_label { }
.css_reteica_line { }
.css_reteica_obj {text-align:center;}
.css_cree_label {text-align:center;vertical-align:middle;}
.css_cree_line {text-align:left;}
.css_cree_obj {text-align:center;}
.css_dias_decredito_label { }
.css_dias_decredito_line {text-align:left;}
.css_dias_decredito_obj {text-align:center;}
.css_tipo_label { }
.css_tipo_line { }
.css_tipo_obj { }
.css_id_fact_label { }
.css_id_fact_line {text-align:left;}
.css_id_fact_obj {text-align:left;}
.css_mot_nc_label { }
.css_mot_nc_line { }
.css_mot_nc_obj { }
.css_mot_nd_label { }
.css_mot_nd_line { }
.css_mot_nd_obj { }
.css_cupo_label {color:#FFFFFF;}
.css_cupo_line {font-family:Geneva, Arial, sans-serif;font-size:16px;color:#00FF00;background-color:#34495E;text-align:center;}
.css_cupo_obj {font-size:14px;color:#FFFFFF;background-color:#00066;text-align:center;}
.css_cupodis_label {color:#FFFFFF;}
.css_cupodis_line {font-family:Geneva, Arial, sans-serif;font-size:16px;color:#00FF00;background-color:#34495E;font-weight:bold;text-align:center;}
.css_cupodis_obj {font-size:14px;color:#000066;font-weight:bold;text-align:center;}
.css_detalle_label { }
.css_detalle_line { }
.css_detalle_obj { }
.css_direccion_label { }
.css_direccion_line { }
.css_direccion_obj { }
.css_num_fac_label { }
.css_num_fac_line {width:40px;}
.css_num_fac_obj {text-align:right;width:40px;}
.css_pref_pedido_label { }
.css_pref_pedido_line {font-weight:bold;border-color:#FFFFFF;text-align:center;}
.css_pref_pedido_obj {font-weight:bold;border-color:#FFFFFF;}
.css_prefijo_fac_label { }
.css_prefijo_fac_line { }
.css_prefijo_fac_obj { }
