.select2-container--default .select2-selection { background-color: #f9fafc; background-image: none; opacity: 1; filter: alpha(opacity=100); border-color: #A8D4C7 !important; border-style: solid !important; border-width: 1px !important; color: #313a46; font-family: Leelawadee, Ebrima, 'Bahnschrift Light', Gadugi, 'Nirmala UI', 'Segoe UI', Verdana; font-size: 13px; text-decoration: none; -moz-border-radius: 4px; -webkit-border-radius: 4px; border-radius: 4px }
.scFilterPage { background-color: #FEFFFE; background-image: none; opacity: 1; filter: alpha(opacity=100); color: #6c757d; font-family: Leelawadee, Ebrima, 'Bahnschrift Light', Gadugi, 'Nirmala UI', 'Segoe UI', Verdana; font-size: 13px; margin: 20px; text-decoration: none }
.scFilterBorder { background-color: #FFFFFF; background-image: none; opacity: 1; filter: alpha(opacity=100); border-color: #A8D4C7; border-style: solid; border-width: 1px; border-collapse: collapse; padding: 0; -moz-box-shadow: none; -webkit-box-shadow: none; box-shadow: none }
.scFilterTable { background-color: #FFFFFF; box-shadow: none; background-image: none; opacity: 1; filter: alpha(opacity=100); border-collapse: collapse; border-color: #A8D4C7; border-style: none; border-width: 0; height: 50% !important; margin: 20px; width: calc(100% - 40px) }
.scFilterTableTd { padding: 0 }
.scFilterToolbar { background-color: #fff; background-image: none; opacity: 1; filter: alpha(opacity=100); border-color: #A8D4C7; border-style: none; border-width: 0; color: #6c757d; font-family: Leelawadee, Ebrima, 'Bahnschrift Light', Gadugi, 'Nirmala UI', 'Segoe UI', Verdana; font-size: 13px; text-decoration: none }
.scFilterToolbarPadding { padding: 10px 20px }
#sel_recup_filters_bot,#sel_filters_del_bot,.scFilterToolbar_obj { background-color: #f9fafc; box-shadow: 0 2px 6px 0 rgba(227,234,239,.5); background-image: none; opacity: 1; filter: alpha(opacity=100); border-color: #A8D4C7; border-style: solid; border-width: 1px; color: #313a46; font-family: Leelawadee, Ebrima, 'Bahnschrift Light', Gadugi, 'Nirmala UI', 'Segoe UI', Verdana; font-size: 13px; padding: 0 10px; text-decoration: none; -moz-border-radius: 4px; -webkit-border-radius: 4px; border-radius: 4px; height: 34px; line-height: 34px }
#sel_recup_filters_bot,#sel_filters_del_bot,.scFilterToolbar_obj:focus { background-image: none; opacity: 1; filter: alpha(opacity=100); border-color: #A8D4C7; color: #313a46; box-shadow: none }
.scFilterHeader { background-color: #247159; background-image: none; opacity: 1; filter: alpha(opacity=100); border-color: #247159; border-style: solid; border-width: 1px }
.scFilterHeaderFont { color: #F6FFFC; font-family: Leelawadee, Ebrima, 'Bahnschrift Light', Gadugi, 'Nirmala UI', 'Segoe UI', Verdana; font-size: 13px; font-weight: bold; text-decoration: none }
.scFilterFooter { background-image: none; opacity: 1; filter: alpha(opacity=100) }
.scFilterFooterFont { color: #999999; font-family: Leelawadee, Ebrima, 'Bahnschrift Light', Gadugi, 'Nirmala UI', 'Segoe UI', Verdana; font-size: 13px; font-weight: bold; text-decoration: none }
.scFilterBlock { background-color: #A8D4C7; background-image: none; opacity: 1; filter: alpha(opacity=100); border-color: #A8D4C7; border-style: solid; border-width: 1px; color: #247159; font-family: Leelawadee, Ebrima, 'Bahnschrift Light', Gadugi, 'Nirmala UI', 'Segoe UI', Verdana; font-size: 13px; font-weight: bold; padding: 10px 15px; text-decoration: none; vertical-align: middle }
.scFilterBlockBack { background-color: #A8D4C7; background-image: none; opacity: 1; filter: alpha(opacity=100); border-color: #A8D4C7; border-style: solid; border-width: 1px; padding: 10px 15px }
.scFilterBlockFont { color: #247159; font-family: Leelawadee, Ebrima, 'Bahnschrift Light', Gadugi, 'Nirmala UI', 'Segoe UI', Verdana; font-size: 13px; font-weight: bold; text-decoration: none; vertical-align: middle }
.scFilterBlockAlign { color: #247159; font-family: Leelawadee, Ebrima, 'Bahnschrift Light', Gadugi, 'Nirmala UI', 'Segoe UI', Verdana; font-size: 13px; font-weight: bold; text-decoration: none }
.scFilterLabelOdd { background-color: #F6FFFC; background-image: none; opacity: 1; filter: alpha(opacity=100); border-color: #A8D4C7; border-style: none; border-width: 0; color: #1B211F; font-family: Leelawadee, Ebrima, 'Bahnschrift Light', Gadugi, 'Nirmala UI', 'Segoe UI', Verdana; font-size: 13px; padding: 10px 15px; text-decoration: none }
.scFilterLabelEven { background-color: #F6FFFC; background-image: none; opacity: 1; filter: alpha(opacity=100); border-color: #A8D4C7; border-style: none; border-width: 0; color: #1B211F; font-family: Leelawadee, Ebrima, 'Bahnschrift Light', Gadugi, 'Nirmala UI', 'Segoe UI', Verdana; font-size: 13px; padding: 10px 15px; text-decoration: none }
.scFilterFieldOdd { background-color: #F6FFFC; background-image: none; opacity: 1; filter: alpha(opacity=100); border-color: #A8D4C7; border-style: none; border-width: 0; color: #1B211F; font-family: Leelawadee, Ebrima, 'Bahnschrift Light', Gadugi, 'Nirmala UI', 'Segoe UI', Verdana; font-size: 13px; padding: 6px 4px; text-decoration: none }
.scFilterDataFontOdd { color: #1B211F; font-family: Leelawadee, Ebrima, 'Bahnschrift Light', Gadugi, 'Nirmala UI', 'Segoe UI', Verdana; font-size: 13px; text-decoration: none }
.scFilterFieldFontOdd { color: #1B211F; font-family: Leelawadee, Ebrima, 'Bahnschrift Light', Gadugi, 'Nirmala UI', 'Segoe UI', Verdana; font-size: 13px; text-decoration: none }
.scFilterFieldFontOdd input[type=checkbox] + label, .scFilterFieldFontOdd input[type=radio] + label { position: relative; top: -1px }
.scFilterFieldEven { background-color: #F6FFFC; background-image: none; opacity: 1; filter: alpha(opacity=100); border-color: #A8D4C7; border-style: none; border-width: 0; color: #1B211F; font-family: Leelawadee, Ebrima, 'Bahnschrift Light', Gadugi, 'Nirmala UI', 'Segoe UI', Verdana; font-size: 13px; padding: 6px 4px; text-decoration: none }
.scFilterFieldFontEven { color: #1B211F; font-family: Leelawadee, Ebrima, 'Bahnschrift Light', Gadugi, 'Nirmala UI', 'Segoe UI', Verdana; font-size: 13px; text-decoration: none }
.scFilterFieldFontEven input[type=checkbox] + label, .scFilterFieldFontEven input[type=radio] + label { position: relative; top: -1px }
.scFilterObjectOdd { background-color: #f9fafc; box-shadow: 0 2px 6px 0 rgba(227,234,239,.5); background-image: none; opacity: 1; filter: alpha(opacity=100); border-color: #A8D4C7; border-style: solid; border-width: 1px; color: #313a46; font-family: Leelawadee, Ebrima, 'Bahnschrift Light', Gadugi, 'Nirmala UI', 'Segoe UI', Verdana; font-size: 13px; padding: 4px 10px; text-decoration: none; -moz-border-radius: 4px; -webkit-border-radius: 4px; border-radius: 4px }
.scFilterObjectOdd:focus, .scFilterObjectOddAc { background-color: #F9FAFC; background-image: none; opacity: 1; filter: alpha(opacity=100); border-color: transparent; color: #6c757d; box-shadow: inset 0 1px 1px rgba(0,0,0,.075),0 0 8px rgba(102,175,233,.6) }
.scFilterObjectOddAc div.ui-menu-item-wrapper, .scFilterObjectOddAc div.ui-menu-item-wrapper.ui-state-active { background: none; border: none; color: #313a46; font-family: Leelawadee, Ebrima, 'Bahnschrift Light', Gadugi, 'Nirmala UI', 'Segoe UI', Verdana; font-size: 13px; margin: 0 }
.scFilterObjectEven { background-color: #f9fafc; box-shadow: 0 2px 6px 0 rgba(227,234,239,.5); background-image: none; opacity: 1; filter: alpha(opacity=100); border-color: #A8D4C7; border-style: solid; border-width: 1px; color: #313a46; font-family: Leelawadee, Ebrima, 'Bahnschrift Light', Gadugi, 'Nirmala UI', 'Segoe UI', Verdana; font-size: 13px; padding: 4px 10px; text-decoration: none; -moz-border-radius: 4px; -webkit-border-radius: 4px; border-radius: 4px }
.scFilterObjectEven:focus, .scFilterObjectEvenAc { background-color: #F9FAFC; background-image: none; opacity: 1; filter: alpha(opacity=100); border-color: transparent; color: #6c757d; box-shadow: inset 0 1px 1px rgba(0,0,0,.075),0 0 8px rgba(102,175,233,.6) }
.scFilterObjectEvenAc div.ui-menu-item-wrapper, .scFilterObjectEvenAc div.ui-menu-item-wrapper.ui-state-active { background: none; border: none; color: #313a46; font-family: Leelawadee, Ebrima, 'Bahnschrift Light', Gadugi, 'Nirmala UI', 'Segoe UI', Verdana; font-size: 13px; margin: 0 }
.scFilterACTable { border-collapse: collapse; border-color: #A8D4C7; border-style: solid; border-width: 1px; -moz-box-shadow: css_filter_moldurapagina_box_shadow; -webkit-box-shadow: css_filter_moldurapagina_box_shadow; box-shadow: css_filter_moldurapagina_box_shadow }
.scFilterACTitle { background-color: #f2f2f2; background-image: none; opacity: 1; filter: alpha(opacity=100); border-color: #A8D4C7; border-style: solid; border-width: 1px 0; color: #6c757d; font-family: Leelawadee, Ebrima, 'Bahnschrift Light', Gadugi, 'Nirmala UI', 'Segoe UI', Verdana; font-size: 13px; padding: 8px 4px; text-decoration: none }
.ac_results { background-color: #FFFFFF; background-image: none; opacity: 1; filter: alpha(opacity=100); border-collapse: collapse; border-color: #A8D4C7; border-style: solid; border-width: 0 0 1px 0; color: #6c757d; font-family: Leelawadee, Ebrima, 'Bahnschrift Light', Gadugi, 'Nirmala UI', 'Segoe UI', Verdana; font-size: 13px; overflow: hidden; padding: 0; text-decoration: css_ajaxac_linha_par_text_decoration; z-index: 99999 }
.ac_results ul { list-style: none; list-style-position: outside; margin: 0; padding: 0; width: 100% }
.ac_results li { cursor: default; display: block; margin: 0; overflow: hidden; padding: 2px 5px; line-height: 16px }
.ac_odd { background-color: #FFFFFF; background-image: none; opacity: 1; filter: alpha(opacity=100); color: #6c757d; font-family: Leelawadee, Ebrima, 'Bahnschrift Light', Gadugi, 'Nirmala UI', 'Segoe UI', Verdana; font-size: 13px; border-width: 0 0 1px 0; border-color: #A8D4C7; border-style: solid }
.ac_over { background-color: #A8D4C7; background-image: none; opacity: 1; filter: alpha(opacity=100); color: #6c757d; font-family: Leelawadee, Ebrima, 'Bahnschrift Light', Gadugi, 'Nirmala UI', 'Segoe UI', Verdana; font-size: 13px; border-width: 0 0 1px 0; border-color: #A8D4C7; border-style: solid }
.scFilterPopup { border-collapse: collapse; display: none; position: absolute; z-index: 50 }
.scFilterPopupCorner { height: 15px; width: 19px }
.scFilterPopupTopLeft { background-image: url(../../img/scriptcase__NM__help_topLeftCorner.png); padding: 0 }
.scFilterPopupTop { background-image: url(../../img/scriptcase__NM__help_topLine.png); padding: 0 }
.scFilterPopupTopRight { background-image: url(../../img/scriptcase__NM__help_topRightCorner.png); padding: 0 }
.scFilterPopupLeft { background-image: url(../../img/scriptcase__NM__help_leftColumn.png); padding: 0 }
.scFilterPopupRight { background-image: url(../../img/scriptcase__NM__help_rightColumn.png); padding: 0 }
.scFilterPopupBottomLeft { background-image: url(../../img/scriptcase__NM__help_bottomLeftCorner.png); padding: 0 }
.scFilterPopupBottom { background-image: url(../../img/scriptcase__NM__help_bottomLine.png); padding: 0; text-align: center }
.scFilterPopupBottom img { display: block; margin: 0 auto }
.scFilterPopupBottomRight { background-image: url(../../img/scriptcase__NM__help_bottomRightCorner.png); padding: 0 }
.scFilterPopupContent { background-color: #FFFFFF; background-image: none; opacity: 1; filter: alpha(opacity=100); color: #6c757d; font-family: Leelawadee, Ebrima, 'Bahnschrift Light', Gadugi, 'Nirmala UI', 'Segoe UI', Verdana; font-size: 13px; font-style: normal; text-decoration: none }
.scFilterRequiredOdd { color: #9f3a38; font-family: Leelawadee, Ebrima, 'Bahnschrift Light', Gadugi, 'Nirmala UI', 'Segoe UI', Verdana; font-size: 13px; font-weight: bold }
.scFilterRequiredEven { color: #9f3a38; font-family: Leelawadee, Ebrima, 'Bahnschrift Light', Gadugi, 'Nirmala UI', 'Segoe UI', Verdana; font-size: 13px; font-weight: bold }
.scBtnPassField { margin: 10px 5px }
.ui-slider-horizontal { background-color: #dee2e6; background-image: none; opacity: 1; filter: alpha(opacity=100); border-color: #FFFFFF !important; border-style: none; border-collapse: collapse; margin: 0 auto; height: .3em !important }
.ui-slider-horizontal > .ui-slider-range { background-color: #247159; background-image: none; opacity: 1; filter: alpha(opacity=100); border-collapse: collapse }
.ui-slider-horizontal > .ui-state-default { background: #247159 !important; background-image: none; opacity: 1; filter: alpha(opacity=100); border-color: #FFFFFF !important; border-collapse: collapse; margin: 0 0 0 -7px !important; -moz-border-radius: 0; -webkit-border-radius: 0; border-radius: 0; top: -4px !important; outline: none }
.ui-slider-horizontal > .ui-slider-handle { width: 0.5em !important; height: 0.8em !important }
.ui-slider-horizontal > .ui-state-hover { background-image: none; opacity: 1; filter: alpha(opacity=100); border-collapse: collapse }
.ui-slider-horizontal > .ui-state-active { background-image: none; opacity: 1; filter: alpha(opacity=100); border-collapse: collapse }
.scFilterPage .ui-menu .ui-menu-item, .scFilterTable .select2-container--default .select2-selection--single .select2-selection__rendered, .scFormPage .select2-container--default .select2-results__option[aria-selected="true"] { color: #313a46 }

#id_div_interativ_search {
  position: relative;
}

.scGridRefinedSearchCollapse {
  cursor: pointer;

  position: absolute;
  top: calc(24px / 4);
  right: -14px;

  width: 24px;
  height: 24px;
  border-radius: 24px;
  background: #fff;
  box-shadow: 0 0 0 1px rgb(9 30 66 / 8%), 0 2px 4px 1px rgb(9 30 66 / 8%);

  display: flex;
  align-items: center;
  justify-content: center;

  z-index: 2;
  transition: all .3s ease;
}

.scGridRefinedSearchCollapse:hover {
  filter: brightness(90%);
}

.scGridRefinedSearchCollapse i {
  margin: 0;
  padding: 0;
  transition: transform .3s ease;
}

#id_div_interativ_search.is-closed .scGridRefinedSearchCollapse i {
  transform: rotate(180deg);
}
#id_div_interativ_search.is-closed{
  position: absolute;
}
#id_div_interativ_search.is-closed #id_div_interativ_search_content {
  display:none;
}
                
