.scAppCalendarPage { font-family: Arial, sans-serif; font-size: 14px; background-color: #F9F9F9; background-image: none; opacity: 1; filter: alpha(opacity=100) }
.scAppCalendarPage .fc-unthemed .fc-content, .scAppCalendarPage .fc-unthemed .fc-divider, .scAppCalendarPage .fc-unthemed .fc-list-heading td, .scAppCalendarPage .fc-unthemed .fc-list-view, .scAppCalendarPage .fc-unthemed .fc-popover, .scAppCalendarPage .fc-unthemed .fc-row, .scAppCalendarPage .fc-unthemed tbody, .scAppCalendarPage .fc-unthemed td, .scAppCalendarPage .fc-unthemed th, .scAppCalendarPage .fc-unthemed thead { border-color: #598DB5 }
.scAppCalendarPage .fc-unthemed td.fc-today, .scAppCalendarPage #calendar_mini .fc-today { background-color: #C4D8F0; color: #000000 }
.scAppCalendarHeader { background-image: none; opacity: 1; filter: alpha(opacity=100) }
.scAppCalendarHeaderFont { color: #2574A9; font-family: Arial, sans-serif; font-size: 16px; font-weight: bold; text-decoration: none; vertical-align: middle }
.fc-header-title,.fc-day-number,.fc-center > h2 { color: #000000; font-family: Arial, sans-serif }
.fc-today { background-color: #C4D8F0 }
.fc-day { border-color: #D2D2D2 }
.scAppCalendarPage .fc-day-header { background-color: #FFFFFF; color: #fff; border-width: 0; border-style: solid; height: 40px; line-height: 40px }
.fc-button { font-size: 13px !important; background-image: none !important; text-shadow: 0px 0px !important; border-style: none !important; padding: 2px 18px !important; height: 32px !important; line-height: 28px !important }
.fc-event-inner { font-family: Arial, sans-serif; font-size: 13px }
.fc-agenda-days th { background-color: #FFFFFF; color: #fff; border-width: 0; border-style: solid; height: 40px; line-height: 40px }
.fc-sun, .fc-mon, .fc-tue, .fc-wed, .fc-thu, .fc-fri, .fc-sat, .fc-agenda-axis, .fc-agenda-gutter { background-color: #fff; background-image: none; opacity: 1; filter: alpha(opacity=100); border-color: #cccccc; border-style: solid; border-width: 0 0 1px 0; color: #000000; font-family: Arial, sans-serif; font-size: 13px; font-style: normal; padding: 1px; text-decoration: none }
.fc-axis { background-color: #FFFFFF; color: #fff; border-width: 0; border-style: solid; font-family: Arial, sans-serif; font-size: 13px }
.fc-not-today { color: #000; font-family: Arial, sans-serif; font-size: 13px }
.scCalendarEventPast { background-color: #FFE8E8; background-image: none; opacity: 1; filter: alpha(opacity=100); color: #000; border-color: #E4C4C4; border-width: 1px }
.scCalendarEventOnDay { background-color: #D0FDD0; background-image: none; opacity: 1; filter: alpha(opacity=100); color: #000; border-color: #CADDB4; border-width: 1px }
.scCalendarEventFuture { background-color: #9EBFEB; background-image: none; opacity: 1; filter: alpha(opacity=100); color: #000; border-color: #679B99; border-width: 1px }
.scCalendarPrintDate { font-style: normal; font-weight: bold; text-decoration: none }
.scCalendarPrintTime { font-style: normal; text-decoration: none }
.scCalendarPrintEvent { font-style: normal; text-decoration: none }
#calendar_mini { margin: 0 0 20px 0 }
#calendar_mini > .fc-toolbar.fc-header-toolbar { margin-bottom: 0px !important }
#calendar_mini > .fc-toolbar .fc-center { font-size: 0.7em; margin: 13px 0 0 0; display: inline-block !important }
#calendar_mini .fc-today { background-color: #FCFCEE }
#calendar_mini .fc-day-header { background-image: none; color: #3C4858; font-family: Arial, sans-serif; font-size: 13px; font-style: normal; font-weight: bold; text-decoration: none; height: 25px; line-height: 25px }
#calendar_mini .fc-day-top { background-image: none; border-color: #E0E6ED; border-style: solid; border-width: 1px; font-family: Arial, sans-serif; font-size: 13px; font-style: normal; text-decoration: none; cursor: pointer }
#calendar_mini .fc-day-number { font-family: Arial, sans-serif; font-size: 13px; font-style: normal; text-decoration: none }
#calendar_mini .fc-state-highlight { background-color: #FCFCEE; background-image: none; border-color: #E0E6ED; border-style: solid; border-width: 1px; font-family: Arial, sans-serif; font-size: 13px; font-style: normal; text-decoration: none }
#calendar_mini .fc-basic-view .fc-body .fc-row { min-height: 0px }
#calendar_mini .fc-button { font-size: 0.75em }
#calendar_mini .fc-content-skeleton tbody { display: none }
.fc .fc-view-container .fc-listMonth-view .fc-scroller { overflow: inherit !important }
.scCalendarCategory { background-image: none; border-style: solid; border-width: 0; border-collapse: collapse; margin: 0; padding: 5px 0 0 0 }
.scCalendarCategoryItemsMoldura { background-image: none; border-style: solid; border-width: 0; border-collapse: collapse; margin: 0; padding: 10px 0 0 10px; cursor: pointer }
.scCalendarCategoryTitle { background-image: none; border-width: 0; color: #5c5c5c; font-family: Arial, sans-serif; font-size: 13px; font-style: normal; font-weight: bold; text-decoration: none }
.scCalendarCategoryItem { background-image: none; border-style: solid; border-width: 0; color: #5c5c5c; font-family: Arial, sans-serif; font-size: 11px; padding: 2px; text-decoration: none }
.scCalendarCategoryItemActive { border-style: solid; border-width: 0; color: #5c5c5c }
.scCalendarCategoryItemActive div { background-image: url(../../img/scriptcase__NM__ico__NM__check_checkbox.png); background-repeat: no-repeat }
