.scFormPage { background-color: #FFFFFF; background-image: none; opacity: 1; filter: alpha(opacity=100); color: #000000; font-family: Arial, sans-serif; font-size: 13px; margin: 20px 0 20px 0; text-decoration: none }
.scFormBorder { background-color: #F9FAFB; background-image: none; opacity: 1; filter: alpha(opacity=100); padding: 20px; margin: css_form_moldura_margin; border-collapse: collapse; border-color: #D2D2D2; border-style: solid; border-width: 1px; -moz-border-radius: 10px; -webkit-border-radius: 10px; border-radius: 10px }
.scFormPageText { color: #000000; font-family: Arial, sans-serif; font-size: 13px; text-decoration: none }
.scFormColorPaleteItem { background-size: contain; cursor: pointer; width: 16px; height: 16px; display: inline-block; margin: 0 2px 0 0; border-width: 1px; border-style: solid; border-color: #000 }
.scFormColorPaleteItemChecked { background-image: url(../../img/scriptcase__NM__ico__NM__check_checkbox.png) }
.scFormHeader { background-image: none; opacity: 1; filter: alpha(opacity=100) }
.scFormHeaderFont { color: #2574A9; font-family: Arial, sans-serif; font-size: 16px; font-weight: bold; text-decoration: none; vertical-align: middle }
.scFormFooter { background-image: none; opacity: 1; filter: alpha(opacity=100) }
.scFormFooterFont { color: #999999; font-family: Arial, sans-serif; font-size: 13px; font-weight: bold; text-decoration: none }
.scFormToolbarNav { background-image: none; opacity: 1; filter: alpha(opacity=100); color: #333; font-family: Arial, sans-serif; font-size: 13px; text-shadow: 12px; text-decoration: none; padding: 4px 6px 4px 6px }
.scFormToolbarNavOpen { background-color: #fff !important; background-image: none; opacity: 1; filter: alpha(opacity=100); color: #2574A9; font-family: Arial, sans-serif; font-size: 13px; text-shadow: 12px; text-decoration: none; border-color: #2574A9; border-style: solid; border-width: 1px; padding: 4px 6px 4px 6px; -moz-border-radius: 3px; -webkit-border-radius: 3px; border-radius: 3px }
.scFormToolbar { background-image: none; opacity: 1; filter: alpha(opacity=100); padding: 5px 10px 5px 10px; border-style: none; border-width: 0 }
.scFormToolbarPadding { padding: 5px 10px 5px 10px }
.scFormToolbarInput { background-image: none; opacity: 1; filter: alpha(opacity=100); border-color: #2574A9; border-style: solid; border-width: 1px; color: #333333; font-family: Arial, sans-serif; font-size: 13px; padding: 8px 8px; text-decoration: none }
.scFormToolbarInputText { color: #333333; font-family: Arial, sans-serif; font-size: 13px; text-decoration: none; background: transparent }
.scFormToolbarInputText:focus { outline: none !important }
.scFormToolbarInput:focus { background-image: none; opacity: 1; filter: alpha(opacity=100); border-color: #2574A9; color: #333333 }
.scFormToolbarInputWm { color: #D4CACA }
.scFormTable { background-color: #f8f8f8; background-image: none; opacity: 1; filter: alpha(opacity=100); border-collapse: collapse; border-color: #d0d0d0; border-style: solid; border-width: 1px 1px 1px 1px; -moz-border-radius: 10px; -webkit-border-radius: 10px; border-radius: 10px }
.scFormTableTd { padding: 20px }
.scFormLabelLink { color: #FFFFFF; font-family: Arial, sans-serif; font-size: 12px; font-weight: bold; text-decoration: none; vertical-align: middle }
.scFormLabelOdd { background-color: #FFFFFF; background-image: none; opacity: 1; filter: alpha(opacity=100); border-color: #990000; border-width: 0; color: #333; font-family: Arial, sans-serif; font-size: 13px; font-weight: bold; padding: 6px 4px; text-decoration: none; vertical-align: middle }
.scFormHelpOdd { background-image: none; opacity: 1; filter: alpha(opacity=100); font-size: 1em; padding: 0 4px }
.scFormLabelOddMult { background-color: #2574A9; background-image: none; border-color: #2574A9; border-style: solid; border-width: 1px; color: #fff; font-family: Arial, sans-serif; font-size: 12px; font-weight: bold; padding: 8px 10px; text-decoration: none; vertical-align: middle }
.scFormHelpOddMult { background-image: none; opacity: 1; filter: alpha(opacity=100); font-size: 1em; padding: 0 4px }
.scFormLabelOddMult:hover { background-color: #FFFFFF; background-image: none; opacity: 1; filter: alpha(opacity=100); color: #fff; text-decoration: none; border-style: solid; border-width: 0 }
.scFormLabelOddMult:hover .scFormLabelLink { color: #fff }
.scFormHelpOddMult:hover { background-image: none; opacity: 1; filter: alpha(opacity=100); font-size: 1em; padding: 0 4px }
.scFormLabelOddFormat { color: #333; font-family: Arial, sans-serif; font-size: 13px; font-weight: bold; text-decoration: none }
.scFormLabelOddFormatMult { color: #fff; font-family: Arial, sans-serif; font-size: 12px; font-weight: bold; text-decoration: none }
.scFormRequiredOdd { color: #d54242; font-family: Arial; font-size: 12px; font-weight: bold }
.scFormRequiredOddMult { color: #d54242; font-family: Arial; font-size: 12px }
.scFormRequiredOddColor { color: #d54242; font-family: Arial; font-size: 12px }
.scFormRequiredOddColorMult { color: #d54242; font-family: Arial; font-size: 12px }
.scFormObjectOdd, .ui-dropdownchecklist-selector-wrapper > .ui-dropdownchecklist-selector { background-image: none; opacity: 1; filter: alpha(opacity=100); border-color: #598DB5; border-style: solid; border-width: 1px; color: #333333; font-family: Arial, sans-serif; font-size: 13px; padding: 6px 10px; text-decoration: none; vertical-align: middle; -moz-border-radius: 5px; -webkit-border-radius: 5px; border-radius: 5px }
.scFormObjectOddPwdBox { background-image: none; opacity: 1; filter: alpha(opacity=100); border-color: #598DB5; border-style: solid; border-width: 1px; padding: 0; -moz-border-radius: 5px; -webkit-border-radius: 5px; border-radius: 5px; display: inline-block }
.scFormObjectOddPwdInput { padding: 6px 10px; vertical-align: middle; border-width: 0; border-style: none; background-color: transparent }
.scFormObjectOddPwdText { color: #333333; font-family: Arial, sans-serif; font-size: 13px; text-decoration: none }
.select2-container--default .select2-selection { background-image: none; opacity: 1; filter: alpha(opacity=100); border-color: #598DB5; border-style: solid; border-width: 1px; color: #333333; font-family: Arial, sans-serif; font-size: 13px; text-decoration: none; -moz-border-radius: 5px; -webkit-border-radius: 5px; border-radius: 5px }
.scFormPage .ui-menu .ui-menu-item, .scFormTable .select2-container--default .select2-selection--single .select2-selection__rendered, .scFormPage .select2-container--default .select2-results__option[aria-selected="true"] { color: #333333 }
.scFormPage .ui-menu .ui-menu-item, .scFormPage .select2-container .select2-dropdown { border-color: #598DB5 }
.scFormPage .select2-container--default .select2-results__option[aria-selected="true"] { background-color: #5897fb; color: white }
.scFormObjectOddMult, .ui-dropdownchecklist-selector-wrapper > .ui-dropdownchecklist-selector { background-image: none; opacity: 1; filter: alpha(opacity=100); border-color: #598DB5; border-style: solid; border-width: 1px; color: #333333; font-family: Arial, sans-serif; font-size: 13px; padding: 6px 10px; text-decoration: none }
.scFormObjectOddMultPwdBox { background-image: none; opacity: 1; filter: alpha(opacity=100); border-color: #598DB5; border-style: solid; border-width: 1px; padding: 0; display: inline-block }
.scFormObjectOddMultPwdInput { padding: 6px 10px; border-width: 0; border-style: none; background-color: transparent }
.scFormObjectOddMultPwdText { color: #333333; font-family: Arial, sans-serif; font-size: 13px; text-decoration: none }
.scFormTable .select2-container--default .select2-selection--single .select2-selection__rendered { color: #333333 }
.scFormObjectOddSpin { font-family: Arial, sans-serif !important; font-size: 13px !important }
.scFormObjectOddMultSpin { font-family: Arial, sans-serif !important; font-size: 13px !important }
.scFormObjectFocusOdd, .ui-dropdownchecklist-selector-wrapper > .ui-dropdownchecklist-selector:focus { background-color: #FFFFD9; background-image: none; opacity: 1; filter: alpha(opacity=100); border-style: solid; border-width: 1px; color: #333; font-family: Arial, sans-serif; font-size: 13px; padding: 6px 10px; text-decoration: none; vertical-align: middle; -moz-border-radius: 5px; -webkit-border-radius: 5px; outline: none }
.scFormObjectFocusOddPwdBox { background-color: #FFFFD9; background-image: none; opacity: 1; filter: alpha(opacity=100); border-style: solid; border-width: 1px; padding: 0; -moz-border-radius: 5px; -webkit-border-radius: 5px; display: inline-block }
.scFormObjectFocusOddPwdInput { padding: 6px 10px; vertical-align: middle; border-width: 0; border-style: none; background-color: transparent; outline: none }
.scFormObjectFocusOddPwdText { color: #333; font-family: Arial, sans-serif; font-size: 13px; text-decoration: none }
.scFormObjectFocusOddMult, .ui-dropdownchecklist-selector-wrapper > .ui-dropdownchecklist-selector:focus { background-color: #FFFFD9; background-image: none; opacity: 1; filter: alpha(opacity=100); border-style: solid; border-width: 1px; color: #333; font-family: Arial, sans-serif; font-size: 13px; padding: 6px 10px; text-decoration: none; outline: none }
.scFormObjectFocusOddMultPwdBox { background-color: #FFFFD9; background-image: none; opacity: 1; filter: alpha(opacity=100); border-style: solid; border-width: 1px; padding: 0; display: inline-block }
.scFormObjectFocusOddMultPwdInput { padding: 6px 10px; border-width: 0; border-style: none; background-color: transparent; outline: none }
.scFormObjectFocusOddMultPwdText { color: #333; font-family: Arial, sans-serif; font-size: 13px; text-decoration: none }
.scFormDataOdd { background-color: #FFFFFF; background-image: none; opacity: 1; filter: alpha(opacity=100); color: #000000; font-family: Arial, sans-serif; font-size: 13px; padding: 6px 4px; text-decoration: none; display: css_form_campo_impar_simples_display }
.scFormDataHelpOdd { background-image: none; opacity: 1; filter: alpha(opacity=100); color: rgb(0,0,0,.65); font-size: .7em; padding: 0 4px; margin: 3px 0 0 0; letter-spacing: 1px; text-transform: uppercase; display: inline-block }
.scFormDataTagOdd { opacity: 1; filter: alpha(opacity=100); font-size: 1em }
.scFormDataOddMult { background-color: #FFFFFF; background-image: none; opacity: 1; filter: alpha(opacity=100); border-color: #cccccc; border-style: solid; border-width: 1px 1px 1px 1px; color: #333; font-family: Arial, sans-serif; font-size: 13px; padding: 6px 4px; text-decoration: none }
.scFormDataHelpOddMult { background-image: none; opacity: 1; filter: alpha(opacity=100); font-size: 1em; padding: 0 4px }
.scFormDataTagOddMult { opacity: 1; filter: alpha(opacity=100); font-size: 1em }
.scFormDataFontOdd { color: #000000; font-family: Arial, sans-serif; font-size: 13px; text-decoration: none }
.scFormDataFontOdd input[type=checkbox] + label, .scFormDataFontOdd input[type=radio] + label { position: relative; top: -1px }
.scFormDataFontOddMult { color: #333; font-family: Arial, sans-serif; font-size: 13px; text-decoration: none }
.scFormDataFontOdd .highlight { background-image: none; opacity: 1; filter: alpha(opacity=100); color: #ff0000; display: inline-block }
.scFormDataFontOddMult .highlight { background-image: none; opacity: 1; filter: alpha(opacity=100); color: #ff0000; display: inline-block }
.scFormLinkOdd { color: #000000; text-decoration: underline }
.scFormLinkOddMult { color: #333333; text-decoration: underline }
.scFormLabelLinkOdd { text-decoration: none }
.scFormLabelLinkOddMult { color: #FFFFFF; text-decoration: none }
.scFormInputError { background-color: #ffaaaa; background-image: none; opacity: 1; filter: alpha(opacity=100); color: #333 }
.scFormInputErrorPwdBox { background-color: #ffaaaa; background-image: none; opacity: 1; filter: alpha(opacity=100); color: #333 }
.scFormInputErrorPwdText { color: #333 }
.scFormInputErrorMult { background-color: #ffaaaa; background-image: none; opacity: 1; filter: alpha(opacity=100); color: #000000; border-color: #e0b4b4 }
.scFormInputErrorMultPwdBox { background-color: #ffaaaa; background-image: none; opacity: 1; filter: alpha(opacity=100); color: #000000; border-color: #e0b4b4 }
.scFormInputErrorMultPwdText { color: #000000 }
.scFormInputDisabled, .ui-dropdownchecklist-selector-wrapper > .ui-state-disabled { background-color: #CCCCCC; background-image: none; opacity: 1; filter: alpha(opacity=100); color: #000000 }
.scFormInputDisabledMult, .ui-dropdownchecklist-selector-wrapper > .ui-state-disabled { background-color: #CCCCCC; background-image: none; opacity: 1; filter: alpha(opacity=100); color: #000000 }
.ui-dropdownchecklist-selector-wrapper > .ui-state-disabled > .ui-dropdownchecklist-text { color: #000000 }
.sc-ui-pwd-eye { margin-left: 5px; margin-right: 5px }
.scFormDataDragNDrop { background-color: #F0F8FF; background-image: none; opacity: 1; filter: alpha(opacity=100); border-color: #33A1DE; border-style: dashed; border-width: 1px; color: #444444; font-family: Arial, sans-serif; font-size: 13px; padding: 25px; text-decoration: none; margin: 15px 4px; -moz-border-radius: 10px; -webkit-border-radius: 10px; border-radius: 10px }
.scFormMessageTable { background-color: #F9EDBE; background-image: none; opacity: 1; filter: alpha(opacity=100); border-collapse: collapse; border-color: #F0C36D; border-style: solid; border-width: 1px 1px 1px 1px; height: 40px; width: 280px }
.scDebugWindow { position: fixed !important; top: 50% !important; left: 50% !important; transform: translate(-50%,-50%) !important; z-index: 1 !important }
.scFormMessageTitle { background-image: none; opacity: 1; filter: alpha(opacity=100); border-width: 0; color: #000000; font-family: Arial, sans-serif; font-size: 13px; font-weight: bold; padding: 3px; text-decoration: none }
.scFormMessageTitleFont { color: #000000; font-family: Arial, sans-serif; font-size: 13px; font-weight: bold; text-decoration: none }
.scFormMessageMessage { background-image: none; opacity: 1; filter: alpha(opacity=100); border-width: 0; color: #555555; font-family: Arial, sans-serif; font-size: 13px; padding: 3px; text-decoration: none }
.scFormMessageMessageFont { color: #555555; font-family: Arial, sans-serif; font-size: 13px; text-decoration: none }
.scFormErrorTable { background-color: #F9EDBE; background-image: none; opacity: 1; filter: alpha(opacity=100); border-color: #F0C36D; border-style: solid; border-width: 1px 1px 1px 1px; height: 30px; width: 320px }
.scFormErrorTitle { background-image: none; opacity: 1; filter: alpha(opacity=100); border-style: none; color: #000000; font-family: Arial, sans-serif; font-size: 13px; font-weight: bold; padding: 5px 3px 1px 3px; text-decoration: none; vertical-align: middle }
.scFormErrorTitleFont { color: #000000; font-family: Arial, sans-serif; font-size: 13px; font-weight: bold; text-decoration: none }
.scFormErrorMessage { background-image: none; opacity: 1; filter: alpha(opacity=100); color: #555555; font-family: Arial, sans-serif; font-size: 13px; padding: 1px 3px 5px 3px; text-decoration: none }
.scFormErrorMessageFont { color: #555555; font-family: Arial, sans-serif; font-size: 13px; text-decoration: none }
.scFormErrorLine { background-image: none; opacity: 1; filter: alpha(opacity=100); color: #000000; font-family: Arial, sans-serif; font-size: 13px; padding: 4px 4px 4px 10px; letter-spacing: 0px; text-decoration: none }
.scFormFieldErrorTable { background-color: #fff; background-image: none; opacity: 1; filter: alpha(opacity=100); border-collapse: collapse; border-color: #d0d0d0; border-style: solid; border-width: 0; -moz-border-radius: css_fielderror_radius; -webkit-border-radius: css_fielderror_radius; border-radius: css_fielderror_radius }
.scFormFieldErrorMessage { background-image: none; opacity: 1; filter: alpha(opacity=100); color: #d54242; font-family: Arial, sans-serif; font-size: 13px; padding: 2px 4px 2px 4px; text-decoration: none; vertical-align: middle }
.scFormBlock { background-color: #E4EBED; background-image: none; opacity: 1; filter: alpha(opacity=100); border-color: #E4EBED; border-style: solid; border-width: 1px; color: #333; font-family: Arial, sans-serif; font-size: 13px; font-weight: bold; padding: 10px; text-decoration: none; vertical-align: middle; -moz-border-radius: 10px; -webkit-border-radius: 10px; border-radius: 10px }
.scFormBlockFont { color: #333; font-family: Arial, sans-serif; font-size: 13px; font-weight: bold; text-decoration: none }
.scFormBlockAlign { color: #333; font-family: Arial, sans-serif; font-size: 13px; font-weight: bold; text-decoration: none; vertical-align: middle }
.scFormProcess { color: #000000; font-family: Arial, sans-serif; font-size: 12px; text-shadow: 20px; font-weight: bold; text-decoration: none }
.scFormProcessFixed { background-color: #fff; border-color: #A1AFC1; border-style: solid; border-width: 1px 1px 2px 1px; height: 26px; padding-top: 13px; position: absolute; text-align: center; width: 350px }
.scFormHelpPage { background-image: none; background-repeat: repeat-x; opacity: 1; filter: alpha(opacity=100); color: #000000; font-family: Arial, sans-serif; font-size: 13px; text-shadow: 12px; text-decoration: none }
.scFormPopup { border-collapse: collapse; display: none; position: absolute; z-index: 50 }
.scFormPopupCorner { height: 15px; width: 19px }
.scFormPopupTopLeft { background-image: url(../../img/scriptcase__NM__help_topLeftCorner.png); padding: 0 }
.scFormPopupTop { background-image: url(../../img/scriptcase__NM__help_topLine.png); padding: 0 }
.scFormPopupTopRight { background-image: url(../../img/scriptcase__NM__help_topRightCorner.png); padding: 0 }
.scFormPopupLeft { background-image: url(../../img/scriptcase__NM__help_leftColumn.png); padding: 0 }
.scFormPopupRight { background-image: url(../../img/scriptcase__NM__help_rightColumn.png); padding: 0 }
.scFormPopupBottomLeft { background-image: url(../../img/scriptcase__NM__help_bottomLeftCorner.png); padding: 0 }
.scFormPopupBottom { background-image: url(../../img/scriptcase__NM__help_bottomLine.png); padding: 0; text-align: center }
.scFormPopupBottom img { display: block; margin: 0 auto }
.scFormPopupBottomRight { background-image: url(../../img/scriptcase__NM__help_bottomRightCorner.png); padding: 0 }
.scFormPopupContent { background-color: #FFFFFF; background-image: none; opacity: 1; filter: alpha(opacity=100); color: #000000; font-family: Arial, sans-serif; font-size: 13px; text-shadow: 12px; font-style: normal; text-decoration: none }
.scButtonMultiUploadSend { float: left }
.scButtonMultiUploadSend:hover { cursor: pointer }
.TB_overlayBG { background-color: #6e6e6e }
#TB_window { border-color: #A1AFC1; border-style: solid; border-width: 1px 1px 2px 1px; background-color: #FFFFFF }
.sc-cal-categ .sc-cal-categ-input-caret { position: absolute; cursor: default; top: 9px; right: 10px; font-size: 12px; transform: scale(1,0.75) }
.sc-cal-categ { position: relative }
.sc-cal-categ-item .sc-cal-categ-colorbox { width: 17px; height: 17px; float: left; margin-right: 10px }
.sc-cal-categ > .sc-cal-categ-input { box-sizing: border-box; width: 100% !important; display: block !important }
.sc-cal-categ-dropdown { position: absolute; top: 30px !important; left: 0px !important; width: 99% !important }
.scFormACTable { border-collapse: collapse; border-color: #BBBBBB #A4ADC2 #A4ADC2 #BBBBBB; border-style: solid; border-width: 1px 2px 2px 1px }
.scFormACTitle { background-color: #f5f5f5; background-image: none; opacity: 1; filter: alpha(opacity=100); border-color: #AAA #AAA #777777 #AAA; border-width: 1px; color: #000000; font-family: Arial, sans-serif; font-size: 12px; text-shadow: 20px; padding: 2px 4px; text-decoration: none }
.ac_results { background-color: #FFFFFF; background-image: none; opacity: 1; filter: alpha(opacity=100); border-collapse: collapse; border-color: #D2D2D2; border-style: solid; border-width: 1px; color: #000000; font-family: Arial, sans-serif; font-size: 12px; overflow: hidden; padding: 0; text-decoration: css_ajaxac_linha_par_text_decoration; z-index: 99999 }
.ac_results ul { list-style: none; list-style-position: outside; margin: 0; padding: 0; width: 100% }
.ac_results li { cursor: default; display: block; margin: 0; overflow: hidden; padding: 2px 5px; line-height: 16px }
.ac_odd { background-color: #EAEDF2; background-image: none; opacity: 1; filter: alpha(opacity=100); color: #000000; font-family: Arial, sans-serif; font-size: 12px }
.ac_over { background-color: #8DA0C8; background-image: none; opacity: 1; filter: alpha(opacity=100); color: #000000; font-family: Arial, sans-serif; font-size: 12px }
.ui-dropdownchecklist-text { color: #333333; font-family: Arial, sans-serif; font-size: 13px; text-decoration: none }
.ui-dropdownchecklist-selector { background-image: none; opacity: 1; filter: alpha(opacity=100); color: #333333; font-family: Arial, sans-serif; font-size: 13px }
.ui-dropdownchecklist-dropcontainer { background-image: none; opacity: 1; filter: alpha(opacity=100); color: #333333; font-family: Arial, sans-serif; font-size: 13px }
.scBtnPassField { margin: 5px 2px }
#sc_b_summary_b { font-size: 13px }
.fileinput-button-padding { margin-top: 5px }
.ui-front { z-index: 9999 }
#sc_b_navpage_t,#sc_b_navpage_b { padding: 0 }
.scAjaxDiv { background-color: #fefabb; background-image: none; opacity: 1; filter: alpha(opacity=100); color: #000000; font-family: Arial, sans-serif; font-size: 12px; text-shadow: 20px; text-decoration: none; border-collapse: collapse; border-color: #D8C754; border-style: solid; border-width: 1px; margin: 0; padding: 20px }
.lcs_checkbox_switch { display: inline-block; position: relative; overflow: hidden; transition: all .2s ease-in-out; width: 29px; height: 15px; border-radius: 30px; cursor: pointer; background-color: #DDDDDD; background-image: none; margin: 5px 7px }
.lcs_checkbox_switch:after { content: "\002714"; display: inline-block; position: absolute; overflow: hidden; top: 1px; left: 5px; font-size: 9px; transition: all .2s; opacity: 0; filter: alpha(opacity=0); color: #FFFFFF }
.lcs_checkbox_switch.lcs_on { background-color: #66afe9; background-image: none }
.lcs_checkbox_switch.lcs_on:after { opacity: 1; filter: alpha(opacity=100) }
.lcs_checkbox_switch .lcs_cursor { display: inline-block; position: absolute; overflow: hidden; top: 1px; left: 1px; z-index: 10; transition: all .2s linear; width: 13px; height: 13px; border-radius: 100%; background-color: #FFFFFF; background-image: none }
.lcs_checkbox_switch.lcs_off .lcs_cursor { display: inline-block; position: absolute; overflow: hidden; top: 1px; left: 1px; z-index: 10; transition: all .2s linear; width: 13px; height: 13px; border-radius: 100%; background-color: #FFFFFF; background-image: none }
.lcs_checkbox_switch.lcs_on .lcs_cursor  { left: calc(100% - 1px); transform: translateX(-100%) }
.lcs_radio_switch { display: inline-block; position: relative; overflow: hidden; transition: all .2s ease-in-out; width: 12px; height: 12px; border-radius: 100%; border-width: 1px; border-color: #66afe9; border-style: solid; cursor: pointer; background-color: rgba(0,0,0,0); background-image: none; margin: 5px 7px }
.lcs_radio_switch.lcs_off { display: inline-block; position: relative; overflow: hidden; transition: all .2s ease-in-out; width: 12px; height: 12px; border-radius: 100%; border-width: 1px; border-color: #66afe9; border-style: solid; cursor: pointer; background-color: rgba(0,0,0,0); background-image: none; margin: 5px 7px }
.lcs_radio_switch.lcs_on { background-color: rgba(0,0,0,0); background-image: none }
.lcs_radio_switch .lcs_cursor { display: inline-block; position: absolute; overflow: hidden; top: -1px; left: -1px; z-index: 10; transition: all .1s linear; transform: scale(0); width: 14px; height: 14px; border-width: 1px; background-color: #66afe9; background-image: none }
.lcs_radio_switch.lcs_off .lcs_cursor { display: inline-block; position: absolute; overflow: hidden; top: -1px; left: -1px; z-index: 10; transition: all .1s linear; transform: scale(0); width: 14px; height: 14px; border-width: 1px; background-color: #66afe9; background-image: none }
.lcs_radio_switch.lcs_on .lcs_cursor  { transform: scale(1); left: -1px }
.lcs_switch.lcs_on { box-shadow: none }
.lcs_checkbox_switch.lcs_switch.lcs_off { background-color: rgba(178, 178, 178, 0.4); box-shadow: 0px 0px 2px rgba(164, 164, 164, 0.8) inset }
.sc.switch, .sc.radio { margin: 2px 5px 2px 0 }
.sc.switch input, .sc.radio input { position: absolute!important }
.sc.switch span { min-width: 22px }
.sc.radio span { min-width: 12px; min-height: 12px }
.ui-slider-horizontal { background-image: none; opacity: 1; filter: alpha(opacity=100); border-collapse: collapse; margin: 10px auto }
.ui-slider-horizontal > .ui-slider-range { background-image: none; opacity: 1; filter: alpha(opacity=100); border-collapse: collapse }
.ui-slider-horizontal > .ui-state-default { background-image: none; opacity: 1; filter: alpha(opacity=100); border-collapse: collapse; outline: none }
.ui-slider-horizontal > .ui-state-hover { background-image: none; opacity: 1; filter: alpha(opacity=100); border-collapse: collapse }
.ui-slider-horizontal > .ui-state-active { background-image: none; opacity: 1; filter: alpha(opacity=100); border-collapse: collapse }
.sc-ui-100perc-table { table-layout: fixed }
.sc-ui-100perc-span-input { display: -webkit-box; display: flex; flex-direction: row; flex-wrap: nowrap; -webkit-box-pack: flex-start; justify-content: flex-start; align-items: center }
.sc-ui-100perc-span-select { display: -webkit-box; display: flex; -webkit-box-flex: 1; -webkit-flex: 1; flex-grow: 1 }
.sc-ui-100perc-input { display: -webkit-box; display: flex; -webkit-box-flex: 1; -webkit-flex: 1; flex-grow: 1 }
.sc-steps { background-color: #FFFFFF; background-image: none; padding: 0; margin: 15px; border-collapse: collapse; border-color: #E0E6ED; border-style: none; border-width: 0 }
.sc-steps.is-boxed { border-style: solid; border-width: 1px }
.sc-steps.is-boxed .item + .item, .sc-steps.is-boxed .item + .item::after { border-color: #E0E6ED }
.sc-ui-form-step-done .title { color: #333; font-family: Arial, sans-serif; font-size: 13px; font-weight: bold; opacity: 1; filter: alpha(opacity=100) }
.sc-ui-form-step-done .icon { color: #333; opacity: 1; filter: alpha(opacity=100) }
.sc-steps .item.is-complete { color: #333 }
.sc-steps.is-lined .item.is-complete::before,.sc-steps.is-numbered .item.is-complete::before { background-color: #333 }
.sc-ui-form-step-done .description { color: #28a745; font-family: Arial, sans-serif; font-size: 13px; opacity: 1; filter: alpha(opacity=100) }
.sc-ui-form-step-now .title { color: #333; font-family: Arial, sans-serif; font-size: 13px; font-weight: bold; opacity: 1; filter: alpha(opacity=100) }
.sc-ui-form-step-now .icon { color: #333; opacity: 1; filter: alpha(opacity=100) }
.sc-ui-form-step-now .description { color: #727cf5; font-family: Arial, sans-serif; font-size: 13px; opacity: 1; filter: alpha(opacity=100) }
.sc-ui-form-step-next .title { color: #333; font-family: Arial, sans-serif; font-size: 13px; font-weight: bold; opacity: 0.8; filter: alpha(opacity=80) }
.sc-ui-form-step-next .icon { color: #333; opacity: 0.8; filter: alpha(opacity=80) }
.sc-ui-form-step-next .description { color: #3C4858; font-family: Arial, sans-serif; font-size: 13px; opacity: 0.8; filter: alpha(opacity=80) }
.sc-ui-form-step-todo .title { color: #333; font-family: Arial, sans-serif; font-size: 13px; font-weight: bold; opacity: 0.4; filter: alpha(opacity=40) }
.sc-ui-form-step-todo .icon { color: #333; opacity: 0.4; filter: alpha(opacity=40) }
.sc-ui-form-step-todo .description { color: #3C4858; font-family: Arial, sans-serif; font-size: 13px; opacity: 0.4; filter: alpha(opacity=40) }
