<div class="panel_top">
	<h2 class="settings_heading" data-bind="i18n: {'key': '%MODULENAME%/HEADING_SETTINGS_TAB'}"></h2>
</div>

<div class="panel_center">
	<div class="fields">
		<div class="fieldset" data-bind="visible: !isEnabledTwoFactorAuth() && !isShowSecret()">
			<div class="buttons">
				<span class="button" data-bind="click: confirmePassword" style="float: left;">
					<span data-bind="i18n: {'key': '%MODULENAME%/ACTION_ENABLE_TWOFACTORAUTH'}"></span>
				</span>
			</div>
			<div class="row">
				<div class="hint" data-bind="i18n: {'key': '%MODULENAME%/HINT_ABOUT_TWOFACTORAUTH'}"></div>
			</div>
		</div>
		<div class="fieldset" data-bind="visible: isEnabledTwoFactorAuth() && !isShowSecret()">
			<div class="buttons">
				<span class="button" data-bind="click: confirmePassword" style="float: left;">
					<span data-bind="i18n: {'key': '%MODULENAME%/ACTION_CONFIGURE'}"></span>
				</span>
			</div>
			<div class="row">
				<div class="hint" data-bind="i18n: {'key': '%MODULENAME%/HINT_ABOUT_TWOFACTORAUTH_ENABLED'}"></div>
			</div>
		</div>
		<div class="fieldset" data-bind="visible: isShowSecret()">
			<div class="buttons" data-bind="visible: isEnabledTwoFactorAuth()">
				<span class="button" data-bind="click: disable" style="float: left;">
					<span data-bind="i18n: {'key': '%MODULENAME%/ACTION_DISABLE'}"></span>
				</span>
			</div>
			<div class="row">
				<div class="hint" data-bind="i18n: {'key': '%MODULENAME%/HINT_ABOUT_TWOFACTORAUTH_USE'}"></div>
			</div>
			<div class="fieldgroup">
				<h2 data-bind="i18n: {'key': '%MODULENAME%/LABEL_QR_CODE'}"></h2>
				<span class="QRCode">
					<img data-bind="attr: {src: QRCodeSrc}" />
				</span>
			</div>
			<div class="fieldgroup">
				<h2 data-bind="i18n: {'key': '%MODULENAME%/LABEL_SECRET_KEY'}"></h2>
				<span class="secret" data-bind="text: secret"></span>
			</div>
			<div class="fieldgroup">
				<div class="hint" data-bind="i18n: {'key': '%MODULENAME%/HINT_PIN_DESCRIPTION'}"></div>
				<span class="label" data-bind="i18n: {'key': '%MODULENAME%/LABEL_PIN'}"></span>
				<input id="pin" class="value input" type="text" data-bind="value: pin, onEnter: validatePin">
				<div class="buttons">
					<span class="button" data-bind="click: validatePin, visible: !isValidatingPin()">
						<span data-bind="i18n: {'key': 'COREWEBCLIENT/ACTION_SAVE'}"></span>
					</span>
					<span class="button" data-bind="visible: isValidatingPin()">
						<span data-bind="i18n: {'key': 'COREWEBCLIENT/ACTION_SAVE_IN_PROGRESS'}"></span>
					</span>
				</div>
			</div>
		</div>
	</div>
</div>
