.css_f_fechaven_label {text-align:center;vertical-align:middle;justify-content:center;font-weight:bold;}
.css_f_fechaven_grid_line {vertical-align: top;text-align: center;}
.css_documento_label {text-align:left;vertical-align:middle;justify-content:left;font-weight:bold;}
.css_documento_grid_line {vertical-align: top;text-align: right;}
.css_cliente_label {text-align:left;vertical-align:middle;justify-content:left;font-weight:bold;}
.css_cliente_grid_line {vertical-align: top;text-align: right;}
.css_f_total_label {text-align:right;vertical-align:middle;justify-content:right;font-weight:bold;}
.css_f_total_grid_line {vertical-align: top;text-align: right;}
.css_fp_label {text-align:left;vertical-align:middle;justify-content:left;font-weight:bold;}
.css_fp_grid_line {vertical-align: top;text-align: right;}
.css_vencimiento_label {text-align:center;vertical-align:middle;justify-content:center;font-weight:bold;}
.css_vencimiento_grid_line {vertical-align: top;text-align: center;}
