.css_idaplicacion__label {text-align:right;}
.css_idaplicacion__line {text-align:left;}
.css_idaplicacion__obj {text-align:left;}
.css_item_menu__label { }
.css_item_menu__line { }
.css_item_menu__obj { }
.css_nombre__label { }
.css_nombre__line { }
.css_nombre__obj { }
.css_descripcion__label { }
.css_descripcion__line { }
.css_descripcion__obj { }
.css_imagen__label { }
.css_imagen__line { }
.css_imagen__obj { }
.css_modulo__label { }
.css_modulo__line { }
.css_modulo__obj { }
