.css_t_documento_label {text-align:left;vertical-align:middle;justify-content:left;font-weight:bold;}
.css_t_documento_grid_line {vertical-align: top;text-align: right;}
.css_t_dv_label {text-align:right;vertical-align:middle;justify-content:right;font-weight:bold;}
.css_t_dv_grid_line {vertical-align: top;text-align: right;}
.css_t_nombres_label {text-align:left;vertical-align:middle;justify-content:left;font-weight:bold;}
.css_t_nombres_grid_line {vertical-align: top;text-align: right;}
.css_tns_label {text-align:;vertical-align:middle;justify-content:;font-weight:bold;}
.css_tns_grid_line {text-align: center;}
