.css_numero_rc_label {text-align:right;vertical-align:middle;justify-content:right;font-weight:bold;}
.css_numero_rc_grid_line {vertical-align: top;text-align: right;}
.css_fecha_rc_label {text-align:center;vertical-align:middle;justify-content:center;font-weight:bold;}
.css_fecha_rc_grid_line {vertical-align: top;text-align: center;}
.css_contrato_label {text-align:right;vertical-align:middle;justify-content:right;font-weight:bold;}
.css_contrato_grid_line {vertical-align: top;text-align: right;}
.css_tercero_label {text-align:left;vertical-align:middle;justify-content:left;font-weight:bold;}
.css_tercero_grid_line {vertical-align: top;text-align: right;}
.css_monto_rc_label {text-align:right;vertical-align:middle;justify-content:right;font-weight:bold;}
.css_monto_rc_grid_line {vertical-align: top;text-align: right;}
.css_monto_rc_tot_ger {text-align: right;}
.css_imprimir_label {text-align:center;vertical-align:middle;justify-content:center;font-weight:bold;}
.css_imprimir_grid_line {vertical-align: middle;text-align: center;}
.css_id_recibo_label {text-align:right;vertical-align:middle;justify-content:right;font-weight:bold;}
.css_id_recibo_grid_line {vertical-align: top;text-align: right;}
