.scMenuHHeader { background-color: #FF6699; background-image: none; opacity: 1; filter: alpha(opacity=100) }
_:-ms-lang(x), .ie10up, .scMenuHHeader { border-collapse: separate }
.scMenuHHeaderFont { color: #FFFFFF; font-family: Arial, sans-serif; font-size: 12px; text-shadow: none; font-weight: bold; padding: 0; text-decoration: none }
.ui-body-a, .ui-overlay-a, .ui-body-c, .ui-overlay-c { background-color: #F9EBE7; background-image: none; opacity: 1; filter: alpha(opacity=100) }
.ui-bar-b { color: #FFFFFF; font-family: Arial, sans-serif; font-size: 12px; font-weight: bold; padding: 0; text-decoration: none; background-color: #FF6699; background-image: none; opacity: 1; filter: alpha(opacity=100) }
.ui-btn-up-a { background-color: #F9EBE7; background-image: none; opacity: 1; filter: alpha(opacity=100); font-family: Arial, sans-serif; font-size: 12px; text-shadow: none; color: #666666; text-decoration: none; font-style: normal }
.ui-btn-up-a:visited, .ui-btn-up-a a.ui-link-inherit { color: #666666 }
.ui-btn-hover-a { background-color: #F9EBE7; background-image: none; opacity: 1; filter: alpha(opacity=100); font-family: Arial, sans-serif; font-size: 12px; text-shadow: none; color: #666666; text-decoration: none; font-style: normal }
.ui-btn-hover-a:visited, .ui-btn-hover-a:hover, .ui-btn-hover-a a.ui-link-inherit { color: css_menu_menu_sel_color; background-color: css_menu_menu_sel_background_color }
