.css_idlog_movil_label {text-align:right;vertical-align:middle;justify-content:right;font-weight:bold;}
.css_idlog_movil_grid_line {vertical-align: top;text-align: right;}
.css_funcion_label {text-align:left;vertical-align:middle;justify-content:left;font-weight:bold;}
.css_funcion_grid_line {vertical-align: top;text-align: left;}
.css_log_label {text-align:left;vertical-align:middle;justify-content:left;font-weight:bold;}
.css_log_grid_line {vertical-align: top;text-align: left;}
.css_creado_label {text-align:center;vertical-align:middle;justify-content:center;font-weight:bold;}
.css_creado_grid_line {vertical-align: top;text-align: center;}
