.css_nombre_empresa_label {text-align:left;vertical-align:middle;justify-content:left;font-weight:bold;}
.css_nombre_empresa_grid_line {vertical-align: top;text-align: right;}
.css_creada_label {text-align:center;vertical-align:middle;justify-content:center;font-weight:bold;}
.css_creada_grid_line {vertical-align: top;text-align: center;}
.css_copiada_como_label {text-align:left;vertical-align:middle;justify-content:left;font-weight:bold;}
.css_copiada_como_grid_line {vertical-align: top;text-align: right;}
.css_sinmovimiento_label {text-align:left;vertical-align:middle;justify-content:left;font-weight:bold;}
.css_sinmovimiento_grid_line {vertical-align: top;text-align: center;}
.css_tipo_negocio_label {text-align:left;vertical-align:middle;justify-content:left;font-weight:bold;}
.css_tipo_negocio_grid_line {vertical-align: top;text-align: right;}
.css_predeterminada_label {text-align:left;vertical-align:middle;justify-content:left;font-weight:bold;}
.css_predeterminada_grid_line {vertical-align: top;text-align: right;}
.css_nomina_label {text-align:left;vertical-align:middle;justify-content:left;font-weight:bold;}
.css_nomina_grid_line {vertical-align: top;text-align: right;}
.css_codempresa_label {text-align:left;vertical-align:middle;justify-content:left;font-weight:bold;}
.css_codempresa_grid_line {vertical-align: top;text-align: right;}
.css_idempresa_label {text-align:right;vertical-align:middle;justify-content:right;font-weight:bold;}
.css_idempresa_grid_line {vertical-align: top;text-align: right;}
.css_nombre_label {text-align:left;vertical-align:middle;justify-content:left;font-weight:bold;}
.css_nombre_grid_line {vertical-align: top;text-align: right;}
.css_observaciones_label {text-align:left;vertical-align:middle;justify-content:left;font-weight:bold;}
.css_observaciones_grid_line {vertical-align: top;text-align: right;}
.css_actualizada_label {text-align:center;vertical-align:middle;justify-content:center;font-weight:bold;}
.css_actualizada_grid_line {vertical-align: top;text-align: center;}
