.css_nombres_label {text-align:left;vertical-align:middle;justify-content:left;font-weight:bold;}
.css_nombres_grid_line {vertical-align: middle;text-align: left;}
.css_documento_label {text-align:left;vertical-align:middle;justify-content:left;font-weight:bold;}
.css_documento_grid_line {vertical-align: middle;text-align: left;}
.css_direccion_label {text-align:left;vertical-align:middle;justify-content:left;font-weight:bold;}
.css_direccion_grid_line {vertical-align: middle;text-align: left;}
.css_idmuni_label {text-align:left;vertical-align:middle;justify-content:left;font-weight:bold;}
.css_idmuni_grid_line {vertical-align: middle;text-align: left;}
.css_telefonos_prov_label {text-align:left;vertical-align:middle;justify-content:left;font-weight:bold;}
.css_telefonos_prov_grid_line {vertical-align: middle;text-align: left;}
.css_email_label {text-align:left;vertical-align:middle;justify-content:left;font-weight:bold;}
.css_email_grid_line {font-weight:bold;vertical-align: middle;text-align: left;}
.css_contacto_label {text-align:left;vertical-align:middle;justify-content:left;font-weight:bold;}
.css_contacto_grid_line {vertical-align: middle;text-align: left;}
.css_creditoprov_label {text-align:center;vertical-align:middle;justify-content:center;font-weight:bold;}
.css_creditoprov_grid_line {vertical-align: middle;text-align: center;}
.css_fechultcomp_label {text-align:center;vertical-align:middle;justify-content:center;font-weight:bold;}
.css_fechultcomp_grid_line {vertical-align: middle;text-align: center;}
.css_autoretenedor_label {text-align:center;vertical-align:middle;justify-content:center;font-weight:bold;}
.css_autoretenedor_grid_line {vertical-align: middle;text-align: center;}
.css_idtercero_label {text-align:right;vertical-align:middle;justify-content:right;font-weight:bold;}
.css_idtercero_grid_line {vertical-align: top;text-align: right;}
