.css_t_documento_label {text-align:left;vertical-align:middle;justify-content:left;font-weight:bold;}
.css_t_documento_grid_line {vertical-align: top;text-align: right;}
.css_cliente_label {text-align:left;vertical-align:middle;justify-content:left;font-weight:bold;}
.css_cliente_grid_line {vertical-align: top;text-align: right;}
.css_fecha_label {text-align:center;vertical-align:middle;justify-content:center;font-weight:bold;}
.css_fecha_grid_line {vertical-align: top;text-align: center;}
.css_factura_label {text-align:left;vertical-align:middle;justify-content:left;font-weight:bold;}
.css_factura_grid_line {vertical-align: top;text-align: right;}
.css_f_subtotal_label {text-align:right;vertical-align:middle;justify-content:right;font-weight:bold;}
.css_f_subtotal_grid_line {vertical-align: top;text-align: right;}
.css_f_subtotal_sub_tot {text-align: right;}
.css_f_subtotal_tot_ger {text-align: right;}
.css_f_valoriva_label {text-align:right;vertical-align:middle;justify-content:right;font-weight:bold;}
.css_f_valoriva_grid_line {vertical-align: top;text-align: right;}
.css_f_valoriva_sub_tot {text-align: right;}
.css_f_valoriva_tot_ger {text-align: right;}
.css_f_total_label {text-align:right;vertical-align:middle;justify-content:right;font-weight:bold;}
.css_f_total_grid_line {vertical-align: top;text-align: right;}
.css_f_total_sub_tot {text-align: right;}
.css_f_total_tot_ger {text-align: right;}
