.css_ccnit_label {text-align:left;vertical-align:middle;justify-content:left;font-weight:bold;}
.css_ccnit_grid_line {vertical-align: top;text-align: left;}
.css_nombre_razonsocial_label {text-align:left;vertical-align:middle;justify-content:left;font-weight:bold;}
.css_nombre_razonsocial_grid_line {vertical-align: top;text-align: left;}
.css_celular_label {text-align:left;vertical-align:middle;justify-content:left;font-weight:bold;}
.css_celular_grid_line {vertical-align: top;text-align: left;}
.css_correo_label {text-align:left;vertical-align:middle;justify-content:left;font-weight:bold;}
.css_correo_grid_line {vertical-align: top;text-align: left;}
.css_activo_label {text-align:left;vertical-align:middle;justify-content:left;font-weight:bold;}
.css_activo_grid_line {vertical-align: top;text-align: left;}
.css_creado_label {text-align:center;vertical-align:middle;justify-content:center;font-weight:bold;}
.css_creado_grid_line {vertical-align: top;text-align: center;}
.css_editado_label {text-align:center;vertical-align:middle;justify-content:center;font-weight:bold;}
.css_editado_grid_line {vertical-align: top;text-align: center;}
