.css_codigo_label { }
.css_codigo_line { }
.css_codigo_obj { }
.css_descripcion_label { }
.css_descripcion_line { }
.css_descripcion_obj { }
.css_puc_inventario_label { }
.css_puc_inventario_line {text-align:left;}
.css_puc_inventario_obj {text-align:left;}
.css_puc_devolucion_compra_label { }
.css_puc_devolucion_compra_line {text-align:left;}
.css_puc_devolucion_compra_obj {text-align:left;}
.css_puc_ingresos_label { }
.css_puc_ingresos_line {text-align:left;}
.css_puc_ingresos_obj {text-align:left;}
.css_puc_devolucion_ventas_label { }
.css_puc_devolucion_ventas_line {text-align:left;}
.css_puc_devolucion_ventas_obj {text-align:left;}
.css_puc_costo_ventas_label { }
.css_puc_costo_ventas_line {text-align:left;}
.css_puc_costo_ventas_obj {text-align:left;}
.css_puc_ingresos_terceros_label { }
.css_puc_ingresos_terceros_line { }
.css_puc_ingresos_terceros_obj { }
