.css_producto_label {text-align:left;vertical-align:middle;justify-content:left;font-weight:bold;}
.css_producto_grid_line {vertical-align: top;text-align: right;}
.css_bd_label {text-align:left;vertical-align:middle;justify-content:left;font-weight:bold;}
.css_bd_grid_line {vertical-align: top;text-align: right;}
.css_cant_label {text-align:right;vertical-align:middle;justify-content:right;font-weight:bold;}
.css_cant_grid_line {vertical-align: top;text-align: right;}
.css_precio_label {text-align:right;vertical-align:middle;justify-content:right;font-weight:bold;}
.css_precio_grid_line {vertical-align: top;text-align: right;}
.css_total_label {text-align:right;vertical-align:middle;justify-content:right;font-weight:bold;}
.css_total_grid_line {vertical-align: top;text-align: right;}
.css_iva_label {text-align:right;vertical-align:middle;justify-content:right;font-weight:bold;}
.css_iva_grid_line {vertical-align: top;text-align: right;}
.css_d_descuento_label {text-align:right;vertical-align:middle;justify-content:right;font-weight:bold;}
.css_d_descuento_grid_line {vertical-align: top;text-align: right;}
.css_d_kardexid_label {text-align:right;vertical-align:middle;justify-content:right;font-weight:bold;}
.css_d_kardexid_grid_line {vertical-align: top;text-align: right;}
