.css_codigo_label {text-align:left;vertical-align:middle;justify-content:left;font-weight:bold;}
.css_codigo_grid_line {vertical-align: top;text-align: left;}
.css_descripcion_label {text-align:left;vertical-align:middle;justify-content:left;font-weight:bold;}
.css_descripcion_grid_line {vertical-align: top;text-align: left;}
.css_id_visita_concepto_label {text-align:right;vertical-align:middle;justify-content:right;font-weight:bold;}
.css_id_visita_concepto_grid_line {vertical-align: top;text-align: right;}
.css_codigo_empresa_label {text-align:left;vertical-align:middle;justify-content:left;font-weight:bold;}
.css_codigo_empresa_grid_line {vertical-align: top;text-align: left;}
