ul#css3menu1,ul#css3menu1 ul{
	margin:0;list-style:none;padding:0;background-color:none;border-width:0;border-style:solid;border-color:;}
ul#css3menu1 ul{
	display:none;position:absolute;left:0;top:100%;background-color:#3F3F3F;border-radius:0px;-moz-border-radius:0px;-webkit-border-radius:0px;padding:0;}
ul#css3menu1 li:hover>*{
	display:block;}
ul#css3menu1 li{
	position:relative;display:block;white-space:nowrap;font-size:0;float:left;}
ul#css3menu1 li:hover{
	z-index:1;}
ul#css3menu1 ul ul{
	position:absolute;left:100%;top:0;-moz-box-shadow:#585858 0px 0px 1px;-webkit-box-shadow:#585858 0px 0px 1px;box-shadow:#585858 0px 0px 1px;}
ul#css3menu1{
	font-size:0;z-index:999;position:relative;display:inline-block;zoom:1;padding:0;border-radius:0px;-moz-border-radius:0px;-webkit-border-radius:0px;
	*display:inline;}
* html ul#css3menu1 li a{
	display:inline-block;}
ul#css3menu1>li{
	margin:0;}
ul#css3menu1 a:active, ul#css3menu1 a:focus{
	outline-style:none;}
ul#css3menu1 a{
	display:block;vertical-align:middle;text-decoration:none;font-family:Lucida Console, Arial, sans-serif;font-size:14px;font-weight:normal;font-style:none;color:#AAAAAA;cursor:pointer;padding:23px 18px 26px;background-color:;background-repeat:repeat;border-width:0px;border-style:none;border-color:;}
ul#css3menu1 ul li{
	float:none;margin:0;}
ul#css3menu1 ul a{
	text-align:left;padding:8px 15px;background-color:#3F3F3F;border-width:0 0 1px 0;border-style:solid;border-color:#4A4A4A;border-radius:0px;-moz-border-radius:0px;-webkit-border-radius:0px;font-family:Open Sans,Arial,sans-serif;font-size:13px;font-weight:normal;font-style:none;color:#AAAAAA;text-decoration:none;}
ul#css3menu1 li:hover>a,ul#css3menu1 li a.pressed{
	border-style:none;color:#FFFFFF;text-decoration:none;}
ul#css3menu1 ul span{
	background-image:none;padding-right:8px;}
ul#css3menu1 ul li:hover>a,ul#css3menu1 ul li a.pressed{
	background-color:#2DB2EA;border-style:solid;border-color:#4A4A4A;color:#FFFFFF;text-decoration:none;}
ul#css3menu1 li.topmenu>a{
	background-color:#363636;border-width:3px 0 0 0;border-style:solid;border-color:transparent transparent transparent transparent;border-radius:0px;-moz-border-radius:0px;-webkit-border-radius:0px;}
ul#css3menu1 li.topmenu:hover>a,ul#css3menu1 li.topmenu a.pressed{
	background-color:#92D1C8;border-style:solid;border-color:#2DB2EA transparent transparent transparent;}
ul#css3menu1 li.sublast>a{
	border-width:0px;}
ul#css3menu1 img {
    border: none; vertical-align: middle; margin-right: 10px;}
.scdisabledmain{
 color:#666666 !important;
}
.scdisabledsub{
 color:#999999 !important;
}
.scMenuHTableCssAlt{
 background-color:#363636;background-repeat:repeat;
}