ul#css3menu1,ul#css3menu1 ul{
	margin:0;list-style:none;padding:0;background-color:#024b83;background-image:-o-linear-gradient(-90deg,rgba(214,214,214,0.16),rgba(0,0,0,0) 50%,rgba(0,0,0,0.13)); background-image:-moz-linear-gradient(-90deg,rgba(214,214,214,0.16),rgba(0,0,0,0) 50%,rgba(0,0,0,0.13));   background-image:linear-gradient(180deg,rgba(214,214,214,0.16),rgba(0,0,0,0) 50%,rgba(0,0,0,0.13));  background-image:-webkit-linear-gradient(-90deg,rgba(214,214,214,0.16),rgba(0,0,0,0) 50%,rgba(0,0,0,0.13));background-repeat:repeat;border-width:0;border-style:solid;border-color:;}
ul#css3menu1 ul{
	display:none;position:absolute;left:0;top:100%;background-color:#005da1;background-image:-o-linear-gradient(-90deg,rgba(0,0,0,0),rgba(0,0,0,0) 80%,rgba(0,0,0,0.14) 90%,rgba(0,0,0,0.29)); background-image:-moz-linear-gradient(-90deg,rgba(0,0,0,0),rgba(0,0,0,0) 80%,rgba(0,0,0,0.14) 90%,rgba(0,0,0,0.29));   background-image:linear-gradient(180deg,rgba(0,0,0,0),rgba(0,0,0,0) 80%,rgba(0,0,0,0.14) 90%,rgba(0,0,0,0.29));  background-image:-webkit-linear-gradient(-90deg,rgba(0,0,0,0),rgba(0,0,0,0) 80%,rgba(0,0,0,0.14) 90%,rgba(0,0,0,0.29));border-radius:0 5px 5px 5px;-moz-border-radius:0 5px 5px 5px;-webkit-border-radius:0;-webkit-border-top-right-radius:5px;-webkit-border-bottom-right-radius:5px;-webkit-border-bottom-left-radius:5px;-ms-filter:"progid:DXImageTransform.Microsoft.Alpha(Opacity=100)";opacity:1;filter:alpha(opacity=100);padding:6px 0 20px;}
ul#css3menu1 li:hover>*{
	display:block;}
ul#css3menu1 li{
	position:relative;display:block;white-space:nowrap;font-size:0;float:left;}
ul#css3menu1 li:hover{
	z-index:1;}
ul#css3menu1 ul ul{
	position:absolute;left:100%;top:0;border-radius:5px;-moz-border-radius:5px;-webkit-border-radius:5px;-moz-box-shadow:0px 0px 2px #999999;-webkit-box-shadow:0px 0px 2px #999999;box-shadow:0px 0px 2px #999999;}
ul#css3menu1{
	font-size:0;z-index:999;position:relative;display:inline-block;zoom:1;padding:5px;border-radius:0px;-moz-border-radius:0px;-webkit-border-radius:0px;
	*display:inline;}
* html ul#css3menu1 li a{
	display:inline-block;}
ul#css3menu1>li{
	margin:0;}
ul#css3menu1 a:active, ul#css3menu1 a:focus{
	outline-style:none;}
ul#css3menu1 a{
	display:block;vertical-align:middle;text-align:left;text-decoration:none;font-family:Calibri,Trebuchet MS,sans-serif;font-size:18px;font-weight:normal;font-style:none;color:#ffffff;text-shadow:#222222 0 1px 0;cursor:default;padding:10px 20px;background-color:;background-repeat:repeat;border-width:0px;border-style:none;border-color:;}
ul#css3menu1 ul li{
	float:none;margin:0;}
ul#css3menu1 ul a{
	text-align:left;padding:4px 10px;background-color:#005da1;border-radius:0px;-moz-border-radius:0px;-webkit-border-radius:0px;font-family:"Trebuchet MS",Arial,Helvetica,sans-serif;font-size:14px;font-weight:normal;font-style:none;color:#ffffff;text-decoration:none;}
ul#css3menu1 li:hover>a,ul#css3menu1 li a.pressed{
	border-style:none;color:#c0fff8;text-shadow:#222222 0 1px 0;text-decoration:none;}
ul#css3menu1 ul span{
	background-image:none;padding-right:4px;}
ul#css3menu1 ul li:hover>a,ul#css3menu1 ul li a.pressed{
	background-color:#409720;background-image:-o-linear-gradient(-90deg,rgba(214,214,214,0.27),rgba(255,255,255,0) 50%,rgba(0,0,0,0.27)); background-image:-moz-linear-gradient(-90deg,rgba(214,214,214,0.27),rgba(255,255,255,0) 50%,rgba(0,0,0,0.27));   background-image:linear-gradient(180deg,rgba(214,214,214,0.27),rgba(255,255,255,0) 50%,rgba(0,0,0,0.27));  background-image:-webkit-linear-gradient(-90deg,rgba(214,214,214,0.27),rgba(255,255,255,0) 50%,rgba(0,0,0,0.27));color:#ffffff;text-decoration:none;filter:progid:DXImageTransform.Microsoft.gradient(gradientType=0,startColorstr=#44d6d6d6,endColorstr=#44000000)}
ul#css3menu1 li.toproot>a{
	background-color:;border-radius:5px 5px 0 0;-moz-border-radius:5px 5px 0 0;-webkit-border-radius:5px;-webkit-border-bottom-right-radius:0;-webkit-border-bottom-left-radius:0;}
ul#css3menu1 li.toproot:hover>a,ul#css3menu1 li.toproot a.pressed{
	background-color:#005da1;background-image:-o-linear-gradient(-90deg,rgba(255,255,255,0.51),rgba(255,255,255,0.3) 8px,rgba(255,255,255,0.22) 12px,rgba(255,255,255,0)); background-image:-moz-linear-gradient(-90deg,rgba(255,255,255,0.51),rgba(255,255,255,0.3) 8px,rgba(255,255,255,0.22) 12px,rgba(255,255,255,0));   background-image:linear-gradient(180deg,rgba(255,255,255,0.51),rgba(255,255,255,0.3) 8px,rgba(255,255,255,0.22) 12px,rgba(255,255,255,0));  background-image:-webkit-linear-gradient(-90deg,rgba(255,255,255,0.51),rgba(255,255,255,0.3) 8px,rgba(255,255,255,0.22) 12px,rgba(255,255,255,0));filter:progid:DXImageTransform.Microsoft.gradient(gradientType=0,startColorstr=#83FFFFFF,endColorstr=#00FFFFFF)}
ul#css3menu1 img {
    border: none; vertical-align: middle; margin-right: 10px;}
.scdisabledmain{
 color:#888888 !important;
}
.scdisabledsub{
 color:#888888 !important;
}
.scMenuHTableCssAlt{
 background-image:url("/scriptcase/devel/conf/grp/FACILWEBv_2022/img/bg/MASCOTE_SALLO.png");background-color:#024b83;background-repeat:no-repeat;
}
