ul#css3menu1,ul#css3menu1 ul{
	margin:0;list-style:none;padding:0;background-color:#FFFFFF;border-width:1px;border-style:solid;border-color:#515253 #3D3E3F #2B2B2C #3D3E3F;border-radius:2px;-moz-border-radius:2px;-webkit-border-radius:2px;}
ul#css3menu1 ul{
	display:none;position:absolute;right:0;top:97%;-moz-box-shadow:3.5px 3.5px 3px #333;-webkit-box-shadow:3.5px 3.5px 3px #333;box-shadow:3.5px 3.5px 3px #333;background-color:#429adb;border-width:1px;border-radius:0 0 2px 2px;-moz-border-radius:0 0 2px 2px;-webkit-border-radius:0;-webkit-border-bottom-right-radius:2px;-webkit-border-bottom-left-radius:2px;-webkit-border-bottom-right-radius:6px;-webkit-border-bottom-left-radius:6px;border-style:solid;border-color:#429ADB #357BAF #357BAF #357BAF;padding:6px 5px 11px;-ms-filter:"progid:DXImageTransform.Microsoft.Alpha(Opacity=100)";opacity:1;filter:alpha(opacity=100);}
ul#css3menu1 li:hover>*{
	display:block;}
ul#css3menu1 li{
	position:relative;display:block;white-space:nowrap;font-size:0;float:right;}
ul#css3menu1 li:hover{
	z-index:1;}
ul#css3menu1 ul ul{
	position:absolute;right:100%;top:-1px;border-radius:6px;-moz-border-radius:6px;-webkit-border-radius:6px;}
ul#css3menu1{
	font-size:0;z-index:999;position:relative;display:inline-block;zoom:1;padding:5px 11px 5px 6px;
	*display:inline;}
* html ul#css3menu1 li a{
	display:inline-block;}
ul#css3menu1>li{
	margin:0 0 0 5px;}
ul#css3menu1 ul>li{
	margin:5px 0 0;}
ul#css3menu1 a:active, ul#css3menu1 a:focus{
	outline-style:none;}
ul#css3menu1 a{
	display:block;vertical-align:middle;text-decoration:none;font-family:Avenir 85 Heavy,Arial,Helvetica;font-size:13px;font-weight:normal;font-style:none;color:#000000;text-shadow:#1E4460 0px -1px 1px;cursor:pointer;padding:16px;background-color:#FFFFFF;background-image:-o-linear-gradient(-90deg,rgba(255,255,255,0),rgba(0,0,0,0.03)); background-image:-moz-linear-gradient(-90deg,rgba(255,255,255,0),rgba(0,0,0,0.03));   background-image:linear-gradient(180deg,rgba(255,255,255,0),rgba(0,0,0,0.03));  background-image:-webkit-linear-gradient(-90deg,rgba(255,255,255,0),rgba(0,0,0,0.03));background-repeat:repeat;background-position:0 0;border-width:1px;border-style:solid;border-color:#3D3E3F;filter:progid:DXImageTransform.Microsoft.gradient(gradientType=0,startColorstr=#00FFFFFF,endColorstr=#08000000)}
ul#css3menu1 ul li{
	float:none;margin:5px 0 0;}
ul#css3menu1 ul a{
	text-align:right;padding:7px;background-color:#429adb;background-image:-o-linear-gradient(-90deg,rgba(84,162,218,1),rgba(65,151,214,0)); background-image:-moz-linear-gradient(-90deg,rgba(84,162,218,1),rgba(65,151,214,0));   background-image:linear-gradient(180deg,rgba(84,162,218,1),rgba(65,151,214,0));  background-image:-webkit-linear-gradient(-90deg,rgba(84,162,218,1),rgba(65,151,214,0));background-position:0 0;border-width:1;border-style:solid;border-color:#7BB8E6 #357BAF #357BAF #7BB8E6;border-radius:0px;-moz-border-radius:0px;-webkit-border-radius:0px;font-family:Avenir 85 Heavy,Arial,Helvetica;font-size:13px;font-weight:normal;font-style:none;color:#ffffff;text-decoration:none;filter:progid:DXImageTransform.Microsoft.gradient(gradientType=0,startColorstr=#FF54A2DA,endColorstr=#004197D6)}
ul#css3menu1 li:hover>a,ul#css3menu1 li a.pressed{
	background-color:#429adb;border-color:#86BEE8 #5EA9E0 #3D3E3F #5EA9E0;border-style:solid;color:#ffffff;text-shadow:#1E4460 0px -1px 1px;background-image:-o-linear-gradient(-90deg,rgba(112,179,228,1),rgba(66,154,219,0)); background-image:-moz-linear-gradient(-90deg,rgba(112,179,228,1),rgba(66,154,219,0));   background-image:linear-gradient(180deg,rgba(112,179,228,1),rgba(66,154,219,0));  background-image:-webkit-linear-gradient(-90deg,rgba(112,179,228,1),rgba(66,154,219,0));background-position:0 100%;text-decoration:none;filter:progid:DXImageTransform.Microsoft.gradient(gradientType=0,startColorstr=#FF70B3E4,endColorstr=#00429ADB)}
ul#css3menu1 span{
	display:block;overflow:visible;background-position:left center;background-repeat:no-repeat;padding-left:0px;}
ul#css3menu1 ul span{
	background-image:url('../../img/theme_menu_arrowsub_3.png');padding-left:15px;}
ul#css3menu1 ul li:hover>a,ul#css3menu1 ul li a.pressed{
	background-color:#3983BB;background-image:-o-linear-gradient(-90deg,rgba(63,146,208,1),rgba(57,131,187,0)); background-image:-moz-linear-gradient(-90deg,rgba(63,146,208,1),rgba(57,131,187,0));   background-image:linear-gradient(180deg,rgba(63,146,208,1),rgba(57,131,187,0));  background-image:-webkit-linear-gradient(-90deg,rgba(63,146,208,1),rgba(57,131,187,0));background-position:0 100%;border-style:solid;border-color:#357BAF #7BB8E6 #7BB8E6 #357BAF;color:#FFFFFF;text-decoration:none;filter:progid:DXImageTransform.Microsoft.gradient(gradientType=0,startColorstr=#FF3F92D0,endColorstr=#003983BB)}
ul#css3menu1 li.topmenu>a{
	border-radius:0px;-moz-border-radius:0px;-webkit-border-radius:0px;}
ul#css3menu1 img {
    border: none; vertical-align: middle; margin-right: 10px;}
.scdisabledmain{
 color:#888888 !important;
}
.scdisabledsub{
 color:#333333 !important;
}
.scMenuHTableCssAlt{
 background-color:#FFFFFF;
}
