ul#css3menu1,ul#css3menu1 ul{
	margin:0;list-style:none;padding:0;background-color:#FFFFFF;border-width:0;border-style:solid;border-color:;}
ul#css3menu1 ul{
	display:none;position:absolute;left:0;top:100%;background-color:#F5F4EB;border-radius:0 0px 0px 0px;-moz-border-radius:0 0px 0px 0px;-webkit-border-radius:0;-webkit-border-top-right-radius:0px;-webkit-border-bottom-right-radius:0px;-webkit-border-bottom-left-radius:0px;-ms-filter:"progid:DXImageTransform.Microsoft.Alpha(Opacity=100)";opacity:1;filter:alpha(opacity=100);padding:10px 1px 11px;}
ul#css3menu1 li:hover>*{
	display:block;}
ul#css3menu1 li{
	position:relative;display:block;white-space:nowrap;font-size:0;float:left;}
ul#css3menu1 li:hover{
	z-index:1;}
ul#css3menu1 ul ul{
	position:absolute;left:100%;top:0;border-radius:6px;-moz-border-radius:6px;-webkit-border-radius:6px;}
ul#css3menu1{
	font-size:0;z-index:999;position:relative;display:inline-block;zoom:1;padding:10px 10px 10px 0;border-radius:0px;-moz-border-radius:0px;-webkit-border-radius:0px;
	*display:inline;}
* html ul#css3menu1 li a{
	display:inline-block;}
ul#css3menu1>li{
	margin:0 0 0 10px;}
ul#css3menu1 ul>li{
	margin:10px 0 0;}
ul#css3menu1 a:active, ul#css3menu1 a:focus{
	outline-style:none;}
ul#css3menu1 a{
	display:block;vertical-align:middle;text-decoration:none;font-family:Times, serif;font-size:20px;font-weight:normal;font-style:none;color:#000000;cursor:default;padding:8px 18px;background-color:#FFFFFF;background-repeat:repeat;border-width:0px;border-style:none;border-color:;}
ul#css3menu1 ul li{
	float:none;margin:1px 0 0;}
ul#css3menu1 ul a{
	text-align:left;padding:5px 15px;background-color:#FFFFFF;border-width:1px 0 1px 0;border-style:solid;border-color:#DCDBD3 #E9E8DF #FFFFFF #E9E8DF;border-radius:0px;-moz-border-radius:0px;-webkit-border-radius:0px;font-family:Open Sans, Arial, sans-serif;font-size:16px;font-weight:normal;font-style:none;color:#000000;text-decoration:none;text-shadow:#FFFFFF 0px 1px 1px;}
ul#css3menu1 li:hover>a,ul#css3menu1 li a.pressed{
	background-color:#66CC99;border-style:none;color:#197AED;text-decoration:none;}
ul#css3menu1 span{
	display:block;overflow:visible;background-position:right center;background-repeat:no-repeat;padding-right:0px;}
ul#css3menu1 ul span{
	background-image:url('../../img/theme_menu_arrowsub_4.png');padding-right:13px;}
ul#css3menu1 ul li:hover>a,ul#css3menu1 ul li a.pressed{
	background-color:#3399FF;border-style:solid;border-color:#D2D2C8 #E9E8DF #FFFFFF #E9E8DF;color:#FFFFFF;text-decoration:none;text-shadow:#FFFFFF 0px 1px 1px;}
ul#css3menu1 li.topmenu>a{
	border-radius:9px;-moz-border-radius:9px;-webkit-border-radius:9px;}text-shadow:#72716D 0px 1px 1px;}
ul#css3menu1 li.topmenu:hover>a,ul#css3menu1 li.topmenu a.pressed{
	text-shadow:#FFFFFF 0px 1px 1px;}
ul#css3menu1 li.toproot>a{
	border-radius:6px 6px 0 0;-moz-border-radius:6px 6px 0 0;-webkit-border-radius:6px;-webkit-border-bottom-right-radius:0;-webkit-border-bottom-left-radius:0;text-shadow:#72716D 0px 1px 1px;}
ul#css3menu1 li.toproot:hover>a,ul#css3menu1 li.toproot a.pressed{
	text-shadow:#FFFFFF 0px 1px 1px;}
ul#css3menu1 img {
    border: none; vertical-align: middle; margin-right: 10px;}
.scdisabledmain{
 
}
.scdisabledsub{
 color:#888888 !important;
}
.scMenuHTableCssAlt{
 background-color:#FFFFFF;background-repeat:no-repeat;
}
