.css_fecha_label {vertical-align:middle; font-weight:bold;text-align:left;}
.css_fecha_grid_line {color:#000000;vertical-align: top;text-align: left;}
.css_numero_label {vertical-align:middle; font-weight:bold;text-align:left;}
.css_numero_grid_line {vertical-align: middle;text-align: left;}
.css_codigo_cliente_label {vertical-align:middle; font-weight:bold;text-align:left;}
.css_codigo_cliente_grid_line {vertical-align: top;text-align: left;}
.css_zona_label {vertical-align:middle; font-weight:bold;text-align:left;}
.css_zona_grid_line {text-align: left;}
.css_direccion_label {vertical-align:middle; font-weight:bold;text-align:left;}
.css_direccion_grid_line {text-align: left;}
.css_telefono_label {vertical-align:middle; font-weight:bold;text-align:left;}
.css_telefono_grid_line {text-align: left;}
.css_estado_label {vertical-align:middle; font-weight:bold;text-align:left;}
.css_estado_grid_line {vertical-align: middle;text-align: left;}
.css_prioridad_label {vertical-align:middle; font-weight:bold;text-align:left;}
.css_prioridad_grid_line {vertical-align: middle;text-align: left;}
.css_asignado_tercero_label {vertical-align:middle; font-weight:bold;text-align:left;}
.css_asignado_tercero_grid_line {vertical-align: top;text-align: left;}
.css_observaciones_label {vertical-align:middle; font-weight:bold;text-align:left;}
.css_observaciones_grid_line {vertical-align: top;text-align: left;}
