.css_idconfprintpos_label {text-align:left;vertical-align:middle;justify-content:left;font-weight:bold;}
.css_idconfprintpos_grid_line {vertical-align: top;text-align: right;}
.css_tipo_doc_label {text-align:left;vertical-align:middle;justify-content:left;font-weight:bold;}
.css_tipo_doc_grid_line {vertical-align: top;text-align: right;}
.css_texto_tamanio_label {text-align:right;vertical-align:middle;justify-content:right;font-weight:bold;}
.css_texto_tamanio_grid_line {vertical-align: top;text-align: right;}
.css_porcentajeopx_label {text-align:left;vertical-align:middle;justify-content:left;font-weight:bold;}
.css_porcentajeopx_grid_line {vertical-align: top;text-align: right;}
.css_texto_fuente_label {text-align:left;vertical-align:middle;justify-content:left;font-weight:bold;}
.css_texto_fuente_grid_line {vertical-align: top;text-align: right;}
.css_logo_label {text-align:left;vertical-align:middle;justify-content:left;font-weight:bold;}
.css_logo_grid_line {vertical-align: top;text-align: right;}
.css_texto_cabecera_label {text-align:left;vertical-align:middle;justify-content:left;font-weight:bold;}
.css_texto_cabecera_grid_line {vertical-align: top;text-align: right;}
.css_texto_pie_label {text-align:left;vertical-align:middle;justify-content:left;font-weight:bold;}
.css_texto_pie_grid_line {vertical-align: top;text-align: right;}
.css_archo_ticket_label {text-align:right;vertical-align:middle;justify-content:right;font-weight:bold;}
.css_archo_ticket_grid_line {vertical-align: top;text-align: right;}
.css_ticket_pjopx_label {text-align:left;vertical-align:middle;justify-content:left;font-weight:bold;}
.css_ticket_pjopx_grid_line {vertical-align: top;text-align: right;}
.css_predeterminada_label {text-align:left;vertical-align:middle;justify-content:left;font-weight:bold;}
.css_predeterminada_grid_line {vertical-align: top;text-align: right;}
.css_tipo_vista_label {text-align:left;vertical-align:middle;justify-content:left;font-weight:bold;}
.css_tipo_vista_grid_line {vertical-align: top;text-align: right;}
