.css_p_codigobar_label {text-align:left;vertical-align:middle;justify-content:left;font-weight:bold;}
.css_p_codigobar_grid_line {vertical-align: top;text-align: left;}
.css_p_nompro_label {text-align:left;vertical-align:middle;justify-content:left;font-weight:bold;}
.css_p_nompro_grid_line {vertical-align: top;text-align: left;}
.css_tns_label {text-align:;vertical-align:middle;justify-content:;font-weight:bold;}
.css_tns_grid_line {text-align: left;}
