.css_documento_label {text-align:left;vertical-align:middle;justify-content:left;font-weight:bold;}
.css_documento_grid_line {vertical-align: top;text-align: left;}
.css_p_fechaven_label {text-align:left;vertical-align:middle;justify-content:left;font-weight:bold;}
.css_p_fechaven_grid_line {vertical-align: top;text-align: center;}
.css_cliente_label {text-align:left;vertical-align:middle;justify-content:left;font-weight:bold;}
.css_cliente_grid_line {vertical-align: top;text-align: left;}
.css_p_total_label {text-align:left;vertical-align:middle;justify-content:left;font-weight:bold;}
.css_p_total_grid_line {vertical-align: top;text-align: right;}
.css_asesor_label {text-align:left;vertical-align:middle;justify-content:left;font-weight:bold;}
.css_asesor_grid_line {vertical-align: top;text-align: left;}
.css_p_idpedido_label {text-align:right;vertical-align:middle;justify-content:right;font-weight:bold;}
.css_p_idpedido_grid_line {vertical-align: top;text-align: right;}
