.css_fecha_label {text-align:center;vertical-align:middle;justify-content:center;font-weight:bold;}
.css_fecha_grid_line {vertical-align: top;text-align: center;}
.css_id_tercero_label {text-align:right;vertical-align:middle;justify-content:right;font-weight:bold;}
.css_id_tercero_grid_line {vertical-align: top;text-align: right;}
.css_fecha_limite_label {text-align:center;vertical-align:middle;justify-content:center;font-weight:bold;}
.css_fecha_limite_grid_line {vertical-align: top;text-align: center;}
.css_id_estado_label {text-align:right;vertical-align:middle;justify-content:right;font-weight:bold;}
.css_id_estado_grid_line {vertical-align: top;text-align: right;}
.css_asignado_a_label {text-align:right;vertical-align:middle;justify-content:right;font-weight:bold;}
.css_asignado_a_grid_line {vertical-align: top;text-align: right;}
.css_id_usuario_label {text-align:right;vertical-align:middle;justify-content:right;font-weight:bold;}
.css_id_usuario_grid_line {vertical-align: top;text-align: right;}
.css_notificar_label {text-align:;vertical-align:middle;justify-content:;font-weight:bold;}
.css_notificar_grid_line {text-align: center;}
.css_id_label {text-align:right;vertical-align:middle;justify-content:right;font-weight:bold;}
.css_id_grid_line {vertical-align: top;text-align: right;}
.css_notas_label {text-align:left;vertical-align:middle;justify-content:left;font-weight:bold;}
.css_notas_grid_line {vertical-align: top;text-align: left;}
.css_actualizado_label {text-align:center;vertical-align:middle;justify-content:center;font-weight:bold;}
.css_actualizado_grid_line {vertical-align: top;text-align: center;}
