.css_grupo_label {text-align:left;vertical-align:middle;justify-content:left;font-weight:bold;}
.css_grupo_grid_line {vertical-align: top;text-align: right;}
.css_codigo_label {text-align:left;vertical-align:middle;justify-content:left;font-weight:bold;}
.css_codigo_grid_line {vertical-align: top;text-align: right;}
.css_descripcion_label {text-align:left;vertical-align:middle;justify-content:left;font-weight:bold;}
.css_descripcion_grid_line {vertical-align: top;text-align: right;}
.css_unidad_label {text-align:left;vertical-align:middle;justify-content:left;font-weight:bold;}
.css_unidad_grid_line {vertical-align: top;text-align: right;}
.css_existencia_label {text-align:right;vertical-align:middle;justify-content:right;font-weight:bold;}
.css_existencia_grid_line {vertical-align: top;text-align: right;}
.css_vence_label {text-align:center;vertical-align:middle;justify-content:center;font-weight:bold;}
.css_vence_grid_line {vertical-align: top;text-align: center;}
.css_lote_label {text-align:left;vertical-align:middle;justify-content:left;font-weight:bold;}
.css_lote_grid_line {vertical-align: top;text-align: right;}
