.css_codigo_banco_label { }
.css_codigo_banco_line { }
.css_codigo_banco_obj { }
.css_descripcion_label { }
.css_descripcion_line { }
.css_descripcion_obj { }
.css_comportamiento_label { }
.css_comportamiento_line { }
.css_comportamiento_obj { }
.css_cajero_label { }
.css_cajero_line { }
.css_cajero_obj { }
.css_entrada_label { }
.css_entrada_line {text-align:left;}
.css_entrada_obj {text-align:left;}
.css_salida_label { }
.css_salida_line {text-align:left;}
.css_salida_obj {text-align:left;}
.css_estado_label { }
.css_estado_line { }
.css_estado_obj { }
.css_saldo_label { }
.css_saldo_line {text-align:left;}
.css_saldo_obj {text-align:left;}
.css_puc_label { }
.css_puc_line { }
.css_puc_obj { }
.css_numero_cuenta_label { }
.css_numero_cuenta_line { }
.css_numero_cuenta_obj { }
