.scMenuHPage { margin: 0; background-color: #fafbfe; background-image: none }
.scMenuLine { background-image: none; opacity: 1; filter: alpha(opacity=100) }
.scMenuToolbar { background-color: #fff; background-image: none; opacity: 1; filter: alpha(opacity=100); border-color: #E0E6ED; border-style: none; border-width: 0; padding: 2px; margin: 0 }
.scMenuToolbarPadding { padding: 2px }
.scMenuIframe { background-color: #FFFFFF; background-image: none; opacity: 1; filter: alpha(opacity=100); border-width: 0; margin: 0; width: 100%; height: 100% }
.scMenuHTable { background-color: #FFFFFF; background-image: none; opacity: 1; filter: alpha(opacity=100) }
.scMenuHTableCss { background-color: #fff; background-image: none; opacity: 1; filter: alpha(opacity=100) }
.scMenuHHeader { background-color: #ff7f50; background-image: none; opacity: 1; filter: alpha(opacity=100); border-color: #ff7f50; border-style: solid; border-width: 1px }
_:-ms-lang(x), .ie10up, .scMenuHHeader { border-collapse: separate }
.scMenuHHeaderFont { color: #FFFFFF; font-family: Leelawadee, Ebrima, 'Bahnschrift Light', Gadugi, 'Nirmala UI', 'Segoe UI', Verdana; font-size: 13px; padding: 0; text-decoration: none }
.scMenuHFooter { background-image: none; opacity: 1; filter: alpha(opacity=100) }
.scMenuHFooterFont { color: #999999; font-family: Leelawadee, Ebrima, 'Bahnschrift Light', Gadugi, 'Nirmala UI', 'Segoe UI', Verdana; font-size: 13px; font-weight: bold; text-decoration: none }
.scMenuHItem { background-color: #FFFFFF; background-image: none; opacity: 1; filter: alpha(opacity=100); font-family: Leelawadee, Ebrima, 'Bahnschrift Light', Gadugi, 'Nirmala UI', 'Segoe UI', Verdana; font-size: 13px; color: #6c757d; padding: 3px 10px 3px 3px; text-decoration: none; font-style: normal }
.scMenuHItemDisabled { background-color: #FFFFFF; background-image: none; opacity: 1; filter: alpha(opacity=100); font-family: Leelawadee, Ebrima, 'Bahnschrift Light', Gadugi, 'Nirmala UI', 'Segoe UI', Verdana; font-size: 13px; color: #C0C0C0; padding: 3px 10px 3px 3px; text-decoration: none; font-style: normal }
.scMenuHItemOver { background-color: css_menu_menu_sel_background_color; background-image: none; opacity: 1; filter: alpha(opacity=100); font-family: Leelawadee, Ebrima, 'Bahnschrift Light', Gadugi, 'Nirmala UI', 'Segoe UI', Verdana; font-size: 13px; color: css_menu_menu_sel_color; padding: 3px 10px 3px 3px; text-decoration: none; font-style: normal }
.scMenuHSubItem { background-color: #FFFFFF; font-family: Leelawadee, Ebrima, 'Bahnschrift Light', Gadugi, 'Nirmala UI', 'Segoe UI', Verdana; font-size: 13px; color: #6c757d; padding: 3px 10px 3px 3px; text-decoration: none; font-style: normal }
.scMenuHSubItemDisabled { background-color: #FFFFFF; font-family: Leelawadee, Ebrima, 'Bahnschrift Light', Gadugi, 'Nirmala UI', 'Segoe UI', Verdana; font-size: 13px; color: #C0C0C0; padding: 3px 10px 3px 3px; text-decoration: none; font-style: normal }
.scMenuHSubItemOver { background-color: css_menu_item_sel_background_color; font-family: Leelawadee, Ebrima, 'Bahnschrift Light', Gadugi, 'Nirmala UI', 'Segoe UI', Verdana; font-size: 13px; color: css_menu_item_sel_color; padding: 3px 10px 3px 3px; text-decoration: none; font-style: normal }
.scMenuBreadcrumbLine { background-color: #F5F5F5; background-image: none; opacity: 1; filter: alpha(opacity=100); border-style: none; margin: 10px 20px; padding: 8px 15px; vertical-align: middle }
.scMenuBreadcrumbLine a { background-image: none; opacity: 1; filter: alpha(opacity=100); color: #6c757d; font-family: Leelawadee, Ebrima, 'Bahnschrift Light', Gadugi, 'Nirmala UI', 'Segoe UI', Verdana; font-size: 13px; padding: 0 5px; text-decoration: none; vertical-align: text-bottom }
.scMenuBreadcrumbLine a:hover { text-decoration: underline; color: #6c757d }
.scMenuBreadcrumbLine img { position: relative; top: 1px }
.scMenuExpand { background-image: none; opacity: 1; filter: alpha(opacity=100); position: absolute; right: 10px; top: 10px }
.scMenuCollapse { background-image: none; opacity: 1; filter: alpha(opacity=100); position: absolute; right: 10px; top: 10px; display: none }
