.css_numerodev_label {text-align:center;vertical-align:middle;justify-content:center;font-weight:bold;}
.css_numerodev_grid_line {vertical-align: middle;text-align: right;}
.css_resolucion_label {text-align:right;vertical-align:middle;justify-content:right;font-weight:bold;}
.css_resolucion_grid_line {vertical-align: top;text-align: right;}
.css_numfacven_label {text-align:center;vertical-align:middle;justify-content:center;font-weight:bold;}
.css_numfacven_grid_line {vertical-align: middle;text-align: right;}
.css_fecha_label {text-align:center;vertical-align:middle;justify-content:center;font-weight:bold;}
.css_fecha_grid_line {vertical-align: middle;text-align: center;}
.css_vunit_label {text-align:right;vertical-align:middle;justify-content:right;font-weight:bold;}
.css_vunit_grid_line {vertical-align: top;text-align: right;}
.css_iddevol_label {text-align:right;vertical-align:middle;justify-content:right;font-weight:bold;}
.css_iddevol_grid_line {vertical-align: top;text-align: right;}
.css_idinven_label {text-align:right;vertical-align:middle;justify-content:right;font-weight:bold;}
.css_idinven_grid_line {vertical-align: top;text-align: right;}
.css_idpro_label {text-align:center;vertical-align:middle;justify-content:center;font-weight:bold;}
.css_idpro_grid_line {vertical-align: middle;text-align: left;}
