

#imHeader_pluginAppObj_04 .imHeader_pluginAppObj_04_child{
    display: inline-block;
    position: relative;
    vertical-align: middle;
    box-sizing: border-box;
    width: 20px;max-width: 100%;
    background-color: transparent;
    border-style: solid;
    border-color: transparent;
    -webkit-border-top-left-radius: 5px;
    -webkit-border-top-right-radius: 5px;
    -webkit-border-bottom-right-radius: 5px;
    -webkit-border-bottom-left-radius: 5px;
    -moz-border-radius-topleft: 5px;
    -moz-border-radius-topright: 5px;
    -moz-border-radius-bottomright: 5px;
    -moz-border-radius-bottomleft: 5px;
    border-top-left-radius: 5px;
    border-top-right-radius: 5px;
    border-bottom-right-radius: 5px;
    border-bottom-left-radius: 5px;
    overflow: hidden;
}

#imHeader_pluginAppObj_04 .imHeader_pluginAppObj_04_link{
    text-decoration: none;
    height: 100%;
    width: 100%;
    display: block;
     
}

#imHeader_pluginAppObj_04 #imHeader_pluginAppObj_04_icon {
    font-size:15px;;
    color: rgba(227, 42, 83, 1);
    display: block;
    text-align: center;
    margin: auto;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

#imHeader_pluginAppObj_04 .imHeader_pluginAppObj_04_child.grow{
    -webkit-transform: perspective(1px) translateZ(0);
	transform: perspective(1px) translateZ(0);
	box-shadow: 0 0 1px transparent;
	-webkit-transition-duration: 0.3s;
	transition-duration: 0.3s;
	-webkit-transition-property: transform;
	transition-property: transform;
}

#imHeader_pluginAppObj_04 .imHeader_pluginAppObj_04_child.grow:hover{
    -webkit-transform: scale(1.1);
    transform: scale(1.1);
}

#imHeader_pluginAppObj_04 .imHeader_pluginAppObj_04_child.shrink{
  vertical-align: middle;
  -webkit-transform: perspective(1px) translateZ(0);
  transform: perspective(1px) translateZ(0);
  box-shadow: 0 0 1px transparent;
  -webkit-transition-duration: 0.3s;
  transition-duration: 0.3s;
  -webkit-transition-property: transform;
  transition-property: transform;
}

#imHeader_pluginAppObj_04 .imHeader_pluginAppObj_04_child.shrink:hover{
  -webkit-transform: scale(0.9);
  transform: scale(0.9);
}

/* SHAKE */
/* Buzz Out */
@-webkit-keyframes hvr-buzz-out {
  20% {
    -webkit-transform: translateX(-3px) rotate(-2deg);
    transform: translateX(-3px) rotate(-2deg);
  }
  40% {
    -webkit-transform: translateX(3px) rotate(2deg);
    transform: translateX(3px) rotate(2deg);
  }
  
  60% {
    -webkit-transform: translateX(-2px) rotate(-1deg);
    transform: translateX(-2px) rotate(-1deg);
  }
  
  80% {
    -webkit-transform: translateX(2px) rotate(1deg);
    transform: translateX(2px) rotate(1deg);
  }
  100% {
    -webkit-transform: translateX(-1px) rotate(0);
    transform: translateX(-1px) rotate(0);
  }
}
@keyframes hvr-buzz-out {

  20% {
    -webkit-transform: translateX(-3px) rotate(-2deg);
    transform: translateX(-3px) rotate(-2deg);
  }
  40% {
    -webkit-transform: translateX(3px) rotate(2deg);
    transform: translateX(3px) rotate(2deg);
  }
  
  60% {
    -webkit-transform: translateX(-2px) rotate(-1deg);
    transform: translateX(-2px) rotate(-1deg);
  }
  
  80% {
    -webkit-transform: translateX(2px) rotate(1deg);
    transform: translateX(2px) rotate(1deg);
  }
  100% {
    -webkit-transform: translateX(-1px) rotate(0);
    transform: translateX(-1px) rotate(0);
  }
}

#imHeader_pluginAppObj_04 .imHeader_pluginAppObj_04_child.shake{
  vertical-align: middle;
  -webkit-transform: perspective(1px) translateZ(0);
  transform: perspective(1px) translateZ(0);
  box-shadow: 0 0 1px transparent;
}

#imHeader_pluginAppObj_04 .imHeader_pluginAppObj_04_child.shake:hover{
  -webkit-animation-name: hvr-buzz-out;
  animation-name: hvr-buzz-out;
  -webkit-animation-duration: 0.3s;
  animation-duration: 0.3s;
  -webkit-animation-timing-function: linear;
  animation-timing-function: linear;
  -webkit-animation-iteration-count: 1;
  animation-iteration-count: 1;
}

#imHeader_pluginAppObj_04 .imHeader_pluginAppObj_04_child.float{
  vertical-align: middle;
  -webkit-transform: perspective(1px) translateZ(0);
  transform: perspective(1px) translateZ(0);
  box-shadow: 0 0 1px transparent;
  position: relative;
  -webkit-transition-duration: 0.3s;
  transition-duration: 0.3s;
  -webkit-transition-property: transform;
  transition-property: transform;
}

#imHeader_pluginAppObj_04 .imHeader_pluginAppObj_04_child.float:before{
  pointer-events: none;
  position: absolute;
  z-index: -1;
  content: '';
  top: 100%;
  left: 5%;
  height: 10px;
  width: 90%;
  opacity: 0;
  background: -webkit-radial-gradient(center, ellipse, rgba(227,42,83, 0.35) 0%, transparent 80%);
  background: radial-gradient(ellipse at center, rgba(227,42,83, 0.35) 0%, transparent 80%);
  /* W3C */
  -webkit-transition-duration: 0.3s;
  transition-duration: 0.3s;
  -webkit-transition-property: transform, opacity;
  transition-property: transform, opacity;
}

#imHeader_pluginAppObj_04 .imHeader_pluginAppObj_04_child.float:hover {
  overflow: initial;
  -webkit-transform: translateY(-5px);
  transform: translateY(-5px);
  /* move the element up by 5px */
}

#imHeader_pluginAppObj_04 .imHeader_pluginAppObj_04_child.float:hover:before {
  opacity: 1;
  -webkit-transform: translateY(5px);
  transform: translateY(5px);
  /* move the element down by 5px (it will stay in place because it's attached to the element that also moves up 5px) */
}


