.css_documento_label {text-align:left;vertical-align:middle;justify-content:left;font-weight:bold;}
.css_documento_grid_line {vertical-align: top;text-align: left;}
.css_nombres_label {text-align:left;vertical-align:middle;justify-content:left;font-weight:bold;}
.css_nombres_grid_line {vertical-align: top;text-align: left;}
.css_saldo_label {text-align:left;vertical-align:middle;justify-content:left;font-weight:bold;}
.css_saldo_grid_line {vertical-align: top;text-align: right;}
.css_saldo_tot_ger {text-align: right;}
.css_dv30_label {text-align:left;vertical-align:middle;justify-content:left;font-weight:bold;}
.css_dv30_grid_line {vertical-align: top;text-align: right;}
.css_dv30_tot_ger {text-align: right;}
.css_dv45_label {text-align:left;vertical-align:middle;justify-content:left;font-weight:bold;}
.css_dv45_grid_line {vertical-align: top;text-align: right;}
.css_dv45_tot_ger {text-align: right;}
.css_dv60_label {text-align:left;vertical-align:middle;justify-content:left;font-weight:bold;}
.css_dv60_grid_line {vertical-align: top;text-align: right;}
.css_dv60_tot_ger {text-align: right;}
.css_dv90_label {text-align:left;vertical-align:middle;justify-content:left;font-weight:bold;}
.css_dv90_grid_line {vertical-align: top;text-align: right;}
.css_dv90_tot_ger {text-align: right;}
.css_dv120_label {text-align:left;vertical-align:middle;justify-content:left;font-weight:bold;}
.css_dv120_grid_line {vertical-align: top;text-align: right;}
.css_dv120_tot_ger {text-align: right;}
.css_dv180_label {text-align:left;vertical-align:middle;justify-content:left;font-weight:bold;}
.css_dv180_grid_line {vertical-align: top;text-align: right;}
.css_dv180_tot_ger {text-align: right;}
.css_dv_siempre_label {text-align:left;vertical-align:middle;justify-content:left;font-weight:bold;}
.css_dv_siempre_grid_line {vertical-align: top;text-align: right;}
.css_dv_siempre_tot_ger {text-align: right;}
