.css_idfact__label {text-align:right;}
.css_idfact__line {text-align:left;}
.css_idfact__obj {text-align:left;}
.css_idrc__label {text-align:right;}
.css_idrc__line {text-align:left;}
.css_idrc__obj {text-align:left;}
.css_idfp__label {text-align:center;}
.css_idfp__line {text-align:left;}
.css_idfp__obj {text-align:center;}
.css_monto__label {text-align:center;}
.css_monto__line {text-align:left;}
.css_monto__obj {font-size:18px;color:#0000CC;background-color:#ffff00;font-weight:bold;text-align:right;}
.css_banco__label { }
.css_banco__line { }
.css_banco__obj { }
.css_numcheque__label { }
.css_numcheque__line { }
.css_numcheque__obj {text-align:center;}
.css_fechacob__label { }
.css_fechacob__line { }
.css_fechacob__obj {text-align:center;}
.css_idbanco_caja__label { }
.css_idbanco_caja__line {text-align:left;}
.css_idbanco_caja__obj {text-align:left;}
