.css_codigo_suc_label {text-align:left;vertical-align:middle;justify-content:left;font-weight:bold;}
.css_codigo_suc_grid_line {vertical-align: top;text-align: left;}
.css_observacion_suc_label {text-align:left;vertical-align:middle;justify-content:left;font-weight:bold;}
.css_observacion_suc_grid_line {vertical-align: top;text-align: left;}
.css_id_sucursal_label {text-align:right;vertical-align:middle;justify-content:right;font-weight:bold;}
.css_id_sucursal_grid_line {vertical-align: top;text-align: right;}
.css_ip_label {text-align:left;vertical-align:middle;justify-content:left;font-weight:bold;}
.css_ip_grid_line {vertical-align: top;text-align: left;}
.css_puerto_label {text-align:right;vertical-align:middle;justify-content:right;font-weight:bold;}
.css_puerto_grid_line {vertical-align: top;text-align: right;}
