.css_codigo_label {text-align:left;vertical-align:middle;justify-content:left;font-weight:bold;}
.css_codigo_grid_line {vertical-align: top;text-align: right;}
.css_descrip_label {text-align:left;vertical-align:middle;justify-content:left;font-weight:bold;}
.css_descrip_grid_line {vertical-align: top;text-align: right;}
.css_estado_label {text-align:;vertical-align:middle;justify-content:;font-weight:bold;}
.css_estado_grid_line {text-align: center;}
