.css_L1C1_label {text-align:center;vertical-align:middle;background-color:#FFFFFF;color:#000000;}
.css_L1C2_label {text-align:center;vertical-align:middle;background-color:#FFFFFF;color:#000000;}
.css_L1C3_label {text-align:center;vertical-align:middle;background-color:#FFFFFF;color:#000000;}
.css_L1C4_label {text-align:center;vertical-align:middle;background-color:#FFFFFF;color:#000000;}
.css_L1C5_label {text-align:center;vertical-align:middle;background-color:#FFFFFF;color:#000000;}
.css_L1C6_label {text-align:center;vertical-align:middle;background-color:#FFFFFF;color:#000000;}
.css_L1C7_label {text-align:center;vertical-align:middle;background-color:#FFFFFF;color:#000000;}
.css_L1C8_label {text-align:center;vertical-align:middle;background-color:#FFFFFF;color:#000000;}
.css_L1C9_label {text-align:center;vertical-align:middle;background-color:#FFFFFF;color:#000000;}
.css_L1C10_label {text-align:center;vertical-align:middle;background-color:#FFFFFF;color:#000000;}
.css_L1C11_label {text-align:center;vertical-align:middle;background-color:#FFFFFF;color:#000000;}
.css_L1C12_label {text-align:center;vertical-align:middle;background-color:#FFFFFF;color:#000000;}
.css_L1C13_label {text-align:center;vertical-align:middle;background-color:#FFFFFF;color:#000000;}
.css_L1C14_label {text-align:center;vertical-align:middle;background-color:#FFFFFF;color:#000000;}
.css_descr_label {text-align:left;vertical-align:middle;justify-content:left;font-weight:bold;}
.css_descr_grid_line {vertical-align: top;text-align: left;}
.css_id_bodega_label {text-align:right;vertical-align:middle;justify-content:right;font-weight:bold;}
.css_id_bodega_grid_line {vertical-align: top;text-align: right;}
.css_saldo_ene_label {text-align:right;vertical-align:middle;justify-content:right;font-weight:bold;}
.css_saldo_ene_grid_line {vertical-align: top;text-align: right;}
.css_costo_ene_label {text-align:right;vertical-align:middle;justify-content:right;font-weight:bold;}
.css_costo_ene_grid_line {vertical-align: top;text-align: right;}
.css_saldo_feb_label {text-align:right;vertical-align:middle;justify-content:right;font-weight:bold;}
.css_saldo_feb_grid_line {vertical-align: top;text-align: right;}
.css_costo_feb_label {text-align:right;vertical-align:middle;justify-content:right;font-weight:bold;}
.css_costo_feb_grid_line {vertical-align: top;text-align: right;}
.css_saldo_marz_label {text-align:right;vertical-align:middle;justify-content:right;font-weight:bold;}
.css_saldo_marz_grid_line {vertical-align: top;text-align: right;}
.css_costo_marz_label {text-align:right;vertical-align:middle;justify-content:right;font-weight:bold;}
.css_costo_marz_grid_line {vertical-align: top;text-align: right;}
.css_saldo_abril_label {text-align:right;vertical-align:middle;justify-content:right;font-weight:bold;}
.css_saldo_abril_grid_line {vertical-align: top;text-align: right;}
.css_costo_abril_label {text-align:right;vertical-align:middle;justify-content:right;font-weight:bold;}
.css_costo_abril_grid_line {vertical-align: top;text-align: right;}
.css_saldo_may_label {text-align:right;vertical-align:middle;justify-content:right;font-weight:bold;}
.css_saldo_may_grid_line {vertical-align: top;text-align: right;}
.css_costo_may_label {text-align:right;vertical-align:middle;justify-content:right;font-weight:bold;}
.css_costo_may_grid_line {vertical-align: top;text-align: right;}
.css_saldo_jun_label {text-align:right;vertical-align:middle;justify-content:right;font-weight:bold;}
.css_saldo_jun_grid_line {vertical-align: top;text-align: right;}
.css_costo_jun_label {text-align:right;vertical-align:middle;justify-content:right;font-weight:bold;}
.css_costo_jun_grid_line {vertical-align: top;text-align: right;}
.css_saldo_julio_label {text-align:right;vertical-align:middle;justify-content:right;font-weight:bold;}
.css_saldo_julio_grid_line {vertical-align: top;text-align: right;}
.css_costo_julio_label {text-align:right;vertical-align:middle;justify-content:right;font-weight:bold;}
.css_costo_julio_grid_line {vertical-align: top;text-align: right;}
.css_saldo_agos_label {text-align:right;vertical-align:middle;justify-content:right;font-weight:bold;}
.css_saldo_agos_grid_line {vertical-align: top;text-align: right;}
.css_costo_agos_label {text-align:right;vertical-align:middle;justify-content:right;font-weight:bold;}
.css_costo_agos_grid_line {vertical-align: top;text-align: right;}
.css_saldo_sep_label {text-align:right;vertical-align:middle;justify-content:right;font-weight:bold;}
.css_saldo_sep_grid_line {vertical-align: top;text-align: right;}
.css_costo_sep_label {text-align:right;vertical-align:middle;justify-content:right;font-weight:bold;}
.css_costo_sep_grid_line {vertical-align: top;text-align: right;}
.css_saldo_oct_label {text-align:right;vertical-align:middle;justify-content:right;font-weight:bold;}
.css_saldo_oct_grid_line {vertical-align: top;text-align: right;}
.css_costo_oct_label {text-align:right;vertical-align:middle;justify-content:right;font-weight:bold;}
.css_costo_oct_grid_line {vertical-align: top;text-align: right;}
.css_saldo_nov_label {text-align:right;vertical-align:middle;justify-content:right;font-weight:bold;}
.css_saldo_nov_grid_line {vertical-align: top;text-align: right;}
.css_costo_nov_label {text-align:right;vertical-align:middle;justify-content:right;font-weight:bold;}
.css_costo_nov_grid_line {vertical-align: top;text-align: right;}
.css_saldo_dic_label {text-align:right;vertical-align:middle;justify-content:right;font-weight:bold;}
.css_saldo_dic_grid_line {vertical-align: top;text-align: right;}
.css_costo_dic_label {text-align:right;vertical-align:middle;justify-content:right;font-weight:bold;}
.css_costo_dic_grid_line {vertical-align: top;text-align: right;}
.css_anio_label {text-align:left;vertical-align:middle;justify-content:left;font-weight:bold;}
.css_anio_grid_line {vertical-align: top;text-align: left;}
.css_id_saldo_label {text-align:right;vertical-align:middle;justify-content:right;font-weight:bold;}
.css_id_saldo_grid_line {vertical-align: top;text-align: right;}
.css_id_prod_label {text-align:right;vertical-align:middle;justify-content:right;font-weight:bold;}
.css_id_prod_grid_line {vertical-align: top;text-align: right;}
.css_ult_actualza_label {text-align:center;vertical-align:middle;justify-content:center;font-weight:bold;}
.css_ult_actualza_grid_line {vertical-align: top;text-align: center;}
