.css_idsucursal_label {text-align:right;vertical-align:middle;justify-content:right;font-weight:bold;}
.css_idsucursal_grid_line {vertical-align: top;text-align: right;}
.css_sucursal_label {text-align:left;vertical-align:middle;justify-content:left;font-weight:bold;}
.css_sucursal_grid_line {vertical-align: top;text-align: left;}
.css_idtercero_label {text-align:right;vertical-align:middle;justify-content:right;font-weight:bold;}
.css_idtercero_grid_line {vertical-align: top;text-align: right;}
.css_direccion_label {text-align:left;vertical-align:middle;justify-content:left;font-weight:bold;}
.css_direccion_grid_line {vertical-align: top;text-align: left;}
.css_departamento_label {text-align:right;vertical-align:middle;justify-content:right;font-weight:bold;}
.css_departamento_grid_line {vertical-align: top;text-align: right;}
.css_municipio_label {text-align:right;vertical-align:middle;justify-content:right;font-weight:bold;}
.css_municipio_grid_line {vertical-align: top;text-align: right;}
