.css_fecha__label {text-align:left;vertical-align:middle;}
.css_fecha__line { }
.css_fecha__obj {text-align:center;}
.css_cantidad__label {text-align:center;vertical-align:middle;}
.css_cantidad__line {text-align:center;}
.css_cantidad__obj {text-align:center;width:70px;}
.css_idpro__label {text-align:left;vertical-align:middle;}
.css_idpro__line {text-align:left;}
.css_idpro__obj {text-align:left;width:200px;}
.css_costo__label {text-align:center;vertical-align:middle;}
.css_costo__line {text-align:right;}
.css_costo__obj {text-align:right;}
.css_valorparcial__label {text-align:center;vertical-align:middle;}
.css_valorparcial__line {text-align:right;}
.css_valorparcial__obj {text-align:right;}
.css_idbod__label {text-align:left;vertical-align:middle;}
.css_idbod__line {text-align:left;}
.css_idbod__obj {text-align:left;width:140px;}
.css_tipo__label {text-align:left;vertical-align:middle;}
.css_tipo__line {text-align:left;}
.css_tipo__obj {text-align:left;}
.css_detalle__label { }
.css_detalle__line { }
.css_detalle__obj {width:80px;}
.css_colores__label { }
.css_colores__line {text-align:left;}
.css_colores__obj {text-align:left;}
.css_tallas__label { }
.css_tallas__line {text-align:left;}
.css_tallas__obj {text-align:left;}
.css_sabor__label { }
.css_sabor__line {text-align:left;}
.css_sabor__obj {text-align:left;}
.css_existencia__label {text-align:center;vertical-align:middle;}
.css_existencia__line {background-color:#66FF33;text-align:center;}
.css_existencia__obj {text-align:center;}
