.scMenuHHeader { background-color: #805387; background-image: url(../../img/scriptcase__NM__v5LilacbgMenuHeader.png); background-repeat: no-repeat; opacity: 1; filter: alpha(opacity=100) }
_:-ms-lang(x), .ie10up, .scMenuHHeader { border-collapse: separate }
.scMenuHHeaderFont { color: #593A5D; font-family: Arial, sans-serif; font-size: 14px; text-shadow: none; font-weight: bold; padding: 0; text-decoration: none }
.ui-body-a, .ui-overlay-a, .ui-body-c, .ui-overlay-c { background-color: #6D5370; background-image: url(../../img/scriptcase__NM__v5LilacBgMenuBar.png); background-repeat: repeat-x; opacity: 1; filter: alpha(opacity=100) }
.ui-bar-b { color: #593A5D; font-family: Arial, sans-serif; font-size: 14px; font-weight: bold; padding: 0; text-decoration: none; background-color: #805387; background-image: url(../../img/scriptcase__NM__v5LilacbgMenuHeader.png); background-repeat: no-repeat; opacity: 1; filter: alpha(opacity=100) }
.ui-btn-up-a { background-color: #FFFFFF; background-image: none; opacity: 1; filter: alpha(opacity=100); font-family: Arial, Arial, sans-serif; font-size: 12px; text-shadow: none; color: #593A5D; text-decoration: none; font-style: normal }
.ui-btn-up-a:visited, .ui-btn-up-a a.ui-link-inherit { color: #593A5D }
.ui-btn-hover-a { background-color: #FFFFFF; background-image: none; opacity: 1; filter: alpha(opacity=100); font-family: Arial, Arial, sans-serif; font-size: 12px; text-shadow: none; color: #593A5D; text-decoration: none; font-style: normal }
.ui-btn-hover-a:visited, .ui-btn-hover-a:hover, .ui-btn-hover-a a.ui-link-inherit { color: css_menu_menu_sel_color; background-color: css_menu_menu_sel_background_color }
