.css_codigogru_label {text-align:left;vertical-align:middle;justify-content:left;font-weight:bold;}
.css_codigogru_grid_line {vertical-align: middle;text-align: right;}
.css_nomgrupo_label {text-align:left;vertical-align:middle;justify-content:left;font-weight:bold;}
.css_nomgrupo_grid_line {vertical-align: middle;text-align: right;}
.css_imagen_label {text-align:left;vertical-align:middle;justify-content:left;font-weight:bold;}
.css_imagen_grid_line {vertical-align: middle;text-align: center;}
.css_mostrar_label {text-align:left;vertical-align:middle;justify-content:left;font-weight:bold;}
.css_mostrar_grid_line {background-color:#CCFFCC;font-weight:bold;vertical-align: middle;text-align: center;}
.css_comanda_label {text-align:center;vertical-align:middle;justify-content:center;font-weight:bold;}
.css_comanda_grid_line {background-color:#6699CC;font-weight:bold;vertical-align: middle;text-align: center;}
.css_presupuesto_venta_label {text-align:left;vertical-align:middle;justify-content:left;font-weight:bold;}
.css_presupuesto_venta_grid_line {vertical-align: top;text-align: right;}
.css_idgrupo_label {text-align:right;vertical-align:middle;justify-content:right;font-weight:bold;}
.css_idgrupo_grid_line {vertical-align: top;text-align: right;}
