.css_codigobar_label {text-align:left;vertical-align:middle;justify-content:left;font-weight:bold;}
.css_codigobar_grid_line {vertical-align: top;text-align: left;}
.css_nompro_label {text-align:left;vertical-align:middle;justify-content:left;font-weight:bold;}
.css_nompro_grid_line {vertical-align: top;text-align: left;}
.css_cantidad_label {text-align:right;vertical-align:middle;justify-content:right;font-weight:bold;}
.css_cantidad_grid_line {vertical-align: top;text-align: right;}
.css_bodega_label {text-align:left;vertical-align:middle;justify-content:left;font-weight:bold;}
.css_bodega_grid_line {vertical-align: top;text-align: left;}
.css_valorunit_label {text-align:right;vertical-align:middle;justify-content:right;font-weight:bold;}
.css_valorunit_grid_line {vertical-align: top;text-align: right;}
.css_adicional_label {text-align:right;vertical-align:middle;justify-content:right;font-weight:bold;}
.css_adicional_grid_line {vertical-align: top;text-align: right;}
.css_valorpar_label {text-align:right;vertical-align:middle;justify-content:right;font-weight:bold;}
.css_valorpar_grid_line {vertical-align: top;text-align: right;}
