.css_p_fechaven_label {text-align:center;vertical-align:middle;justify-content:center;font-weight:bold;}
.css_p_fechaven_grid_line {vertical-align: top;text-align: center;}
.css_ubicacion_label {text-align:left;vertical-align:middle;justify-content:left;font-weight:bold;}
.css_ubicacion_grid_line {vertical-align: top;text-align: right;}
.css_total_label {text-align:left;vertical-align:middle;justify-content:left;font-weight:bold;}
.css_total_grid_line {vertical-align: top;text-align: right;}
.css_total_sub_tot {text-align: right;}
.css_total_tot_ger {text-align: right;}
.css_dp_observ_label {text-align:left;vertical-align:middle;justify-content:left;font-weight:bold;}
.css_dp_observ_grid_line {vertical-align: top;text-align: right;}
