.css_seriales_label {text-align:left;vertical-align:middle;justify-content:left;font-weight:bold;}
.css_seriales_grid_line {vertical-align: top;text-align: right;}
.css_dekardexid_label {text-align:right;vertical-align:middle;justify-content:right;font-weight:bold;}
.css_dekardexid_grid_line {vertical-align: top;text-align: right;}
.css_pedidoid_label {text-align:right;vertical-align:middle;justify-content:right;font-weight:bold;}
.css_pedidoid_grid_line {vertical-align: top;text-align: right;}
.css_remisionid_label {text-align:right;vertical-align:middle;justify-content:right;font-weight:bold;}
.css_remisionid_grid_line {vertical-align: top;text-align: right;}
.css_dordproid_label {text-align:right;vertical-align:middle;justify-content:right;font-weight:bold;}
.css_dordproid_grid_line {vertical-align: top;text-align: right;}
.css_obsmat_label {text-align:left;vertical-align:middle;justify-content:left;font-weight:bold;}
.css_obsmat_grid_line {vertical-align: top;text-align: right;}
