.css_idusuarios_label { }
.css_idusuarios_line {text-align:left;}
.css_idusuarios_obj {text-align:left;}
.css_usuario_label { }
.css_usuario_line { }
.css_usuario_obj { }
.css_password_label { }
.css_password_line { }
.css_password_obj { }
.css_nombre_label { }
.css_nombre_line { }
.css_nombre_obj { }
.css_correo_label { }
.css_correo_line { }
.css_correo_obj { }
.css_telefono_label { }
.css_telefono_line { }
.css_telefono_obj { }
.css_tercero_label { }
.css_tercero_line {text-align:left;}
.css_tercero_obj {text-align:left;width:200px;}
.css_resolucion_label { }
.css_resolucion_line {text-align:left;}
.css_resolucion_obj {text-align:left;width:200px;}
.css_grupo_label { }
.css_grupo_line {text-align:left;}
.css_grupo_obj {text-align:left;width:200px;}
.css_activo_label { }
.css_activo_line { }
.css_activo_obj { }
.css_grupocomanda_label { }
.css_grupocomanda_line {text-align:left;}
.css_grupocomanda_obj {text-align:left;width:200px;}
.css_nombre_pc_label { }
.css_nombre_pc_line { }
.css_nombre_pc_obj { }
.css_nombre_impre_label { }
.css_nombre_impre_line { }
.css_nombre_impre_obj { }
.css_acceso_inventario_label { }
.css_acceso_inventario_line { }
.css_acceso_inventario_obj { }
.css_acceso_gerencial_label { }
.css_acceso_gerencial_line { }
.css_acceso_gerencial_obj { }
.css_acceso_restaurante_label { }
.css_acceso_restaurante_line { }
.css_acceso_restaurante_obj { }
.css_banco_movil_label { }
.css_banco_movil_line { }
.css_banco_movil_obj { }
.css_ubicacion_label { }
.css_ubicacion_line { }
.css_ubicacion_obj { }
.css_n_equipo_label { }
.css_n_equipo_line { }
.css_n_equipo_obj { }
.css_serial_label { }
.css_serial_line { }
.css_serial_obj { }
.css_idbod_label { }
.css_idbod_line {text-align:left;}
.css_idbod_obj {text-align:left;width:200px;}
.css_ocultar_bod_label { }
.css_ocultar_bod_line { }
.css_ocultar_bod_obj { }
