.css_idpro__label {text-align:left;vertical-align:middle;}
.css_idpro__line { }
.css_idpro__obj {text-align:left;width:300px;}
.css_unidadmayor__label { }
.css_unidadmayor__line { }
.css_unidadmayor__obj { }
.css_factor__label { }
.css_factor__line {text-align:left;}
.css_factor__obj {text-align:left;}
.css_idbod__label {text-align:center;}
.css_idbod__line {vertical-align:middle;}
.css_idbod__obj {text-align:center;vertical-align:middle;width:90px;}
.css_costop__label { }
.css_costop__line {text-align:left;}
.css_costop__obj {text-align:left;}
.css_cantidad__label {text-align:center;vertical-align:middle;}
.css_cantidad__line { }
.css_cantidad__obj {text-align:center;width:80px;}
.css_valorunit__label {text-align:center;vertical-align:middle;}
.css_valorunit__line {text-align:center;}
.css_valorunit__obj {text-align:right;width:100px;}
.css_valorpar__label {text-align:center;vertical-align:middle;}
.css_valorpar__line {text-align:center;}
.css_valorpar__obj {text-align:right;width:120px;}
.css_iva__label { }
.css_iva__line {text-align:left;}
.css_iva__obj {text-align:left;}
.css_descuento__label {text-align:center;}
.css_descuento__line {text-align:center;}
.css_descuento__obj {text-align:center;vertical-align:middle;width:70px;}
.css_adicional__label {text-align:right;}
.css_adicional__line {text-align:right;}
.css_adicional__obj {text-align:left;}
.css_adicional1__label {text-align:right;}
.css_adicional1__line {text-align:right;}
.css_adicional1__obj {text-align:left;}
.css_colores__label { }
.css_colores__line {text-align:left;}
.css_colores__obj {text-align:left;}
.css_tallas__label { }
.css_tallas__line {text-align:left;}
.css_tallas__obj {text-align:left;}
.css_sabor__label { }
.css_sabor__line {text-align:left;}
.css_sabor__obj {text-align:left;}
.css_stockubica__label {text-align:center;vertical-align:middle;width:80px;}
.css_stockubica__line {background-color:#00FF66;text-align:center;vertical-align:middle;}
.css_stockubica__obj {text-align:center;width:80px;}
.css_unidad__label {text-align:center;vertical-align:middle;}
.css_unidad__line {background-color:#00FF66;text-align:center;vertical-align:middle;}
.css_unidad__obj {text-align:center;}
.css_existencia__label {text-align:center;vertical-align:middle;}
.css_existencia__line {text-align:center;vertical-align:middle;}
.css_existencia__obj {text-align:center;}
