.css_nomgrupo_label {text-align:left;vertical-align:middle;justify-content:left;font-weight:bold;}
.css_nomgrupo_grid_line {vertical-align: top;text-align: left;}
.css_producto_label {text-align:left;vertical-align:middle;justify-content:left;font-weight:bold;}
.css_producto_grid_line {vertical-align: top;text-align: left;}
.css_vendido_label {text-align:left;vertical-align:middle;justify-content:left;font-weight:bold;}
.css_vendido_grid_line {vertical-align: top;text-align: right;}
.css_vendido_sub_tot {text-align: right;}
.css_vendido_tot_ger {text-align: right;}
.css_porcentaje_label {text-align:left;vertical-align:middle;justify-content:left;font-weight:bold;}
.css_porcentaje_grid_line {vertical-align: top;text-align: right;}
.css_porcentaje_sub_tot {text-align: right;}
.css_porcentaje_tot_ger {text-align: right;}
.css_total_label {text-align:left;vertical-align:middle;justify-content:left;font-weight:bold;}
.css_total_grid_line {vertical-align: top;text-align: right;}
