.css_caso_label {text-align:right;vertical-align:middle;justify-content:right;font-weight:bold;}
.css_caso_grid_line {vertical-align: top;text-align: right;}
.css_cn_fecha_label {text-align:center;vertical-align:middle;justify-content:center;font-weight:bold;}
.css_cn_fecha_grid_line {vertical-align: top;text-align: center;}
.css_descripcion_label {text-align:left;vertical-align:middle;justify-content:left;font-weight:bold;}
.css_descripcion_grid_line {vertical-align: top;text-align: left;}
.css_cn_cantidad_label {text-align:right;vertical-align:middle;justify-content:right;font-weight:bold;}
.css_cn_cantidad_grid_line {vertical-align: top;text-align: right;}
.css_cn_valor_label {text-align:right;vertical-align:middle;justify-content:right;font-weight:bold;}
.css_cn_valor_grid_line {vertical-align: top;text-align: right;}
.css_cn_valor_tot_ger {text-align: right;}
.css_id_contrato_label {text-align:left;vertical-align:middle;justify-content:left;font-weight:bold;}
.css_id_contrato_grid_line {vertical-align: top;text-align: left;}
