.css_idgrup_label {text-align:left;vertical-align:middle;justify-content:left;font-weight:bold;}
.css_idgrup_grid_line {vertical-align: middle;text-align: left;}
.css_codigo_label {text-align:left;vertical-align:middle;justify-content:left;font-weight:bold;}
.css_codigo_grid_line {vertical-align: top;text-align: left;}
.css_descripcion_label {text-align:left;vertical-align:middle;justify-content:left;font-weight:bold;}
.css_descripcion_grid_line {vertical-align: top;text-align: left;}
.css_existencia_label {text-align:right;vertical-align:middle;justify-content:right;font-weight:bold;}
.css_existencia_grid_line {vertical-align: top;text-align: right;}
.css_demanda_semanal_label {text-align:right;vertical-align:middle;justify-content:right;font-weight:bold;}
.css_demanda_semanal_grid_line {vertical-align: top;text-align: right;}
.css_semanas_venta_label {text-align:right;vertical-align:middle;justify-content:right;font-weight:bold;}
.css_semanas_venta_grid_line {vertical-align: top;text-align: right;}
.css_unidad_label {text-align:left;vertical-align:middle;justify-content:left;font-weight:bold;}
.css_unidad_grid_line {vertical-align: top;text-align: left;}
