.css_codigo_label {text-align:left;vertical-align:middle;justify-content:left;font-weight:bold;}
.css_codigo_grid_line {vertical-align: top;text-align: right;}
.css_nombre_label {text-align:left;vertical-align:middle;justify-content:left;font-weight:bold;}
.css_nombre_grid_line {vertical-align: top;text-align: right;}
.css_id_plancuenta_label {text-align:right;vertical-align:middle;justify-content:right;font-weight:bold;}
.css_id_plancuenta_grid_line {vertical-align: top;text-align: right;}
