.css_id_historial_crm_label {text-align:left;vertical-align:middle;justify-content:left;font-weight:bold;}
.css_id_historial_crm_grid_line {vertical-align: top;text-align: right;}
.css_fecha_label {text-align:center;vertical-align:middle;justify-content:center;font-weight:bold;}
.css_fecha_grid_line {vertical-align: top;text-align: center;}
.css_tipo_label {text-align:left;vertical-align:middle;justify-content:left;font-weight:bold;}
.css_tipo_grid_line {vertical-align: top;text-align: left;}
.css_atendido_label {text-align:left;vertical-align:middle;justify-content:left;font-weight:bold;}
.css_atendido_grid_line {vertical-align: top;text-align: left;}
.css_id_contacto_tercero_label {text-align:left;vertical-align:middle;justify-content:left;font-weight:bold;}
.css_id_contacto_tercero_grid_line {vertical-align: top;text-align: left;}
.css_asesor_label {text-align:left;vertical-align:middle;justify-content:left;font-weight:bold;}
.css_asesor_grid_line {vertical-align: top;text-align: left;}
.css_motivo_label {text-align:left;vertical-align:middle;justify-content:left;font-weight:bold;}
.css_motivo_grid_line {vertical-align: top;text-align: left;}
.css_cambiar_estado_label {text-align:;vertical-align:middle;justify-content:;font-weight:bold;}
.css_cambiar_estado_grid_line {text-align: left;}
.css_creado_label {text-align:center;vertical-align:middle;justify-content:center;font-weight:bold;}
.css_creado_grid_line {vertical-align: top;text-align: center;}
.css_editado_label {text-align:center;vertical-align:middle;justify-content:center;font-weight:bold;}
.css_editado_grid_line {vertical-align: top;text-align: center;}
.css_notas_label {text-align:left;vertical-align:middle;justify-content:left;font-weight:bold;}
.css_notas_grid_line {vertical-align: top;text-align: left;}
