.css_idpedido_label { }
.css_idpedido_line {text-align:left;}
.css_idpedido_obj {text-align:left;}
.css_fechaven_label { }
.css_fechaven_line { }
.css_fechaven_obj { }
.css_idcli_label { }
.css_idcli_line {text-align:left;}
.css_idcli_obj {text-align:left;}
.css_total_label { }
.css_total_line {text-align:left;}
.css_total_obj {font-size:20px;color:#33FF33;background-color:#666666;text-align:right;}
.css_asentada_label { }
.css_asentada_line {text-align:left;}
.css_asentada_obj {text-align:left;}
.css_adicional_label { }
.css_adicional_line {text-align:left;}
.css_adicional_obj {text-align:left;}
.css_formapago_label { }
.css_formapago_line { }
.css_formapago_obj {font-size:20px;color:#33FF33;background-color:#666666;}
.css_adicional2_label { }
.css_adicional2_line {text-align:left;}
.css_adicional2_obj {font-size:22px;color:#0000cc;background-color:#FFFF00;font-weight:bold;text-align:right;}
.css_adicional3_label { }
.css_adicional3_line {text-align:left;}
.css_adicional3_obj {font-size:22px;color:#0000cc;background-color:#FFFF00;text-align:center;}
.css_obspago_label { }
.css_obspago_line { }
.css_obspago_obj { }
.css_numpedido_label { }
.css_numpedido_line {text-align:left;}
.css_numpedido_obj {text-align:left;}
.css_prefijo_ped_label { }
.css_prefijo_ped_line {text-align:left;}
.css_prefijo_ped_obj {color:#33FF33;background-color:#666666;text-align:left;}
.css_creado_en_movil_label { }
.css_creado_en_movil_line { }
.css_creado_en_movil_obj { }
.css_disponible_en_movil_label { }
.css_disponible_en_movil_line { }
.css_disponible_en_movil_obj { }
