.css_idconfiguraciones_label { }
.css_idconfiguraciones_line {text-align:left;}
.css_idconfiguraciones_obj {text-align:left;}
.css_lineasporfactura_label { }
.css_lineasporfactura_line {text-align:left;}
.css_lineasporfactura_obj {text-align:center;}
.css_consolidararticulos_label { }
.css_consolidararticulos_line { }
.css_consolidararticulos_obj { }
.css_serial_label { }
.css_serial_line { }
.css_serial_obj { }
.css_fecha_label { }
.css_fecha_line { }
.css_fecha_obj { }
.css_activo_label { }
.css_activo_line { }
.css_activo_obj { }
.css_espaciado_label { }
.css_espaciado_line {text-align:left;}
.css_espaciado_obj {text-align:center;}
.css_nombre_pc_label { }
.css_nombre_pc_line { }
.css_nombre_pc_obj { }
.css_nombre_impre_label { }
.css_nombre_impre_line { }
.css_nombre_impre_obj { }
.css_refresh_grid_doc_label { }
.css_refresh_grid_doc_line {text-align:left;}
.css_refresh_grid_doc_obj {text-align:center;}
.css_modificainvpedido_label { }
.css_modificainvpedido_line { }
.css_modificainvpedido_obj { }
.css_caja_movil_label { }
.css_caja_movil_line { }
.css_caja_movil_obj { }
.css_essociedad_label {width:120px;}
.css_essociedad_line {text-align:left;}
.css_essociedad_obj { }
.css_grancontr_label { }
.css_grancontr_line { }
.css_grancontr_obj { }
.css_apertura_caja_label { }
.css_apertura_caja_line { }
.css_apertura_caja_obj { }
.css_control_diasmora_label { }
.css_control_diasmora_line { }
.css_control_diasmora_obj { }
.css_control_costo_label { }
.css_control_costo_line { }
.css_control_costo_obj { }
.css_activar_console_log_label { }
.css_activar_console_log_line { }
.css_activar_console_log_obj { }
.css_pago_automatico_label { }
.css_pago_automatico_line { }
.css_pago_automatico_obj { }
.css_tipodoc_pordefecto_pos_label { }
.css_tipodoc_pordefecto_pos_line { }
.css_tipodoc_pordefecto_pos_obj { }
.css_codproducto_en_facventa_label { }
.css_codproducto_en_facventa_line { }
.css_codproducto_en_facventa_obj { }
.css_noborrar_tmp_enpos_label { }
.css_noborrar_tmp_enpos_line { }
.css_noborrar_tmp_enpos_obj { }
.css_desactivar_control_sesion_label { }
.css_desactivar_control_sesion_line { }
.css_desactivar_control_sesion_obj { }
.css_dia_limite_pago_label { }
.css_dia_limite_pago_line {text-align:left;}
.css_dia_limite_pago_obj {text-align:center;}
.css_valor_propina_sugerida_label { }
.css_valor_propina_sugerida_line {text-align:left;}
.css_valor_propina_sugerida_obj {text-align:left;}
.css_validar_correo_enlinea_label { }
.css_validar_correo_enlinea_line { }
.css_validar_correo_enlinea_obj { }
.css_ver_xml_fe_label { }
.css_ver_xml_fe_line { }
.css_ver_xml_fe_obj { }
.css_columna_imprimir_ticket_label { }
.css_columna_imprimir_ticket_line { }
.css_columna_imprimir_ticket_obj { }
.css_columna_imprimir_a4_label { }
.css_columna_imprimir_a4_line { }
.css_columna_imprimir_a4_obj { }
.css_columna_whatsapp_label { }
.css_columna_whatsapp_line { }
.css_columna_whatsapp_obj { }
.css_columna_npedido_label { }
.css_columna_npedido_line { }
.css_columna_npedido_obj { }
.css_columna_reg_pdf_propio_label { }
.css_columna_reg_pdf_propio_line {text-align:left;}
.css_columna_reg_pdf_propio_obj {text-align:left;}
.css_ver_grupo_label { }
.css_ver_grupo_line { }
.css_ver_grupo_obj { }
.css_ver_codigo_label { }
.css_ver_codigo_line { }
.css_ver_codigo_obj { }
.css_ver_imagen_label { }
.css_ver_imagen_line { }
.css_ver_imagen_obj { }
.css_ver_existencia_label { }
.css_ver_existencia_line { }
.css_ver_existencia_obj { }
.css_ver_unidad_label { }
.css_ver_unidad_line { }
.css_ver_unidad_obj { }
.css_ver_precio_label { }
.css_ver_precio_line { }
.css_ver_precio_obj { }
.css_ver_impuesto_label { }
.css_ver_impuesto_line { }
.css_ver_impuesto_obj { }
.css_ver_stock_label { }
.css_ver_stock_line { }
.css_ver_stock_obj { }
.css_ver_ubicacion_label { }
.css_ver_ubicacion_line { }
.css_ver_ubicacion_obj { }
.css_ver_costo_label { }
.css_ver_costo_line { }
.css_ver_costo_obj { }
.css_ver_proveedor_label { }
.css_ver_proveedor_line { }
.css_ver_proveedor_obj { }
.css_ver_combo_label { }
.css_ver_combo_line { }
.css_ver_combo_obj { }
.css_ver_agregar_nota_label { }
.css_ver_agregar_nota_line { }
.css_ver_agregar_nota_obj { }
.css_ver_busqueda_refinada_label { }
.css_ver_busqueda_refinada_line { }
.css_ver_busqueda_refinada_obj { }
.css_cal_valores_decimales_label { }
.css_cal_valores_decimales_line {text-align:left;}
.css_cal_valores_decimales_obj {text-align:left;}
.css_cal_cantidades_decimales_label { }
.css_cal_cantidades_decimales_line {text-align:left;}
.css_cal_cantidades_decimales_obj {text-align:left;}
.css_validar_codbarras_label { }
.css_validar_codbarras_line { }
.css_validar_codbarras_obj { }
.css_minutos_inactividad_label { }
.css_minutos_inactividad_line {text-align:left;}
.css_minutos_inactividad_obj {text-align:left;}
