.css_idpro_label {text-align:center;vertical-align:middle;justify-content:center;font-weight:bold;}
.css_idpro_grid_line {vertical-align: middle;text-align: left;}
.css_idbod_label {text-align:center;vertical-align:middle;justify-content:center;font-weight:bold;}
.css_idbod_grid_line {vertical-align: middle;text-align: center;}
.css_colores_label {text-align:right;vertical-align:middle;justify-content:right;font-weight:bold;}
.css_colores_grid_line {vertical-align: top;text-align: right;}
.css_tallas_label {text-align:right;vertical-align:middle;justify-content:right;font-weight:bold;}
.css_tallas_grid_line {vertical-align: top;text-align: right;}
.css_sabor_label {text-align:right;vertical-align:middle;justify-content:right;font-weight:bold;}
.css_sabor_grid_line {vertical-align: top;text-align: right;}
.css_cantidad_label {text-align:right;vertical-align:middle;justify-content:right;font-weight:bold;}
.css_cantidad_grid_line {vertical-align: top;text-align: right;}
.css_costop_label {text-align:right;vertical-align:middle;justify-content:right;font-weight:bold;}
.css_costop_grid_line {vertical-align: top;text-align: right;}
.css_valorpar_label {text-align:right;vertical-align:middle;justify-content:right;font-weight:bold;}
.css_valorpar_grid_line {vertical-align: top;text-align: right;}
.css_valorpar_tot_ger {text-align: right;}
.css_presenta_label {text-align:center;vertical-align:middle;justify-content:center;font-weight:bold;}
.css_presenta_grid_line {vertical-align: middle;text-align: center;}
.css_iddet_label {text-align:right;vertical-align:middle;justify-content:right;font-weight:bold;}
.css_iddet_grid_line {vertical-align: top;text-align: right;}
.css_numproducc_label {text-align:right;vertical-align:middle;justify-content:right;font-weight:bold;}
.css_numproducc_grid_line {vertical-align: top;text-align: right;}
.css_unidadmayor_label {text-align:left;vertical-align:middle;justify-content:left;font-weight:bold;}
.css_unidadmayor_grid_line {vertical-align: top;text-align: left;}
.css_factor_label {text-align:right;vertical-align:middle;justify-content:right;font-weight:bold;}
.css_factor_grid_line {vertical-align: top;text-align: right;}
