.select2-container--default .select2-selection { background-image: none; opacity: 1; filter: alpha(opacity=100); border-color: #8F9F97 !important; border-style: solid !important; border-width: 1px !important; color: #333333; font-family: Arial, sans-serif; font-size: 13px; text-decoration: none; -moz-border-radius: 0; -webkit-border-radius: 0; border-radius: 0 }
.scFilterPage { background-color: #ffeded; background-image: none; opacity: 1; filter: alpha(opacity=100); color: #000000; font-family: Arial, sans-serif; font-size: 13px; margin: 20px 0 20px 0; text-decoration: none }
.scFilterBorder { background-color: #FFFFFF; background-image: none; opacity: 1; filter: alpha(opacity=100); border-color: #DADADA; border-style: solid; border-width: 1px; padding: 0; -moz-border-radius: 0; -webkit-border-radius: 0; border-radius: 0; -moz-box-shadow: #000; box-shadow: 0px 2px 10px -2px; -webkit-box-shadow: #000; box-shadow: 0px 2px 10px -2px; box-shadow: #000; box-shadow: 0px 2px 10px -2px }
.scFilterTable { background-color: #ffffff; background-image: none; opacity: 1; filter: alpha(opacity=100); border-collapse: collapse; border-color: #D2D2D2; border-style: none; border-width: 1px 1px 1px 1px; -moz-border-radius: 0; -webkit-border-radius: 0; border-radius: 0 }
.scFilterTableTd { padding: 0 }
.scFilterToolbar { background-color: #FFF; background-image: none; opacity: 1; filter: alpha(opacity=100); border-style: none; border-width: 0; color: #000000; font-family: Arial, sans-serif; font-size: 13px; text-decoration: none; -moz-border-radius: 0; -webkit-border-radius: 0; border-radius: 0 }
.scFilterToolbarPadding { padding: 5px 10px 5px 10px }
#sel_recup_filters_bot,#sel_filters_del_bot,.scFilterToolbar_obj { background-color: #FFFFFF; background-image: none; opacity: 1; filter: alpha(opacity=100); border-color: #8F9F97; border-style: solid; border-width: 1px; color: #333333; font-family: Arial, sans-serif; font-size: 13px; padding: 7px 4px; text-decoration: none; -moz-border-radius: 0; -webkit-border-radius: 0; border-radius: 0 }
#sel_recup_filters_bot,#sel_filters_del_bot,.scFilterToolbar_obj:focus { background-color: #FFFFFF; background-image: none; opacity: 1; filter: alpha(opacity=100); border-color: #8F9F97; color: #333333 }
.scFilterHeader { background-color: #c98484; background-image: none; opacity: 1; filter: alpha(opacity=100); -moz-border-radius: 0; -webkit-border-radius: 0; border-radius: 0 }
.scFilterHeaderFont { color: #000; font-family: Arial, sans-serif; font-size: 13px; font-weight: bold; padding: 5px; text-decoration: none; vertical-align: middle }
.scFilterFooter { background-color: #c98484; background-image: none; opacity: 1; filter: alpha(opacity=100); -moz-border-radius: 0; -webkit-border-radius: 0; border-radius: 0 }
.scFilterFooterFont { color: #000; font-family: Arial, sans-serif; font-size: 13px; font-weight: bold; text-decoration: none }
.scFilterBlock { background-color: #F0D2D2; background-image: none; opacity: 1; filter: alpha(opacity=100); border-color: #E0E6E3; border-style: none; border-width: 1px 0 1px 0; color: #000000; font-family: Arial, sans-serif; font-size: 13px; font-weight: bold; padding: 6px 14px 6px 14px; text-decoration: none; vertical-align: middle; -moz-border-radius: 0; -webkit-border-radius: 0; border-radius: 0 }
.scFilterBlockBack { background-color: #F0D2D2; background-image: none; opacity: 1; filter: alpha(opacity=100); border-color: #E0E6E3; border-style: none; border-width: 1px 0 1px 0; padding: 6px 14px 6px 14px }
.scFilterBlockFont { color: #000000; font-family: Arial, sans-serif; font-size: 13px; font-weight: bold; text-decoration: none; vertical-align: middle }
.scFilterBlockAlign { color: #000000; font-family: Arial, sans-serif; font-size: 13px; font-weight: bold; text-decoration: none }
.scFilterLabelOdd { background-color: #F9F9F9; background-image: none; opacity: 1; filter: alpha(opacity=100); border-color: #CCC #DFEEE6 #CCC #DFEEE6; border-style: none; border-width: 1px; color: #000; font-family: Arial, sans-serif; font-size: 13px; font-weight: bold; padding: 4px 4px 4px 10px; text-decoration: none; vertical-align: middle }
.scFilterLabelEven { background-color: #F9F9F9; background-image: none; opacity: 1; filter: alpha(opacity=100); color: #000; font-family: Arial, sans-serif; font-size: 13px; font-weight: bold; padding: 4px 4px 4px 10px; text-decoration: none; vertical-align: middle }
.scFilterFieldOdd { background-color: #F9F9F9; background-image: none; opacity: 1; filter: alpha(opacity=100); border-color: #D2D2D2; border-style: none; border-width: 1px 1px 1px 1px; color: #000; font-family: Arial, sans-serif; font-size: 13px; padding: 5px 5px; text-decoration: none; vertical-align: middle }
.scFilterDataFontOdd { color: #000; font-family: Arial, sans-serif; font-size: 13px; text-decoration: none }
.scFilterFieldFontOdd { color: #000; font-family: Arial, sans-serif; font-size: 13px; text-decoration: none }
.scFilterFieldFontOdd input[type=checkbox] + label, .scFilterFieldFontOdd input[type=radio] + label { position: relative; top: -1px }
.scFilterFieldEven { background-color: #F9F9F9; background-image: none; opacity: 1; filter: alpha(opacity=100); border-color: #D2D2D2; border-style: none; border-width: 1px 1px 1px 1px; color: #000; font-family: Arial, sans-serif; font-size: 13px; padding: 5px 5px; text-decoration: none; vertical-align: middle }
.scFilterFieldFontEven { color: #000; font-family: Arial, sans-serif; font-size: 13px; text-decoration: none }
.scFilterFieldFontEven input[type=checkbox] + label, .scFilterFieldFontEven input[type=radio] + label { position: relative; top: -1px }
.scFilterObjectOdd { background-color: #FFFFFF; background-image: none; opacity: 1; filter: alpha(opacity=100); border-color: #8F9F97; border-style: solid; border-width: 1px; color: #333333; font-family: Arial, sans-serif; font-size: 13px; padding: 2px; text-decoration: none; -moz-border-radius: 0; -webkit-border-radius: 0; border-radius: 0 }
.scFilterObjectOdd:focus, .scFilterObjectOddAc { background-color: #E7F5E7; background-image: none; opacity: 1; filter: alpha(opacity=100); border-color: #66afe9; color: #000000; box-shadow: inset 0 1px 1px rgba(0,0,0,.075),0 0 8px rgba(102,175,233,.6) }
.scFilterObjectOddAc div.ui-menu-item-wrapper, .scFilterObjectOddAc div.ui-menu-item-wrapper.ui-state-active { background: none; border: none; color: #333333; font-family: Arial, sans-serif; font-size: 13px; margin: 0 }
.scFilterObjectEven { background-color: #FFFFFF; background-image: none; opacity: 1; filter: alpha(opacity=100); border-color: #8F9F97; border-style: solid; border-width: 1px; color: #333333; font-family: Arial, sans-serif; font-size: 13px; padding: 2px; text-decoration: none; -moz-border-radius: 0; -webkit-border-radius: 0; border-radius: 0 }
.scFilterObjectEven:focus, .scFilterObjectEvenAc { background-color: #E7F5E7; background-image: none; opacity: 1; filter: alpha(opacity=100); border-color: #66afe9; color: #000000; box-shadow: inset 0 1px 1px rgba(0,0,0,.075),0 0 8px rgba(102,175,233,.6) }
.scFilterObjectEvenAc div.ui-menu-item-wrapper, .scFilterObjectEvenAc div.ui-menu-item-wrapper.ui-state-active { background: none; border: none; color: #333333; font-family: Arial, sans-serif; font-size: 13px; margin: 0 }
.scFilterACTable { border-collapse: collapse; border-color: #BBBBBB #A4ADC2 #A4ADC2 #BBBBBB; border-style: solid; border-width: 1px 2px 2px 1px; -moz-border-radius: 0; -webkit-border-radius: 0; border-radius: 0; -moz-box-shadow: css_filter_moldurapagina_box_shadow; -webkit-box-shadow: css_filter_moldurapagina_box_shadow; box-shadow: css_filter_moldurapagina_box_shadow }
.scFilterACTitle { background-color: #f5f5f5; background-image: none; opacity: 1; filter: alpha(opacity=100); border-color: #AAA #AAA #777777 #AAA; border-width: 1px; color: #000000; font-family: Arial, sans-serif; font-size: 13px; text-shadow: 20px; padding: 2px 4px; text-decoration: none }
.ac_results { background-color: #FFFFFF; background-image: none; opacity: 1; filter: alpha(opacity=100); border-collapse: collapse; color: #000000; font-family: Arial, sans-serif; font-size: 13px; overflow: hidden; padding: 0; text-decoration: css_ajaxac_linha_par_text_decoration; z-index: 99999; -moz-border-radius: 0; -webkit-border-radius: 0; border-radius: 0 }
.ac_results ul { list-style: none; list-style-position: outside; margin: 0; padding: 0; width: 100% }
.ac_results li { cursor: default; display: block; margin: 0; overflow: hidden; padding: 2px 5px; line-height: 16px }
.ac_odd { background-color: #EAEDF2; background-image: none; opacity: 1; filter: alpha(opacity=100); color: #000000; font-family: Arial, sans-serif; font-size: 13px }
.ac_over { background-color: #F0EEEE; background-image: none; opacity: 1; filter: alpha(opacity=100); color: #000000; font-family: Arial, sans-serif; font-size: 13px }
.scFilterPopup { border-collapse: collapse; display: none; position: absolute; z-index: 50 }
.scFilterPopupCorner { height: 15px; width: 19px }
.scFilterPopupTopLeft { background-image: url(../../img/scriptcase__NM__help_topLeftCorner.png); padding: 0 }
.scFilterPopupTop { background-image: url(../../img/scriptcase__NM__help_topLine.png); padding: 0 }
.scFilterPopupTopRight { background-image: url(../../img/scriptcase__NM__help_topRightCorner.png); padding: 0 }
.scFilterPopupLeft { background-image: url(../../img/scriptcase__NM__help_leftColumn.png); padding: 0 }
.scFilterPopupRight { background-image: url(../../img/scriptcase__NM__help_rightColumn.png); padding: 0 }
.scFilterPopupBottomLeft { background-image: url(../../img/scriptcase__NM__help_bottomLeftCorner.png); padding: 0 }
.scFilterPopupBottom { background-image: url(../../img/scriptcase__NM__help_bottomLine.png); padding: 0; text-align: center }
.scFilterPopupBottom img { display: block; margin: 0 auto }
.scFilterPopupBottomRight { background-image: url(../../img/scriptcase__NM__help_bottomRightCorner.png); padding: 0 }
.scFilterPopupContent { background-color: #FFFFFF; background-image: none; opacity: 1; filter: alpha(opacity=100); color: #000000; font-family: Arial, sans-serif; font-size: 13px; text-shadow: 12px; font-style: normal; text-decoration: none }
.scFilterRequiredOdd { color: #FF0000; font-family: Arial; font-size: 12px; text-shadow: 16px }
.scFilterRequiredEven { color: #FF0000; font-family: Arial; font-size: 12px; text-shadow: 16px }
.scBtnPassField { margin: 5px 2px }
.ui-slider-horizontal { background-image: none; opacity: 1; filter: alpha(opacity=100); border-collapse: collapse; margin: 10px auto }
.ui-slider-horizontal > .ui-slider-range { background-image: none; opacity: 1; filter: alpha(opacity=100); border-collapse: collapse }
.ui-slider-horizontal > .ui-state-default { background-image: none; opacity: 1; filter: alpha(opacity=100); border-collapse: collapse; outline: none }
.ui-slider-horizontal > .ui-state-hover { background-image: none; opacity: 1; filter: alpha(opacity=100); border-collapse: collapse }
.ui-slider-horizontal > .ui-state-active { background-image: none; opacity: 1; filter: alpha(opacity=100); border-collapse: collapse }
.scFilterPage .ui-menu .ui-menu-item, .scFilterTable .select2-container--default .select2-selection--single .select2-selection__rendered, .scFormPage .select2-container--default .select2-results__option[aria-selected="true"] { color: #333333 }

#id_div_interativ_search {
  position: relative;
}

.scGridRefinedSearchCollapse {
  cursor: pointer;

  position: absolute;
  top: calc(24px / 4);
  right: -14px;

  width: 24px;
  height: 24px;
  border-radius: 24px;
  background: #fff;
  box-shadow: 0 0 0 1px rgb(9 30 66 / 8%), 0 2px 4px 1px rgb(9 30 66 / 8%);

  display: flex;
  align-items: center;
  justify-content: center;

  z-index: 2;
  transition: all .3s ease;
}

.scGridRefinedSearchCollapse:hover {
  filter: brightness(90%);
}

.scGridRefinedSearchCollapse i {
  margin: 0;
  padding: 0;
  transition: transform .3s ease;
}

#id_div_interativ_search.is-closed .scGridRefinedSearchCollapse i {
  transform: rotate(180deg);
}
#id_div_interativ_search.is-closed{
  position: absolute;
}
#id_div_interativ_search.is-closed #id_div_interativ_search_content {
  display:none;
}
                
