.css_tipo_doc_label {text-align:;vertical-align:middle;justify-content:;font-weight:bold;}
.css_tipo_doc_grid_line {text-align: center;}
.css_resolucion_label {text-align:center;vertical-align:middle;justify-content:center;font-weight:bold;}
.css_resolucion_grid_line {vertical-align: middle;text-align: center;}
.css_numfacven_label {text-align:center;vertical-align:middle;justify-content:center;font-weight:bold;}
.css_numfacven_grid_line {vertical-align: middle;text-align: center;}
.css_idcli_label {text-align:center;vertical-align:middle;justify-content:center;font-weight:bold;}
.css_idcli_grid_line {vertical-align: middle;text-align: left;}
.css_fechaven_label {text-align:center;vertical-align:middle;justify-content:center;font-weight:bold;}
.css_fechaven_grid_line {vertical-align: middle;text-align: center;}
.css_total_label {text-align:center;vertical-align:middle;justify-content:center;font-weight:bold;}
.css_total_grid_line {font-weight:bold;vertical-align: middle;text-align: center;}
.css_total_sub_tot {text-align: center;}
.css_total_tot_ger {text-align: center;}
.css_pagada_label {text-align:center;vertical-align:middle;justify-content:center;font-weight:bold;}
.css_pagada_grid_line {vertical-align: middle;text-align: center;}
.css_asentada_label {text-align:center;vertical-align:middle;justify-content:center;font-weight:bold;}
.css_asentada_grid_line {vertical-align: middle;text-align: center;}
.css_credito_label {text-align:center;vertical-align:middle;justify-content:center;font-weight:bold;}
.css_credito_grid_line {vertical-align: middle;text-align: center;}
.css_imprimir_label {text-align:center;vertical-align:middle;justify-content:center;font-weight:bold;}
.css_imprimir_grid_line {}
.css_imprmirtirilla_label {text-align:;vertical-align:middle;justify-content:;font-weight:bold;}
.css_imprmirtirilla_grid_line {text-align: left;}
.css_idfacven_label {text-align:right;vertical-align:middle;justify-content:right;font-weight:bold;}
.css_idfacven_grid_line {vertical-align: top;text-align: right;}
.css_fechavenc_label {text-align:center;vertical-align:middle;justify-content:center;font-weight:bold;}
.css_fechavenc_grid_line {vertical-align: middle;text-align: center;}
.css_subtotal_label {text-align:right;vertical-align:middle;justify-content:right;font-weight:bold;}
.css_subtotal_grid_line {vertical-align: top;text-align: right;}
.css_subtotal_sub_tot {text-align: right;}
.css_subtotal_tot_ger {text-align: right;}
.css_valoriva_label {text-align:left;vertical-align:middle;justify-content:left;font-weight:bold;}
.css_valoriva_grid_line {vertical-align: top;text-align: right;}
.css_valoriva_sub_tot {text-align: right;}
.css_valoriva_tot_ger {text-align: right;}
.css_observaciones_label {text-align:left;vertical-align:middle;justify-content:left;font-weight:bold;}
.css_observaciones_grid_line {vertical-align: middle;text-align: left;}
.css_saldo_label {text-align:right;vertical-align:middle;justify-content:right;font-weight:bold;}
.css_saldo_grid_line {vertical-align: top;text-align: right;}
.css_adicional_label {text-align:right;vertical-align:middle;justify-content:right;font-weight:bold;}
.css_adicional_grid_line {vertical-align: top;text-align: right;}
.css_adicional2_label {text-align:right;vertical-align:middle;justify-content:right;font-weight:bold;}
.css_adicional2_grid_line {vertical-align: top;text-align: right;}
.css_adicional3_label {text-align:right;vertical-align:middle;justify-content:right;font-weight:bold;}
.css_adicional3_grid_line {vertical-align: top;text-align: right;}
.css_vendedor_label {text-align:center;vertical-align:middle;justify-content:center;font-weight:bold;}
.css_vendedor_grid_line {font-size:10px;vertical-align: middle;text-align: left;}
.css_pedido_label {text-align:right;vertical-align:middle;justify-content:right;font-weight:bold;}
.css_pedido_grid_line {vertical-align: top;text-align: right;}
.css_base_iva_19_label {text-align:left;vertical-align:middle;justify-content:left;font-weight:bold;}
.css_base_iva_19_grid_line {vertical-align: top;text-align: right;}
.css_base_iva_19_sub_tot {text-align: right;}
.css_base_iva_19_tot_ger {text-align: right;}
.css_valor_iva_19_label {text-align:left;vertical-align:middle;justify-content:left;font-weight:bold;}
.css_valor_iva_19_grid_line {vertical-align: top;text-align: right;}
.css_valor_iva_19_sub_tot {text-align: right;}
.css_valor_iva_19_tot_ger {text-align: right;}
.css_base_iva_5_label {text-align:left;vertical-align:middle;justify-content:left;font-weight:bold;}
.css_base_iva_5_grid_line {vertical-align: top;text-align: right;}
.css_base_iva_5_sub_tot {text-align: right;}
.css_base_iva_5_tot_ger {text-align: right;}
.css_valor_iva_5_label {text-align:left;vertical-align:middle;justify-content:left;font-weight:bold;}
.css_valor_iva_5_grid_line {vertical-align: top;text-align: right;}
.css_valor_iva_5_sub_tot {text-align: right;}
.css_valor_iva_5_tot_ger {text-align: right;}
.css_excento_label {text-align:left;vertical-align:middle;justify-content:left;font-weight:bold;}
.css_excento_grid_line {vertical-align: top;text-align: right;}
.css_excento_sub_tot {text-align: right;}
.css_excento_tot_ger {text-align: right;}
.css_base_con_8_label {text-align:right;vertical-align:middle;justify-content:right;font-weight:bold;}
.css_base_con_8_grid_line {vertical-align: top;text-align: right;}
.css_base_con_8_tot_ger {text-align: right;}
.css_valor_con_8_label {text-align:right;vertical-align:middle;justify-content:right;font-weight:bold;}
.css_valor_con_8_grid_line {vertical-align: top;text-align: right;}
.css_valor_con_8_tot_ger {text-align: right;}
.css_t_iva_label {text-align:right;vertical-align:middle;justify-content:right;font-weight:bold;}
.css_t_iva_grid_line {vertical-align: top;text-align: right;}
.css_t_iva_tot_ger {text-align: right;}
.css_imp_bolsa_label {text-align:right;vertical-align:middle;justify-content:right;font-weight:bold;}
.css_imp_bolsa_grid_line {vertical-align: top;text-align: right;}
.css_imp_bolsa_tot_ger {text-align: right;}
.css_print_label {text-align:;vertical-align:middle;justify-content:;font-weight:bold;}
.css_print_grid_line {text-align: left;}
.css_direccion_label {text-align:left;vertical-align:middle;justify-content:left;font-weight:bold;}
.css_direccion_grid_line {vertical-align: middle;text-align: left;}
.css_documento_label {text-align:left;vertical-align:middle;justify-content:left;font-weight:bold;}
.css_documento_grid_line {vertical-align: middle;text-align: center;}
.css_detalleventa_grid_line {text-align: center;}
