.css_NM_Count_cnt_field {text-align: right}
.css_total_sum_label {text-align: right; vertical-align: top}
.css_total_sum_field {text-align: right; vertical-align: top}
.css_subtotal_sum_label {text-align: right; vertical-align: top}
.css_subtotal_sum_field {text-align: right; vertical-align: top}
.css_valoriva_sum_label {text-align: right; vertical-align: top}
.css_valoriva_sum_field {text-align: right; vertical-align: top}
.css_base_iva_19_sum_label {text-align: right; vertical-align: top}
.css_base_iva_19_sum_field {text-align: right; vertical-align: top}
.css_valor_iva_19_sum_label {text-align: right; vertical-align: top}
.css_valor_iva_19_sum_field {text-align: right; vertical-align: top}
.css_base_iva_5_sum_label {text-align: right; vertical-align: top}
.css_base_iva_5_sum_field {text-align: right; vertical-align: top}
.css_valor_iva_5_sum_label {text-align: right; vertical-align: top}
.css_valor_iva_5_sum_field {text-align: right; vertical-align: top}
.css_excento_sum_label {text-align: right; vertical-align: top}
.css_excento_sum_field {text-align: right; vertical-align: top}
.css___nm_count_nm___cnt_label {text-align: right; vertical-align: top}
.css___nm_count_nm___cnt_field {text-align: right; vertical-align: top}
