.css_id_cloud_kardex_label {text-align:right;vertical-align:middle;justify-content:right;font-weight:bold;}
.css_id_cloud_kardex_grid_line {vertical-align: top;text-align: right;}
.css_tipo_label {text-align:left;vertical-align:middle;justify-content:left;font-weight:bold;}
.css_tipo_grid_line {vertical-align: top;text-align: right;}
.css_prefijo_label {text-align:left;vertical-align:middle;justify-content:left;font-weight:bold;}
.css_prefijo_grid_line {vertical-align: top;text-align: right;}
.css_numero_label {text-align:right;vertical-align:middle;justify-content:right;font-weight:bold;}
.css_numero_grid_line {vertical-align: top;text-align: right;}
.css_tercero_label {text-align:left;vertical-align:middle;justify-content:left;font-weight:bold;}
.css_tercero_grid_line {vertical-align: top;text-align: right;}
.css_estado_label {text-align:left;vertical-align:middle;justify-content:left;font-weight:bold;}
.css_estado_grid_line {vertical-align: top;text-align: right;}
.css_avisos_label {text-align:left;vertical-align:middle;justify-content:left;font-weight:bold;}
.css_avisos_grid_line {vertical-align: top;text-align: right;}
