.css_prefijo_ped_label {text-align:left;vertical-align:middle;justify-content:left;font-weight:bold;}
.css_prefijo_ped_grid_line {vertical-align: top;text-align: center;}
.css_numpedido_label {text-align:left;vertical-align:middle;justify-content:left;font-weight:bold;}
.css_numpedido_grid_line {vertical-align: middle;text-align: left;}
.css_idcli_label {text-align:center;vertical-align:middle;justify-content:center;font-weight:bold;}
.css_idcli_grid_line {vertical-align: middle;text-align: left;}
.css_fechaven_label {text-align:center;vertical-align:middle;justify-content:center;font-weight:bold;}
.css_fechaven_grid_line {vertical-align: middle;text-align: center;}
.css_facturado_label {text-align:center;vertical-align:middle;justify-content:center;font-weight:bold;}
.css_facturado_grid_line {vertical-align: middle;text-align: center;}
.css_vendedor_label {text-align:left;vertical-align:middle;justify-content:left;font-weight:bold;}
.css_vendedor_grid_line {vertical-align: top;text-align: left;}
.css_idpedido_label {text-align:left;vertical-align:middle;justify-content:left;font-weight:bold;}
.css_idpedido_grid_line {vertical-align: top;text-align: center;}
.css_numfacven_label {text-align:right;vertical-align:middle;justify-content:right;font-weight:bold;}
.css_numfacven_grid_line {vertical-align: top;text-align: right;}
.css_nremision_label {text-align:right;vertical-align:middle;justify-content:right;font-weight:bold;}
.css_nremision_grid_line {vertical-align: top;text-align: right;}
.css_credito_label {text-align:right;vertical-align:middle;justify-content:right;font-weight:bold;}
.css_credito_grid_line {vertical-align: top;text-align: right;}
.css_fechavenc_label {text-align:center;vertical-align:middle;justify-content:center;font-weight:bold;}
.css_fechavenc_grid_line {vertical-align: top;text-align: center;}
