.css_id_gestor_label { }
.css_id_gestor_line {text-align:left;}
.css_id_gestor_obj {text-align:left;}
.css_fecha_label { }
.css_fecha_line { }
.css_fecha_obj { }
.css_nombre_label { }
.css_nombre_line { }
.css_nombre_obj { }
.css_tipo_label { }
.css_tipo_line { }
.css_tipo_obj { }
.css_editado_label { }
.css_editado_line { }
.css_editado_obj { }
.css_peso_label { }
.css_peso_line {text-align:left;}
.css_peso_obj {text-align:left;}
.css_usuario_label { }
.css_usuario_line { }
.css_usuario_obj { }
.css_descripcion_label { }
.css_descripcion_line { }
.css_descripcion_obj { }
