.css_iddireccion__label {text-align:right;}
.css_iddireccion__line {text-align:left;}
.css_iddireccion__obj {text-align:left;}
.css_idter__label {text-align:right;}
.css_idter__line {text-align:left;}
.css_idter__obj {text-align:left;}
.css_iddepar__label {text-align:center;vertical-align:middle;}
.css_iddepar__line {text-align:left;}
.css_iddepar__obj {text-align:left;}
.css_idmuni__label {text-align:center;vertical-align:middle;}
.css_idmuni__line {text-align:left;}
.css_idmuni__obj {text-align:left;}
.css_direc__label {text-align:center;vertical-align:middle;}
.css_direc__line {width:200px;}
.css_direc__obj {width:200px;}
.css_obs__label {text-align:center;vertical-align:middle;}
.css_obs__line {width:150px;}
.css_obs__obj {width:150px;}
.css_telefono__label {text-align:center;vertical-align:middle;}
.css_telefono__line { }
.css_telefono__obj { }
.css_ciudad__label { }
.css_ciudad__line { }
.css_ciudad__obj { }
.css_codigo_postal__label { }
.css_codigo_postal__line { }
.css_codigo_postal__obj { }
.css_lenguaje__label { }
.css_lenguaje__line { }
.css_lenguaje__obj { }
.css_correo__label { }
.css_correo__line { }
.css_correo__obj { }
.css_correo_notificafe__label { }
.css_correo_notificafe__line { }
.css_correo_notificafe__obj { }
.css_celular_notificafe__label { }
.css_celular_notificafe__line { }
.css_celular_notificafe__obj { }
