.css_codigobar_label {text-align:left;vertical-align:middle;justify-content:left;font-weight:bold;}
.css_codigobar_grid_line {vertical-align: top;text-align: right;}
.css_nompro_label {text-align:left;vertical-align:middle;justify-content:left;font-weight:bold;}
.css_nompro_grid_line {vertical-align: top;text-align: right;}
.css_estado_label {text-align:;vertical-align:middle;justify-content:;font-weight:bold;}
.css_estado_grid_line {text-align: center;}
.css_existenciaentns_label {text-align:;vertical-align:middle;justify-content:;font-weight:bold;}
.css_existenciaentns_grid_line {text-align: center;}
.css_unimen_label {text-align:left;vertical-align:middle;justify-content:left;font-weight:bold;}
.css_unimen_grid_line {vertical-align: top;text-align: right;}
.css_unimay_label {text-align:left;vertical-align:middle;justify-content:left;font-weight:bold;}
.css_unimay_grid_line {vertical-align: top;text-align: right;}
.css_idprod_label {text-align:right;vertical-align:middle;justify-content:right;font-weight:bold;}
.css_idprod_grid_line {vertical-align: top;text-align: right;}
.css_codigoprod_label {text-align:left;vertical-align:middle;justify-content:left;font-weight:bold;}
.css_codigoprod_grid_line {vertical-align: top;text-align: right;}
.css_unidmaymen_label {text-align:left;vertical-align:middle;justify-content:left;font-weight:bold;}
.css_unidmaymen_grid_line {vertical-align: top;text-align: right;}
