.css_tipo_label {text-align:left;vertical-align:middle;justify-content:left;font-weight:bold;}
.css_tipo_grid_line {vertical-align: top;text-align: left;}
.css_peso_label {text-align:left;vertical-align:middle;justify-content:left;font-weight:bold;}
.css_peso_grid_line {vertical-align: top;text-align: right;}
.css_archivo_label {text-align:left;vertical-align:middle;justify-content:left;font-weight:bold;}
.css_archivo_grid_line {text-align: left;}
.css_descripcion_label {text-align:left;vertical-align:middle;justify-content:left;font-weight:bold;}
.css_descripcion_grid_line {vertical-align: top;text-align: left;}
.css_id_gestor_label {text-align:left;vertical-align:middle;justify-content:left;font-weight:bold;}
.css_id_gestor_grid_line {vertical-align: top;text-align: right;}
.css_fecha_label {text-align:left;vertical-align:middle;justify-content:left;font-weight:bold;}
.css_fecha_grid_line {vertical-align: top;text-align: center;}
.css_nombre_label {text-align:left;vertical-align:middle;justify-content:left;font-weight:bold;}
.css_nombre_grid_line {vertical-align: top;text-align: left;}
.css_editado_label {text-align:left;vertical-align:middle;justify-content:left;font-weight:bold;}
.css_editado_grid_line {vertical-align: top;text-align: center;}
.css_usuario_label {text-align:left;vertical-align:middle;justify-content:left;font-weight:bold;}
.css_usuario_grid_line {vertical-align: top;text-align: left;}
