.css_creado_label {text-align:center;vertical-align:middle;justify-content:center;font-weight:bold;}
.css_creado_grid_line {vertical-align: top;text-align: center;}
.css_descripcion_label {text-align:left;vertical-align:middle;justify-content:left;font-weight:bold;}
.css_descripcion_grid_line {vertical-align: top;text-align: right;}
.css_asunto_label {text-align:left;vertical-align:middle;justify-content:left;font-weight:bold;}
.css_asunto_grid_line {vertical-align: top;text-align: right;}
.css_activo_label {text-align:left;vertical-align:middle;justify-content:left;font-weight:bold;}
.css_activo_grid_line {vertical-align: top;text-align: right;}
.css_id_label {text-align:right;vertical-align:middle;justify-content:right;font-weight:bold;}
.css_id_grid_line {vertical-align: top;text-align: right;}
.css_inicio_label {text-align:center;vertical-align:middle;justify-content:center;font-weight:bold;}
.css_inicio_grid_line {vertical-align: top;text-align: center;}
.css_fin_label {text-align:center;vertical-align:middle;justify-content:center;font-weight:bold;}
.css_fin_grid_line {vertical-align: top;text-align: center;}
.css_mensaje_label {text-align:left;vertical-align:middle;justify-content:left;font-weight:bold;}
.css_mensaje_grid_line {vertical-align: top;text-align: right;}
