.css_idtipotran_label {text-align:center;vertical-align:middle;justify-content:center;font-weight:bold;}
.css_idtipotran_grid_line {font-size:10px;vertical-align: middle;text-align: left;}
.css_fecha_label {text-align:center;vertical-align:middle;justify-content:center;font-weight:bold;}
.css_fecha_grid_line {vertical-align: middle;text-align: center;}
.css_idpro_label {text-align:center;vertical-align:middle;justify-content:center;font-weight:bold;}
.css_idpro_grid_line {vertical-align: middle;text-align: left;}
.css_colores_label {text-align:center;vertical-align:middle;justify-content:center;font-weight:bold;}
.css_colores_grid_line {vertical-align: middle;text-align: center;}
.css_tallas_label {text-align:center;vertical-align:middle;justify-content:center;font-weight:bold;}
.css_tallas_grid_line {vertical-align: middle;text-align: center;}
.css_sabor_label {text-align:center;vertical-align:middle;justify-content:center;font-weight:bold;}
.css_sabor_grid_line {vertical-align: middle;text-align: center;}
.css_cantidad_label {text-align:center;vertical-align:middle;justify-content:center;font-weight:bold;}
.css_cantidad_grid_line {vertical-align: middle;text-align: right;}
.css_idbodorig_label {text-align:center;vertical-align:middle;justify-content:center;font-weight:bold;}
.css_idbodorig_grid_line {vertical-align: middle;text-align: center;}
.css_observaciones_label {text-align:center;vertical-align:middle;justify-content:center;font-weight:bold;}
.css_observaciones_grid_line {font-size:10px;vertical-align: middle;text-align: left;}
.css_imprimir_label {text-align:center;vertical-align:middle;justify-content:center;font-weight:bold;}
.css_imprimir_grid_line {}
.css_presentacion_label {text-align:;vertical-align:middle;justify-content:;font-weight:bold;}
.css_presentacion_grid_line {text-align: left;}
.css_idmov_label {text-align:right;vertical-align:middle;justify-content:right;font-weight:bold;}
.css_idmov_grid_line {vertical-align: top;text-align: right;}
