html { position: relative; margin: 0; padding: 0; height: 100%; }
body { margin: 0; padding: 0; text-align: left; height: 100%; }
#imPageExtContainer {min-height: 100%; }
#imPageIntContainer { position: relative;}
#imPage { position: relative; width: 100%; }
#imHeaderBg { position: absolute; left: 0; top: 0; width: 100%; }
#imContent { position: relative; }
#imFooterBg { position: absolute; left: 0; bottom: 0; width: 100%; }
#imStickyBarContainer { visibility: hidden; position: fixed; overflow: hidden; }
#imPageToTop { position: fixed; bottom: 30px; right: 30px; z-index: 10500; display: none; opacity: 0.75 }
#imPageToTop:hover {opacity: 1; cursor: pointer; }
@media (min-width: 1150px) {
		#imPageExtContainer { background-image: none; background-color: transparent; }
		#imPage { padding-top: 0px; padding-bottom: 0px; min-width: 1150px; }
		#imHeaderBg { height: 150px; background-image: none; background-color: transparent; }
		#imHeader { background-image: url('header-back_iajuosdb.png'); background-position: left bottom; background-repeat: repeat-x; background-attachment: scroll; background-color: rgba(255, 255, 255, 1); }
		#imHeaderObjects { margin-left: auto; margin-right: auto; position: relative; height: 150px; width:1150px; }
		#imContent { align-self: start; padding: 0px 0 0px 0; }
		#imContentGraphics { min-height: 600px; background-image: none; background-color: transparent; }
		#imFooterBg { height: 400px; background-image: url('large-2142241.png'); background-position: left top; background-repeat: repeat; background-attachment: scroll; background-color: transparent; }
		#imFooter { background-image: url('footerback.png'); background-position: right bottom; background-repeat: repeat-x; background-attachment: scroll; background-color: transparent; }
		#imFooterObjects { margin-left: auto; margin-right: auto; position: relative; height: 400px; width:1150px; }
		#imSideBar { background-image: none; background-color: transparent; overflow: visible; zoom: 1; z-index: 200; }
		#imSideBarObjects { position: relative; height: 600px; }
		#imStickyBarContainer { top: 0; left: 0; right: 0; margin: auto; width: 100%; height: 70px; box-sizing: border-box; z-index: 10301; }
		#imStickyBarGraphics { top: 0; left: 0; right: 0; margin: auto; width: 100%; height: 70px; box-sizing: border-box; background-image: none; background-color: transparent; position: absolute; opacity: 1}
		#imStickyBar { position: relative; top: 0; left: 0; margin: auto; width: 1150px }
		#imStickyBarObjects { position: relative; height: 70px; }
	
}
@media (max-width: 1149.9px) and (min-width: 720px) {
		#imPageExtContainer { background-image: none; background-color: transparent; }
		#imPage { padding-top: 0px; padding-bottom: 0px; min-width: 720px; }
		#imHeaderBg { height: 150px; background-image: none; background-color: transparent; }
		#imHeader { background-image: url('header-back_b9bz54z8.png'); background-position: left bottom; background-repeat: repeat-x; background-attachment: scroll; background-color: rgba(255, 255, 255, 1); }
		#imHeaderObjects { margin-left: auto; margin-right: auto; position: relative; height: 150px; width:720px; }
		#imContent { align-self: start; padding: 0px 0 0px 0; }
		#imContentGraphics { min-height: 600px; background-image: none; background-color: transparent; }
		#imFooterBg { height: 400px; background-image: url('large-2142241.png'); background-position: left top; background-repeat: repeat; background-attachment: scroll; background-color: transparent; }
		#imFooter { background-image: url('footerback.png'); background-position: right bottom; background-repeat: repeat-x; background-attachment: scroll; background-color: transparent; }
		#imFooterObjects { margin-left: auto; margin-right: auto; position: relative; height: 400px; width:720px; }
		#imSideBar { background-image: none; background-color: transparent; overflow: visible; zoom: 1; z-index: 200; }
		#imSideBarObjects { position: relative; height: 600px; }
		#imStickyBarContainer { top: 0; left: 0; right: 0; margin: auto; width: 100%; height: 70px; box-sizing: border-box; z-index: 10301; }
		#imStickyBarGraphics { top: 0; left: 0; right: 0; margin: auto; width: 100%; height: 70px; box-sizing: border-box; background-image: none; background-color: transparent; position: absolute; opacity: 1}
		#imStickyBar { position: relative; top: 0; left: 0; margin: auto; width: 720px }
		#imStickyBarObjects { position: relative; height: 70px; }
	
}
@media (max-width: 719.9px) and (min-width: 480px) {
		#imPageExtContainer { background-image: none; background-color: transparent; }
		#imPage { padding-top: 0px; padding-bottom: 0px; min-width: 480px; }
		#imHeaderBg { height: 150px; background-image: none; background-color: transparent; }
		#imHeader { background-image: url('header-back_7clfujdp.png'); background-position: left bottom; background-repeat: repeat-x; background-attachment: scroll; background-color: rgba(255, 255, 255, 1); }
		#imHeaderObjects { margin-left: auto; margin-right: auto; position: relative; height: 150px; width:480px; }
		#imContent { align-self: start; padding: 0px 0 0px 0; }
		#imContentGraphics { min-height: 600px; background-image: none; background-color: transparent; }
		#imFooterBg { height: 400px; background-image: url('large-2142241.png'); background-position: left top; background-repeat: repeat; background-attachment: scroll; background-color: transparent; }
		#imFooter { background-image: url('footerback.png'); background-position: right bottom; background-repeat: repeat-x; background-attachment: scroll; background-color: transparent; }
		#imFooterObjects { margin-left: auto; margin-right: auto; position: relative; height: 400px; width:480px; }
		#imSideBar { background-image: none; background-color: transparent; overflow: visible; zoom: 1; z-index: 200; }
		#imSideBarObjects { position: relative; height: 600px; }
		#imStickyBarContainer { top: 0; left: 0; right: 0; margin: auto; width: 100%; height: 70px; box-sizing: border-box; z-index: 10301; }
		#imStickyBarGraphics { top: 0; left: 0; right: 0; margin: auto; width: 100%; height: 70px; box-sizing: border-box; background-image: none; background-color: transparent; position: absolute; opacity: 1}
		#imStickyBar { position: relative; top: 0; left: 0; margin: auto; width: 480px }
		#imStickyBarObjects { position: relative; height: 70px; }
	
}
@media (max-width: 479.9px)  {
		#imPageExtContainer { background-image: none; background-color: transparent; }
		#imPage { padding-top: 0px; padding-bottom: 0px; }
		#imHeaderBg { height: 150px; background-image: none; background-color: transparent; }
		#imHeader { background-image: url('header-back_hcxs6icx.png'); background-position: left bottom; background-repeat: repeat-x; background-attachment: scroll; background-color: rgba(255, 255, 255, 1); }
		#imHeaderObjects { margin-left: auto; margin-right: auto; position: relative; height: 150px; width:320px; }
		#imContent { align-self: start; padding: 0px 0 0px 0; }
		#imContentGraphics { min-height: 600px; background-image: none; background-color: transparent; }
		#imFooterBg { height: 400px; background-image: url('large-2142241.png'); background-position: left top; background-repeat: repeat; background-attachment: scroll; background-color: transparent; }
		#imFooter { background-image: url('footerback.png'); background-position: right bottom; background-repeat: repeat-x; background-attachment: scroll; background-color: transparent; }
		#imFooterObjects { margin-left: auto; margin-right: auto; position: relative; height: 400px; width:320px; }
		#imSideBar { background-image: none; background-color: transparent; overflow: visible; zoom: 1; z-index: 200; }
		#imSideBarObjects { position: relative; height: 600px; }
		#imStickyBarContainer { top: 0; left: 0; right: 0; margin: auto; width: 100%; height: 70px; box-sizing: border-box; z-index: 10301; }
		#imStickyBarGraphics { top: 0; left: 0; right: 0; margin: auto; width: 100%; height: 70px; box-sizing: border-box; background-image: none; background-color: transparent; position: absolute; opacity: 1}
		#imStickyBar { position: relative; top: 0; left: 0; margin: auto; width: 320px }
		#imStickyBarObjects { position: relative; height: 70px; }
	
}
