.css_codigobar_label {text-align:left;vertical-align:middle;justify-content:left;font-weight:bold;}
.css_codigobar_grid_line {vertical-align: top;text-align: left;}
.css_nompro_label {text-align:left;vertical-align:middle;justify-content:left;font-weight:bold;}
.css_nompro_grid_line {vertical-align: top;text-align: left;}
.css_idgrup_label {text-align:left;vertical-align:middle;justify-content:left;font-weight:bold;}
.css_idgrup_grid_line {vertical-align: top;text-align: left;}
.css_preciomen_label {text-align:left;vertical-align:middle;justify-content:left;font-weight:bold;}
.css_preciomen_grid_line {vertical-align: top;text-align: right;}
.css_preciomen2_label {text-align:left;vertical-align:middle;justify-content:left;font-weight:bold;}
.css_preciomen2_grid_line {vertical-align: top;text-align: right;}
.css_preciomen3_label {text-align:left;vertical-align:middle;justify-content:left;font-weight:bold;}
.css_preciomen3_grid_line {vertical-align: top;text-align: right;}
.css_unimen_label {text-align:left;vertical-align:middle;justify-content:left;font-weight:bold;}
.css_unimen_grid_line {vertical-align: top;text-align: center;}
.css_existencia_menor_label {text-align:left;vertical-align:middle;justify-content:left;font-weight:bold;}
.css_existencia_menor_grid_line {vertical-align: top;text-align: right;}
.css_preciofull_label {text-align:left;vertical-align:middle;justify-content:left;font-weight:bold;}
.css_preciofull_grid_line {vertical-align: top;text-align: right;}
.css_precio2_label {text-align:left;vertical-align:middle;justify-content:left;font-weight:bold;}
.css_precio2_grid_line {vertical-align: top;text-align: right;}
.css_preciomay_label {text-align:left;vertical-align:middle;justify-content:left;font-weight:bold;}
.css_preciomay_grid_line {vertical-align: top;text-align: right;}
.css_unimay_label {text-align:left;vertical-align:middle;justify-content:left;font-weight:bold;}
.css_unimay_grid_line {vertical-align: top;text-align: center;}
.css_stockmen_label {text-align:left;vertical-align:middle;justify-content:left;font-weight:bold;}
.css_stockmen_grid_line {vertical-align: top;text-align: right;}
.css_idprod_label {text-align:right;vertical-align:middle;justify-content:right;font-weight:bold;}
.css_idprod_grid_line {vertical-align: top;text-align: right;}
.css_codigoprod_label {text-align:left;vertical-align:middle;justify-content:left;font-weight:bold;}
.css_codigoprod_grid_line {vertical-align: top;text-align: left;}
.css_unidmaymen_label {text-align:left;vertical-align:middle;justify-content:left;font-weight:bold;}
.css_unidmaymen_grid_line {vertical-align: top;text-align: left;}
