.css_f_fechaven_label {text-align:center;vertical-align:middle;justify-content:center;font-weight:bold;}
.css_f_fechaven_grid_line {vertical-align: top;text-align: center;}
.css_factura_label {text-align:left;vertical-align:middle;justify-content:left;font-weight:bold;}
.css_factura_grid_line {vertical-align: top;text-align: right;}
.css_cliente_label {text-align:left;vertical-align:middle;justify-content:left;font-weight:bold;}
.css_cliente_grid_line {vertical-align: top;text-align: right;}
.css_codigo_label {text-align:left;vertical-align:middle;justify-content:left;font-weight:bold;}
.css_codigo_grid_line {vertical-align: top;text-align: right;}
.css_producto_label {text-align:left;vertical-align:middle;justify-content:left;font-weight:bold;}
.css_producto_grid_line {vertical-align: top;text-align: right;}
.css_d_cantidad_label {text-align:right;vertical-align:middle;justify-content:right;font-weight:bold;}
.css_d_cantidad_grid_line {vertical-align: top;text-align: right;}
