/************colores globales******************/
:root {
  --q-primary: #60A8DD;/*azul claro*/
    --q-secondary: #727176;/*gris*/
    --q-tertiario: #4459fa;
    --q-tertiario-a40:  rgba(126, 15, 255, .4);
    --q-alterno: #002D85;/*azul*/
    --q-alterno-a40: rgba(89, 20, 130, .4);
    --q-background: #E4E9F7;
    /scrollbar-width: 0 !important;
    /*scrollbar-color: var(--q-secondary) var(--q-primary) !important;*/
  }
  
body {
  font-family: "Roboto", sans-serif;
  background-color: #f8fafb; }

p {
  color: #b3b3b3;
  font-weight: 300; }

h1, h2, h3, h4, h5, h6,
.h1, .h2, .h3, .h4, .h5, .h6 {
  font-family: "Roboto", sans-serif; }

a {
  -webkit-transition: .3s all ease;
  -o-transition: .3s all ease;
  transition: .3s all ease; }
  a:hover {
    text-decoration: none !important; }

.content {
  padding: 4rem 0 1rem 0; }

h2 {
  font-size: 20px; }


  .banner, .banner > img {border-radius: .4rem}

  
.content .contents, .content .bg {
  width: 50%; 
}
  .content .contents .form-group, .content .bg .form-group {
    overflow: hidden;
    margin-bottom: 0;
    padding: 15px 15px;
    border-bottom: none;
    position: relative;
    background: #edf2f5;
    border-bottom: 1px solid #e6edf1; }
    .content .contents .form-group label, .content .bg .form-group label {
      position: absolute;
      top: 50%;
      -webkit-transform: translateY(-50%);
      -ms-transform: translateY(-50%);
      transform: translateY(-50%);
      -webkit-transition: .3s all ease;
      -o-transition: .3s all ease;
      transition: .3s all ease; }
    .content .contents .form-group input, .content .bg .form-group input {
      background: transparent; }
    .content .contents .form-group.first, .content .bg .form-group.first {
      border-top-left-radius: 7px;
      border-top-right-radius: 7px; }
    .content .contents .form-group.last, .content .bg .form-group.last {
      border-bottom-left-radius: 7px;
      border-bottom-right-radius: 7px; }
    .content .contents .form-group label, .content .bg .form-group label {
      font-size: 12px;
      display: block;
      margin-bottom: 0;
      color: #b3b3b3; }
    .content .contents .form-group.focus, .content .bg .form-group.focus {
      background: #fff; }
    .content .contents .form-group.field--not-empty label, .content .bg .form-group.field--not-empty label {
      margin-top: -20px; }
  .content .contents .form-control, .content .bg .form-control {
    border: none;
    padding: 0;
    font-size: 20px;
    border-radius: 0;
  color: var(--q-secondary);
    }
    .content .contents .form-control:active, .content .contents .form-control:focus, .content .bg .form-control:active, .content .bg .form-control:focus {
      outline: none;
      -webkit-box-shadow: none;
      box-shadow: none; }

.content .bg {
  background-size: cover;
  background-position: center; }

.content a {
  color: #888;
  text-decoration: underline; }

.content .btn {
  height: 54px;
  padding-left: 30px;
  padding-right: 30px; }

.content .forgot-pass {
  position: relative;
  top: 2px;
  font-size: 14px; }

.social-login a {
  text-decoration: none;
  position: relative;
  text-align: center;
  margin-bottom: 10px;
  display: inline-block;
  font-size: 1.2rem;
  padding: .4rem;
  border-radius: 50%;
}
  .social-login a > span {
 	opacity: .95; 
    color: #FFF;
  }
  .social-login a:hover > span {
 	opacity: 1;
  }
  .social-login a.facebook {
    background: #3b5998; }
  .social-login a.youtube {
    background: #ea4335; }

.control {
  display: block;
  position: relative;
  padding-left: 30px;
  margin-bottom: 15px;
  cursor: pointer;
  font-size: 14px; }
  .control .caption {
    position: relative;
    top: .2rem;
    color: #888; }

.control input {
  position: absolute;
  z-index: -1;
  opacity: 0; }

.control__indicator {
  position: absolute;
  top: 2px;
  left: 0;
  height: 20px;
  width: 20px;
  background: #e6e6e6;
  border-radius: 4px; }

.control--radio .control__indicator {
  border-radius: 50%; }

.control:hover input ~ .control__indicator,
.control input:focus ~ .control__indicator {
  background: #ccc; }

.control input:checked ~ .control__indicator {
  background: #60A8DD; }

.control:hover input:not([disabled]):checked ~ .control__indicator,
.control input:checked:focus ~ .control__indicator {
  background: #60A8DD; }

.control input:disabled ~ .control__indicator {
  background: #e6e6e6;
  opacity: 0.9;
  pointer-events: none; }

.control__indicator:after {
  content: "\f791";  /* this is your text. You can also use UTF-8 character codes as I do here */
  font-family: "Font Awesome 5 Brands";
  position: absolute;
  display: none;
  font-size: 16px;
  -webkit-transition: .3s all ease;
  -o-transition: .3s all ease;
  transition: .3s all ease; }

.control input:checked ~ .control__indicator:after {
  display: block;
  color: #fff; }

.control--checkbox .control__indicator:after {
  top: 50%;
  left: 50%;
  margin-top: -1px;
  -webkit-transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%); }

.control--checkbox input:disabled ~ .control__indicator:after {
  border-color: #7b7b7b; }

.control--checkbox input:disabled:checked ~ .control__indicator {
  background-color: #7e0cf5;
  opacity: .2; }
  
.logo-login{max-width: 100%}
  
.select2-container {
  width: 100% !important;
}
.select2-container--default .select2-selection--single {
  background-color: transparent !important;
  display: flex !important;
  border: none !important;
}
.select2-container--default .select2-selection--single .select2-selection__arrow {
  height: 40px !important;
}
.select2-container--default .select2-selection--single .select2-selection__arrow b {
  border-color: #444 transparent transparent transparent !important;
  margin-top: -10px !important;
}  
  .select2-container--default .select2-selection--single:focus{
  border: none !important;
  }
  
  .btn-submit {
  color: #fff;
  background-color: var(--q-primary);
  border-color:  var(--q-primary);
} 
  .btn-submit:hover {
  background-color: var(--q-alterno);
  border-color:  var(--q-alterno);
}
  
  
    @media (max-width: 600px){
  
    .img-fluid {
      display: none !important;
    }
    
  }
@media (max-width: 991.98px) {
  .content .bg {
    height: 500px; }
}

  
  @media (max-width: 1199.98px) {
    .content .contents, .content .bg {
      width: 100%; } }
  
  
  @media (min-width: 1400px) {
    .content {padding: 7rem 0; } 
  }
  
  
