.css_id_envio_label {text-align:right;vertical-align:middle;justify-content:right;font-weight:bold;}
.css_id_envio_grid_line {vertical-align: top;text-align: right;}
.css_fechayhora_label {text-align:center;vertical-align:middle;justify-content:center;font-weight:bold;}
.css_fechayhora_grid_line {vertical-align: top;text-align: center;}
.css_tipo_label {text-align:left;vertical-align:middle;justify-content:left;font-weight:bold;}
.css_tipo_grid_line {vertical-align: top;text-align: left;}
.css_documento_label {text-align:left;vertical-align:middle;justify-content:left;font-weight:bold;}
.css_documento_grid_line {vertical-align: top;text-align: left;}
.css_correo_label {text-align:left;vertical-align:middle;justify-content:left;font-weight:bold;}
.css_correo_grid_line {vertical-align: top;text-align: left;}
.css_id_empresa_label {text-align:right;vertical-align:middle;justify-content:right;font-weight:bold;}
.css_id_empresa_grid_line {vertical-align: top;text-align: right;}
