.css_fisicoid_det_label {text-align: left;vertical-align: middle;}
.css_fisicoid_det_line {height:0px;text-align: left;}
.css_matid_det_label {text-align: left;vertical-align: middle;}
.css_matid_det_line {height:0px;text-align: left;}
.css_canlista_det_label {text-align: left;vertical-align: middle;}
.css_canlista_det_line {height:0px;text-align: left;}
.css_tipund_det_label {text-align: left;vertical-align: middle;}
.css_tipund_det_line {height:0px;text-align: left;}
.css_existencia_det_label {text-align: left;vertical-align: middle;}
.css_existencia_det_line {height:0px;text-align: left;}
.css_canmat_det_label {text-align: left;vertical-align: middle;}
.css_canmat_det_line {height:0px;text-align: left;}
