.css_fisicoid_label {text-align:left;vertical-align:middle;justify-content:left;font-weight:bold;}
.css_fisicoid_grid_line {vertical-align: top;text-align: right;}
.css_matid_label {text-align:right;vertical-align:middle;justify-content:right;font-weight:bold;}
.css_matid_grid_line {vertical-align: top;text-align: right;}
.css_canmat_label {text-align:right;vertical-align:middle;justify-content:right;font-weight:bold;}
.css_canmat_grid_line {vertical-align: top;text-align: right;}
.css_tipund_label {text-align:left;vertical-align:middle;justify-content:left;font-weight:bold;}
.css_tipund_grid_line {vertical-align: top;text-align: right;}
.css_canlista_label {text-align:left;vertical-align:middle;justify-content:left;font-weight:bold;}
.css_canlista_grid_line {vertical-align: top;text-align: right;}
.css_existencia_label {text-align:left;vertical-align:middle;justify-content:left;font-weight:bold;}
.css_existencia_grid_line {vertical-align: top;text-align: right;}
