.scTabPage { background-color: #EFEFE2; background-image: none; opacity: 1; filter: alpha(opacity=100) }
.scTabTable { background-color: #E2E8C9; background-image: none; opacity: 1; filter: alpha(opacity=100); border-color: #758d5e; border-style: solid; border-width: 1px }
.scTabTableApls { border-color: #758d5e; border-style: solid; border-width: 0 0 0 0 }
.scTabLine { background-image: none; opacity: 1; filter: alpha(opacity=100); width: 100%; margin: 0; padding: 3px 0 0; list-style-type: none }
.scTabHeader { background-color: #C2D0A4; background-image: none; opacity: 1; filter: alpha(opacity=100) }
.scTabHeaderFont { color: #333; font-family: Arial, Arial, sans-serif; font-size: 13px; font-weight: bold; text-decoration: none }
.scTabActive { list-style: none; background-color: #E2E8C9; background-image: none; opacity: 1; filter: alpha(opacity=100); border-width: 1px 1px 0 1px; border-color: #817F80; border-style: solid; border-collapse: collapse; padding: 4px 15px; margin: 2px 1px 0 1px; height: 18px; min-height: 18; -moz-border-radius: 6px 6px 0 0; -webkit-border-radius: 6px 6px 0 0; border-radius: 6px 6px 0 0; display: inline-block; position: static }
.scTabActive, .scTabActive a { color: #3D4B07; font-family: Arial, sans-serif; font-size: 12px; text-decoration: none; font-style: normal }
.scTabInactive { list-style: none; background-color: #B0BB8A; background-image: none; opacity: 1; filter: alpha(opacity=100); border-width: 1px; border-color: #ccc; border-style: solid; border-collapse: collapse; padding: 4px 15px; margin: 2px 1px 0 1px; height: 18px; min-height: 18; -moz-border-radius: 6px 6px 0 0; -webkit-border-radius: 6px 6px 0 0; border-radius: 6px 6px 0 0; display: inline-block; position: static }
.scTabInactive, .scTabInactive a { color: #FFFCD9; font-family: Arial, sans-serif; font-size: 12px; text-decoration: none; font-style: normal }
.scTabActiveLink, .scTabActiveLink a { color: #333; font-family: Arial, sans-serif; font-size: 12px; font-style: normal; text-decoration: underline; padding: 2px; margin: 2px; display: inline }
.scTabInactiveLink, .scTabInactiveLink a { color: #333; font-family: Arial, Arial, sans-serif; font-size: 12px; font-style: normal; text-decoration: none; padding: 2px; margin: 2px; display: inline }
.scTabInactiveLink:hover, .scTabInactiveLink:hover a { cursor: pointer; text-decoration: underline }
.scTab_space_wi { width: 2px }
.scTab_space_he { height: 2px }
