.css_idpro2_label {text-align:left;vertical-align:middle;justify-content:left;font-weight:bold;}
.css_idpro2_grid_line {vertical-align: top;text-align: left;}
.css_codigoprod_label {text-align:left;vertical-align:middle;justify-content:left;font-weight:bold;}
.css_codigoprod_grid_line {vertical-align: top;text-align: center;}
.css_descripcion_ampliada_label {text-align:left;vertical-align:middle;justify-content:left;font-weight:bold;}
.css_descripcion_ampliada_grid_line {vertical-align: top;text-align: justify;}
.css_cantidad_label {text-align:left;vertical-align:middle;justify-content:left;font-weight:bold;}
.css_cantidad_grid_line {vertical-align: middle;text-align: right;}
.css_cantidad_tot_ger {text-align: right;}
.css_und_label {text-align:left;vertical-align:middle;justify-content:left;font-weight:bold;}
.css_und_grid_line {vertical-align: top;text-align: left;}
.css_valorunit_label {text-align:center;vertical-align:middle;justify-content:center;font-weight:bold;}
.css_valorunit_grid_line {vertical-align: middle;text-align: right;}
.css_adicional_label {text-align:left;vertical-align:middle;justify-content:left;font-weight:bold;}
.css_adicional_grid_line {vertical-align: top;text-align: center;}
.css_tbase_label {text-align:right;vertical-align:middle;justify-content:right;font-weight:bold;}
.css_tbase_grid_line {vertical-align: top;text-align: right;}
.css_tbase_tot_ger {text-align: right;}
.css_iva_label {text-align:center;vertical-align:middle;justify-content:center;font-weight:bold;}
.css_iva_grid_line {vertical-align: middle;text-align: right;}
.css_iva_tot_ger {text-align: right;}
.css_tneto_label {text-align:left;vertical-align:middle;justify-content:left;font-weight:bold;}
.css_tneto_grid_line {vertical-align: top;text-align: right;}
.css_tneto_tot_ger {text-align: right;}
.css_adicional1_label {text-align:left;vertical-align:middle;justify-content:left;font-weight:bold;}
.css_adicional1_grid_line {vertical-align: top;text-align: center;}
.css_descuento_label {text-align:center;vertical-align:middle;justify-content:center;font-weight:bold;}
.css_descuento_grid_line {vertical-align: middle;text-align: right;}
.css_descuento_tot_ger {text-align: right;}
.css_iddet_label {text-align:right;vertical-align:middle;justify-content:right;font-weight:bold;}
.css_iddet_grid_line {vertical-align: top;text-align: right;}
.css_numfac_label {text-align:right;vertical-align:middle;justify-content:right;font-weight:bold;}
.css_numfac_grid_line {vertical-align: top;text-align: right;}
.css_idpro_label {text-align:left;vertical-align:middle;justify-content:left;font-weight:bold;}
.css_idpro_grid_line {vertical-align: middle;text-align: left;}
.css_idbod_label {text-align:right;vertical-align:middle;justify-content:right;font-weight:bold;}
.css_idbod_grid_line {vertical-align: top;text-align: right;}
