.css_NM_Count_cnt_field {text-align: right}
.css_vendido_sum_label {text-align: right; vertical-align: top}
.css_vendido_sum_field {text-align: right; vertical-align: top}
.css_existencia_sum_label {text-align: right; vertical-align: top}
.css_existencia_sum_field {text-align: right; vertical-align: top}
