.css_d_idpro_label {text-align:left;vertical-align:middle;justify-content:left;font-weight:bold;}
.css_d_idpro_grid_line {vertical-align: top;text-align: right;}
.css_existencia_label {text-align:right;vertical-align:middle;justify-content:right;font-weight:bold;}
.css_existencia_grid_line {vertical-align: top;text-align: right;}
.css_existencia_sub_tot {text-align: right;}
.css_existencia_tot_ger {text-align: right;}
.css_vendido_label {text-align:right;vertical-align:middle;justify-content:right;font-weight:bold;}
.css_vendido_grid_line {vertical-align: top;text-align: right;}
.css_vendido_sub_tot {text-align: right;}
.css_vendido_tot_ger {text-align: right;}
.css_rotacion_label {text-align:right;vertical-align:middle;justify-content:right;font-weight:bold;}
.css_rotacion_grid_line {vertical-align: top;text-align: right;}
.css_g_nomgrupo_label {text-align:left;vertical-align:middle;justify-content:left;font-weight:bold;}
.css_g_nomgrupo_grid_line {vertical-align: top;text-align: right;}
