.css_fecha_label {text-align:center;vertical-align:middle;justify-content:center;font-weight:bold;}
.css_fecha_grid_line {vertical-align: top;text-align: center;}
.css_numero_label {text-align:left;vertical-align:middle;justify-content:left;font-weight:bold;}
.css_numero_grid_line {vertical-align: top;text-align: right;}
.css_cliente_label {text-align:left;vertical-align:middle;justify-content:left;font-weight:bold;}
.css_cliente_grid_line {vertical-align: top;text-align: right;}
.css_producto_label {text-align:left;vertical-align:middle;justify-content:left;font-weight:bold;}
.css_producto_grid_line {vertical-align: top;text-align: right;}
.css_d_cantidad_label {text-align:right;vertical-align:middle;justify-content:right;font-weight:bold;}
.css_d_cantidad_grid_line {vertical-align: top;text-align: right;}
.css_d_cantidad_sub_tot {text-align: right;}
.css_d_cantidad_tot_ger {text-align: right;}
.css_costo_parcial_label {text-align:right;vertical-align:middle;justify-content:right;font-weight:bold;}
.css_costo_parcial_grid_line {vertical-align: top;text-align: right;}
.css_costo_parcial_sub_tot {text-align: right;}
.css_costo_parcial_tot_ger {text-align: right;}
.css_total_label {text-align:right;vertical-align:middle;justify-content:right;font-weight:bold;}
.css_total_grid_line {vertical-align: top;text-align: right;}
.css_total_sub_tot {text-align: right;}
.css_total_tot_ger {text-align: right;}
.css_inicio_label {text-align:center;vertical-align:middle;justify-content:center;font-weight:bold;}
.css_inicio_grid_line {vertical-align: top;text-align: center;}
.css_costo_unitario_label {text-align:right;vertical-align:middle;justify-content:right;font-weight:bold;}
.css_costo_unitario_grid_line {vertical-align: top;text-align: right;}
