.css_resolucion_label {text-align:left;vertical-align:middle;justify-content:left;font-weight:bold;}
.css_resolucion_grid_line {vertical-align: top;text-align: left;}
.css_rangofac_label {text-align:left;vertical-align:middle;justify-content:left;font-weight:bold;}
.css_rangofac_grid_line {vertical-align: top;text-align: left;}
.css_fecha_label {text-align:left;vertical-align:middle;justify-content:left;font-weight:bold;}
.css_fecha_grid_line {vertical-align: top;text-align: left;}
.css_fec_vencimiento_label {text-align:center;vertical-align:middle;justify-content:center;font-weight:bold;}
.css_fec_vencimiento_grid_line {vertical-align: top;text-align: center;}
.css_vigencia_label {text-align:right;vertical-align:middle;justify-content:right;font-weight:bold;}
.css_vigencia_grid_line {vertical-align: top;text-align: right;}
.css_tipo_label {text-align:left;vertical-align:middle;justify-content:left;font-weight:bold;}
.css_tipo_grid_line {vertical-align: top;text-align: left;}
.css_prefijo_label {text-align:left;vertical-align:middle;justify-content:left;font-weight:bold;}
.css_prefijo_grid_line {vertical-align: middle;text-align: center;}
.css_primerfactura_label {text-align:right;vertical-align:middle;justify-content:right;font-weight:bold;}
.css_primerfactura_grid_line {vertical-align: middle;text-align: center;}
.css_ultima_fac_label {text-align:right;vertical-align:middle;justify-content:right;font-weight:bold;}
.css_ultima_fac_grid_line {vertical-align: middle;text-align: center;}
.css_activa_label {text-align:left;vertical-align:middle;justify-content:left;font-weight:bold;}
.css_activa_grid_line {vertical-align: middle;text-align: center;}
.css_idres_label {text-align:right;vertical-align:middle;justify-content:right;font-weight:bold;}
.css_idres_grid_line {vertical-align: top;text-align: right;}
