.css_idpro_label {text-align:left;vertical-align:middle;justify-content:left;font-weight:bold;}
.css_idpro_grid_line {vertical-align: middle;text-align: right;}
.css_cantidad_label {text-align:left;vertical-align:middle;justify-content:left;font-weight:bold;}
.css_cantidad_grid_line {vertical-align: middle;text-align: right;}
.css_presentacion_label {text-align:;vertical-align:middle;justify-content:;font-weight:bold;}
.css_presentacion_grid_line {text-align: right;}
.css_idinv_label {text-align:right;vertical-align:middle;justify-content:right;font-weight:bold;}
.css_idinv_grid_line {vertical-align: top;text-align: right;}
