.css_modulo_label {text-align:left;vertical-align:middle;justify-content:left;font-weight:bold;}
.css_modulo_grid_line {vertical-align: top;text-align: right;}
.css_descripcion_label {text-align:left;vertical-align:middle;justify-content:left;font-weight:bold;}
.css_descripcion_grid_line {vertical-align: top;text-align: right;}
.css_usuario_tmp_label {text-align:left;vertical-align:middle;justify-content:left;font-weight:bold;}
.css_usuario_tmp_grid_line {vertical-align: top;text-align: right;}
.css_ver_label {text-align:;vertical-align:middle;justify-content:;font-weight:bold;}
.css_ver_grid_line {text-align: right;}
.css_seleccionar_label {text-align:;vertical-align:middle;justify-content:;font-weight:bold;}
.css_seleccionar_grid_line {text-align: right;}
.css_idaplicacion_label {text-align:right;vertical-align:middle;justify-content:right;font-weight:bold;}
.css_idaplicacion_grid_line {vertical-align: top;text-align: right;}
.css_item_menu_label {text-align:left;vertical-align:middle;justify-content:left;font-weight:bold;}
.css_item_menu_grid_line {vertical-align: top;text-align: right;}
.css_nombre_label {text-align:left;vertical-align:middle;justify-content:left;font-weight:bold;}
.css_nombre_grid_line {vertical-align: top;text-align: right;}
.css_imagen_label {text-align:left;vertical-align:middle;justify-content:left;font-weight:bold;}
.css_imagen_grid_line {vertical-align: top;text-align: right;}
