.css_idtipotran_label { }
.css_idtipotran_line {text-align:left;}
.css_idtipotran_obj {text-align:left;}
.css_fecha_label { }
.css_fecha_line { }
.css_fecha_obj { }
.css_observaciones_label { }
.css_observaciones_line {width:300px;}
.css_observaciones_obj {text-align:left;}
.css_numeronota_label { }
.css_numeronota_line {text-align:left;}
.css_numeronota_obj {text-align:right;}
.css_prefijonota_label { }
.css_prefijonota_line {text-align:left;}
.css_prefijonota_obj {text-align:left;}
.css_detalle_label { }
.css_detalle_line { }
.css_detalle_obj { }
