.css_fecha_label {text-align:center;vertical-align:middle;justify-content:center;font-weight:bold;}
.css_fecha_grid_line {vertical-align: top;text-align: center;}
.css_factura_label {text-align:left;vertical-align:middle;justify-content:left;font-weight:bold;}
.css_factura_grid_line {vertical-align: top;text-align: right;}
.css_codigo_label {text-align:left;vertical-align:middle;justify-content:left;font-weight:bold;}
.css_codigo_grid_line {vertical-align: top;text-align: right;}
.css_descripcion_label {text-align:left;vertical-align:middle;justify-content:left;font-weight:bold;}
.css_descripcion_grid_line {vertical-align: top;text-align: right;}
.css_cantidad_label {text-align:right;vertical-align:middle;justify-content:right;font-weight:bold;}
.css_cantidad_grid_line {vertical-align: top;text-align: right;}
.css_unidad_label {text-align:left;vertical-align:middle;justify-content:left;font-weight:bold;}
.css_unidad_grid_line {vertical-align: top;text-align: right;}
.css_base_label {text-align:right;vertical-align:middle;justify-content:right;font-weight:bold;}
.css_base_grid_line {vertical-align: top;text-align: right;}
.css_iva_label {text-align:right;vertical-align:middle;justify-content:right;font-weight:bold;}
.css_iva_grid_line {vertical-align: top;text-align: right;}
.css_neto_label {text-align:right;vertical-align:middle;justify-content:right;font-weight:bold;}
.css_neto_grid_line {vertical-align: top;text-align: right;}
