.css_fl_numproducc_label {text-align:left;vertical-align:middle;justify-content:left;font-weight:bold;}
.css_fl_numproducc_grid_line {vertical-align: middle;text-align: right;}
.css_p_fecha_label {text-align:center;vertical-align:middle;justify-content:center;font-weight:bold;}
.css_p_fecha_grid_line {vertical-align: middle;text-align: center;}
.css_fl_idpro_label {text-align:left;vertical-align:middle;justify-content:left;font-weight:bold;}
.css_fl_idpro_grid_line {vertical-align: middle;text-align: right;}
.css_fl_idbod_label {text-align:center;vertical-align:middle;justify-content:center;font-weight:bold;}
.css_fl_idbod_grid_line {vertical-align: middle;text-align: center;}
.css_fl_cantidad_label {text-align:left;vertical-align:middle;justify-content:left;font-weight:bold;}
.css_fl_cantidad_grid_line {vertical-align: middle;text-align: right;}
.css_fl_costop_label {text-align:left;vertical-align:middle;justify-content:left;font-weight:bold;}
.css_fl_costop_grid_line {vertical-align: middle;text-align: right;}
.css_fl_valorpar_label {text-align:left;vertical-align:middle;justify-content:left;font-weight:bold;}
.css_fl_valorpar_grid_line {vertical-align: middle;text-align: right;}
.css_fl_valorpar_sub_tot {text-align: right;}
.css_fl_valorpar_tot_ger {text-align: right;}
.css_fl_iddet_label {text-align:right;vertical-align:middle;justify-content:right;font-weight:bold;}
.css_fl_iddet_grid_line {vertical-align: top;text-align: right;}
