.css_idproducto_label {text-align:left;vertical-align:middle;justify-content:left;font-weight:bold;}
.css_idproducto_grid_line {vertical-align: top;text-align: left;}
.css_cantidad_label {text-align:left;vertical-align:middle;justify-content:left;font-weight:bold;}
.css_cantidad_grid_line {vertical-align: top;text-align: right;}
.css_precio_label {text-align:right;vertical-align:middle;justify-content:right;font-weight:bold;}
.css_precio_grid_line {vertical-align: top;text-align: right;}
.css_idcombo_label {text-align:right;vertical-align:middle;justify-content:right;font-weight:bold;}
.css_idcombo_grid_line {vertical-align: top;text-align: right;}
