.css_NM_Count_cnt_field {text-align: right}
.css_valor_total_sum_label {text-align: right; vertical-align: top}
.css_valor_total_sum_field {text-align: right; vertical-align: top}
.css___nm_count_nm___cnt_label {text-align: right; vertical-align: top}
.css___nm_count_nm___cnt_field {text-align: right; vertical-align: top}
