.css_producto_label {text-align:left;vertical-align:middle;justify-content:left;font-weight:bold;}
.css_producto_grid_line {vertical-align: top;text-align: left;}
.css_sc_field_0_label {text-align:right;vertical-align:middle;justify-content:right;font-weight:bold;}
.css_sc_field_0_grid_line {vertical-align: top;text-align: right;}
.css_sc_field_0_tot_ger {text-align: right;}
.css_total_label {text-align:right;vertical-align:middle;justify-content:right;font-weight:bold;}
.css_total_grid_line {vertical-align: top;text-align: right;}
.css_total_tot_ger {text-align: right;}
.css_f_fechaven_label {text-align:center;vertical-align:middle;justify-content:center;font-weight:bold;}
.css_f_fechaven_grid_line {vertical-align: top;text-align: center;}
