.css_anio_det_label {text-align: right;vertical-align: middle;}
.css_anio_det_line {height:0px;text-align: right;}
.css_periodo_det_label {text-align: right;vertical-align: middle;}
.css_periodo_det_line {height:0px;text-align: right;}
.css_fechaven_det_label {text-align: right;vertical-align: middle;}
.css_fechaven_det_line {height:0px;text-align: right;}
.css_numero_det_label {text-align: right;vertical-align: middle;}
.css_numero_det_line {height:0px;text-align: right;}
.css_mesa_cliente_det_label {text-align: right;vertical-align: middle;}
.css_mesa_cliente_det_line {height:0px;text-align: right;}
.css_descr_det_label {text-align: right;vertical-align: middle;}
.css_descr_det_line {height:0px;text-align: right;}
.css_cantidad_det_label {text-align: right;vertical-align: middle;}
.css_cantidad_det_line {height:0px;text-align: right;}
.css_valorpar_det_label {text-align: right;vertical-align: middle;}
.css_valorpar_det_line {height:0px;text-align: right;}
.css_vendedor_det_label {text-align: right;vertical-align: middle;}
.css_vendedor_det_line {height:0px;text-align: right;}
