.css_anio_label {text-align:left;vertical-align:middle;justify-content:left;font-weight:bold;}
.css_anio_grid_line {vertical-align: top;text-align: center;}
.css_periodo_label {text-align:left;vertical-align:middle;justify-content:left;font-weight:bold;}
.css_periodo_grid_line {vertical-align: top;text-align: right;}
.css_fechaven_label {text-align:left;vertical-align:middle;justify-content:left;font-weight:bold;}
.css_fechaven_grid_line {vertical-align: top;text-align: center;}
.css_numero_label {text-align:left;vertical-align:middle;justify-content:left;font-weight:bold;}
.css_numero_grid_line {vertical-align: top;text-align: right;}
.css_mesa_cliente_label {text-align:left;vertical-align:middle;justify-content:left;font-weight:bold;}
.css_mesa_cliente_grid_line {vertical-align: top;text-align: right;}
.css_descr_label {text-align:left;vertical-align:middle;justify-content:left;font-weight:bold;}
.css_descr_grid_line {vertical-align: top;text-align: right;}
.css_cantidad_label {text-align:right;vertical-align:middle;justify-content:right;font-weight:bold;}
.css_cantidad_grid_line {vertical-align: top;text-align: right;}
.css_cantidad_sub_tot {text-align: right;}
.css_cantidad_tot_ger {text-align: right;}
.css_valorpar_label {text-align:right;vertical-align:middle;justify-content:right;font-weight:bold;}
.css_valorpar_grid_line {vertical-align: top;text-align: right;}
.css_valorpar_sub_tot {text-align: right;}
.css_valorpar_tot_ger {text-align: right;}
.css_vendedor_label {text-align:left;vertical-align:middle;justify-content:left;font-weight:bold;}
.css_vendedor_grid_line {vertical-align: top;text-align: right;}
