.scMenuHPage { margin: 0; background-color: #D9EAF0; background-image: none }
.scMenuLine { background-image: none; opacity: 1; filter: alpha(opacity=100) }
.scMenuToolbar { background-color: #FFF; background-image: none; opacity: 1; filter: alpha(opacity=100); border-style: none; border-width: 0; padding: 2px; margin: 0; -moz-border-radius: 0; -webkit-border-radius: 0; border-radius: 0 }
.scMenuToolbarPadding { padding: 2px }
.scMenuIframe { background-color: #D9EAF0; background-image: none; opacity: 1; filter: alpha(opacity=100); border-width: 0; width: 100%; height: 100% }
.scMenuHTable { background-color: #ffffff; background-image: none; opacity: 1; filter: alpha(opacity=100) }
.scMenuHTableCss { background-color: #FFF; background-image: none; opacity: 1; filter: alpha(opacity=100) }
.scMenuHHeader { background-color: #65a3b8; background-image: none; opacity: 1; filter: alpha(opacity=100); -moz-border-radius: 0; -webkit-border-radius: 0; border-radius: 0 }
_:-ms-lang(x), .ie10up, .scMenuHHeader { border-collapse: separate }
.scMenuHHeaderFont { color: #000; font-family: Arial, sans-serif; font-size: 13px; font-weight: bold; padding: 0; text-decoration: none }
.scMenuHFooter { background-color: #65a3b8; background-image: none; opacity: 1; filter: alpha(opacity=100); -moz-border-radius: 0; -webkit-border-radius: 0; border-radius: 0 }
.scMenuHFooterFont { color: #000; font-family: Arial, sans-serif; font-size: 13px; font-weight: bold; text-decoration: none }
.scMenuHItem { background-color: #66B9D5; background-image: none; opacity: 1; filter: alpha(opacity=100); font-family: Arial, sans-serif; font-size: 13px; color: #FFF; padding: 5px 5px; text-decoration: none; font-style: normal }
.scMenuHItemDisabled { background-color: #66B9D5; background-image: none; opacity: 1; filter: alpha(opacity=100); font-family: Arial, sans-serif; font-size: 13px; color: #C0C0C0; padding: 5px 5px; text-decoration: none; font-style: normal }
.scMenuHItemOver { background-color: css_menu_menu_sel_background_color; background-image: none; opacity: 1; filter: alpha(opacity=100); font-family: Arial, sans-serif; font-size: 13px; color: css_menu_menu_sel_color; padding: 5px 5px; text-decoration: none; font-style: normal }
.scMenuHSubItem { font-family: Arial, sans-serif; font-size: 13px; color: #000000; padding: 5px 5px; text-decoration: none; font-style: normal }
.scMenuHSubItemDisabled { font-family: Arial, sans-serif; font-size: 13px; color: #C0C0C0; padding: 5px 5px; text-decoration: none; font-style: normal }
.scMenuHSubItemOver { background-color: css_menu_item_sel_background_color; font-family: Arial, sans-serif; font-size: 13px; color: css_menu_item_sel_color; padding: 5px 5px; text-decoration: none; font-style: normal }
.scMenuBreadcrumbLine { background-color: #F2F2F2; background-image: none; opacity: 1; filter: alpha(opacity=100); border-color: #D5D5D5; border-style: solid; border-width: 1px; -moz-border-radius: 4px; -webkit-border-radius: 4px; border-radius: 4px; margin: 5px; padding: 7px 5px; vertical-align: middle }
.scMenuBreadcrumbLine a { background-image: none; opacity: 1; filter: alpha(opacity=100); color: #065AAE; font-family: Arial, sans-serif; font-size: 12px; padding: 0 5px; text-decoration: underline; vertical-align: middle }
.scMenuBreadcrumbLine a:hover { text-decoration: underline; color: #23527c }
.scMenuBreadcrumbLine img { position: relative; top: 1px }
.scMenuExpand { background-image: none; opacity: 1; filter: alpha(opacity=100); position: absolute; right: 10px; top: 10px }
.scMenuCollapse { background-image: none; opacity: 1; filter: alpha(opacity=100); position: absolute; right: 10px; top: 10px; display: none }
