.css_seleccionar_label {text-align:;vertical-align:middle;justify-content:;font-weight:bold;}
.css_seleccionar_grid_line {text-align: left;}
.css_documento_label {text-align:left;vertical-align:middle;justify-content:left;font-weight:bold;}
.css_documento_grid_line {vertical-align: top;text-align: left;}
.css_nombres_label {text-align:left;vertical-align:middle;justify-content:left;font-weight:bold;}
.css_nombres_grid_line {vertical-align: top;text-align: left;}
