.css_idcaja_label {text-align:right;vertical-align:middle;justify-content:right;font-weight:bold;}
.css_idcaja_grid_line {vertical-align: top;text-align: right;}
.css_fecha_label {text-align:left;vertical-align:middle;justify-content:left;font-weight:bold;}
.css_fecha_grid_line {vertical-align: top;text-align: center;}
.css_hora_label {text-align:left;vertical-align:middle;justify-content:left;font-weight:bold;}
.css_hora_grid_line {vertical-align: top;text-align: center;}
.css_detalle_label {text-align:left;vertical-align:middle;justify-content:left;font-weight:bold;}
.css_detalle_grid_line {vertical-align: top;text-align: right;}
.css_banco_label {text-align:left;vertical-align:middle;justify-content:left;font-weight:bold;}
.css_banco_grid_line {vertical-align: top;text-align: right;}
.css_usuario_label {text-align:left;vertical-align:middle;justify-content:left;font-weight:bold;}
.css_usuario_grid_line {vertical-align: top;text-align: right;}
.css_cantidad_label {text-align:left;vertical-align:middle;justify-content:left;font-weight:bold;}
.css_cantidad_grid_line {vertical-align: top;text-align: right;}
.css_cantidad_sub_tot {text-align: right;}
.css_cantidad_tot_ger {text-align: right;}
.css_jornada_label {text-align:left;vertical-align:middle;justify-content:left;font-weight:bold;}
.css_jornada_grid_line {vertical-align: top;text-align: right;}
.css_nota_label {text-align:left;vertical-align:middle;justify-content:left;font-weight:bold;}
.css_nota_grid_line {vertical-align: top;text-align: right;}
