.css_iconaplicacion_label {text-align:;vertical-align:middle;justify-content:;font-weight:bold;}
.css_iconaplicacion_grid_line {text-align: left;}
.css_descripcion_label {text-align:left;vertical-align:middle;justify-content:left;font-weight:bold;}
.css_descripcion_grid_line {font-size:15px;font-weight:bold;vertical-align: middle;text-align: left;}
.css_app_parentid_label {text-align:left;vertical-align:middle;justify-content:left;font-weight:bold;}
.css_app_parentid_grid_line {vertical-align: middle;text-align: left;}
.css_app_link_label {text-align:left;vertical-align:middle;justify-content:left;font-weight:bold;}
.css_app_link_grid_line {vertical-align: top;text-align: left;}
.css_app_badge_label {text-align:left;vertical-align:middle;justify-content:left;font-weight:bold;}
.css_app_badge_grid_line {vertical-align: top;text-align: left;}
.css_idapptype_label {text-align:left;vertical-align:middle;justify-content:left;font-weight:bold;}
.css_idapptype_grid_line {vertical-align: middle;text-align: left;}
.css_app_order_label {text-align:right;vertical-align:middle;justify-content:right;font-weight:bold;}
.css_app_order_grid_line {vertical-align: top;text-align: right;}
.css_idapp_label {text-align:right;vertical-align:middle;justify-content:right;font-weight:bold;}
.css_idapp_grid_line {vertical-align: top;text-align: right;}
.css_app_name_label {text-align:left;vertical-align:middle;justify-content:left;font-weight:bold;}
.css_app_name_grid_line {vertical-align: top;text-align: left;}
.css_description_label {text-align:left;vertical-align:middle;justify-content:left;font-weight:bold;}
.css_description_grid_line {vertical-align: top;text-align: left;}
