/*Color variables*/
/*gray variables*/
/*white variables*/
/*black variables*/
/*--Default Body--*/
body.default-body {
    background: #f2f6f9;
}

body.default-body.dark-mode {
    background: #191f48;
}

body.card-shadow.default-body {
    background: #eff0f6;
}

body.card-shadow.white-body {
    background: #fff;
}

body.white-body {
    background: #fff;
}

body.white-body .card {
    border: 1px solid #e8eaf7;
}

body.white-body.dark-mode {
    background: #10163a;
}

body.white-body.dark-mode .card {
    border: 1px solid rgba(255, 255, 255, 0.1);
}

body.card-shadow.light-dark-body {
    background: #edf3f7;
}

body.card-shadow.dark-mode {
    background: #1c2248;
}

body.card-shadow .header.top-header {
    box-shadow: none;
    border-bottom: 1px solid #eff0f6;
}

body.card-shadow .horizontalMenucontainer .header.top-header {
    box-shadow: none;
    border-bottom: 0px solid #eff0f6;
}

body.card-shadow .horizontal-main {
    box-shadow: none;
}

body.card-shadow .app-sidebar {
    box-shadow: none;
}

body.light-dark-body {
    background: #edf3f7;
}

body.light-dark-body.dark-mode {
    background: #1c2248;
}

body.light-card .card {
    background: #f4f5fc;
}

body.card-shadow {
    background: #eff0f6;
}

body.card-shadow .card {
    box-shadow: none !important;
}

body.card-radius .card {
    border-radius: 0;
}

/*--White Body--*/
/*--Light Dark Body--*/
/*---default Horizontal--*/
.default-horizontal .horizontal-main {
    background: #fff;
    background: #fff;
}

.default-horizontal .hor-icon {
    color: var(--q-primary) !important;
    fill: #d2d6f1 !important;
}

.default-horizontal .horizontalMenu>.horizontalMenu-list>li>a {
    color: #424e79;
    border-left: 1px solid #eff0f6;
}

.default-horizontal .horizontalMenu>.horizontalMenu-list>li>a.active {
    color: var(--q-primary);
    text-decoration: none;
    background: #f4f5fc;
}

.default-horizontal .horizontalMenu>.horizontalMenu-list>li:last-child>a {
    border-right: 1px solid #eff0f6;
}

.default-horizontal .horizontalMenu>.horizontalMenu-list>li>a:hover .hor-icon {
    color: var(--q-primary) !important;
    fill: #d2d6f1;
}

.default-horizontal .horizontalMenu>.horizontalMenu-list>li>a.active .hor-icon,
.default-horizontal .horizontalMenu>.horizontalMenu-list>li>a:hover {
    color: var(--q-primary) !important;
}

@media only screen and (max-width: 991px) {
    .default-horizontal.dark-mode .horizontal-main {
        background: #10163a;
    }

    .default-horizontal.dark-mode .horizontalMenu>.horizontalMenu-list {
        background: #fff;
    }

    .default-horizontal.dark-mode .horizontalMenu>.horizontalMenu-list>li {
        background-color: #fff;
    }

    .default-horizontal.dark-mode .horizontalMenu>.horizontalMenu-list>li>a {
        color: #424e79;
        background-color: #fff;
    }

    .default-horizontal.dark-mode .horizontalMenu>.horizontalMenu-list>li>ul.sub-menu {
        color: #424e79;
        background-color: #fff;
    }

    .default-horizontal.dark-mode .horizontalMenu>.horizontalMenu-list>li>ul.sub-menu>li>a {
        color: #424e79;
    }

    .default-horizontal.dark-mode .mega-menubg {
        color: #424e79;
        background-color: #fff !important;
    }

    .default-horizontal.dark-mode .horizontalMenu>.horizontalMenu-list>li>.horizontal-megamenu .link-list li a {
        color: #424e79;
    }

    .default-horizontal.dark-mode .horizontalMenu>.horizontalMenu-list>li>.horizontalMenu-click>i {
        color: rgba(0, 0, 0, 0.5);
    }

    .default-horizontal.light-mode .horizontal-main {
        background: #fff;
    }

    .default-horizontal.light-mode .horizontalMenu>.horizontalMenu-list {
        background: #fff;
    }

    .default-horizontal.light-mode .horizontalMenu>.horizontalMenu-list>li {
        background-color: #fff;
    }

    .default-horizontal.light-mode .horizontalMenu>.horizontalMenu-list>li>a {
        color: #424e79;
        background-color: #fff;
    }

    .default-horizontal.light-mode .horizontalMenu>.horizontalMenu-list>li>ul.sub-menu {
        color: #424e79;
        background-color: #fff;
    }

    .default-horizontal.light-mode .horizontalMenu>.horizontalMenu-list>li>ul.sub-menu>li>a {
        color: #424e79;
    }

    .default-horizontal.light-mode .mega-menubg {
        color: #424e79;
        background-color: #fff !important;
    }

    .default-horizontal.light-mode .horizontalMenu>.horizontalMenu-list>li>.horizontal-megamenu .link-list li a {
        color: #424e79;
    }

    .default-horizontal.light-mode .horizontalMenu>.horizontalMenu-list>li>.horizontalMenu-click>i {
        color: rgba(0, 0, 0, 0.5);
    }
}

/*---dark Horizontal--*/
.dark-horizontal .horizontalMenu>.horizontalMenu-list>li:hover a .hor-icon {
    color: rgba(255, 255, 255, 0.8) !important;
    fill: rgba(255, 255, 255, 0.2);
}

.dark-horizontal .horizontal-main {
    background: #10163a;
    background: #10163a;
}

.dark-horizontal .hor-icon {
    color: rgba(255, 255, 255, 0.8);
    fill: rgba(255, 255, 255, 0.2);
}

.dark-horizontal .horizontalMenu>.horizontalMenu-list>li>a {
    color: rgba(255, 255, 255, 0.8);
    border-left: 1px solid #202647;
}

.dark-horizontal .horizontalMenu>.horizontalMenu-list>li>a.active {
    color: #fff;
    text-decoration: none;
    background: rgba(255, 255, 255, 0.04);
}

.dark-horizontal .horizontalMenu>.horizontalMenu-list>li:last-child>a {
    border-right: 1px solid #202647;
}

.dark-horizontal .horizontalMenu>.horizontalMenu-list>li>a:hover .hor-icon {
    color: white !important;
    fill: rgba(255, 255, 255, 0.5);
}

.dark-horizontal .horizontalMenu>.horizontalMenu-list>li>a.active .hor-icon {
    color: white !important;
}

.dark-horizontal .horizontalMenu>.horizontalMenu-list>li>a:hover {
    color: #fff !important;
}

@media only screen and (max-width: 991px) {
    .dark-horizontal.dark-mode .horizontal-main {
        background: #10163a;
    }

    .dark-horizontal.dark-mode .horizontalMenu>.horizontalMenu-list {
        background: #10163a;
    }

    .dark-horizontal.dark-mode .horizontalMenu>.horizontalMenu-list>li {
        background-color: #10163a;
        border-color: rgba(255, 255, 255, 0.1);
    }

    .dark-horizontal.dark-mode .horizontalMenu>.horizontalMenu-list>li>a {
        color: rgba(255, 255, 255, 0.8);
        background-color: #10163a;
    }

    .dark-horizontal.dark-mode .horizontalMenu>.horizontalMenu-list>li>ul.sub-menu {
        color: rgba(255, 255, 255, 0.8);
        background-color: #10163a;
    }

    .dark-horizontal.dark-mode .horizontalMenu>.horizontalMenu-list>li>ul.sub-menu>li>a {
        color: rgba(255, 255, 255, 0.8);
    }

    .dark-horizontal.dark-mode .mega-menubg {
        color: rgba(255, 255, 255, 0.8);
        background-color: #10163a !important;
    }

    .dark-horizontal.dark-mode .horizontalMenu>.horizontalMenu-list>li>.horizontal-megamenu .link-list li a {
        color: rgba(255, 255, 255, 0.8);
    }

    .dark-horizontal.dark-mode .horizontalMenu>.horizontalMenu-list>li>.horizontalMenu-click>i {
        color: rgba(255, 255, 255, 0.5);
    }

    .dark-horizontal.light-mode .horizontal-main {
        background: #10163a;
    }

    .dark-horizontal.light-mode .horizontalMenu>.horizontalMenu-list {
        background: #10163a;
    }

    .dark-horizontal.light-mode .horizontalMenu>.horizontalMenu-list>li {
        background-color: #10163a;
        border-color: rgba(255, 255, 255, 0.1);
    }

    .dark-horizontal.light-mode .horizontalMenu>.horizontalMenu-list>li>a {
        color: rgba(255, 255, 255, 0.8);
        background-color: #10163a;
    }

    .dark-horizontal.light-mode .horizontalMenu>.horizontalMenu-list>li>ul.sub-menu {
        color: rgba(255, 255, 255, 0.8);
        background-color: #10163a;
    }

    .dark-horizontal.light-mode .horizontalMenu>.horizontalMenu-list>li>ul.sub-menu>li>a {
        color: rgba(255, 255, 255, 0.8);
    }

    .dark-horizontal.light-mode .mega-menubg {
        color: rgba(255, 255, 255, 0.8);
        background-color: #10163a !important;
    }

    .dark-horizontal.light-mode .horizontalMenu>.horizontalMenu-list>li>.horizontal-megamenu .link-list li a {
        color: rgba(255, 255, 255, 0.8);
    }

    .dark-horizontal.light-mode .horizontalMenu>.horizontalMenu-list>li>.horizontalMenu-click>i {
        color: rgba(255, 255, 255, 0.5);
    }
}

/*---color Horizontal--*/
.color-horizontal .horizontalMenu>.horizontalMenu-list>li:hover a .hor-icon {
    color: rgba(255, 255, 255, 0.8) !important;
    fill: rgba(255, 255, 255, 0.2);
}

.color-horizontal .horizontal-main {
    background: var(--q-primary);
    background: var(--q-primary);
}

.color-horizontal .hor-icon {
    color: rgba(255, 255, 255, 0.8) !important;
    fill: rgba(255, 255, 255, 0.2);
}

.color-horizontal .horizontalMenu>.horizontalMenu-list>li>a {
    color: rgba(255, 255, 255, 0.8);
    border-left: 1px solid #5765c9;
}

.color-horizontal .horizontalMenu>.horizontalMenu-list>li>a.active {
    color: #fff;
    text-decoration: none;
    background: rgba(255, 255, 255, 0.04);
}

.color-horizontal .horizontalMenu>.horizontalMenu-list>li>a.hover .hor-icon {
    color: rgba(255, 255, 255, 0.8) !important;
    fill: rgba(255, 255, 255, 0.2);
}

.color-horizontal .horizontalMenu>.horizontalMenu-list>li:last-child>a {
    border-right: 1px solid #5765c9;
}

.color-horizontal .horizontalMenu>.horizontalMenu-list>li>a:hover .hor-icon {
    color: white !important;
    fill: rgba(255, 255, 255, 0.5);
}

.color-horizontal .horizontalMenu>.horizontalMenu-list>li>a.active .hor-icon {
    color: white !important;
}

.color-horizontal .horizontalMenu>.horizontalMenu-list>li>a:hover {
    color: #fff !important;
}

@media only screen and (max-width: 991px) {
    .color-horizontal.dark-mode .horizontal-main {
        background: #10163a;
    }

    .color-horizontal.dark-mode .horizontalMenu>.horizontalMenu-list {
        background: var(--q-primary);
    }

    .color-horizontal.dark-mode .horizontalMenu>.horizontalMenu-list>li {
        background-color: var(--q-primary);
        border-color: rgba(255, 255, 255, 0.1);
    }

    .color-horizontal.dark-mode .horizontalMenu>.horizontalMenu-list>li>a {
        color: rgba(255, 255, 255, 0.8) !important;
        background-color: var(--q-primary);
    }

    .color-horizontal.dark-mode .horizontalMenu>.horizontalMenu-list>li>ul.sub-menu {
        color: rgba(255, 255, 255, 0.8);
        background-color: var(--q-primary);
    }

    .color-horizontal.dark-mode .horizontalMenu>.horizontalMenu-list>li>ul.sub-menu>li>a {
        color: rgba(255, 255, 255, 0.8);
    }

    .color-horizontal.dark-mode .mega-menubg {
        color: rgba(255, 255, 255, 0.8);
        background-color: var(--q-primary) !important;
    }

    .color-horizontal.dark-mode .horizontalMenu>.horizontalMenu-list>li>.horizontal-megamenu .link-list li a {
        color: rgba(255, 255, 255, 0.8);
    }

    .color-horizontal.dark-mode .horizontalMenu>.horizontalMenu-list>li>.horizontalMenu-click>i {
        color: rgba(255, 255, 255, 0.5);
    }

    .color-horizontal.light-mode .horizontal-main {
        background: var(--q-primary);
    }

    .color-horizontal.light-mode .horizontalMenu>.horizontalMenu-list {
        background: var(--q-primary);
    }

    .color-horizontal.light-mode .horizontalMenu>.horizontalMenu-list>li {
        background-color: var(--q-primary);
        border-color: rgba(255, 255, 255, 0.1);
    }

    .color-horizontal.light-mode .horizontalMenu>.horizontalMenu-list>li>a {
        color: rgba(255, 255, 255, 0.8) !important;
        background-color: var(--q-primary);
    }

    .color-horizontal.light-mode .horizontalMenu>.horizontalMenu-list>li>ul.sub-menu {
        color: rgba(255, 255, 255, 0.8);
        background-color: var(--q-primary);
    }

    .color-horizontal.light-mode .horizontalMenu>.horizontalMenu-list>li>ul.sub-menu>li>a {
        color: rgba(255, 255, 255, 0.8);
    }

    .color-horizontal.light-mode .mega-menubg {
        color: rgba(255, 255, 255, 0.8);
        background-color: var(--q-primary) !important;
    }

    .color-horizontal.light-mode .horizontalMenu>.horizontalMenu-list>li>.horizontal-megamenu .link-list li a {
        color: rgba(255, 255, 255, 0.8);
    }

    .color-horizontal.light-mode .horizontalMenu>.horizontalMenu-list>li>.horizontalMenu-click>i {
        color: rgba(255, 255, 255, 0.5);
    }
}

@media only screen and (max-width: 767px) and (min-width: 568px) {
    .app.light-mode .app-header .header-brand .header-brand-img.mobile-logo {
        display: none;
    }

    .app.light-mode .app-header .header-brand .header-brand-img.darkmobile-logo {
        display: none;
    }

    .app.light-mode .app-header .header-brand .header-brand-img.desktop-lgo {
        display: block !important;
        margin-top: 6px;
    }

    .app.light-mode .app-header .header-brand .header-brand-img.dark-logo {
        display: none;
    }
}

@media only screen and (max-width: 567px) {
    .app.light-mode .app-header .header-brand .header-brand-img.desktop-lgo {
        display: none !important;
    }

    .app.light-mode .app-header .header-brand .header-brand-img.mobile-logo {
        display: block !important;
        margin-top: 8px;
    }
}

/*-- Dark-sidebar  closed---*/
.dark-sidebar.dark-mode .app-sidebar {
    background: #10163a !important;
    border-right: 1px solid rgba(255, 255, 255, 0.07);
    box-shadow: 0px 10px 10px 20px rgba(38, 43, 72, 0.11), 10px 10px 15px -5px rgba(38, 43, 72, 0.13);
}

.dark-sidebar.dark-mode .app-sidebar__logo {
    border-bottom: 1px solid #2c3650;
}

.dark-sidebar.dark-mode .app-sidebar__user {
    border-bottom: 1px solid rgba(255, 255, 255, 0.07);
    color: #ffffff;
}

.dark-sidebar.dark-mode .app-sidebar__user .text-muted {
    color: rgba(255, 255, 255, 0.4) !important;
}

.dark-sidebar.dark-mode .slide a {
    color: #edf0f5 !important;
    background: none;
}

.dark-sidebar.dark-mode .app-sidebar-help {
    border-top: 1px solid rgba(255, 255, 255, 0.07);
    background: #10163a;
}

.dark-sidebar.dark-mode .app-sidebar-help a {
    color: #fff !important;
}

.dark-sidebar.dark-mode .app-sidebar-help .header-icon {
    color: rgba(255, 255, 255, 0.8);
    fill: rgba(255, 255, 255, 0.8);
}

.dark-sidebar.dark-mode .side-menu__icon {
    color: rgba(255, 255, 255, 0.8);
    fill: rgba(255, 255, 255, 0.08);
}

/*-- Color-sidebar toggle ---*/
.color-sidebar .app-sidebar.toggle-sidemenu {
    background: none !important;
    border-right: 0;
    box-shadow: none;
    width: inherit;
}

.color-sidebar .first-sidemenu {
    background: var(--q-primary);
}

.color-sidebar .second-sidemenu {
    background: var(--q-primary);
    border-right: 1px solid rgba(255, 255, 255, 0.07);
}

.color-sidebar .resp-vtabs .resp-tabs-list li {
    border: 1px solid rgba(255, 255, 255, 0.07) !important;
    border-left: 0 !important;
    border-top: 0 !important;
    border-bottom: 0;
}

.color-sidebar .first-sidemenu li.active,
.color-sidebar .first-sidemenu li:hover {
    background: rgba(255, 255, 255, 0.03);
    border-right: 0 !important;
}

.color-sidebar .side-menu__icon {
    color: rgba(255, 255, 255, 0.8);
    fill: rgba(255, 255, 255, 0.08);
}

.color-sidebar .first-sidemenu li.active svg,
.color-sidebar .first-sidemenu li:hover svg {
    color: rgba(255, 255, 255, 0.8);
    fill: rgba(255, 255, 255, 0.08);
}

.color-sidebar .second-sidemenu h5,
.color-sidebar .slide-item,
.color-sidebar .side-menu .slide.submenu a {
    color: rgba(255, 255, 255, 0.8);
}

.color-sidebar .slide-item.active,
.color-sidebar .slide-item:hover {
    color: #fff;
}

.color-sidebar .side-menu .slide.submenu a.active,
.color-sidebar .side-menu .slide.submenu a:hover {
    color: #fff;
}

.color-sidebar .second-sidemenu .angle {
    color: rgba(255, 255, 255, 0.2) !important;
}

/*--- Dark-sidebar toggle ----*/
.dark-sidebar .app-sidebar.toggle-sidemenu {
    background: none !important;
    border-right: 0;
    box-shadow: none;
    width: inherit;
}

.dark-sidebar .first-sidemenu {
    background: #10163a;
}

.dark-sidebar .second-sidemenu {
    background: #10163a;
    border-right: 1px solid rgba(255, 255, 255, 0.07);
    box-shadow: none;
}

.dark-sidebar .resp-vtabs .resp-tabs-list li {
    border: 1px solid rgba(255, 255, 255, 0.07) !important;
    border-left: 0 !important;
    border-top: 0 !important;
    border-bottom: 0;
}

.dark-sidebar.app.sidebar-mini.sidenav-toggled .first-sidemenu li.active {
    border-right: 1px solid rgba(255, 255, 255, 0.07) !important;
}

.dark-sidebar .first-sidemenu .side-menu__icon {
    color: rgba(255, 255, 255, 0.8);
    fill: rgba(255, 255, 255, 0.08);
}

.dark-sidebar .first-sidemenu li.active {
    background: #12183f;
    border-right: 0 !important;
}

.dark-sidebar .resp-vtabs .resp-tab-active:hover {
    background: #12183f;
    border-right: 0 !important;
}

.dark-sidebar .second-sidemenu h5 {
    color: rgba(255, 255, 255, 0.8);
}

.dark-sidebar .first-sidemenu li.active svg,
.dark-sidebar .first-sidemenu li:hover svg {
    color: var(--q-primary);
}

.dark-sidebar .side-menu .slide.submenu a,
.dark-sidebar .slide-item {
    color: #edf0f5;
}

/*--- Light-sidebar toggle ---*/
.default-sidebar .app-sidebar.toggle-sidemenu {
    background: none !important;
    border-right: 0;
    box-shadow: none;
    width: inherit;
}

.default-sidebar .first-sidemenu {
    background: #fff;
}

.default-sidebar .second-sidemenu {
    background: #fff;
    border-right: 1px solid #eff0f6;
    box-shadow: 0px 10px 10px 20px rgba(176, 184, 214, 0.01), 10px 10px 15px -5px #b0b8d6;
}

.default-sidebar .resp-vtabs .resp-tabs-list li {
    border: 1px solid #eff0f6 !important;
    border-left: 0 !important;
    border-top: 0 !important;
    border-bottom: 0;
}

.default-sidebar.app.sidebar-mini.sidenav-toggled .first-sidemenu li.active {
    border-right: 1px solid #eff0f6 !important;
}

.default-sidebar .first-sidemenu .side-menu__icon {
    color: var(--q-primary);
    fill: #d2d6f1;
}

.default-sidebar .first-sidemenu li.active {
    background: #f4f5fc;
    border-right: 0 !important;
}

.default-sidebar .resp-vtabs .resp-tab-active:hover {
    background: #f4f5fc;
    border-right: 0 !important;
}

.default-sidebar .second-sidemenu h5 {
    color: #576483;
}

.default-sidebar .first-sidemenu li.active svg,
.default-sidebar .first-sidemenu li:hover svg {
    color: var(--q-primary);
}

.default-sidebar .side-menu .slide.submenu a,
.default-sidebar .slide-item {
    color: #576482;
}

.default-sidebar.dark-mode .second-sidemenu {
    box-shadow: none;
}

/*-- Color-sidebar closed-menu ---*/
.color-sidebar .app-sidebar {
    background: var(--q-primary) !important;
    border-right: 1px solid rgba(255, 255, 255, 0.07);
    box-shadow: 0px 10px 10px 20px rgba(38, 43, 72, 0.11), 10px 10px 15px -5px rgba(38, 43, 72, 0.13);
}

.color-sidebar .app-sidebar__logo {
    border-bottom: 1px solid rgba(255, 255, 255, 0.07);
}

.color-sidebar .app-sidebar__user {
    border-bottom: 1px solid rgba(255, 255, 255, 0.07);
    color: #ffffff;
}

.color-sidebar .app-sidebar__user .text-muted {
    color: rgba(255, 255, 255, 0.4) !important;
}

.color-sidebar .slide a {
    color: rgba(255, 255, 255, 0.8) !important;
    background: none;
}

.color-sidebar .slide a.active,
.color-sidebar .slide a:hover {
    color: #fff !important;
}

.color-sidebar .app-sidebar-help {
    border-top: 1px solid rgba(255, 255, 255, 0.07);
    background: var(--q-primary);
}

.color-sidebar .app-sidebar-help a {
    color: #fff !important;
}

.color-sidebar .app-sidebar-help .header-icon {
    color: rgba(255, 255, 255, 0.8);
    fill: rgba(255, 255, 255, 0.8);
}

.color-sidebar .side-menu__icon {
    color: rgba(255, 255, 255, 0.8);
    fill: rgba(255, 255, 255, 0.08);
}

.color-sidebar .slide-menu a.active,
.color-sidebar .slide-menu a:hover {
    color: #fff !important;
    background: transparent;
}

.color-sidebar .side-menu__label:hover {
    color: #fff !important;
    background: transparent;
}

.color-sidebar .side-menu__item.active .side-menu__icon,
.color-sidebar .side-menu__item:hover .side-menu__icon,
.color-sidebar .side-menu__item:focus .side-menu__icon {
    color: rgba(255, 255, 255, 0.8);
    fill: rgba(255, 255, 255, 0.08);
}

@media (min-width: 768px) {

    .color-sidebar .app-sidebar2 .header-brand-img.desktop-lgo,
    .color-sidebar .app-sidebar2 .header-brand-img.mobile-logo,
    .color-sidebar .app-sidebar2 .header-brand-img.darkmobile-logo,
    .color-sidebar .app-sidebar2 .header-brand-img.desktop-lgo,
    .color-sidebar .app-sidebar2 .header-brand-img.mobile-logo,
    .color-sidebar .app-sidebar2 .header-brand-img.darkmobile-logo {
        display: none;
    }

    .color-sidebar .app-sidebar2 .header-brand-img.dark-logo {
        display: block;
        margin: 0 auto;
        margin-top: 5px;
    }
}

/*-- light-sidebar closed-menu ---*/
.default-sidebar .app-sidebar {
    background: #fff !important;
    border-right: 1px solid #eff0f6;
    box-shadow: 0px 10px 10px 20px rgba(176, 184, 214, 0.09), 10px 10px 15px -5px var(--q-background);
}

.default-sidebar .app-sidebar__logo {
    border-bottom: 1px solid #eff0f6;
}

.default-sidebar .app-sidebar__user {
    border-bottom: 1px solid #eff0f6;
    color: #424e79;
}

.default-sidebar .app-sidebar__user .text-muted {
    color: #b3bdca !important;
}

.default-sidebar .slide a {
    color: #576482 !important;
    background: none;
}

.default-sidebar .slide a.active,
.default-sidebar .slide a:hover {
    color: var(--q-primary) !important;
}

.default-sidebar .app-sidebar-help {
    border-top: 1px solid #eff0f6;
    background: #fff;
}

.default-sidebar .app-sidebar-help a {
    color: #424e79 !important;
}

.default-sidebar .app-sidebar-help .header-icon {
    color: var(--q-primary);
    fill: #d2d6f1;
}

.default-sidebar .side-menu__icon {
    color: var(--q-primary);
    fill: #d2d6f1;
}

.default-sidebar .slide-menu a.active,
.default-sidebar .slide-menu a:hover {
    color: var(--q-primary) !important;
    background: transparent;
}

.default-sidebar .side-menu__label:hover {
    color: var(--q-primary) !important;
    background: transparent;
}

.default-sidebar .side-menu__item.active .side-menu__icon,
.default-sidebar .side-menu__item:hover .side-menu__icon,
.default-sidebar .side-menu__item:focus .side-menu__icon {
    color: var(--q-primary);
}

.default-sidebar.dark-mode .app-sidebar {
    border-right: 0;
    box-shadow: none;
}

@media (min-width: 768px) {

    .default-sidebar .app-sidebar2 .header-brand-img.dark-logo,
    .default-sidebar .app-sidebar2 .header-brand-img.mobile-logo,
    .default-sidebar .app-sidebar2 .header-brand-img.darkmobile-logo,
    .default-sidebar .app-sidebar2 .header-brand-img.dark-logo,
    .default-sidebar .app-sidebar2 .header-brand-img.mobile-logo,
    .default-sidebar .app-sidebar2 .header-brand-img.darkmobile-logo {
        display: none;
    }

    .default-sidebar .app-sidebar2 .header-brand-img.desktop-lgo {
        display: block;
        margin: 0 auto;
        margin-top: 5px;
    }
}

/*-- Dark-sidebar closed-menu ---*/
.dark-sidebar .app-sidebar {
    background: #10163a !important;
    border-right: 1px solid rgba(255, 255, 255, 0.07);
    box-shadow: 0px 10px 10px 20px rgba(38, 43, 72, 0.11), 10px 10px 15px -5px rgba(38, 43, 72, 0.13);
}

.dark-sidebar .app-sidebar__logo {
    border-bottom: 1px solid #2c3650;
}

.dark-sidebar .app-sidebar__user {
    border-bottom: 1px solid rgba(255, 255, 255, 0.07);
    color: #ffffff;
}

.dark-sidebar .app-sidebar__user .text-muted {
    color: rgba(255, 255, 255, 0.4) !important;
}

.dark-sidebar .slide a {
    color: #edf0f5 !important;
    background: none;
}

.dark-sidebar .app-sidebar-help {
    border-top: 1px solid rgba(255, 255, 255, 0.07);
    background: #10163a;
}

.dark-sidebar .app-sidebar-help a {
    color: #fff !important;
}

.dark-sidebar .app-sidebar-help .header-icon {
    color: rgba(255, 255, 255, 0.8);
    fill: rgba(255, 255, 255, 0.8);
}

.dark-sidebar .side-menu__icon {
    color: rgba(255, 255, 255, 0.8);
    fill: rgba(255, 255, 255, 0.08);
}

@media (min-width: 768px) {

    .dark-sidebar .app-sidebar2 .header-brand-img.desktop-lgo,
    .dark-sidebar .app-sidebar2 .header-brand-img.mobile-logo,
    .dark-sidebar .app-sidebar2 .header-brand-img.darkmobile-logo,
    .dark-sidebar .app-sidebar2 .header-brand-img.desktop-lgo,
    .dark-sidebar .app-sidebar2 .header-brand-img.mobile-logo,
    .dark-sidebar .app-sidebar2 .header-brand-img.darkmobile-logo {
        display: none;
    }

    .dark-sidebar .app-sidebar2 .header-brand-img.dark-logo {
        display: block;
        margin: 0 auto;
        margin-top: 5px;
    }
}

.dark-sidebar .side-menu__item.active .side-menu__icon,
.dark-sidebar .side-menu__item:hover .side-menu__icon,
.dark-sidebar .side-menu__item:focus .side-menu__icon {
    fill: rgba(255, 255, 255, 0.08);
}

.dark-sidebar .slide a {
    color: #edf0f5 !important;
    background: none;
}

.light-mode.dark-sidebar .slide a,
.dark-mode.dark-sidebar .slide a {
    color: #edf0f5 !important;
    background: none;
}

.dark-sidebar.sidenav-toggled .app-sidebar2 .dark-logo,
.color-sidebar.sidenav-toggled .app-sidebar2 .dark-logo {
    display: none;
}

.dark-sidebar.sidenav-toggled .app-sidebar2 .darkmobile-logo,
.color-sidebar.sidenav-toggled .app-sidebar2 .darkmobile-logo {
    display: block;
    margin: 0 auto;
    margin-top: 5px;
}

.default-sidebar.sidenav-toggled .app-sidebar2 .desktop-lgo {
    display: none;
}

.default-sidebar.sidenav-toggled .app-sidebar2 .mobile-logo {
    display: block;
    margin: 0 auto;
    margin-top: 5px;
}

.light-mode.dark-sidebar .side-menu__item.active,
.light-mode.dark-sidebar .side-menu__item:hover,
.light-mode.dark-sidebar .side-menu__item:focus {
    text-decoration: none;
    color: var(--q-primary) !important;
}

.light-mode.dark-sidebar .slide a.active,
.light-mode.dark-sidebar .slide a:hover,
.light-mode.dark-sidebar .slide a:focus {
    text-decoration: none;
    color: var(--q-primary) !important;
}

.dark-mode.dark-sidebar .side-menu__item.active,
.dark-mode.dark-sidebar .side-menu__item:hover,
.dark-mode.dark-sidebar .side-menu__item:focus {
    text-decoration: none;
    color: var(--q-primary) !important;
}

.dark-mode.dark-sidebar .slide a.active,
.dark-mode.dark-sidebar .slide a:hover,
.dark-mode.dark-sidebar .slide a:focus {
    text-decoration: none;
    color: var(--q-primary) !important;
}

.dark-mode .horizontalMenu>.horizontalMenu-list>li>ul.sub-menu>li>a:hover,
.dark-mode .horizontalMenu>.horizontalMenu-list>li>ul.sub-menu>li>ul.sub-menu>li>a:hover {
    color: var(--q-primary);
}

.dark-mode .horizontalMenu>.horizontalMenu-list>li>.horizontal-megamenu .link-list li a:hover {
    color: var(--q-primary);
}

.dark-mode .second-sidemenu .side-menu .slide.submenu a.active,
.dark-mode .second-sidemenu .side-menu .slide.submenu a:hover {
    color: var(--q-primary) !important;
}

.color-sidebar .side-menu-label1 {
    border-bottom: 1px solid rgba(255, 255, 255, 0.1) !important;
    color: #fff;
}

.dark-sidebar .side-menu-label1 {
    border-bottom: 1px solid #2c3650 !important;
    color: #fff;
}

.dark-mode.default-sidebar .side-menu-label1 {
    color: #5c6287;
}

/*# sourceMappingURL=skins.css.map */