.css_id_ciiu_ter_label {text-align:right;}
.css_id_ciiu_ter_line {text-align:left;}
.css_id_ciiu_ter_obj {text-align:left;}
.css_id_tercero_label {text-align:right;}
.css_id_tercero_line {text-align:left;}
.css_id_tercero_obj {text-align:left;}
.css_codigo_ciiu_label { }
.css_codigo_ciiu_line {width:600px;}
.css_codigo_ciiu_obj {width:600px;}
.css_descripcion_ciiu_label { }
.css_descripcion_ciiu_line { }
.css_descripcion_ciiu_obj { }
