.css_codigo_tercero_label {text-align:left;vertical-align:middle;justify-content:left;font-weight:bold;}
.css_codigo_tercero_grid_line {vertical-align: top;text-align: right;}
.css_documento_label {text-align:left;vertical-align:middle;justify-content:left;font-weight:bold;}
.css_documento_grid_line {vertical-align: top;text-align: right;}
.css_nombres_label {text-align:left;vertical-align:middle;justify-content:left;font-weight:bold;}
.css_nombres_grid_line {vertical-align: top;text-align: right;}
