.css_codigo_label {text-align:left;vertical-align:middle;justify-content:left;font-weight:bold;}
.css_codigo_grid_line {vertical-align: top;text-align: right;}
.css_departamento_label {text-align:left;vertical-align:middle;justify-content:left;font-weight:bold;}
.css_departamento_grid_line {vertical-align: top;text-align: right;}
.css_iddep_label {text-align:right;vertical-align:middle;justify-content:right;font-weight:bold;}
.css_iddep_grid_line {vertical-align: top;text-align: right;}
.css_cod_iso3166_label {text-align:left;vertical-align:middle;justify-content:left;font-weight:bold;}
.css_cod_iso3166_grid_line {vertical-align: top;text-align: right;}
