.css_NM_Count_cnt_field {text-align: right}
.css_val_ret_sum_label {text-align: right; vertical-align: top}
.css_val_ret_sum_field {text-align: right; vertical-align: top}
.css_val_ica_sum_label {text-align: right; vertical-align: top}
.css_val_ica_sum_field {text-align: right; vertical-align: top}
.css_val_retiva_sum_label {text-align: right; vertical-align: top}
.css_val_retiva_sum_field {text-align: right; vertical-align: top}
.css_a_pagar_sum_label {text-align: right; vertical-align: top}
.css_a_pagar_sum_field {text-align: right; vertical-align: top}
.css___nm_count_nm___cnt_label {text-align: right; vertical-align: top}
.css___nm_count_nm___cnt_field {text-align: right; vertical-align: top}
