.scMenuHPage { padding: 0; margin: 0; background-color: #FFFFFF; background-image: none }
.scMenuArea { background-image: none; border-width: 0; margin: 0; padding: 0; opacity: 1; filter: alpha(opacity=100) }
.scMenuToolbar { background-color: #f2f2f2; background-image: none; opacity: 1; filter: alpha(opacity=100); margin: 0 }
.scMenuToolbarPadding { padding: 2px }
.scMenuIframe { background-image: none; opacity: 1; filter: alpha(opacity=100); border-width: 0; margin: 0; width: 100%; height: 100% }
.scMenuHMoldura { background-image: none; opacity: 1; filter: alpha(opacity=100); padding: 0; margin: 0; border-collapse: collapse; border-style: solid; border-width: 0 }
.scMenuHHeader { background-color: #3C4858; background-image: none; opacity: 1; filter: alpha(opacity=100); border-color: #3C4858; border-style: solid; border-width: 1px }
_:-ms-lang(x), .ie10up, .scMenuHHeader { border-collapse: separate }
.scMenuHHeaderFont { color: #FFFFFF; font-family: Arial, sans-serif; font-size: 14px; padding: 0; text-decoration: none }
.scMenuHFooter { background-color: #f5f5f5; background-image: none; opacity: 1; filter: alpha(opacity=100) }
.scMenuHFooterFont { color: #999999; font-family: Arial, sans-serif; font-size: 13px; font-weight: bold; text-decoration: none }
.scMenuBreadcrumbLine { background-color: #F2F2F2; background-image: none; opacity: 1; filter: alpha(opacity=100); border-color: #D5D5D5; border-style: solid; border-width: 1px; -moz-border-radius: 4px; -webkit-border-radius: 4px; border-radius: 4px; margin: 5px; padding: 7px 5px; vertical-align: middle }
.scMenuBreadcrumbLine a { background-image: none; opacity: 1; filter: alpha(opacity=100); color: #065AAE; font-family: Arial, sans-serif; font-size: 12px; padding: 0 5px; text-decoration: underline; vertical-align: middle }
.scMenuBreadcrumbLine a:hover { text-decoration: underline; color: #23527c }
.scMenuBreadcrumbLine img { position: relative; top: 1px }
