<div class="popup" style="display: none;">
	<div class="mask" data-bind="click: cancelPopup"></div>
	<div class="popup_panel">
		<span class="close" data-bind="click: cancelPopup"></span>
		<span class="popup_heading" data-bind="i18n: {'key': '%MODULENAME%/HEADING_VERIFY_PASSWORD'}"></span>

		<div class="fields">
			<div class="row" style="margin-bottom: 16px;">
				<span class="value hint" data-bind="i18n: {'key': '%MODULENAME%/INFO_VERIFY_PASSWORD'}"></span>
			</div>
			<div class="row">
				<span class="label pgp_password" data-bind="i18n: {'key': '%MODULENAME%/LABEL_KEY_PASSWORD'}" style="width: auto;"></span>
				<input type="password" class="value input" data-bind="value: password" />
			</div>
			<div class="buttons">
				<span class="button" data-bind="i18n: {'key': '%MODULENAME%/ACTION_VIEW'}, click: confirmPasswordAndView"></span>
				<span class="button secondary_button" data-bind="i18n: {'key': 'COREWEBCLIENT/ACTION_CANCEL'}, click: cancelPopup"></span>
			</div>
		</div>
	</div>
	<span class="helper"></span>
</div>
