.scGridPage { background-color: #FEFEFF; background-image: none; opacity: 1; filter: alpha(opacity=100); color: #313a46; font-family: Leelawadee, Ebrima, 'Bahnschrift Light', Gadugi, 'Nirmala UI', 'Segoe UI', Verdana; margin: 20px; font-size: 13px }
.scGridBorder { background-color: #FFFFFF; background-image: none; opacity: 1; filter: alpha(opacity=100); border-color: #ABB1D9; border-style: solid; border-width: 1px; border-collapse: collapse; padding: 0 }
.scGridPageLink { color: #313a46; text-decoration: underline }
.scGridToolbarNav { background-image: none; opacity: 1; filter: alpha(opacity=100); color: #61678C; font-family: Leelawadee, Ebrima, 'Bahnschrift Light', Gadugi, 'Nirmala UI', 'Segoe UI', Verdana; font-size: 14px; font-weight: bold; text-decoration: none; padding: 12px; text-align: center; height: 34px; line-height: 10px; display: inline-block; box-sizing: border-box }
.scGridToolbarNavOpen { background-color: #61678C !important; background-image: none; opacity: 1; filter: alpha(opacity=100); color: #fff; font-family: Leelawadee, Ebrima, 'Bahnschrift Light', Gadugi, 'Nirmala UI', 'Segoe UI', Verdana; font-size: 14px; font-weight: bold; text-decoration: none; border-color: #61678C; border-style: none; padding: 12px; -moz-border-radius: 30px; -webkit-border-radius: 30px; border-radius: 30px; text-align: center; height: 34px; line-height: 10px; display: inline-block; box-sizing: border-box }
.scGridToolbar { background-color: #FEFEFF; background-image: none; opacity: 1; filter: alpha(opacity=100); color: #6c757d; font-family: Leelawadee, Ebrima, 'Bahnschrift Light', Gadugi, 'Nirmala UI', 'Segoe UI', Verdana; font-size: 13px; text-decoration: none; border-color: #ABB1D9; border-style: none; border-width: 0; padding: 20px; margin: 0 }
.scGridToolbarPadding { padding: 20px }
.scGridToolbarPadding > span { background-color: #FEFEFF }
.css_toolbar_obj { background-color: #f9fafc; background-image: none; opacity: 1; filter: alpha(opacity=100); border-color: #ABB1D9; border-style: solid; border-width: 1px; color: #313a46; font-family: Leelawadee, Ebrima, 'Bahnschrift Light', Gadugi, 'Nirmala UI', 'Segoe UI', Verdana; font-size: 13px; padding: 0 10px; text-decoration: none; -moz-border-radius: 4px; -webkit-border-radius: 4px; border-radius: 4px; height: 34px; line-height: 34px; box-shadow: 0 2px 6px 0 rgba(227,234,239,.5) }
.css_toolbar_obj_text { opacity: 1; filter: alpha(opacity=100); color: #313a46; font-family: Leelawadee, Ebrima, 'Bahnschrift Light', Gadugi, 'Nirmala UI', 'Segoe UI', Verdana; font-size: 13px; text-decoration: none; background: transparent }
.css_toolbar_obj:focus { background-image: none; opacity: 1; filter: alpha(opacity=100); border-color: #ABB1D9; color: #313a46; box-shadow: none }
.css_toolbar_obj_text:focus { opacity: 1; filter: alpha(opacity=100); color: #313a46; outline: none !important }
.css_toolbar_objWm { color: #313a46 }
.scGridHeader { background-color: #61678C; background-image: none; opacity: 1; filter: alpha(opacity=100); border-color: #61678C; border-style: solid; border-width: 1px }
.scGridHeaderFont { color: #EAEBF4; font-family: Leelawadee, Ebrima, 'Bahnschrift Light', Gadugi, 'Nirmala UI', 'Segoe UI', Verdana; font-size: 13px; font-weight: bold; text-decoration: none }
.scGridFooter { background-image: none; opacity: 1; filter: alpha(opacity=100) }
.scGridFooterFont { color: #999999; font-family: Leelawadee, Ebrima, 'Bahnschrift Light', Gadugi, 'Nirmala UI', 'Segoe UI', Verdana; font-size: 13px; font-weight: bold; text-decoration: none }
.scGridObjectOdd { background-color: #F9FAFC; background-image: none; opacity: 1; filter: alpha(opacity=100); border-color: #ABB1D9; border-style: solid; border-width: 1px; color: #313a46; font-family: Leelawadee, Ebrima, 'Bahnschrift Light', Gadugi, 'Nirmala UI', 'Segoe UI', Verdana; font-size: 13px; text-decoration: none }
.scGridBlockBg { background-color: #C5C9DF; background-image: none; opacity: 1; filter: alpha(opacity=100); border-width: 0 0 1px 0; border-style: solid; border-top-color: #C5C9DF; border-bottom-color: #C5C9DF; border-left-color: #C5C9DF; border-right-color: #C5C9DF }
.scGridBlockLineBg { background-color: #C5C9DF; background-image: none; opacity: 1; filter: alpha(opacity=100); border-color: #C5C9DF; border-width: 0 0 1px 0; border-style: solid }
.scGridBlockSpaceBg { background-color: #C5C9DF; background-image: none; opacity: 1; filter: alpha(opacity=100); border-color: #C5C9DF; border-width: 0 0 1px 0; border-style: solid; border-left-color: #C5C9DF; border-right-color: #C5C9DF }
.scGridBlock { background-color: #C5C9DF; background-image: none; opacity: 1; filter: alpha(opacity=100); border-color: #C5C9DF; border-width: 0 0 1px 0; border-style: solid; color: #534382; font-family: Leelawadee, Ebrima, 'Bahnschrift Light', Gadugi, 'Nirmala UI', 'Segoe UI', Verdana; font-size: 13px; font-weight: bold; padding: 10px 15px; text-decoration: none }
.scGridBlockFont { color: #534382; font-family: Leelawadee, Ebrima, 'Bahnschrift Light', Gadugi, 'Nirmala UI', 'Segoe UI', Verdana; font-size: 13px; font-weight: bold; text-decoration: none }
.scGridBlockLink { color: #534382; text-decoration: underline }
.scGridBlockAlign { color: #534382; font-family: Leelawadee, Ebrima, 'Bahnschrift Light', Gadugi, 'Nirmala UI', 'Segoe UI', Verdana; font-size: 13px; font-weight: bold; text-decoration: none }
.scGridTotal { background-color: #ABB1D9; background-image: none; opacity: 1; filter: alpha(opacity=100); border-color: #ABB1D9; border-style: solid; border-width: 0 0 1px 0 }
.scGridTotalFont { color: #2E2F36; font-family: Leelawadee, Ebrima, 'Bahnschrift Light', Gadugi, 'Nirmala UI', 'Segoe UI', Verdana; font-size: 13px; font-weight: bold; padding: 10px 15px; text-decoration: none }
.scGridSubtotal { background-color: #ABB1D9; background-image: none; opacity: 1; filter: alpha(opacity=100); border-color: #ABB1D9; border-style: solid; border-width: 0 0 1px 0 }
.scGridSubtotalFont { color: #2E2F36; font-family: Leelawadee, Ebrima, 'Bahnschrift Light', Gadugi, 'Nirmala UI', 'Segoe UI', Verdana; font-size: 13px; padding: 10px 15px; text-decoration: none }
.scGridFieldEven { background-color: #FFFFFF; background-image: none; opacity: 1; filter: alpha(opacity=100) }
.scGridFieldEvenFont { color: #2E2F36; font-family: Leelawadee, Ebrima, 'Bahnschrift Light', Gadugi, 'Nirmala UI', 'Segoe UI', Verdana; font-size: 13px; padding: 10px 15px; text-decoration: none; border-color: #ABB1D9; border-style: solid; border-width: 0 0 1px 0 }
.scGridFieldEvenVert { background-color: #FFFFFF; background-image: none; opacity: 1; filter: alpha(opacity=100); border-color: #ABB1D9; border-style: solid; border-width: 1px; color: #2E2F36; font-family: Leelawadee, Ebrima, 'Bahnschrift Light', Gadugi, 'Nirmala UI', 'Segoe UI', Verdana; font-size: 13px; padding: 10px 15px; text-decoration: none }
.scGridFieldEvenLink { color: #6082C5; text-decoration: none }
.scGridFieldEvenFont .highlight, .scGridFieldEvenVert .highlight { background-image: none; opacity: 1; filter: alpha(opacity=100); color: #ff0000; display: inline-block }
.scGridFieldOdd { background-color: #EAEBF4; background-image: none; opacity: 1; filter: alpha(opacity=100) }
.scGridFieldOddFont { color: #2E2F36; font-family: Leelawadee, Ebrima, 'Bahnschrift Light', Gadugi, 'Nirmala UI', 'Segoe UI', Verdana; font-size: 13px; padding: 10px 15px; text-decoration: none; border-color: #ABB1D9; border-style: solid; border-width: 0 0 1px 0 }
.scGridFieldOddFont .highlight, .scGridFieldOddVert .highlight { background-image: none; opacity: 1; filter: alpha(opacity=100); color: #ff0000; display: inline-block }
.scGridFieldOddVert { background-color: #EAEBF4; background-image: none; opacity: 1; filter: alpha(opacity=100); border-color: #ABB1D9; border-style: solid; border-width: 1px; color: #2E2F36; font-family: Leelawadee, Ebrima, 'Bahnschrift Light', Gadugi, 'Nirmala UI', 'Segoe UI', Verdana; font-size: 13px; padding: 10px 15px; text-decoration: none }
.scGridFieldOddLink { color: #6082C5; text-decoration: none }
.scGridFieldClick { background-color: #ABB1D9; box-shadow: css_grid_campo_par_box_shadow; border-color: #ABB1D9; border-style: solid; border-width: 0 0 1px 0 }
.scGridFieldOver { background-color: #ABB1D9 }
.scGridLabel { background-color: #ABB1D9; box-shadow: 0 0 35px 0 rgba(154,161,171,.15); background-image: none; opacity: 1; filter: alpha(opacity=100) }
.scGridLabelVert { background-color: #ABB1D9; box-shadow: 0 0 35px 0 rgba(154,161,171,.15); background-image: none; opacity: 1; filter: alpha(opacity=100); border-color: #ABB1D9; border-style: solid; border-width: 1px; color: #434382; font-family: Leelawadee, Ebrima, 'Bahnschrift Light', Gadugi, 'Nirmala UI', 'Segoe UI', Verdana; font-size: 13px; font-weight: bold; padding: 10px 15px; text-decoration: none; vertical-align: middle; width: 20% }
.scGridLabelFont { color: #434382; font-family: Leelawadee, Ebrima, 'Bahnschrift Light', Gadugi, 'Nirmala UI', 'Segoe UI', Verdana; font-size: 13px; font-weight: bold; padding: 10px 15px; text-decoration: none; vertical-align: middle; border-color: #ABB1D9; border-style: solid; border-width: 1px }
scGridLabelVert:hover,.scGridLabelFont:hover { background-color: #ABB1D9; background-image: none; opacity: 1; filter: alpha(opacity=100); color: #2E2F36; text-decoration: none; border-color: #ABB1D9; border-style: solid; border-width: 1px }
scGridLabelVert:hover .scGridLabelLink,.scGridLabelFont:hover .scGridLabelLink { color: #2E2F36 }
.scGridLabelLink { color: #434382; font-family: Leelawadee, Ebrima, 'Bahnschrift Light', Gadugi, 'Nirmala UI', 'Segoe UI', Verdana; font-size: 13px; font-weight: bold; text-decoration: none; vertical-align: middle }
.scGridTabela { background-color: #FEFEFF; background-image: none; opacity: 1; filter: alpha(opacity=100); border-collapse: collapse; border-color: #fff; box-shadow: none; border-style: none; border-width: 0; padding: 0 }
.scGridTabelaTd { padding: 0 }
.TB_overlayBG { background-color: #6e6e6e }
#TB_window { border-style: none; background-color: #FEFEFF }
.scBtnPassField { margin: 10px 5px }
#first_bot,#first_top,#back_bot,#back_top,#forward_bot,#forward_top,#last_bot,#last_top { margin: 0 5px }
.scGridRefinedSearchPadding { padding: 5px; background-color: #FEFEFF; background-image: none; border-color: #ABB1D9; border-style: none; border-width: 1px 1px 0 0 }
.scGridRefinedSearchMoldura { background-color: #fafbfe; background-image: none; opacity: 1; filter: alpha(opacity=100); border-color: #ABB1D9; border-style: none; border-width: 0; border-collapse: collapse }
.scGridRefinedSearchMoldura > div { margin: 0 0 20px 0 }
.scGridRefinedSearchMoldura .scAppDivToolbarInput[type=checkbox], .scGridRefinedSearchMoldura .scAppDivToolbarInput[type=radio], .scGridFilterTagListFilterInputs .scAppDivToolbarInput[type=checkbox], .scGridFilterTagListFilterInputs .scAppDivToolbarInput[type=radio], #table_dyn_search .scAppDivToolbarInput[type=checkbox], #table_dyn_search .scAppDivToolbarInput[type=radio] { height: 13px !important; position: relative; display: inline-block; top: 2px }
.scGridRefinedSearchMolduraResult { background-color: #FEFEFF; background-image: none; opacity: 1; filter: alpha(opacity=100); border-color: #ABB1D9; border-style: solid; border-width: 0 1px; border-collapse: collapse; padding: 0 }
.scGridRefinedSearchToolbar { background-color: #EAEBF4; background-image: none; opacity: 1; filter: alpha(opacity=100); color: #61678C; font-family: Leelawadee, Ebrima, 'Bahnschrift Light', Gadugi, 'Nirmala UI', 'Segoe UI', Verdana; font-size: 13px; text-decoration: none; border-color: #ABB1D9; border-style: solid; border-width: 0 1px 1px 1px; padding: 8px 15px }
.scGridRefinedSearchLabel { background-color: #61678C; background-image: none; opacity: 1; filter: alpha(opacity=100); border-color: #61678C; border-style: solid; border-width: 1px; color: #fff; border-radius: 2px 2px 0 0; font-family: Leelawadee, Ebrima, 'Bahnschrift Light', Gadugi, 'Nirmala UI', 'Segoe UI', Verdana; font-size: 13px; padding: 5px; text-decoration: none; vertical-align: middle }
.scGridRefinedSearchCampo { background-color: #EAEBF4; background-image: none; opacity: 1; filter: alpha(opacity=100); border-color: #ABB1D9; border-style: solid; border-width: 0 0 1px 0; padding: 8px 15px }
.scGridRefinedSearchCampoFont { color: #313a46; font-family: Leelawadee, Ebrima, 'Bahnschrift Light', Gadugi, 'Nirmala UI', 'Segoe UI', Verdana; font-size: 12px; text-decoration: none }
.scGridRefinedSearchCampo:hover { background-color: #EAEBF4; background-image: none; opacity: 1; filter: alpha(opacity=100); border-color: #ABB1D9; border-style: solid; border-width: 0 0 1px 0; padding: 8px 15px }
.scGridRefinedSearchCampoFont:hover { color: #313a46; font-family: Leelawadee, Ebrima, 'Bahnschrift Light', Gadugi, 'Nirmala UI', 'Segoe UI', Verdana; font-size: 12px; text-decoration: underline }
.scGridRefinedSearchCampo:active { background-color: #fbfbfb; background-image: none; opacity: 1; filter: alpha(opacity=100); border-color: #eff2f7; border-style: solid; border-width: 0 0 1px 0; padding: 8px 15px }
.scGridRefinedSearchCampoFont:active { color: #6c757d; font-family: Leelawadee, Ebrima, 'Bahnschrift Light', Gadugi, 'Nirmala UI', 'Segoe UI', Verdana; font-size: 13px; text-decoration: underline }
.scGridRefinedSearchVejaMais { background-color: #EAEBF4; background-image: none; opacity: 1; filter: alpha(opacity=100); border-color: #ABB1D9; border-style: solid; border-width: 0 0 1px 0; padding: 8px 15px }
.scGridRefinedSearchVejaMaisFont { color: #61678C; font-family: Leelawadee, Ebrima, 'Bahnschrift Light', Gadugi, 'Nirmala UI', 'Segoe UI', Verdana; font-size: 13px; text-decoration: none }
.ui-slider-horizontal { background-color: #dee2e6; background-image: none; opacity: 1; filter: alpha(opacity=100); border-color: #FFFFFF !important; border-style: none; border-collapse: collapse; margin: 0 auto; height: .3em !important }
.ui-slider-horizontal > .ui-slider-range { background-color: #61678C; background-image: none; opacity: 1; filter: alpha(opacity=100); border-collapse: collapse }
.ui-slider-horizontal > .ui-state-default { background: #61678C !important; background-image: none; opacity: 1; filter: alpha(opacity=100); border-color: #FFFFFF !important; border-collapse: collapse; margin: 0 0 0 -7px !important; -moz-border-radius: 0; -webkit-border-radius: 0; border-radius: 0; top: -4px !important; outline: none }
.ui-slider-horizontal > .ui-slider-handle { width: 0.5em !important; height: 0.8em !important }
.ui-slider-horizontal > .ui-state-hover { background-image: none; opacity: 1; filter: alpha(opacity=100); border-collapse: collapse }
.ui-slider-horizontal > .ui-state-active { background-image: none; opacity: 1; filter: alpha(opacity=100); border-collapse: collapse }
.scGridRefinedSearchRangeValues { background-image: none; opacity: 1; filter: alpha(opacity=100); padding: 4px; color: #2E2F36; font-family: Leelawadee, Ebrima, 'Bahnschrift Light', Gadugi, 'Nirmala UI', 'Segoe UI', Verdana; font-size: 13px; text-decoration: none }
.scGridRefinedSearchQuantidade { background-image: none; opacity: 1; filter: alpha(opacity=100); border-style: none; padding: 0 2px; color: #313a46; font-family: Leelawadee, Ebrima, 'Bahnschrift Light', Gadugi, 'Nirmala UI', 'Segoe UI', Verdana; font-size: 12px; text-decoration: none }
.scGridRefinedSearchCollapse { text-align: right }
.scGridRefinedSearchCollapse i { background-image: none; color: #7d7d7d; margin: 10px 0; padding: 5px; border-style: solid; border-width: 0 }
.scGridRefinedSearchCollapse i:hover { cursor: pointer; background-image: none }
.scGridRefinedSearchExpand { text-align: right }
.scGridRefinedSearchExpand i { background-image: none; color: #7d7d7d; margin: 10px 0; padding: 5px; border-style: solid; border-width: 0 }
.scGridRefinedSearchExpand i:hover { cursor: pointer; background-image: none }
.scAjaxDiv { background-image: none; opacity: 1; filter: alpha(opacity=100); color: #6c757d; font-family: Leelawadee, Ebrima, 'Bahnschrift Light', Gadugi, 'Nirmala UI', 'Segoe UI', Verdana; font-size: 13px; text-decoration: none; border-collapse: collapse; border-style: none }
.scGridSummarySearchMoldura { background-color: #FFFFFF; background-image: none; opacity: 1; filter: alpha(opacity=100); border-color: #ABB1D9; border-style: solid; border-width: 0; border-collapse: collapse; padding: 5px 10px; margin: 0; width: calc(100% - 40px) !important }
.scGridSummarySearchCampo { background-image: none; opacity: 1; filter: alpha(opacity=100); border-style: none; border-collapse: collapse; margin: 20px 10px }
.scGridSummarySearchLabel { background-image: none; opacity: 1; filter: alpha(opacity=100); border-color: #ABB1D9; border-style: solid; border-width: 0 0 1px 0; color: #2E2F36; font-family: Leelawadee, Ebrima, 'Bahnschrift Light', Gadugi, 'Nirmala UI', 'Segoe UI', Verdana; font-size: 11px; font-weight: bold; padding: 0 0 8px 0; text-decoration: none; vertical-align: middle; margin: 0 0 8px 0; text-transform: none; letter-spacing: 1px }
.scGridSummarySearchLabelclean { background-image: none; opacity: 1; filter: alpha(opacity=100); color: #6c757d; font-family: Leelawadee, Ebrima, 'Bahnschrift Light', Gadugi, 'Nirmala UI', 'Segoe UI', Verdana; font-size: 12px !important; font-weight: normal; letter-spacing: 0px; text-decoration: none; text-transform: capitalize; display: block; visibility: hidden }
.scGridSummarySearchLabelclean a { color: #6c757d; font-family: Leelawadee, Ebrima, 'Bahnschrift Light', Gadugi, 'Nirmala UI', 'Segoe UI', Verdana; font-size: 12px !important; text-transform: capitalize; font-weight: normal; text-decoration: none; letter-spacing: 0px }
.scGridSummarySearchLabelclean a:hover { text-decoration: underline }
.scGridSummarySearchObjeto { background-image: none; opacity: 1; filter: alpha(opacity=100); border-style: none; border-collapse: collapse; padding: 0; box-sizing: border-box; height: 34px }
.scGridSummarySearchObjeto > img { vertical-align: middle }
.scGridSummarySearchCampo:hover .scGridSummarySearchLabelclean { visibility: visible!important }
.scGridSummarySearchCleanBtn { background-image: none; opacity: 1; filter: alpha(opacity=100); border-style: none; border-collapse: collapse; margin: 20px 10px; box-sizing: css_summarysearch_btnclean_box_sizing; height: css_summarysearch_btnclean_height; line-height: css_summarysearch_btnclean_line_height }
.scGridSummaryLabel { background-color: #ABB1D9; box-shadow: 0 0 35px 0 rgba(154,161,171,.15); background-image: none; opacity: 1; filter: alpha(opacity=100); color: #61678C; font-family: Leelawadee, Ebrima, 'Bahnschrift Light', Gadugi, 'Nirmala UI', 'Segoe UI', Verdana; font-size: 13px; font-weight: bold; text-decoration: none; border-color: #ABB1D9; border-style: solid; border-width: 1px; vertical-align: middle; padding: 10px }
.scGridSummaryLabel:hover { background-color: #ABB1D9; background-image: none; opacity: 1; filter: alpha(opacity=100); color: #2E2F36; text-decoration: none; border-color: #ABB1D9; border-style: solid; border-width: 1px }
.scGridSummaryTotal { background-color: #E5E5E5; background-image: none; opacity: 1; filter: alpha(opacity=100); color: #2E2F36; font-family: Leelawadee, Ebrima, 'Bahnschrift Light', Gadugi, 'Nirmala UI', 'Segoe UI', Verdana; font-size: 13px; text-decoration: none; border-color: #DBDBDB; border-style: solid; border-width: 1px 0; padding: 8px 10px }
.scGridSummarySubtotal { background-color: #E9E9E9; background-image: none; opacity: 1; filter: alpha(opacity=100); color: #2E2F36; font-family: Leelawadee, Ebrima, 'Bahnschrift Light', Gadugi, 'Nirmala UI', 'Segoe UI', Verdana; font-size: 13px; text-decoration: none; border-color: #DBDBDB; border-style: solid; border-width: 1px 0; padding: 8px 10px }
.scGridSummaryLineEven { background-color: #EAEBF4; background-image: none; opacity: 1; filter: alpha(opacity=100); color: #2E2F36; font-family: Leelawadee, Ebrima, 'Bahnschrift Light', Gadugi, 'Nirmala UI', 'Segoe UI', Verdana; font-size: 13px; text-decoration: none; border-color: #ABB1D9; border-style: solid; border-width: 1px 0; padding: 10px 15px }
.scGridSummaryLineOdd { background-color: #EAEBF4; background-image: none; opacity: 1; filter: alpha(opacity=100); color: #2E2F36; font-family: Leelawadee, Ebrima, 'Bahnschrift Light', Gadugi, 'Nirmala UI', 'Segoe UI', Verdana; font-size: 13px; text-decoration: none; border-color: #ABB1D9; border-style: solid; border-width: 1px 0; padding: 10px 15px }
.scGridSummaryGroupbyVisible { background-color: #f2f2f2; background-image: none; opacity: 1; filter: alpha(opacity=100); color: #61678C; font-family: Leelawadee, Ebrima, 'Bahnschrift Light', Gadugi, 'Nirmala UI', 'Segoe UI', Verdana; font-size: 13px; font-weight: bold; text-decoration: none; border-color: #DBDBDB; border-style: solid; border-width: 1px 0; vertical-align: top; padding: 8px 10px }
.scGridSummaryGroupbyVisibleLink { color: #61678C; text-decoration: none }
.scGridSummaryGroupbyInvisible { background-color: #f2f2f2; background-image: none; opacity: 1; filter: alpha(opacity=100); color: #6c757d; font-family: Leelawadee, Ebrima, 'Bahnschrift Light', Gadugi, 'Nirmala UI', 'Segoe UI', Verdana; font-size: 13px; text-decoration: none; font-style: italic; border-color: #DBDBDB; border-style: solid; border-width: 1px 0; padding: 8px 10px }
.scGridSummaryGroupbyInvisibleDisplay { display: none }
.scGridSummaryGroupbyInvisibleLink { color: #BA4F4F !important; text-decoration: none }
.scGridSummaryLine:hover .scGridSummaryLineOdd { background-color: #ABB1D9; opacity: 1; filter: alpha(opacity=100); border-color: #fff; border-style: none; border-width: 1px 0 }
.scGridSummaryLine:hover .scGridSummaryLineEven { background-color: #ABB1D9; opacity: 1; filter: alpha(opacity=100); border-color: #fff; border-style: none; border-width: 1px 0 }
.scGridSummaryLine:hover .scGridSummaryGroupbyVisible { background-color: #ABB1D9; opacity: 1; filter: alpha(opacity=100); border-color: #eff2f7; border-style: none; border-width: 1px 0 }
.scGridSummaryLine:hover .scGridSummaryGroupbVisibleLink { color: #61678C; text-decoration: none }
.scGridSummaryLine:hover .scGridSummaryGroupbyInvisible { background-color: #ABB1D9; opacity: 1; filter: alpha(opacity=100); border-color: #fff; border-style: none; border-width: 1px 0 }
.scGridSummaryLine:hover .scGridSummaryGroupbyInvisibleLink { color: #2E2F36; text-decoration: none }
.scGridSummaryLine:hover .scGridSummaryGroupbyInvisible .scGridSummaryGroupbyInvisibleDisplay { display: table-cell }
.scGridSummaryLine:hover .scGridSummarySubtotal { background-color: #ABB1D9; opacity: 1; filter: alpha(opacity=100); border-color: #fff; border-style: none; border-width: 1px 0 }
.scGridSummaryLine:hover .scGridSummaryTotal { background-color: #ABB1D9; opacity: 1; filter: alpha(opacity=100); border-color: #fff; border-style: none; border-width: 1px 0 }
.scGridSummaryClickedLine { background-color: #ABB1D9; box-shadow: inset 0 8px 6px -8px rgba(0,0,0,0.05); opacity: 1; filter: alpha(opacity=100); border-color: #fff; border-style: solid; border-width: 1px 0 }
.scGridSummaryClickedGroupbyVisible { background-color: #ABB1D9; box-shadow: inset 0 8px 6px -8px rgba(0,0,0,0.05); opacity: 1; filter: alpha(opacity=100); border-color: #fff; border-style: solid; border-width: 1px 0 }
.scGridSummaryClickedGroupbyInvisible { background-color: #ABB1D9; box-shadow: inset 0 8px 6px -8px rgba(0,0,0,0.05); opacity: 1; filter: alpha(opacity=100); border-color: #fff; border-style: solid; border-width: 1px 0 }
.scGridSummaryClickedGroupbyInvisibleDisplay { display: table-cell }
.scGridSummaryClickedSubtotal { background-color: #ABB1D9; opacity: 1; filter: alpha(opacity=100); border-color: #fff; border-style: none; border-width: 1px 0 }
.scGridSummaryClickedTotal { background-color: #ABB1D9; opacity: 1; filter: alpha(opacity=100); border-color: #fff; border-style: none; border-width: 1px 0 }
.scGridSummaryGroupbySeq { vertical-align: middle }
.sc-op-fix-col-notfixed i { color: #61678C; opacity: 0.3; filter: alpha(opacity=30) }
.sc-col-is-fixed i { color: #61678C }
.SumoSelect > .CaptionCont { background-color: #F9FAFC; background-image: none; opacity: 1; filter: alpha(opacity=100); color: #6c757d; font-family: Leelawadee, Ebrima, 'Bahnschrift Light', Gadugi, 'Nirmala UI', 'Segoe UI', Verdana; font-size: 13px; padding: 0 10px; text-decoration: none; vertical-align: middle; border-color: #ABB1D9; border-style: solid; border-width: 1px; box-shadow: border-box; height: 34px; line-height: 34px }
.SumoSelect .select-all { background-color: #F9FAFC; background-image: none; opacity: 1; filter: alpha(opacity=100); color: #6c757d; font-family: Leelawadee, Ebrima, 'Bahnschrift Light', Gadugi, 'Nirmala UI', 'Segoe UI', Verdana; font-size: 13px; text-decoration: none; vertical-align: middle }
.SumoSelect .no-match { background-color: #F9FAFC; background-image: none; opacity: 1; filter: alpha(opacity=100); color: #6c757d; font-family: Leelawadee, Ebrima, 'Bahnschrift Light', Gadugi, 'Nirmala UI', 'Segoe UI', Verdana; font-size: 13px; text-decoration: none; vertical-align: middle }
.SumoSelect > .optWrapper { border-color: #ABB1D9 }
.SumoSelect > .optWrapper > .options li.opt { background-color: #F9FAFC; background-image: none; opacity: 1; filter: alpha(opacity=100); color: #6c757d; font-family: Leelawadee, Ebrima, 'Bahnschrift Light', Gadugi, 'Nirmala UI', 'Segoe UI', Verdana; font-size: 13px; text-decoration: none; vertical-align: middle }
.SumoSelect > .optWrapper > .options li.opt.selected { background-color: #ABB1D9; box-shadow: 0 0 5px 0 rgba(154,161,171,.5); color: #2E2F36 }
.SumoSelect > .optWrapper > .options li.opt:hover { background-color: #ABB1D9; box-shadow: 0 0 5px 0 rgba(154,161,171,.5); color: #2E2F36 }
.SumoSelect > .optWrapper.multiple > .MultiControls > p.btnOk { background-image: none; opacity: 1; filter: alpha(opacity=100); color: #6c757d; font-family: Leelawadee, Ebrima, 'Bahnschrift Light', Gadugi, 'Nirmala UI', 'Segoe UI', Verdana; font-size: 13px; text-decoration: none; vertical-align: middle }
.SumoSelect > .optWrapper.multiple > .MultiControls { background-image: none; opacity: 1; filter: alpha(opacity=100); color: css_summarysearch_multiselectbuttonline_color; font-family: css_summarysearch_multiselectbuttonline_font; font-size: css_summarysearch_multiselectbuttonline_font_size; text-shadow: css_summarysearch_multiselectbuttonline_text_shadow; font-weight: css_summarysearch_multiselectbuttonline_font_weight; text-decoration: css_summarysearch_multiselectbuttonline_text_decoration; vertical-align: css_summarysearch_multiselectbuttonline_vertical_align }
.SumoSelect > .optWrapper.multiple > .MultiControls > p.btnCancel { background-image: none; opacity: 1; filter: alpha(opacity=100); color: #6c757d; font-family: Leelawadee, Ebrima, 'Bahnschrift Light', Gadugi, 'Nirmala UI', 'Segoe UI', Verdana; font-size: 13px; text-decoration: none; vertical-align: middle }
.SumoSelect > .optWrapper.multiple > .options li.opt.selected span i, .SumoSelect .select-all.selected > span i { background-color: #313a46; background-image: url(../../img/scriptcase__NM__btn__NM__scriptcase9_Lemon__NM__nm_scriptcase9_Lemon_check.png); opacity: 1; filter: alpha(opacity=100) }
.SumoSelect > .optWrapper.multiple > .options li.opt span i, .SumoSelect .select-all > span i { background-image: none; opacity: 1; filter: alpha(opacity=100) }
.active > .scGridSummarySearchLabel { color: #2BB673 !important }
.active > .scGridSummarySearchObjeto > .SumoSelect > .CaptionCont, .active > .scGridSummarySearchObjeto > .css_toolbar_obj { border-color: #2BB673 !important }
#sc_id_class_id, #sc_id_fldord_selected select { height: 18px; line-height: 18px; padding: 0 }
#summary_body > td,#sc_grid_body { padding: 20px }
.sc-ui-summ-options, .sc-ui-groupby-options { list-style-type: none; margin: 0; padding: 0 2px; min-height: 30px }
.sc-ui-summ-options li, .sc-ui-groupby-options li { margin: 3px 3px 3px 0; padding: 1px; float: left; width: 150px; height: 20px; text-align: left }
#sc-id-custom-groupby, #sc-id-custom-summ { font-size: 13px }
.sc-ui-overflow-groupby { overflow: hidden; white-space: nowrap }
.sc-ui-overflow-summ { width: 125px; overflow: hidden; white-space: nowrap; float: left }
#sc-id-chart-selection { display: none; z-index: 1000; position: absolute; padding: 3px; width: 375px; min-height: 325px; border-style: solid; border-width: 1px }
#sc-id-chart-menu-type { float: left; width: 158px }
.sc-ui-chart-types { text-align: left; background-color: #FEFEFF; margin: 0; padding: 5px; border-color: #FEFEFF; border-style: solid; border-width: 1px; font-weight: bold; color: #313a46 }
.sc-ui-chart-types:hover { background-color: #ABB1D9; box-shadow: 0 0 5px 0 rgba(154,161,171,.5); color: #2E2F36; text-decoration: none; border-color: #ABB1D9; border-style: solid; border-width: 1px; cursor: pointer }
.sc-ui-chart-type-selected,.sc-ui-chart-type-selected:hover { background-color: #ABB1D9; border-color: #ABB1D9; border-width: 1px; border-style: solid; cursor: default; color: #434382; text-decoration: none }
.sc-ui-chart-options { float: right; width: 217px; height: 100%; text-align: left; background-color: #FEFEFF }
.sc-ui-chart-option-type { background-color: #FFFFFF; border-color: #ABB1D9; border-style: solid; border-width: 2px; height: 90px; width: 90px; float: left; margin: 10px 0 0 10px; text-align: center }
.sc-ui-chart-option-type-hover:hover { background-color: #FFFFFF; border-color: #ABB1D9; cursor: pointer }
.sc-ui-sumcfg { display: none; position: absolute; border-style: solid; border-width: 1px; z-index: 1001; text-align: center; padding: 3px 5px; font-weight: bold }
.sc-ui-sumcfg label { font-weight: normal }
#sc-id-sort { display: none; position: absolute; border-style: solid; border-width: 1px; z-index: 1002; text-align: left; padding: 0 }
.sc-ui-sort-option { padding: 6px 15px; font-size: 13px }
.sc-ui-sort-option:hover { background-color: #EFEFEF }
.sc-ui-sort-option-check { height: 16px; width: 16px; vertical-align: text-bottom; margin-right: 10px }
#sc-id-sort,.sc-ui-sumcfg,#sc-id-chart-selection,#sc-id-combination-table { font-size: 13px; box-shadow: 2px 2px 3px #b0b0b0; border-color: #e6e6e6; background-color: #FEFEFF }
