.css_iddet__label {text-align:right;}
.css_iddet__line {text-align:left;}
.css_iddet__obj {text-align:left;}
.css_numfac__label {text-align:right;}
.css_numfac__line {text-align:left;}
.css_numfac__obj {text-align:left;}
.css_idpro__label {text-align:center;vertical-align:middle;}
.css_idpro__line {text-align:left;}
.css_idpro__obj {text-align:left;}
.css_unidadmayor__label { }
.css_unidadmayor__line {text-align:center;vertical-align:middle;}
.css_unidadmayor__obj { }
.css_factor__label {text-align:right;}
.css_factor__line {text-align:left;}
.css_factor__obj {text-align:left;}
.css_idbod__label {text-align:center;vertical-align:middle;}
.css_idbod__line {text-align:left;}
.css_idbod__obj {text-align:center;}
.css_costop__label {text-align:right;}
.css_costop__line {text-align:left;}
.css_costop__obj {text-align:left;}
.css_cantidad__label {text-align:center;vertical-align:middle;}
.css_cantidad__line {text-align:center;vertical-align:middle;}
.css_cantidad__obj {text-align:center;}
.css_valorunit__label {text-align:center;vertical-align:middle;}
.css_valorunit__line {text-align:right;}
.css_valorunit__obj {text-align:right;}
.css_valorpar__label {text-align:center;vertical-align:middle;}
.css_valorpar__line {text-align:right;vertical-align:middle;}
.css_valorpar__obj {text-align:right;}
.css_iva__label {text-align:center;vertical-align:middle;}
.css_iva__line {text-align:right;}
.css_iva__obj {text-align:right;}
.css_descuento__label {text-align:center;vertical-align:middle;}
.css_descuento__line {text-align:center;vertical-align:middle;}
.css_descuento__obj {text-align:center;width:70px;}
.css_adicional__label {text-align:right;}
.css_adicional__line {text-align:left;}
.css_adicional__obj {text-align:left;}
.css_adicional1__label {text-align:right;}
.css_adicional1__line {text-align:left;}
.css_adicional1__obj {text-align:left;}
.css_colores__label {text-align:center;vertical-align:middle;}
.css_colores__line {text-align:left;}
.css_colores__obj {text-align:left;}
.css_tallas__label {text-align:center;vertical-align:middle;}
.css_tallas__line {text-align:left;}
.css_tallas__obj {text-align:left;}
.css_sabor__label {text-align:center;vertical-align:middle;}
.css_sabor__line {text-align:left;}
.css_sabor__obj {text-align:left;}
.css_obs__label { }
.css_obs__line { }
.css_obs__obj { }
.css_vencimiento__label { }
.css_vencimiento__line { }
.css_vencimiento__obj { }
.css_lote__label { }
.css_lote__line { }
.css_lote__obj { }
.css_serial_codbarra__label { }
.css_serial_codbarra__line { }
.css_serial_codbarra__obj { }
.css_tipo_tran__label { }
.css_tipo_tran__line {background-color:#3333FF;}
.css_tipo_tran__obj { }
.css_desc__label { }
.css_desc__line {text-align:center;vertical-align:middle;}
.css_desc__obj {text-align:center;}
.css_elcolor__label { }
.css_elcolor__line { }
.css_elcolor__obj {text-align:center;}
.css_elsabor__label { }
.css_elsabor__line { }
.css_elsabor__obj { }
.css_existencia__label {text-align:center;vertical-align:middle;}
.css_existencia__line {text-align:center;vertical-align:middle;}
.css_existencia__obj {text-align:center;}
.css_latalla__label { }
.css_latalla__line { }
.css_latalla__obj { }
.css_stockubica__label {text-align:center;vertical-align:middle;}
.css_stockubica__line {background-color:#00FF66;}
.css_stockubica__obj {text-align:center;width:80px;}
.css_unidad__label {text-align:center;vertical-align:middle;}
.css_unidad__line {text-align:center;}
.css_unidad__obj {text-align:center;}
