.css_producto_label {text-align:left;vertical-align:middle;justify-content:left;font-weight:bold;}
.css_producto_grid_line {vertical-align: top;text-align: right;}
.css_existencia_label {text-align:right;vertical-align:middle;justify-content:right;font-weight:bold;}
.css_existencia_grid_line {vertical-align: top;text-align: right;}
.css_existencia_sub_tot {text-align: right;}
.css_existencia_tot_ger {text-align: right;}
.css_unimen_label {text-align:left;vertical-align:middle;justify-content:left;font-weight:bold;}
.css_unimen_grid_line {vertical-align: top;text-align: right;}
.css_costou_label {text-align:left;vertical-align:middle;justify-content:left;font-weight:bold;}
.css_costou_grid_line {vertical-align: top;text-align: right;}
.css_costo_total_label {text-align:left;vertical-align:middle;justify-content:left;font-weight:bold;}
.css_costo_total_grid_line {vertical-align: top;text-align: right;}
.css_costo_total_sub_tot {text-align: right;}
.css_costo_total_tot_ger {text-align: right;}
.css_idgrup_label {text-align:left;vertical-align:middle;justify-content:left;font-weight:bold;}
.css_idgrup_grid_line {vertical-align: top;text-align: right;}
