.css_idcombo__label {text-align:right;}
.css_idcombo__line {text-align:left;}
.css_idcombo__obj {text-align:left;}
.css_idproducto__label {text-align:left;}
.css_idproducto__line {text-align:left;}
.css_idproducto__obj {text-align:left;}
.css_cantidad__label {text-align:left;}
.css_cantidad__line {text-align:center;}
.css_cantidad__obj {text-align:center;}
