.scMenuHHeader { background-color: #EDB817; background-image: none; opacity: 1; filter: alpha(opacity=100); border-color: #fff; border-width: 0 }
_:-ms-lang(x), .ie10up, .scMenuHHeader { border-collapse: separate }
.scMenuHHeaderFont { color: #fff; font-family: Verdana, Geneva, sans-serif; font-size: 12px; text-shadow: none; font-weight: bold; padding: 0; text-decoration: none }
.ui-body-a, .ui-overlay-a, .ui-body-c, .ui-overlay-c { background-color: #f5f5f5; background-image: none; opacity: 1; filter: alpha(opacity=100) }
.ui-bar-b { color: #fff; font-family: Verdana, Geneva, sans-serif; font-size: 12px; font-weight: bold; padding: 0; text-decoration: none; background-color: #EDB817; background-image: none; opacity: 1; filter: alpha(opacity=100); border-color: #fff; border-width: 0 }
.ui-btn-up-a { background-color: #FFFFFF; background-image: none; opacity: 1; filter: alpha(opacity=100); font-family: Verdana, Geneva, sans-serif; font-size: 12px; text-shadow: none; color: #000000; text-decoration: none; font-style: normal }
.ui-btn-up-a:visited, .ui-btn-up-a a.ui-link-inherit { color: #000000 }
.ui-btn-hover-a { background-color: #FFFFFF; background-image: none; opacity: 1; filter: alpha(opacity=100); font-family: Verdana, Geneva, sans-serif; font-size: 12px; text-shadow: none; color: #000000; text-decoration: none; font-style: normal }
.ui-btn-hover-a:visited, .ui-btn-hover-a:hover, .ui-btn-hover-a a.ui-link-inherit { color: css_menu_menu_sel_color; background-color: css_menu_menu_sel_background_color }
