.css_id_puc_aux_label {text-align:right;vertical-align:middle;justify-content:right;font-weight:bold;}
.css_id_puc_aux_grid_line {vertical-align: top;text-align: right;}
.css_valor_label {text-align:right;vertical-align:middle;justify-content:right;font-weight:bold;}
.css_valor_grid_line {vertical-align: middle;text-align: right;}
.css_tipo_label {text-align:left;vertical-align:middle;justify-content:left;font-weight:bold;}
.css_tipo_grid_line {vertical-align: middle;text-align: right;}
.css_id_tercero_label {text-align:left;vertical-align:middle;justify-content:left;font-weight:bold;}
.css_id_tercero_grid_line {vertical-align: middle;text-align: right;}
.css_notas_label {text-align:left;vertical-align:middle;justify-content:left;font-weight:bold;}
.css_notas_grid_line {vertical-align: middle;text-align: right;}
.css_ndocumento_label {text-align:left;vertical-align:middle;justify-content:left;font-weight:bold;}
.css_ndocumento_grid_line {vertical-align: middle;text-align: right;}
.css_id_label {text-align:right;vertical-align:middle;justify-content:right;font-weight:bold;}
.css_id_grid_line {vertical-align: top;text-align: right;}
.css_id_contabilidad_label {text-align:right;vertical-align:middle;justify-content:right;font-weight:bold;}
.css_id_contabilidad_grid_line {vertical-align: top;text-align: right;}
