.css_prefijo_label {text-align:left;vertical-align:middle;justify-content:left;font-weight:bold;}
.css_prefijo_grid_line {vertical-align: top;text-align: right;}
.css_numero_label {text-align:right;vertical-align:middle;justify-content:right;font-weight:bold;}
.css_numero_grid_line {vertical-align: top;text-align: right;}
.css_fecha_label {text-align:center;vertical-align:middle;justify-content:center;font-weight:bold;}
.css_fecha_grid_line {vertical-align: top;text-align: center;}
.css_pagado_a_label {text-align:left;vertical-align:middle;justify-content:left;font-weight:bold;}
.css_pagado_a_grid_line {vertical-align: top;text-align: right;}
.css_pagador_label {text-align:left;vertical-align:middle;justify-content:left;font-weight:bold;}
.css_pagador_grid_line {vertical-align: top;text-align: right;}
.css_total_label {text-align:right;vertical-align:middle;justify-content:right;font-weight:bold;}
.css_total_grid_line {vertical-align: top;text-align: right;}
.css_descuento_label {text-align:right;vertical-align:middle;justify-content:right;font-weight:bold;}
.css_descuento_grid_line {vertical-align: top;text-align: right;}
.css_neto_label {text-align:right;vertical-align:middle;justify-content:right;font-weight:bold;}
.css_neto_grid_line {vertical-align: top;text-align: right;}
.css_id_pago_label {text-align:right;vertical-align:middle;justify-content:right;font-weight:bold;}
.css_id_pago_grid_line {vertical-align: top;text-align: right;}
.css_concepto_label {text-align:left;vertical-align:middle;justify-content:left;font-weight:bold;}
.css_concepto_grid_line {vertical-align: top;text-align: right;}
.css_usuario_label {text-align:right;vertical-align:middle;justify-content:right;font-weight:bold;}
.css_usuario_grid_line {vertical-align: top;text-align: right;}
.css_creado_label {text-align:center;vertical-align:middle;justify-content:center;font-weight:bold;}
.css_creado_grid_line {vertical-align: top;text-align: center;}
.css_actualizado_label {text-align:center;vertical-align:middle;justify-content:center;font-weight:bold;}
.css_actualizado_grid_line {vertical-align: top;text-align: center;}
