.css_id_categoria_label {text-align:left;vertical-align:middle;justify-content:left;font-weight:bold;}
.css_id_categoria_grid_line {vertical-align: top;text-align: left;}
.css_presupuesto_label {text-align:left;vertical-align:middle;justify-content:left;font-weight:bold;}
.css_presupuesto_grid_line {vertical-align: top;text-align: left;}
.css_presupuesto_sub_tot {text-align: left;}
.css_presupuesto_tot_ger {text-align: left;}
.css_descripcion_label {text-align:left;vertical-align:middle;justify-content:left;font-weight:bold;}
.css_descripcion_grid_line {vertical-align: top;text-align: left;}
.css_id_presupuesto_detalle_label {text-align:right;vertical-align:middle;justify-content:right;font-weight:bold;}
.css_id_presupuesto_detalle_grid_line {vertical-align: top;text-align: right;}
.css_id_presupuesto_label {text-align:right;vertical-align:middle;justify-content:right;font-weight:bold;}
.css_id_presupuesto_grid_line {vertical-align: top;text-align: right;}
.css_creado_label {text-align:center;vertical-align:middle;justify-content:center;font-weight:bold;}
.css_creado_grid_line {vertical-align: top;text-align: center;}
