.css_fl_idmovi_label {text-align:right;vertical-align:middle;justify-content:right;font-weight:bold;}
.css_fl_idmovi_grid_line {vertical-align: top;text-align: right;}
.css_p_fecha_label {text-align:center;vertical-align:middle;justify-content:center;font-weight:bold;}
.css_p_fecha_grid_line {vertical-align: top;text-align: center;}
.css_fl_producto_label {text-align:left;vertical-align:middle;justify-content:left;font-weight:bold;}
.css_fl_producto_grid_line {vertical-align: top;text-align: right;}
.css_fl_colores_label {text-align:left;vertical-align:middle;justify-content:left;font-weight:bold;}
.css_fl_colores_grid_line {vertical-align: middle;text-align: center;}
.css_fl_tallas_label {text-align:left;vertical-align:middle;justify-content:left;font-weight:bold;}
.css_fl_tallas_grid_line {vertical-align: middle;text-align: center;}
.css_fl_sabor_label {text-align:left;vertical-align:middle;justify-content:left;font-weight:bold;}
.css_fl_sabor_grid_line {vertical-align: middle;text-align: center;}
.css_fl_cantidad_label {text-align:left;vertical-align:middle;justify-content:left;font-weight:bold;}
.css_fl_cantidad_grid_line {vertical-align: middle;text-align: right;}
.css_fl_cantidad_sub_tot {text-align: right;}
.css_fl_cantidad_tot_ger {text-align: right;}
.css_fl_presentacion_label {text-align:left;vertical-align:middle;justify-content:left;font-weight:bold;}
.css_fl_presentacion_grid_line {vertical-align: top;text-align: right;}
.css_fl_destino_label {text-align:left;vertical-align:middle;justify-content:left;font-weight:bold;}
.css_fl_destino_grid_line {vertical-align: top;text-align: right;}
