.css_creado_label {text-align:center;vertical-align:middle;justify-content:center;font-weight:bold;}
.css_creado_grid_line {vertical-align: top;text-align: center;}
.css_actualizado_label {text-align:center;vertical-align:middle;justify-content:center;font-weight:bold;}
.css_actualizado_grid_line {vertical-align: top;text-align: center;}
.css_u_envio_label {text-align:center;vertical-align:middle;justify-content:center;font-weight:bold;}
.css_u_envio_grid_line {vertical-align: top;text-align: center;}
.css_n_envios_label {text-align:right;vertical-align:middle;justify-content:right;font-weight:bold;}
.css_n_envios_grid_line {vertical-align: top;text-align: right;}
.css_id_mensaje_label {text-align:left;vertical-align:middle;justify-content:left;font-weight:bold;}
.css_id_mensaje_grid_line {vertical-align: top;text-align: right;}
.css_clasificaciones_destino_label {text-align:left;vertical-align:middle;justify-content:left;font-weight:bold;}
.css_clasificaciones_destino_grid_line {vertical-align: top;text-align: right;}
.css_id_label {text-align:right;vertical-align:middle;justify-content:right;font-weight:bold;}
.css_id_grid_line {vertical-align: top;text-align: right;}
