.css_prefijo_label {text-align:left;vertical-align:middle;font-weight:bold;}
.css_prefijo_grid_line {vertical-align: top;text-align: left;}
.css_numero_label {text-align:left;vertical-align:middle;font-weight:bold;}
.css_numero_grid_line {vertical-align: top;text-align: right;}
.css_fecha_label {text-align:left;vertical-align:middle;font-weight:bold;}
.css_fecha_grid_line {vertical-align: top;text-align: center;}
.css_tercero_label {text-align:left;vertical-align:middle;font-weight:bold;}
.css_tercero_grid_line {vertical-align: top;text-align: left;}
.css_ie_label {text-align:left;vertical-align:middle;font-weight:bold;}
.css_ie_grid_line {vertical-align: top;text-align: left;}
.css_tipo_label {text-align:left;vertical-align:middle;font-weight:bold;}
.css_tipo_grid_line {vertical-align: top;text-align: left;}
.css_numero_documento_label {text-align:left;vertical-align:middle;font-weight:bold;}
.css_numero_documento_grid_line {vertical-align: top;text-align: left;}
.css_valor_total_label {text-align:left;vertical-align:middle;font-weight:bold;}
.css_valor_total_grid_line {vertical-align: top;text-align: right;}
.css_valor_total_sub_tot {text-align: right;}
.css_valor_total_tot_ger {text-align: right;}
.css_saldo_label {text-align:left;vertical-align:middle;font-weight:bold;}
.css_saldo_grid_line {vertical-align: top;text-align: right;}
.css_usuario_label {text-align:left;vertical-align:middle;font-weight:bold;}
.css_usuario_grid_line {vertical-align: top;text-align: left;}
.css_tipo_tercero_label {text-align:left;vertical-align:middle;font-weight:bold;}
.css_tipo_tercero_grid_line {vertical-align: top;text-align: left;}
.css_cod_cuenta_label {text-align:left;vertical-align:middle;font-weight:bold;}
.css_cod_cuenta_grid_line {vertical-align: top;text-align: left;}
.css_pagada_label {text-align:left;vertical-align:middle;font-weight:bold;}
.css_pagada_grid_line {vertical-align: top;text-align: left;}
.css_idtercero_cuenta_label {text-align:right;vertical-align:middle;font-weight:bold;}
.css_idtercero_cuenta_grid_line {vertical-align: top;text-align: right;}
.css_observaciones_label {text-align:left;vertical-align:middle;font-weight:bold;}
.css_observaciones_grid_line {vertical-align: top;text-align: left;}
.css_abonos_label {text-align:right;vertical-align:middle;font-weight:bold;}
.css_abonos_grid_line {vertical-align: top;text-align: right;}
.css_ultimo_abono_label {text-align:left;vertical-align:middle;font-weight:bold;}
.css_ultimo_abono_grid_line {vertical-align: top;text-align: left;}
.css_fecha_uabono_label {text-align:center;vertical-align:middle;font-weight:bold;}
.css_fecha_uabono_grid_line {vertical-align: top;text-align: center;}
.css_creado_label {text-align:center;vertical-align:middle;font-weight:bold;}
.css_creado_grid_line {vertical-align: top;text-align: center;}
.css_editado_label {text-align:center;vertical-align:middle;font-weight:bold;}
.css_editado_grid_line {vertical-align: top;text-align: center;}
.css_automatico_label {text-align:left;vertical-align:middle;font-weight:bold;}
.css_automatico_grid_line {vertical-align: top;text-align: left;}
