.css_trifa_label {text-align:left;vertical-align:middle;justify-content:left;font-weight:bold;}
.css_trifa_grid_line {vertical-align: top;text-align: center;}
.css_tipo_impuesto_label {text-align:left;vertical-align:middle;justify-content:left;font-weight:bold;}
.css_tipo_impuesto_grid_line {vertical-align: top;text-align: left;}
.css_puc_label {text-align:left;vertical-align:middle;justify-content:left;font-weight:bold;}
.css_puc_grid_line {vertical-align: top;text-align: left;}
.css_puc_dv_ventas_label {text-align:left;vertical-align:middle;justify-content:left;font-weight:bold;}
.css_puc_dv_ventas_grid_line {vertical-align: top;text-align: left;}
.css_puc_compras_label {text-align:left;vertical-align:middle;justify-content:left;font-weight:bold;}
.css_puc_compras_grid_line {vertical-align: top;text-align: left;}
.css_puc_dv_compras_label {text-align:left;vertical-align:middle;justify-content:left;font-weight:bold;}
.css_puc_dv_compras_grid_line {vertical-align: top;text-align: left;}
.css_idiva_label {text-align:right;vertical-align:middle;justify-content:right;font-weight:bold;}
.css_idiva_grid_line {vertical-align: top;text-align: right;}
.css_codigo_label {text-align:left;vertical-align:middle;justify-content:left;font-weight:bold;}
.css_codigo_grid_line {vertical-align: top;text-align: left;}
