.css_cuenta_label {text-align:left;vertical-align:middle;justify-content:left;font-weight:bold;}
.css_cuenta_grid_line {vertical-align: middle;text-align: left;}
.css_codigo_label {text-align:left;vertical-align:middle;justify-content:left;font-weight:bold;}
.css_codigo_grid_line {vertical-align: middle;text-align: left;}
.css_nombre_label {text-align:left;vertical-align:middle;justify-content:left;font-weight:bold;}
.css_nombre_grid_line {vertical-align: middle;text-align: left;}
.css_id_label {text-align:right;vertical-align:middle;justify-content:right;font-weight:bold;}
.css_id_grid_line {vertical-align: top;text-align: right;}
.css_id_puc_label {text-align:left;vertical-align:middle;justify-content:left;font-weight:bold;}
.css_id_puc_grid_line {vertical-align: middle;text-align: left;}
