.css_NM_Count_cnt_field {text-align: right}
.css_base_sum_label {text-align: right; vertical-align: top}
.css_base_sum_field {text-align: right; vertical-align: top}
.css_neto_sum_label {text-align: right; vertical-align: top}
.css_neto_sum_field {text-align: right; vertical-align: top}
.css_f_valoriva_sum_label {text-align: right; vertical-align: top}
.css_f_valoriva_sum_field {text-align: right; vertical-align: top}
.css___nm_count_nm___cnt_label {text-align: right; vertical-align: top}
.css___nm_count_nm___cnt_field {text-align: right; vertical-align: top}
