.css_fecha_label {text-align:center;vertical-align:middle;justify-content:center;font-weight:bold;}
.css_fecha_grid_line {vertical-align: top;text-align: center;}
.css_factura_label {text-align:left;vertical-align:middle;justify-content:left;font-weight:bold;}
.css_factura_grid_line {vertical-align: top;text-align: left;}
.css_codgrupo_label {text-align:left;vertical-align:middle;justify-content:left;font-weight:bold;}
.css_codgrupo_grid_line {vertical-align: top;text-align: left;}
.css_grupo_label {text-align:left;vertical-align:middle;justify-content:left;font-weight:bold;}
.css_grupo_grid_line {vertical-align: top;text-align: left;}
.css_cantidad_label {text-align:right;vertical-align:middle;justify-content:right;font-weight:bold;}
.css_cantidad_grid_line {vertical-align: top;text-align: right;}
.css_base_label {text-align:left;vertical-align:middle;justify-content:left;font-weight:bold;}
.css_base_grid_line {vertical-align: top;text-align: right;}
.css_base_sub_tot {text-align: right;}
.css_base_tot_ger {text-align: right;}
.css_f_valoriva_label {text-align:left;vertical-align:middle;justify-content:left;font-weight:bold;}
.css_f_valoriva_grid_line {vertical-align: top;text-align: right;}
.css_f_valoriva_sub_tot {text-align: right;}
.css_f_valoriva_tot_ger {text-align: right;}
.css_neto_label {text-align:left;vertical-align:middle;justify-content:left;font-weight:bold;}
.css_neto_grid_line {vertical-align: top;text-align: right;}
.css_neto_sub_tot {text-align: right;}
.css_neto_tot_ger {text-align: right;}
.css_periodo_label {text-align:right;vertical-align:middle;justify-content:right;font-weight:bold;}
.css_periodo_grid_line {vertical-align: top;text-align: right;}
.css_vendedor_label {text-align:left;vertical-align:middle;justify-content:left;font-weight:bold;}
.css_vendedor_grid_line {vertical-align: top;text-align: left;}
.css_t_documento_label {text-align:left;vertical-align:middle;justify-content:left;font-weight:bold;}
.css_t_documento_grid_line {vertical-align: top;text-align: left;}
.css_cliente_label {text-align:left;vertical-align:middle;justify-content:left;font-weight:bold;}
.css_cliente_grid_line {vertical-align: top;text-align: left;}
.css_f_subtotal_label {text-align:right;vertical-align:middle;justify-content:right;font-weight:bold;}
.css_f_subtotal_grid_line {vertical-align: top;text-align: right;}
.css_f_total_label {text-align:right;vertical-align:middle;justify-content:right;font-weight:bold;}
.css_f_total_grid_line {vertical-align: top;text-align: right;}
.css_codigo_label {text-align:left;vertical-align:middle;justify-content:left;font-weight:bold;}
.css_codigo_grid_line {vertical-align: top;text-align: left;}
.css_descripcion_label {text-align:left;vertical-align:middle;justify-content:left;font-weight:bold;}
.css_descripcion_grid_line {vertical-align: top;text-align: left;}
