.css_idfacven_label { }
.css_idfacven_line {text-align:left;}
.css_idfacven_obj {text-align:left;}
.css_numfacven_label { }
.css_numfacven_line {text-align:left;}
.css_numfacven_obj {text-align:left;}
.css_credito_label { }
.css_credito_line {text-align:left;}
.css_credito_obj {text-align:left;}
.css_fechaven_label { }
.css_fechaven_line { }
.css_fechaven_obj { }
.css_idcli_label { }
.css_idcli_line {text-align:left;}
.css_idcli_obj {text-align:left;}
.css_subtotal_label { }
.css_subtotal_line {text-align:left;}
.css_subtotal_obj {text-align:left;}
.css_valoriva_label { }
.css_valoriva_line {text-align:left;}
.css_valoriva_obj {text-align:left;}
.css_total_label { }
.css_total_line {text-align:left;}
.css_total_obj {text-align:left;}
.css_observaciones_label { }
.css_observaciones_line { }
.css_observaciones_obj { }
.css_formapago_label { }
.css_formapago_line { }
.css_formapago_obj { }
.css_vendedor_label { }
.css_vendedor_line {text-align:left;}
.css_vendedor_obj {text-align:left;}
.css_resolucion_label { }
.css_resolucion_line {text-align:left;}
.css_resolucion_obj {text-align:left;}
.css_dircliente_label { }
.css_dircliente_line {text-align:left;}
.css_dircliente_obj {text-align:left;}
.css_dias_decredito_label { }
.css_dias_decredito_line {text-align:left;}
.css_dias_decredito_obj {text-align:center;}
.css_tipo_label { }
.css_tipo_line { }
.css_tipo_obj { }
.css_id_clasificacion_label { }
.css_id_clasificacion_line {text-align:left;}
.css_id_clasificacion_obj {text-align:left;}
.css_activo_label { }
.css_activo_line { }
.css_activo_obj { }
.css_detalle_label { }
.css_detalle_line { }
.css_detalle_obj { }
