.css_novedad_producto_label {text-align:left;vertical-align:middle;justify-content:left;font-weight:bold;}
.css_novedad_producto_grid_line {vertical-align: top;text-align: right;}
.css_fecha_label {text-align:center;vertical-align:middle;justify-content:center;font-weight:bold;}
.css_fecha_grid_line {vertical-align: top;text-align: center;}
.css_cantidad_label {text-align:right;vertical-align:middle;justify-content:right;font-weight:bold;}
.css_cantidad_grid_line {vertical-align: top;text-align: right;}
.css_valor_label {text-align:right;vertical-align:middle;justify-content:right;font-weight:bold;}
.css_valor_grid_line {vertical-align: top;text-align: right;}
.css_id_novedades_label {text-align:right;vertical-align:middle;justify-content:right;font-weight:bold;}
.css_id_novedades_grid_line {vertical-align: top;text-align: right;}
.css_id_caso_label {text-align:right;vertical-align:middle;justify-content:right;font-weight:bold;}
.css_id_caso_grid_line {vertical-align: top;text-align: right;}
.css_id_producto_label {text-align:right;vertical-align:middle;justify-content:right;font-weight:bold;}
.css_id_producto_grid_line {vertical-align: top;text-align: right;}
.css_descripcion_label {text-align:left;vertical-align:middle;justify-content:left;font-weight:bold;}
.css_descripcion_grid_line {vertical-align: top;text-align: right;}
