.css_m_codigo_label {text-align:left;vertical-align:middle;justify-content:left;font-weight:bold;}
.css_m_codigo_grid_line {vertical-align: top;text-align: left;}
.css_descrip_label {text-align:left;vertical-align:middle;justify-content:left;font-weight:bold;}
.css_descrip_grid_line {vertical-align: top;text-align: left;}
.css_m_unidad_label {text-align:left;vertical-align:middle;justify-content:left;font-weight:bold;}
.css_m_unidad_grid_line {vertical-align: top;text-align: left;}
.css_t_porciva_label {text-align:right;vertical-align:middle;justify-content:right;font-weight:bold;}
.css_t_porciva_grid_line {vertical-align: top;text-align: right;}
.css_grupocontable_label {text-align:left;vertical-align:middle;justify-content:left;font-weight:bold;}
.css_grupocontable_grid_line {vertical-align: top;text-align: left;}
.css_costos_label {text-align:left;vertical-align:middle;justify-content:left;font-weight:bold;}
.css_costos_grid_line {vertical-align: top;text-align: right;}
.css_estado_label {text-align:;vertical-align:middle;justify-content:;font-weight:bold;}
.css_estado_grid_line {text-align: center;}
