.scMenuHHeader { background-color: #6D84A2; background-image: url(../../img/scriptcase__NM__bgheadv7blue.png); background-repeat: repeat-x; opacity: 1; filter: alpha(opacity=100) }
_:-ms-lang(x), .ie10up, .scMenuHHeader { border-collapse: separate }
.scMenuHHeaderFont { color: #FFFFFF; font-family: Lucida Grande,Tahoma,Arial,sans-serif; font-size: 12px; text-shadow: none; font-weight: bold; padding: 0; text-decoration: none }
.ui-body-a, .ui-overlay-a, .ui-body-c, .ui-overlay-c { background-image: none; opacity: 1; filter: alpha(opacity=100) }
.ui-bar-b { color: #FFFFFF; font-family: Lucida Grande,Tahoma,Arial,sans-serif; font-size: 12px; font-weight: bold; padding: 0; text-decoration: none; background-color: #6D84A2; background-image: url(../../img/scriptcase__NM__bgheadv7blue.png); background-repeat: repeat-x; opacity: 1; filter: alpha(opacity=100) }
.ui-btn-up-a { background-color: #FFFFFF; background-image: none; opacity: 1; filter: alpha(opacity=100); font-family: Arial, sans-serif; font-size: 12px; text-shadow: none; color: #384D76; text-decoration: none; font-style: normal }
.ui-btn-up-a:visited, .ui-btn-up-a a.ui-link-inherit { color: #384D76 }
.ui-btn-hover-a { background-color: #FFFFFF; background-image: none; opacity: 1; filter: alpha(opacity=100); font-family: Arial, sans-serif; font-size: 12px; text-shadow: none; color: #384D76; text-decoration: none; font-style: normal }
.ui-btn-hover-a:visited, .ui-btn-hover-a:hover, .ui-btn-hover-a a.ui-link-inherit { color: css_menu_menu_sel_color; background-color: css_menu_menu_sel_background_color }
