.css_codtercero_label {text-align:left;vertical-align:middle;justify-content:left;font-weight:bold;}
.css_codtercero_grid_line {vertical-align: top;text-align: right;}
.css_ccnit_label {text-align:left;vertical-align:middle;justify-content:left;font-weight:bold;}
.css_ccnit_grid_line {vertical-align: top;text-align: right;}
.css_nombres_label {text-align:left;vertical-align:middle;justify-content:left;font-weight:bold;}
.css_nombres_grid_line {vertical-align: top;text-align: right;}
.css_direccion_label {text-align:left;vertical-align:middle;justify-content:left;font-weight:bold;}
.css_direccion_grid_line {vertical-align: top;text-align: right;}
.css_tel_cel_label {text-align:left;vertical-align:middle;justify-content:left;font-weight:bold;}
.css_tel_cel_grid_line {vertical-align: top;text-align: right;}
.css_telefono2_label {text-align:left;vertical-align:middle;justify-content:left;font-weight:bold;}
.css_telefono2_grid_line {vertical-align: top;text-align: right;}
