.css_nremision_label { }
.css_nremision_line {text-align:center;}
.css_nremision_obj {text-align:center;}
.css_fechaven_label { }
.css_fechaven_line { }
.css_fechaven_obj {text-align:center;}
.css_idcli_label { }
.css_idcli_line {text-align:left;}
.css_idcli_obj {text-align:left;}
.css_total_label { }
.css_total_line { }
.css_total_obj {font-size:20px;color:#33FF33;background-color:#666666;text-align:center;}
.css_pagada_label { }
.css_pagada_line { }
.css_pagada_obj { }
.css_asentada_label { }
.css_asentada_line {text-align:left;}
.css_asentada_obj {text-align:left;}
.css_adicional_label {font-weight:bold;text-align:center;}
.css_adicional_line { }
.css_adicional_obj {font-size:20px;color:#33FF33;background-color:#666666;text-align:center;}
.css_formapago_label { }
.css_formapago_line { }
.css_formapago_obj { }
.css_adicional2_label {font-weight:bold;}
.css_adicional2_line { }
.css_adicional2_obj {font-size:22px;color:#0000CC;background-color:#FFFF00;font-weight:bold;text-align:right;}
.css_adicional3_label { }
.css_adicional3_line { }
.css_adicional3_obj {font-size:22px;color:#0000CC;background-color:#FFFF00;font-weight:bold;text-align:center;}
.css_obspago_label { }
.css_obspago_line { }
.css_obspago_obj { }
.css_resolucion_label { }
.css_resolucion_line {text-align:left;}
.css_resolucion_obj {text-align:left;}
.css_pagar_label { }
.css_pagar_line { }
.css_pagar_obj { }
