.css_matid_label {text-align:right;vertical-align:middle;justify-content:right;font-weight:bold;}
.css_matid_grid_line {vertical-align: top;text-align: right;}
.css_codigo_label {text-align:left;vertical-align:middle;justify-content:left;font-weight:bold;}
.css_codigo_grid_line {vertical-align: top;text-align: left;}
.css_codbarra_label {text-align:left;vertical-align:middle;justify-content:left;font-weight:bold;}
.css_codbarra_grid_line {vertical-align: top;text-align: left;}
.css_descrip_label {text-align:left;vertical-align:middle;justify-content:left;font-weight:bold;}
.css_descrip_grid_line {vertical-align: top;text-align: left;}
.css_grupmatid_label {text-align:right;vertical-align:middle;justify-content:right;font-weight:bold;}
.css_grupmatid_grid_line {vertical-align: top;text-align: right;}
.css_referencia_label {text-align:left;vertical-align:middle;justify-content:left;font-weight:bold;}
.css_referencia_grid_line {vertical-align: top;text-align: left;}
