.css_terceros_label {text-align:;vertical-align:middle;justify-content:;font-weight:bold;}
.css_terceros_grid_line {text-align: center;}
.css_productos_label {text-align:;vertical-align:middle;justify-content:;font-weight:bold;}
.css_productos_grid_line {text-align: center;}
.css_compras_label {text-align:;vertical-align:middle;justify-content:;font-weight:bold;}
.css_compras_grid_line {text-align: center;}
.css_ventas_label {text-align:;vertical-align:middle;justify-content:;font-weight:bold;}
.css_ventas_grid_line {text-align: center;}
.css_empresa_label {text-align:;vertical-align:middle;justify-content:;font-weight:bold;}
.css_empresa_grid_line {text-align: center;}
.css_cartera_label {text-align:;vertical-align:middle;justify-content:;font-weight:bold;}
.css_cartera_grid_line {text-align: center;}
.css_tesoreria_label {text-align:;vertical-align:middle;justify-content:;font-weight:bold;}
.css_tesoreria_grid_line {text-align: center;}
.css_copia_label {text-align:;vertical-align:middle;justify-content:;font-weight:bold;}
.css_copia_grid_line {text-align: center;}
.css_soporte_label {text-align:;vertical-align:middle;justify-content:;font-weight:bold;}
.css_soporte_grid_line {text-align: center;}
.css_tutoriales_label {text-align:;vertical-align:middle;justify-content:;font-weight:bold;}
.css_tutoriales_grid_line {text-align: center;}
.css_correo_label {text-align:;vertical-align:middle;justify-content:;font-weight:bold;}
.css_correo_grid_line {text-align: right;}
.css_gestor_archivos_label {text-align:;vertical-align:middle;justify-content:;font-weight:bold;}
.css_gestor_archivos_grid_line {text-align: center;}
.css_tareas_label {text-align:;vertical-align:middle;justify-content:;font-weight:bold;}
.css_tareas_grid_line {text-align: center;}
.css_agenda_label {text-align:;vertical-align:middle;justify-content:;font-weight:bold;}
.css_agenda_grid_line {text-align: center;}
.css_indices_label {text-align:;vertical-align:middle;justify-content:;font-weight:bold;}
.css_indices_grid_line {text-align: center;}
