.css_codigo_label {text-align:left;vertical-align:middle;justify-content:left;font-weight:bold;}
.css_codigo_grid_line {vertical-align: top;text-align: right;}
.css_concepto_label {text-align:left;vertical-align:middle;justify-content:left;font-weight:bold;}
.css_concepto_grid_line {vertical-align: top;text-align: right;}
.css_tipo_label {text-align:left;vertical-align:middle;justify-content:left;font-weight:bold;}
.css_tipo_grid_line {vertical-align: top;text-align: right;}
.css_np_label {text-align:left;vertical-align:middle;justify-content:left;font-weight:bold;}
.css_np_grid_line {vertical-align: top;text-align: right;}
.css_id_concepto_label {text-align:right;vertical-align:middle;justify-content:right;font-weight:bold;}
.css_id_concepto_grid_line {vertical-align: top;text-align: right;}
