.css_fechaven_label {text-align:center;vertical-align:middle;justify-content:center;font-weight:bold;}
.css_fechaven_grid_line {vertical-align: top;text-align: center;}
.css_creado_label {text-align:left;vertical-align:middle;justify-content:left;font-weight:bold;}
.css_creado_grid_line {vertical-align: top;text-align: left;}
.css_credito_label {text-align:left;vertical-align:middle;justify-content:left;font-weight:bold;}
.css_credito_grid_line {vertical-align: top;text-align: left;}
.css_fechavenc_label {text-align:center;vertical-align:middle;justify-content:center;font-weight:bold;}
.css_fechavenc_grid_line {vertical-align: top;text-align: center;}
.css_tipo_label {text-align:left;vertical-align:middle;justify-content:left;font-weight:bold;}
.css_tipo_grid_line {vertical-align: top;text-align: center;}
.css_resolucion_label {text-align:left;vertical-align:middle;justify-content:left;font-weight:bold;}
.css_resolucion_grid_line {vertical-align: top;text-align: center;}
.css_numfacven_label {text-align:left;vertical-align:middle;justify-content:left;font-weight:bold;}
.css_numfacven_grid_line {vertical-align: middle;text-align: center;}
.css_idcli_label {text-align:left;vertical-align:middle;justify-content:left;font-weight:bold;}
.css_idcli_grid_line {vertical-align: middle;text-align: left;}
.css_total_label {text-align:left;vertical-align:middle;justify-content:left;font-weight:bold;}
.css_total_grid_line {vertical-align: middle;text-align: right;}
.css_total_sub_tot {text-align: right;}
.css_total_tot_ger {text-align: right;}
.css_banco_label {text-align:left;vertical-align:middle;justify-content:left;font-weight:bold;}
.css_banco_grid_line {vertical-align: top;text-align: center;}
.css_sicomprobante_label {text-align:;vertical-align:middle;justify-content:;font-weight:bold;}
.css_sicomprobante_grid_line {text-align: left;}
.css_idfacven_label {text-align:right;vertical-align:middle;justify-content:right;font-weight:bold;}
.css_idfacven_grid_line {vertical-align: top;text-align: right;}
.css_subtotal_label {text-align:left;vertical-align:middle;justify-content:left;font-weight:bold;}
.css_subtotal_grid_line {vertical-align: top;text-align: right;}
.css_subtotal_sub_tot {text-align: right;}
.css_subtotal_tot_ger {text-align: right;}
.css_valoriva_label {text-align:left;vertical-align:middle;justify-content:left;font-weight:bold;}
.css_valoriva_grid_line {vertical-align: top;text-align: right;}
.css_valoriva_sub_tot {text-align: right;}
.css_valoriva_tot_ger {text-align: right;}
.css_pagada_label {text-align:left;vertical-align:middle;justify-content:left;font-weight:bold;}
.css_pagada_grid_line {vertical-align: top;text-align: left;}
.css_asentada_label {text-align:left;vertical-align:middle;justify-content:left;font-weight:bold;}
.css_asentada_grid_line {vertical-align: top;text-align: center;}
.css_observaciones_label {text-align:left;vertical-align:middle;justify-content:left;font-weight:bold;}
.css_observaciones_grid_line {vertical-align: top;text-align: left;}
.css_saldo_label {text-align:right;vertical-align:middle;justify-content:right;font-weight:bold;}
.css_saldo_grid_line {vertical-align: top;text-align: right;}
.css_adicional_label {text-align:left;vertical-align:middle;justify-content:left;font-weight:bold;}
.css_adicional_grid_line {vertical-align: top;text-align: right;}
.css_adicional_sub_tot {text-align: right;}
.css_adicional_tot_ger {text-align: right;}
.css_adicional2_label {text-align:right;vertical-align:middle;justify-content:right;font-weight:bold;}
.css_adicional2_grid_line {vertical-align: top;text-align: right;}
.css_adicional3_label {text-align:right;vertical-align:middle;justify-content:right;font-weight:bold;}
.css_adicional3_grid_line {vertical-align: top;text-align: right;}
.css_vendedor_label {text-align:left;vertical-align:middle;justify-content:left;font-weight:bold;}
.css_vendedor_grid_line {vertical-align: top;text-align: left;}
.css_editado_label {text-align:left;vertical-align:middle;justify-content:left;font-weight:bold;}
.css_editado_grid_line {vertical-align: top;text-align: left;}
.css_usuario_crea_label {text-align:right;vertical-align:middle;justify-content:right;font-weight:bold;}
.css_usuario_crea_grid_line {vertical-align: top;text-align: right;}
.css_cod_cuenta_label {text-align:left;vertical-align:middle;justify-content:left;font-weight:bold;}
.css_cod_cuenta_grid_line {vertical-align: top;text-align: left;}
.css_a4_label {text-align:;vertical-align:middle;justify-content:;font-weight:bold;}
.css_a4_grid_line {text-align: center;}
.css_editarpos_label {text-align:;vertical-align:middle;justify-content:;font-weight:bold;}
.css_editarpos_grid_line {text-align: left;}
.css_imprimir_label {text-align:;vertical-align:middle;justify-content:;font-weight:bold;}
.css_imprimir_grid_line {text-align: left;}
.css_imprimircopia_label {text-align:;vertical-align:middle;justify-content:;font-weight:bold;}
.css_imprimircopia_grid_line {text-align: left;}
.css_detalleventa_grid_line {text-align: center;}
