.css_idtercero_cuenta_label { }
.css_idtercero_cuenta_line {text-align:left;}
.css_idtercero_cuenta_obj {text-align:left;}
.css_prefijo_label { }
.css_prefijo_line { }
.css_prefijo_obj { }
.css_numero_label { }
.css_numero_line {text-align:left;}
.css_numero_obj {text-align:left;}
.css_fecha_label { }
.css_fecha_line { }
.css_fecha_obj {text-align:center;}
.css_tercero_label { }
.css_tercero_line {text-align:left;}
.css_tercero_obj {text-align:left;}
.css_ie_label { }
.css_ie_line { }
.css_ie_obj { }
.css_tipo_label { }
.css_tipo_line { }
.css_tipo_obj { }
.css_numero_documento_label { }
.css_numero_documento_line { }
.css_numero_documento_obj { }
.css_valor_total_label { }
.css_valor_total_line {text-align:left;}
.css_valor_total_obj {text-align:left;}
.css_saldo_label { }
.css_saldo_line {text-align:left;}
.css_saldo_obj {text-align:left;}
.css_observaciones_label { }
.css_observaciones_line { }
.css_observaciones_obj { }
.css_usuario_label { }
.css_usuario_line { }
.css_usuario_obj { }
.css_automatico_label { }
.css_automatico_line { }
.css_automatico_obj { }
.css_cod_cuenta_label { }
.css_cod_cuenta_line { }
.css_cod_cuenta_obj { }
.css_pagada_label { }
.css_pagada_line { }
.css_pagada_obj { }
.css_concepto_label { }
.css_concepto_line { }
.css_concepto_obj { }
.css_tipo_cuenta_origen_label { }
.css_tipo_cuenta_origen_line { }
.css_tipo_cuenta_origen_obj { }
.css_banco_label { }
.css_banco_line {text-align:left;}
.css_banco_obj {text-align:left;}
.css_asentada_label {font-size:14px;color:#000000;background-color:#6699FF;font-weight:bold;}
.css_asentada_line { }
.css_asentada_obj {background-color:#FF9900;}
.css_titulo_label {width:1px;}
.css_titulo_line {color:#FF0000;}
.css_titulo_obj { }
