.css_NM_Count_cnt_field {text-align: right}
.css_cantidad_sum_label {text-align: right; vertical-align: top}
.css_cantidad_sum_field {text-align: right; vertical-align: top}
.css_costoinv_sum_label {text-align: right; vertical-align: top}
.css_costoinv_sum_field {text-align: right; vertical-align: top}
