.css_idlog_label {text-align:right;vertical-align:middle;justify-content:right;font-weight:bold;}
.css_idlog_grid_line {vertical-align: top;text-align: right;}
.css_anio_label {text-align:left;vertical-align:middle;justify-content:left;font-weight:bold;}
.css_anio_grid_line {vertical-align: top;text-align: center;}
.css_periodo_label {text-align:left;vertical-align:middle;justify-content:left;font-weight:bold;}
.css_periodo_grid_line {vertical-align: top;text-align: center;}
.css_fechayhora_label {text-align:center;vertical-align:middle;justify-content:center;font-weight:bold;}
.css_fechayhora_grid_line {vertical-align: top;text-align: center;}
.css_usuario_label {text-align:left;vertical-align:middle;justify-content:left;font-weight:bold;}
.css_usuario_grid_line {vertical-align: top;text-align: left;}
.css_accion_label {text-align:left;vertical-align:middle;justify-content:left;font-weight:bold;}
.css_accion_grid_line {vertical-align: top;text-align: left;}
.css_observaciones_label {text-align:left;vertical-align:middle;justify-content:left;font-weight:bold;}
.css_observaciones_grid_line {vertical-align: top;text-align: left;}
