.select2-container--default .select2-selection { background-image: none; opacity: 1; filter: alpha(opacity=100); border-color: f7e77d !important; border-style: solid !important; border-width: 1px !important; color: #333333; font-family: Arial, sans-serif; font-size: 11px; text-decoration: none }
.scFilterPage { background-color: #ffffff; background-image: url(../../img/scriptcase__NM__bgmiolo.gif); opacity: 1; filter: alpha(opacity=100); color: #000000; font-family: Arial, sans-serif; font-size: 12px; text-decoration: none }
.scFilterBorder { background-image: none; opacity: 1; filter: alpha(opacity=100); padding: 3px }
.scFilterTable { background-image: none; opacity: 1; filter: alpha(opacity=100); border-collapse: collapse; border-color: f7e77d; border-style: solid; border-width: 1px }
.scFilterTableTd { padding: 3px }
.scFilterToolbar { background-color: #FEFBD3; background-image: url(../../img/scriptcase__NM__SunnyDegrade.gif); opacity: 1; filter: alpha(opacity=100); text-decoration: none }
.scFilterToolbarPadding { padding: 2px }
#sel_recup_filters_bot,#sel_filters_del_bot,.scFilterToolbar_obj { background-color: #FFFFFF; background-image: none; opacity: 1; filter: alpha(opacity=100); border-color: f7e77d; border-style: solid; border-width: 0; color: #333333; font-family: Arial, sans-serif; font-size: 12px; padding: 4px; text-decoration: none }
#sel_recup_filters_bot,#sel_filters_del_bot,.scFilterToolbar_obj:focus { background-color: #FFFFFF; background-image: none; opacity: 1; filter: alpha(opacity=100); border-color: f7e77d; color: #333333 }
.scFilterHeader { background-color: f5ee7a; background-image: none; opacity: 1; filter: alpha(opacity=100); border-color: f7e77d; border-style: solid; border-width: 1px }
.scFilterHeaderFont { color: d88e00; font-family: Arial, Arial,sans-serif; font-size: 12px; font-weight: bold; text-decoration: none }
.scFilterFooter { background-color: f5ee7a; background-image: none; opacity: 1; filter: alpha(opacity=100) }
.scFilterFooterFont { color: d88e00; font-family: Arial, sans-serif; font-size: 13px; font-weight: bold; text-decoration: none }
.scFilterBlock { background-color: f2eaa4; background-image: none; opacity: 1; filter: alpha(opacity=100); border-style: none; color: 8b6615; font-family: Arial, sans-serif; font-size: 12px; font-weight: bold; padding: 2px; text-decoration: none; vertical-align: middle }
.scFilterBlockBack { background-color: f2eaa4; background-image: none; opacity: 1; filter: alpha(opacity=100); border-style: none; padding: 2px }
.scFilterBlockFont { color: 8b6615; font-family: Arial, sans-serif; font-size: 12px; font-weight: bold; text-decoration: none; vertical-align: middle }
.scFilterBlockAlign { color: 8b6615; font-family: Arial, sans-serif; font-size: 12px; font-weight: bold; text-decoration: none }
.scFilterLabelOdd { background-color: fff7c1; background-image: none; opacity: 1; filter: alpha(opacity=100); border-width: 0; color: #333333; font-family: Arial, sans-serif; font-size: 12px; font-weight: bold; padding: 4px; text-decoration: none }
.scFilterLabelEven { background-color: fff7c1; background-image: none; opacity: 1; filter: alpha(opacity=100); border-width: 0; color: #000000; font-family: Arial, sans-serif; font-size: 12px; font-weight: bold; padding: 4px; text-decoration: none }
.scFilterFieldOdd { background-color: #ffffff; background-image: none; opacity: 1; filter: alpha(opacity=100); border-width: 0; color: #333333; font-family: Arial, sans-serif; font-size: 12px; padding: 4px; text-decoration: none }
.scFilterDataFontOdd { color: #333333; font-family: Arial, sans-serif; font-size: 12px; text-decoration: none }
.scFilterFieldFontOdd { color: #333333; font-family: Arial, sans-serif; font-size: 12px; text-decoration: none }
.scFilterFieldFontOdd input[type=checkbox] + label, .scFilterFieldFontOdd input[type=radio] + label { position: relative; top: -1px }
.scFilterFieldEven { background-color: #FFFFFF; background-image: none; opacity: 1; filter: alpha(opacity=100); border-width: 0; color: #333333; font-family: Arial, sans-serif; font-size: 12px; padding: 4px; text-decoration: none }
.scFilterFieldFontEven { color: #333333; font-family: Arial, sans-serif; font-size: 12px; text-decoration: none }
.scFilterFieldFontEven input[type=checkbox] + label, .scFilterFieldFontEven input[type=radio] + label { position: relative; top: -1px }
.scFilterObjectOdd { background-color: #ffffff; background-image: none; opacity: 1; filter: alpha(opacity=100); border-color: f7e77d; border-style: solid; border-width: 1px; color: #333333; font-family: Arial, sans-serif; font-size: 11px; text-decoration: none }
.scFilterObjectOdd:focus, .scFilterObjectOddAc { background-image: none; opacity: 1; filter: alpha(opacity=100); border-color: #66afe9; box-shadow: inset 0 1px 1px rgba(0,0,0,.075),0 0 8px rgba(102,175,233,.6) }
.scFilterObjectOddAc div.ui-menu-item-wrapper, .scFilterObjectOddAc div.ui-menu-item-wrapper.ui-state-active { background: none; border: none; color: #333333; font-family: Arial, sans-serif; font-size: 11px; margin: 0 }
.scFilterObjectEven { background-color: #ffffff; background-image: none; opacity: 1; filter: alpha(opacity=100); border-color: f7e77d; border-style: solid; border-width: 1px; color: #333333; font-family: Arial, sans-serif; font-size: 11px; text-decoration: none }
.scFilterObjectEven:focus, .scFilterObjectEvenAc { background-image: none; opacity: 1; filter: alpha(opacity=100); border-color: #66afe9; box-shadow: inset 0 1px 1px rgba(0,0,0,.075),0 0 8px rgba(102,175,233,.6) }
.scFilterObjectEvenAc div.ui-menu-item-wrapper, .scFilterObjectEvenAc div.ui-menu-item-wrapper.ui-state-active { background: none; border: none; color: #333333; font-family: Arial, sans-serif; font-size: 11px; margin: 0 }
.scFilterACTable { border-collapse: collapse; border-color: #000000; border-style: outset; border-width: 1px; -moz-box-shadow: css_filter_moldurapagina_box_shadow; -webkit-box-shadow: css_filter_moldurapagina_box_shadow; box-shadow: css_filter_moldurapagina_box_shadow }
.scFilterACTitle { background-color: faf1a1; background-image: none; opacity: 1; filter: alpha(opacity=100); border-color: ffffff; border-style: solid; border-width: 1px; color: d88e00; font-family: Arial, sans-serif; font-size: 12px; text-shadow: 20px; padding: 4px; text-decoration: none }
.ac_results { background-color: faf6d8; background-image: none; opacity: 1; filter: alpha(opacity=100); border-collapse: collapse; color: 31062e; font-family: Arial, sans-serif; font-size: 12px; overflow: hidden; padding: 0; text-decoration: css_ajaxac_linha_par_text_decoration; z-index: 99999; -moz-border-radius: outset; -webkit-border-radius: outset; border-radius: outset }
.ac_results ul { list-style: none; list-style-position: outside; margin: 0; padding: 0; width: 100% }
.ac_results li { cursor: default; display: block; margin: 0; overflow: hidden; padding: 2px 5px; line-height: 16px }
.ac_odd { background-color: #FFFFFF; background-image: none; opacity: 1; filter: alpha(opacity=100); color: 1e031c; font-family: Arial, sans-serif; font-size: 12px }
.ac_over { background-color: f7e77d; background-image: none; opacity: 1; filter: alpha(opacity=100); font-family: Arial, sans-serif; font-size: 12px }
.scFilterPopup { border-collapse: collapse; display: none; position: absolute; z-index: 50 }
.scFilterPopupCorner { height: 15px; width: 19px }
.scFilterPopupTopLeft { background-image: url(../../img/scriptcase__NM__help_topLeftCorner.png); padding: 0 }
.scFilterPopupTop { background-image: url(../../img/scriptcase__NM__help_topLine.png); padding: 0 }
.scFilterPopupTopRight { background-image: url(../../img/scriptcase__NM__help_topRightCorner.png); padding: 0 }
.scFilterPopupLeft { background-image: url(../../img/scriptcase__NM__help_leftColumn.png); padding: 0 }
.scFilterPopupRight { background-image: url(../../img/scriptcase__NM__help_rightColumn.png); padding: 0 }
.scFilterPopupBottomLeft { background-image: url(../../img/scriptcase__NM__help_bottomLeftCorner.png); padding: 0 }
.scFilterPopupBottom { background-image: url(../../img/scriptcase__NM__help_bottomLine.png); padding: 0; text-align: center }
.scFilterPopupBottom img { display: block; margin: 0 auto }
.scFilterPopupBottomRight { background-image: url(../../img/scriptcase__NM__help_bottomRightCorner.png); padding: 0 }
.scFilterPopupContent { background-color: #FFFFFF; background-image: none; opacity: 1; filter: alpha(opacity=100); color: #333; font-family: Arial, sans-serif; font-size: 12px; text-shadow: 12px; font-style: normal; text-decoration: none }
.scFilterRequiredOdd { color: #ff0000; font-family: Arial, sans-serif; font-size: 12px; text-shadow: 16px; font-weight: bold }
.scFilterRequiredEven { color: #ff0000; font-family: Arial, sans-serif; font-size: 12px; text-shadow: 16px; font-weight: bold }
.scBtnPassField { margin: 5px 2px }
.ui-slider-horizontal { background-image: none; opacity: 1; filter: alpha(opacity=100); border-collapse: collapse; margin: 10px auto }
.ui-slider-horizontal > .ui-slider-range { background-image: none; opacity: 1; filter: alpha(opacity=100); border-collapse: collapse }
.ui-slider-horizontal > .ui-state-default { background-image: none; opacity: 1; filter: alpha(opacity=100); border-collapse: collapse; outline: none }
.ui-slider-horizontal > .ui-state-hover { background-image: none; opacity: 1; filter: alpha(opacity=100); border-collapse: collapse }
.ui-slider-horizontal > .ui-state-active { background-image: none; opacity: 1; filter: alpha(opacity=100); border-collapse: collapse }
.scFilterPage .ui-menu .ui-menu-item, .scFilterTable .select2-container--default .select2-selection--single .select2-selection__rendered, .scFormPage .select2-container--default .select2-results__option[aria-selected="true"] { color: #333333 }

#id_div_interativ_search {
  position: relative;
}

.scGridRefinedSearchCollapse {
  cursor: pointer;

  position: absolute;
  top: calc(24px / 4);
  right: -14px;

  width: 24px;
  height: 24px;
  border-radius: 24px;
  background: #fff;
  box-shadow: 0 0 0 1px rgb(9 30 66 / 8%), 0 2px 4px 1px rgb(9 30 66 / 8%);

  display: flex;
  align-items: center;
  justify-content: center;

  z-index: 2;
  transition: all .3s ease;
}

.scGridRefinedSearchCollapse:hover {
  filter: brightness(90%);
}

.scGridRefinedSearchCollapse i {
  margin: 0;
  padding: 0;
  transition: transform .3s ease;
}

#id_div_interativ_search.is-closed .scGridRefinedSearchCollapse i {
  transform: rotate(180deg);
}
#id_div_interativ_search.is-closed{
  position: absolute;
}
#id_div_interativ_search.is-closed #id_div_interativ_search_content {
  display:none;
}
                
