.css_id_presupuesto_label {text-align:right;vertical-align:middle;justify-content:right;font-weight:bold;}
.css_id_presupuesto_grid_line {vertical-align: top;text-align: right;}
.css_fecha_label {text-align:center;vertical-align:middle;justify-content:center;font-weight:bold;}
.css_fecha_grid_line {vertical-align: top;text-align: center;}
.css_descripcion_label {text-align:left;vertical-align:middle;justify-content:left;font-weight:bold;}
.css_descripcion_grid_line {vertical-align: top;text-align: right;}
.css_total_label {text-align:right;vertical-align:middle;justify-content:right;font-weight:bold;}
.css_total_grid_line {vertical-align: top;text-align: right;}
.css_activo_label {text-align:left;vertical-align:middle;justify-content:left;font-weight:bold;}
.css_activo_grid_line {vertical-align: top;text-align: right;}
.css_id_usuario_label {text-align:right;vertical-align:middle;justify-content:right;font-weight:bold;}
.css_id_usuario_grid_line {vertical-align: top;text-align: right;}
.css_creado_label {text-align:center;vertical-align:middle;justify-content:center;font-weight:bold;}
.css_creado_grid_line {vertical-align: top;text-align: center;}
.css_editado_label {text-align:center;vertical-align:middle;justify-content:center;font-weight:bold;}
.css_editado_grid_line {vertical-align: top;text-align: center;}
